.custom-gps-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#map {
  flex: 1 1 auto;
  width: 100%;
  display: block;
}

.map-info {
  flex: 0 0 32px;
  display: flex;
  align-items: center;
}
