<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Language Settings (BETA)</div>
    <button mat-icon-button tippy="Close dialog" (click)="dialog.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="eav-dialog-content">
    <p>
      By default, buttons and labels will use the current language.
      Here you can choose a different behavior.
    </p>

    <h3>Your Language Preferences</h3>

    <!-- TODO: @2pp - these two blocks are almost identical. Pls create a template below to re-use with parameters -->
    <!-- Dropdown for Labels and Help Texts -->
    <mat-form-field tippy="Preferred language for texts and labels in the form" appearance="fill" color="accent">
      <mat-label>
        Form Labels and Help Texts
        {{ userLanguageSvc.isForced('form') ? '(disabled)' : '' }}
      </mat-label>
      <mat-select
        [value]="userLanguageSvc.stored('form')"
        (selectionChange)="userLanguageSvc.save('form', $event.value)"
        [disabled]="userLanguageSvc.isForced('form')"
      >
        <mat-option value="">Use current language (default)</mat-option>
        @for (o of options; track o.Code) {
          <mat-option value="{{ o.Code.toLocaleLowerCase() }}">{{ o.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <br />
    <br />

    <!-- Dropdown for UI Elements -->
    <mat-form-field tippy="Preferred language for buttons and controls" appearance="fill" color="accent">
      <mat-label>
        Buttons and Controls
        {{ userLanguageSvc.isForced('ui') ? '(disabled)' : '' }}
        ui: {{userLanguageSvc.value('ui')}}
      </mat-label>
      <mat-select
        [value]="userLanguageSvc.isForced('ui') ? userLanguageSvc.value('ui') : userLanguageSvc.stored('ui')"
        (selectionChange)="userLanguageSvc.save('ui', $event.value)"
        [disabled]="userLanguageSvc.isForced('ui')"
      >
        <mat-option value="">Use current language (default)</mat-option>
        @for (option of options; track option.Code) {
          <mat-option value="{{ option.Code.toLocaleLowerCase() }}">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
