<ng-container *ngIf="!loadError">
  <ng-container *ngIf="templateVars$ | async as data">

    <div class="formula-context-box">
      <mat-form-field color="accent">
        <mat-label>Entity</mat-label>
        <mat-select [ngModel]="data.selected.entityGuid" (ngModelChange)="selectedChanged(SelectTargets.Entity, $event)"
          [disabled]="data.editMode">
          <mat-option *ngFor="let entity of entityOptions; trackBy: trackEntityOptions" [value]="entity.entityGuid">
            <span [ngClass]="{ 'has-formula': data.hasFormula[entity.entityGuid] != null }">
              {{ entity.label }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Attribute</mat-label>
        <mat-select [ngModel]="data.selected.fieldName" (ngModelChange)="selectedChanged(SelectTargets.Field, $event)"
          [disabled]="data.editMode || data.selected.entityGuid == null">
          <mat-option *ngFor="let field of fieldOptions[data.selected.entityGuid]; trackBy: trackFieldOptions"
            [value]="field.fieldName">
            <span
              [ngClass]="{ 'has-formula': data.hasFormula[data.selected.entityGuid] != null && data.hasFormula[data.selected.entityGuid][field.fieldName] != null }">
              {{ field.fieldName }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Formula Type</mat-label>
        <mat-select [ngModel]="data.selected.target" (ngModelChange)="selectedChanged(SelectTargets.Target, $event)"
          [disabled]="data.editMode || data.selected.entityGuid == null || data.selected.fieldName == null">
          <mat-option *ngFor="let formulaTarget of FormulaTargets | keyvalue" [value]="formulaTarget.value">
            <span
              [ngClass]="{ 'has-formula': data.hasFormula[data.selected.entityGuid] != null && data.hasFormula[data.selected.entityGuid][data.selected.fieldName] != null && data.hasFormula[data.selected.entityGuid][data.selected.fieldName][formulaTarget.value] }">
              {{ formulaTarget.key }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="formula-box">
      <mat-form-field color="accent">
        <textarea matInput rows="10" [matTextareaAutosize]="false" [ngModel]="data.formula?.source"
          (ngModelChange)="formulaChanged($event)"
          [disabled]="!data.editMode || data.selected.entityGuid == null || data.selected.fieldName == null || data.selected.target == null"></textarea>
        <mat-label>Function</mat-label>
      </mat-form-field>

      <div class="formula-snippets fancy-scrollbar-light" [ngClass]="{ 'disabled': !data.editMode }">
        <div class="snippet" *ngFor="let snippet of data.snippets; trackBy: trackSnippets" [title]="snippet.code"
          (click)="copyToClipboard(snippet.code)">
          {{ snippet.label }}
        </div>
      </div>
    </div>

    <div class="formula-footer-box">
      <div class="formula-result-box hide-scrollbar">
        <span class="label">Result:&nbsp;</span>
        <span>{{ data.result | json }}</span>
      </div>

      <div class="formula-actions-box">
        <button mat-icon-button matTooltip="Edit" (click)="toggleEdit()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Reset" (click)="reset()">
          <mat-icon>history</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Run" [disabled]="!data.editMode || !data.formula?.source" (click)="run()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Help" (click)="openFormulasHelp()">
          <mat-icon>help</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</ng-container>
