@if (viewModel$ | async; as vm) {
  <div class="editor-root" appToggleDebug [ngClass]="{ 'sxc-dark': monacoOptions.theme === '2sxc-dark' }">
    <div class="editor-side-toolbar">
      <div class="button" [ngClass]="{ 'active': activeExplorer === Explorers.Templates }" tippy="Templates"
        (click)="toggleExplorer(Explorers.Templates)">
        <mat-icon>file_copy</mat-icon>
      </div>
      <div class=" button" [ngClass]="{ 'active': activeExplorer === Explorers.Snippets }" tippy="Snippets"
        (click)="toggleExplorer(Explorers.Snippets)">
        <mat-icon>code</mat-icon>
      </div>
    </div>
    <app-code-templates [hidden]="activeExplorer !== Explorers.Templates" [view]="vm.view" [templates]="vm.templates"
      (openView)="openView($event)" (createTemplate)="createTemplate($event)">
    </app-code-templates>
    <app-code-snippets [hidden]="activeExplorer !== Explorers.Snippets" [snippets]="vm.explorerSnipps"
      (insertSnippet)="insertSnippet($event)">
    </app-code-snippets>
    <div class="editor-group">
      @if (vm.tabs.length > 0) {
        <div class="tabs-container fancy-scrollbar-dark">
          @for (tab of vm.tabs; track tab) {
            <div class="tab" [ngClass]="{
              'active': tab.isActive,
              'modified': tab.isModified,
              'loading': tab.isLoading
              }" (click)="openView(tab.viewKey)">
              <div class="tab-label-container" [tippy]="tab.label" tippyShowDelay="750">
                @if (tab.viewKey.shared) {
                  <mat-icon class="icon-shared">share</mat-icon>
                }
                <span class="tab-label">{{ tab.label }}</span>
              </div>
              <div class="tab-actions-container">
                @if (tab.isModified) {
                  <mat-icon class="tab-action icon-modified" fontSet="material-icons">circle</mat-icon>
                }
                @if (tab.isLoading) {
                  <mat-spinner class="spinner" mode="indeterminate" diameter="14" color="white">
                  </mat-spinner>
                }
                <mat-icon class="tab-action icon-close" tippy="Close" appClickStopPropagation
                (click)="closeEditor(tab.viewKey)">close</mat-icon>
              </div>
            </div>
          }
        </div>
      }
      @if (vm.view) {
        <app-monaco-editor [filename]="vm.view.FileName" [value]="vm.view.Code"
          (valueChanged)="codeChanged($event, vm.viewKey)" [options]="monacoOptions" [snippets]="vm.editorSnipps"
          [tooltips]="vm.tooltips" [autoFocus]="true">
        </app-monaco-editor>
      }
    </div>
    @if (vm.activeView) {
      <button mat-fab mat-elevation-z24 tippy="Click to save or CTRL + S" (click)="save()">
        <mat-icon>done</mat-icon>
      </button>
    }
  </div>
}