<div *ngIf="(rowCount$ | async) > 1; then textareaField else inputField"></div>

<ng-template #inputField>
  <mat-form-field [formGroup]="group" appearance="standard" color="accent">
    <input matInput type="text" class="form-control material" [formControlName]="config.field.name"
      [placeholder]="placeholder$ | async" [required]="config.field.required">
    <mat-label>{{ label$ | async }}</mat-label>
  </mat-form-field>
</ng-template>

<ng-template #textareaField>
  <mat-form-field [formGroup]="group" appearance="standard" color="accent" class="textarea-field">
    <textarea matInput [rows]="rowCount$ | async" type="text" class="form-control material"
      [formControlName]="config.field.name" [placeholder]="placeholder$ | async"
      [required]="config.field.required"></textarea>
    <mat-label>{{ label$ | async }}</mat-label>
  </mat-form-field>
</ng-template>

<app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
