<div class="eav-dialog eav-no-scrollbar">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">
      {{ title | translate }}
    </div>
    @if (initialState != sharingOrInheriting.None) {
      <button mat-icon-button tippy="Close dialog"
        (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
  <div class="eav-dialog-content">
    @if (initialState == sharingOrInheriting.Sharing) {
      <div>{{ message | translate }} {{ dialogData.Guid }}</div>
    }
    @if (initialState == sharingOrInheriting.Inheriting) {
      <div>{{ message| translate }} {{
      dialogData.SysSettings.InheritMetadataOf }}</div>
    }
    @if (initialState == sharingOrInheriting.None) {
      <div>
        @if (state == sharingOrInheriting.None) {
          <button mat-raised-button type="button" class="eav-dialog-action-button"
          (click)="chooseShare()">Share</button>
        }
        @if (state == sharingOrInheriting.None) {
          <button mat-raised-button type="button"
          (click)="chooseInherit()">Inherit</button>
        }
        @if (state == sharingOrInheriting.Sharing) {
          <span>This will share the field definition</span>
        }
        @if (state == sharingOrInheriting.Inheriting && viewModel$ | async; as vm) {
          <mat-card class="eav-table-div">
            <table mat-table [dataSource]="vm.shareableFields" class="mat-elevation-z8 eav-fields-table">
              <ng-container matColumnDef="contentType">
                <th mat-header-cell *matHeaderCellDef> <b>Content Type</b> </th>
                <td mat-cell *matCellDef="let field"> {{field.ContentType.Name}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> <b>Name</b> </th>
                <td mat-cell *matCellDef="let field"> {{field.StaticName}} </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> <b>Type</b> </th>
                <td mat-cell *matCellDef="let field"> {{field.Type}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedShareableFieldsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedShareableFieldsColumns;"
              [ngClass]="{'eav-selected-row': guid === row.Guid}" (click)="inheritField(row)"></tr>
            </table>
          </mat-card>
        }
      </div>
    }
  </div>
  @if (initialState == sharingOrInheriting.None) {
    <div class="eav-dialog-actions">
      <button mat-raised-button type="button" class="eav-dialog-action-button" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button type="submit" color="accent" class="eav-dialog-action-button"
        [disabled]="isSaveDisabled" (click)="save()">
        <div class="eav-button-feature">
          <span>Save</span>
          <app-feature-icon-indicator class="eav-button-feature-icon" [featureNameId]="'FieldShareConfigManagement'"></app-feature-icon-indicator>
        </div>
      </button>
    </div>
  }
</div>