<ng-container *ngIf="{
  disabled: disabled$ | async,
  buttons: buttons$ | async,
  settings: settings$ | async,
  value: value$ | async,
  preview: preview$ | async
} as data">

  <ng-container *ngIf="open$ | async">

    <div class="fabs-box">
      <button mat-mini-fab color="accent" [matTooltip]="'Fields.Hyperlink.Default.AdamTip' | translate"
        *ngIf="data.buttons.includes('adam')" [disabled]="data.disabled" (click)="toggleAdam(false, false)">
        <mat-icon svgIcon="appleFilled"></mat-icon>
      </button>
      <button mat-mini-fab color="primary" [matTooltip]="'Fields.Hyperlink.Default.PageTip' | translate"
        *ngIf="data.buttons.includes('page')" [disabled]="data.disabled" (click)="openPageDialog()">
        <mat-icon svgIcon="sitemap"></mat-icon>
      </button>
      <button mat-mini-fab color="primary" [matTooltip]="'Fields.Hyperlink.Default.MoreOptions' | translate"
        *ngIf="data.buttons.includes('more')" [disabled]="data.disabled" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu" class="menu-box">
      <button mat-menu-item *ngIf="data.settings.ShowAdam" (click)="toggleAdam(false, false)">
        <mat-icon svgIcon="appleFilled"></mat-icon>
        <span>{{ 'Fields.Hyperlink.Default.MenuAdam' | translate }}</span>
      </button>
      <button mat-menu-item *ngIf="data.settings.ShowPagePicker" (click)="openPageDialog()">
        <mat-icon svgIcon="sitemap"></mat-icon>
        <span>{{ 'Fields.Hyperlink.Default.MenuPage' | translate }}</span>
      </button>
      <button mat-menu-item *ngIf="data.settings.ShowImageManager" (click)="toggleAdam(true, true)">
        <mat-icon svgIcon="file-image"></mat-icon>
        <span>{{ 'Fields.Hyperlink.Default.MenuImage' | translate }}</span>
      </button>
      <button mat-menu-item *ngIf="data.settings.ShowFileManager" (click)="toggleAdam(true, false)">
        <mat-icon svgIcon="file"></mat-icon>
        <span>{{ 'Fields.Hyperlink.Default.MenuDocs' | translate }}</span>
      </button>
    </mat-menu>

    <!-- content -->
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <mat-card class="mdc-layout-grid__cell--span-12 hyperlink-card shadow-bottom-z-1">
          <div class="hyperlink-input-link-wrapper">
            <!-- input -->
            <mat-form-field [formGroup]="group" appearance="standard" color="accent">
              <input matInput type="text" [formControlName]="config.field.name"
                [matTooltip]="'Fields.Hyperlink.Default.Tooltip' | translate" matTooltipPosition="above"
                [placeholder]="placeholder$ | async" [required]="required$ | async" appPasteClipboardImage
                [config]="config" [elementType]="'input'">
              <mat-label>{{ label$ | async }}</mat-label>
            </mat-form-field>
            <!-- link absolutely positioned above input -->
            <div *ngIf="data.preview?.floatingText" class="hyperlink-floating">
              <div class="hyperlink-floating__value">{{ data.value }}</div>
              <div class="hyperlink-floating__url-box">
                <a [href]="data.preview.url" target="_blank" class="hyperlink-floating__url"
                  [matTooltip]="data.preview.url">
                  <span>{{ data.preview.floatingText }}</span>
                </a>
              </div>
            </div>
          </div>
          <div class="preview-wrapper" *ngIf="data.preview">
            <!-- image -->
            <a [href]="data.preview.thumbnailUrl" target="_blank" *ngIf="data.preview.isImage">
              <div class="preview-image-box">
                <img [src]="data.preview.thumbnailPreviewUrl" class="preview-image" />
              </div>
            </a>
            <!-- icon -->
            <a [href]="data.preview.url" target="_blank" [matTooltip]="data.preview.url" matTooltipPosition="right"
              *ngIf="!data.preview.isImage">
              <div class="preview-icon-box">
                <mat-icon *ngIf="data.preview.isKnownType">{{ data.preview.icon }}</mat-icon>
                <mat-icon *ngIf="!data.preview.isKnownType" [svgIcon]="data.preview.icon"></mat-icon>
              </div>
            </a>
          </div>
        </mat-card>
      </div>
    </div>

  </ng-container>
</ng-container>
