<mat-form-field [tippy]="tooltip | translate" appearance="fill" color="accent">
  <mat-label>
    {{ label | translate }}
    {{ userLanguageSvc.isForced(optionType) ? '(disabled)' : '' }}
  </mat-label>
  <mat-select
    [value]="selectedValue"
    (selectionChange)="onSelectionChange($event)"
    [disabled]="userLanguageSvc.isForced(optionType)"
  >
    <mat-option value="">
      {{'LanguageSettings.UseCurrentLanguage' | translate}}
      </mat-option>
    <ng-container *ngFor="let option of options">
      <mat-option [value]="option.Code.toLocaleLowerCase()">{{ option.label }}</mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>