<ng-container *ngIf="templateVars$ | async as data">

  <h3 class="page-picker-title">
    {{ 'Fields.Hyperlink.PagePicker.Title' | translate }}
  </h3>

  <div class="page-search-box">
    <mat-form-field appearance="standard" color="accent">
      <mat-label>Search</mat-label>
      <input matInput [ngModel]="data.filterText" (ngModelChange)="setFilter($event)">
    </mat-form-field>
  </div>

  <div class="page-tree-box">
    <ul *ngIf="!data.filterText">
      <ng-container *ngFor="let page of data.tree">
        <ng-container *ngTemplateOutlet="pageAndChildren; context: {page: page}"></ng-container>
      </ng-container>
    </ul>

    <ul *ngIf="data.filterText">
      <li *ngIf="data.filteredSearch.length === 0">
        <div class="page-row">
          <div class="no-toggle"></div>
          <div>No results</div>
        </div>
      </li>
      <li *ngFor="let page of data.filteredSearch">
        <div class="page-row">
          <div class="no-toggle"></div>
          <div class="page-label" [ngClass]="page.id === selected ? 'selected' : ''" (click)="select(page.id)">
            <mat-icon svgIcon="file" class="page-icon"></mat-icon>
            <span class="page-path" *ngIf="page.path">{{ page.path }}&nbsp;>&nbsp;</span>
            <span>{{ page.name }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #pageAndChildren let-page="page">
    <li>
      <div class="page-row">
        <div class="no-toggle" *ngIf="page.children.length === 0"></div>
        <mat-icon class="page-toggle" *ngIf="page.children.length > 0" (click)="toggle(page.id)">
          {{ toggled.includes(page.id) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
        </mat-icon>
        <div class="page-label" [ngClass]="page.id === selected ? 'selected' : ''" (click)="select(page.id)">
          <mat-icon svgIcon="file" class="page-icon"></mat-icon>
          <span>{{ page.name }}</span>
        </div>
      </div>

      <ul *ngIf="page.children.length > 0 && toggled.includes(page.id)">
        <ng-container *ngFor="let child of page.children">
          <ng-container *ngTemplateOutlet="pageAndChildren; context: {page: child}"></ng-container>
        </ng-container>
      </ul>
    </li>
  </ng-template>
</ng-container>
