<ng-container *ngIf="viewModel | async as vm">

  <div class="picker-wrapper">
    <mat-form-field [formGroup]="group" color="accent">
      <mat-select [formControlName]="config.fieldName" [required]="vm.required">
        <mat-option value="">{{ 'Fields.TemplatePicker.NotSelected' | translate }}</mat-option>
        <mat-option *ngFor="let file of vm.templateOptions" [value]="file">
          {{ file }}
        </mat-option>
      </mat-select>
      <mat-label>{{ vm.label }}</mat-label>
    </mat-form-field>
    <button mat-icon-button [tippy]="'Fields.TemplatePicker.NewTemplate' | translate"
      [disabled]="vm.controlStatus.disabled" (click)="createTemplate()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

</ng-container>