.c-fht__container {
    font-size: 12px;
}

.c-fht__container-hint--ellipsis p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}

.c-fht__container-hint p:first-child {
    margin: 0px;
}

.c-fht__container-hint--disabled p:first-child {
    margin: 0px;
}
