<!--
  This template is used for all entity like fields,
  e.g. EntityDefault, EntityContentBlocks, EntityQuery, StringDropdownQuery
-->
<ng-container *ngIf="templateVars$ | async as data">
  <app-entity-default-list
    *ngIf="!data.freeTextMode && data.selectedEntities.length && (!data.settings.AllowMultiValue || (data.settings.AllowMultiValue && data.isExpanded))"
    [config]="config" [label]="data.label" [required]="data.required" [disabled]="data.disabled"
    [freeTextMode]="data.freeTextMode" [settings]="data.settings" [selectedEntities]="data.selectedEntities"
    (reorder)="reorder($event)" (removeSelected)="removeSelected($event)" (editEntity)="editEntity($event)"
    (deleteEntity)="deleteEntity($event)">
  </app-entity-default-list>

  <app-entity-default-search [config]="config" [group]="group" [control]="control" [label]="data.label"
    [placeholder]="data.placeholder" [required]="data.required" [invalid]="data.invalid" [touched]="control.touched"
    [disabled]="data.disabled" [freeTextMode]="data.freeTextMode" [settings]="data.settings"
    [selectedEntities]="data.selectedEntities" [availableEntities]="data.availableEntities"
    [disableAddNew]="data.disableAddNew" [error]="data.error" (toggleFreeTextMode)="toggleFreeTextMode()"
    (addSelected)="addSelected($event)" (editEntity)="editEntity($event)">
  </app-entity-default-search>
</ng-container>
