.eav-add-new-entity {
  display: flex;
  justify-content: flex-end;
}

.ed-field {
  width: 100%;
  height: 100%;
}

.ed-field__create-icon {
  width: 38px;
}

.ed-field__create-two-icon {
  width: 72px;
  padding-bottom: 4px;

  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.ed-field__create-icon-hide {
  width: 0;
}

.ed-field__field-short {
  width: calc(100% - 38px);
  max-width: calc(100% - 38px);
}

.ed-field__field {
  width: 100%;
}

.null-box {
  user-select: none;

  .null-button {
    cursor: pointer;
  }
}

// Import the inline button for the 'v' button in the dropdown
@import '../picker-item-buttons/picker-item-buttons.component.scss';


@import '../styles/picker-options.scss';





// 2024-09-17 2dm - moved here from _override-mat-form-field-fill-typography.scss
// But unclear why this exists, purpose can't be determined
// Leave till ca. Q4 then probably remove
//
// .entity-dropdown-button {
//   cursor: text;
//   //TODO @SDV check if this or equivalent class exists
//   &.mat-private-button-disabled {
//     cursor: default;
//   }
// }
