ag-grid-angular.ag-theme-material {
  height: calc(100vh - 281px);

  @media (max-width: 600px) {
    height: calc(100vh - 233px);
  }
}

.more-actions-box {
  margin-right: 66px;
  display: flex;
  align-items: flex-end;
}

.polymorph-logo {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
