.more-actions-box {
  margin-right: 66px;
  display: flex;
  align-items: flex-end;

  .mat-button {
    .polymorph-logo {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    .mat-icon {
      margin-right: 4px;
    }
  }
}
