<div class="eav-dialog eav-no-scrollbar">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Item History</div>
    <button mat-icon-button tippy="Close dialog" (click)="dialog.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="eav-dialog-content">
    <p>Check version history for this item and restore the version you need.</p>
    @if (historyItems()?.length > 0) {
      <div class="eav-compare-box">
        <mat-form-field color="accent" class="eav-mat-form-field eav-compare-box__dropdown">
          <mat-select [value]="compareWith()" name="Scope" (selectionChange)="compareChange($event.value)">
            <mat-option value="previous">Compare with: Previous</mat-option>
            <mat-option value="live">Compare with: Live</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    }
    <div>
      @if (historyItems() === null) {
        <div>Loading...</div>
      }
      @if (historyItems()?.length === 0) {
        <div>No previous versions of this item found</div>
      }
      @if (historyItems()?.length > 0) {
        <mat-accordion multi class="eav-history-tables">
          @for (historyItem of historyItems(); track historyItem) {
            <app-history-item
              [historyItem]="historyItem"
              [isExpanded]="expandedPanels[historyItem.versionNumber]"
              [expandedAttributes]="expandedAttributes"
              (panelExpandedChange)="panelExpandedChange($event, historyItem.versionNumber)"
              (attributeToggle)="attributeExpandedToggle(historyItem.versionNumber, $event)"
              (restore)="restore($event)"
            ></app-history-item>
          }
        </mat-accordion>
      }
    </div>
    @if (historyItems()?.length > 0) {
      <mat-paginator
        color="accent"
        showFirstLastButtons="true"
        [length]="version().length"
        [pageSize]="pageSize()"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageChange($event)"
      >
      </mat-paginator>
    }
  </div>
</div>
