<!-- input -->
<mat-form-field [formGroup]="group" appearance="outline" color="accent">
  <div class="c-input-text-wrapper">
    <div class="thumbnail-before-input">
      <i *ngIf="value" class="glyphicon {{value}} icon-preview"></i>
    </div>
    <input matInput type="text" class="form-control material" [formControlName]="config.field.name"
      [placeholder]="config.field.label" [required]="config.field.required" [matAutocomplete]="auto" (click)="update()">
  </div>
  <mat-label>{{config.field.label}}</mat-label>
</mat-form-field>

<!-- field helper text -->
<app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

<!-- options -->
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let icn of filteredIcons | async" [value]="icn.class">
    <a (click)="setIcon(icn.class, config.field.name)">
      <i class="{{config.field.settings.PreviewCss}} {{icn.class}} icon-preview"></i>
      <span>{{icn.class}}</span>
    </a>
  </mat-option>
</mat-autocomplete>
