<div>
  <mat-form-field [formGroup]="group" [style.width]="'100%'">
    <div matPrefix class="thumbnail-before-input icon-preview">
      <i class="glyphicon {{value}}"></i>
    </div>
    <input matInput type="text" class="form-control material" [formControlName]="config.name" [placeholder]="config.label" [required]="config.required"
      [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let icn of icons" [value]="icn.class">
      <a (click)="setIcon(icn.class, config.name)">
        <i class="{{config.settings.PreviewCss}} {{icn.class}}"></i>
        <span>{{icn.class}}</span>
      </a>
    </mat-option>
  </mat-autocomplete>
</div>