<mat-form-field [formGroup]="group" appearance="fill" color="accent">
  <div matPrefix class="thumbnail-before-input icon-preview">
    <i class="glyphicon {{value}}"></i>
  </div>
  <input matInput type="text" class="form-control material" [formControlName]="config.name" [placeholder]="config.label"
    [required]="config.required" [matAutocomplete]="auto" (click)="update()">
  <mat-label>{{config.label}}</mat-label>
</mat-form-field>
<app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let icn of filteredIcons | async" [value]="icn.class">
    <a (click)="setIcon(icn.class, config.name)">
      <i class="{{config.settings.PreviewCss}} {{icn.class}}"></i>
      <span>{{icn.class}}</span>
    </a>
  </mat-option>
</mat-autocomplete>