<div>
  <div class="c-save-status-dialog__header">
    <h3>Your own title</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
  </div>
  <mat-nav-list fxFill class="c-save-status-dialog__actions" toggle>
    <mat-divider></mat-divider>
    <mat-list-item (click)="publishEntry()" [ngClass]="publishMode === 'show' ? 'mat-list-item-focus' : ''">
      <div fxFlex="20" fxFill>
        <button mat-icon-button color="accent">
          <i matListIcon class="eav-icon-eye"></i>
        </button>
      </div>
      <div fxFlex="80">
        <span matLine><b>Publish entry</b></span>
        <span matLine>Lorem ipsum dolor sit amet,</span>
        <span matLine>consecteturlabore et dolore</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="hideEntry()" [ngClass]="publishMode === 'hide' ? 'mat-list-item-focus' : ''">
      <div fxFlex="20" fxFill>
        <button mat-icon-button color="accent">
          <i matListIcon class="eav-icon-eye-close"></i>
        </button>
      </div>
      <div fxFlex="80">
        <span matLine><b>Hide entry</b></span>
        <span matLine>Lorem ipsum dolor sit amet,</span>
        <span matLine>consecteturlabore et dolore</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="saveAsDraftEntry()" [ngClass]="publishMode === 'branch' ? 'mat-list-item-focus' : ''">
      <div fxFlex="20" fxFill>
        <button mat-icon-button color="accent">
          <i matListIcon class="eav-icon-git-branch"></i>
        </button>
      </div>
      <div fxFlex="80">
        <span matLine><b>Save as draft</b></span>
        <span matLine>Lorem ipsum dolor sit amet,</span>
        <span matLine>consecteturlabore et dolore</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-nav-list>
  <span></span>
</div>