<!--
 Header containing title, notes, slot empty toggle, metadata-for information, history button and translate menu
-->
<mat-card appearance="raised" class="eav-card-group-parent shadow-bottom-z-1">
  <div class="my-title-bar-outer eav-card-header-group-parent">
    <!-- ^v icon to indicate state + Title -->
    <div class="my-title-bar eav-card-title-group mat-headline-4" (click)="toggleCollapse()">
      <mat-icon class="title-arrow">
        {{ collapse ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
      </mat-icon>
      <span class="title">
        {{ ctSettings().itemTitle || ('ItemCard.DefaultTitle' | translate) }}
      </span>
    </div>

    <!-- Notes button -->
    @if (ctSettings().showNotes) {
      <button
        type="button"
        #noteTrigger
        mat-icon-button
        class="eav-note {{ noteProps().triggerClass }}"
        [disabled]="readOnly()"
        [tippyTranslate]="noteProps().tooltip"
        [tippyDisabled]="readOnly()"
        [disableRipple]="noteProps().itemNotSaved"
        (pointerenter)="noteProps().note ? toggleNote($event) : null"
        (pointerleave)="noteProps().note ? toggleNote($event) : null"
        (click)="noteProps().note ? toggleNote($event) : editNote()"
      >
        <mat-icon>{{ noteProps().iconName }}</mat-icon>
      </button>
    }

    <!-- Note template to show on demand -->
    <ng-template #noteTemplate>
      <div
        class="eav-note-wrapper {{ noteProps().noteClass }}"
        cdkDrag
        cdkDragRootElement=".cdk-overlay-pane"
        cdkDragBoundary="body"
        (pointerdown)="noteTouched = true"
      >
        <div class="eav-note-actions" cdkDragHandle>
          <button mat-icon-button appMousedownStopPropagation (click)="editNote(noteProps().note)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button appMousedownStopPropagation (click)="deleteNote(noteProps().note)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button appMousedownStopPropagation (click)="toggleNote($event)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="eav-note-content eav-hide-scrollbar" [innerHtml]="noteProps().noteHtml | safeHtml"></div>
      </div>
    </ng-template>

    <!-- Slot Empty Toggle -->
    @if (ctSettings().slotCanBeEmpty) {
      <mat-slide-toggle
        class="empty-slot-toggle"
        (change)="toggleSlotIsEmpty()"
        [checked]="!ctSettings().slotIsEmpty"
        [disabled]="readOnly() || languages().current !== languages().primary"
        [tippyTranslate]="!ctSettings().slotIsEmpty ? 'ItemCard.SlotUsedTrue' : 'ItemCard.SlotUsedFalse'"
        [tippyDisabled]="readOnly() || languages().current !== languages().primary"
      >
      </mat-slide-toggle>
    }

    <!-- Metadata-For Information -->
    @if (ctSettings().showMdFor && itemForTooltip()) {
      <div class="icon-box" [tippy]="itemForTooltip()">
        <mat-icon>local_offer</mat-icon>
      </div>
    }

    <!-- History Button -->
    @if (formConfig.config.enableHistory) {
      <button type="button" mat-icon-button tippyTranslate="Form.Buttons.History.Tip" [disabled]="readOnly()" (click)="openHistory()">
        <mat-icon>history</mat-icon>
      </button>
    }
    <app-entity-translate-menu [entityGuid]="entityGuid()"> </app-entity-translate-menu>
  </div>
  <mat-card-content class="eav-card-content-group-parent" [style.display]="collapse ? 'none' : 'block'">
    <div class="eav-layout-grid">
      <div class="eav-layout-grid__inner">
        @if (ctSettings().editInstructions) {
          <div class="eav-layout-grid__cell--span-12 mat-body-2" align="start">
            <div class="description" appChangeAnchorTarget [innerHtml]="ctSettings().editInstructions | safeHtml"></div>
          </div>
        }
        <div class="eav-layout-grid__cell--span-12">
          <!-- Inputs index weiter geben -->
          <div appEditControlsBuilder [attr.data-index]="index"></div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
