@import "../../../assets/styles/variables.scss";

.c-ah-field-hint {
    padding: 2px 24px;
    background-color: white;
    color: rgba($editUI-foreground-color, 0.44);
}

.adam-link {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.apple-icon {
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
}
