.field-container {

  &:not(:first-of-type) {
    margin-top: 8px;
  }

  &.multiple {
    display: flex;

    .multiple-field {
      flex: 1;

      &:not(:first-of-type) {
        margin-left: 8px;
      }
    }
  }
}

.spacer {
  flex: 1;
}

pre {
  height: 200px;
  font-family: monospace;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
}
