<div class="eav-dialog eav-no-scrollbar" >
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">
      {{ title | translate }}
    </div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="eav-dialog-content">
    <div *ngIf="state == sharingOrInheriting.Sharing">{{ message | translate }} {{ dialogData.Guid }}</div>
    <div *ngIf="state == sharingOrInheriting.Inheriting">{{ message| translate }} {{ dialogData.SysSettings.InheritMetadataOf }}</div>
    <div *ngIf="state == sharingOrInheriting.None && viewModel$ | async as vm">
      <button mat-raised-button type="button" (click)="share()">Share</button>
      <div class="eav-table-div">
        <table mat-table [dataSource]="vm.shareableFields" class="mat-elevation-z8 eav-fields-table">
          <ng-container matColumnDef="contentType">
            <th mat-header-cell *matHeaderCellDef> Content Type </th>
            <td mat-cell *matCellDef="let field"> {{field.ContentType.Name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let field"> {{field.StaticName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let field"> {{field.Type}} </td>
          </ng-container>
      
          <ng-container matColumnDef="share">
            <th mat-header-cell *matHeaderCellDef> Inherit </th>
            <td mat-cell *matCellDef="let field"> <button mat-raised-button type="button"
                (click)="inheritField(field)">Inherit</button> </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedShareableFieldsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedShareableFieldsColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>