<div class="eav-dialog eav-no-scrollbar" >
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">
      {{ title | translate }}
    </div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="eav-dialog-content">
    <span *ngIf="state == sharingOrInheriting.Sharing">{{ message | translate }} {{ dialogData.Guid }}</span>
    <span *ngIf="state == sharingOrInheriting.Inheriting">{{ message| translate }} {{ dialogData.SysSettings.InheritMetadataOf }}</span>
    <span *ngIf="state == sharingOrInheriting.None">
      <button mat-raised-button type="button" (click)="share()">Share</button>
      <!-- <button mat-raised-button type="button" (click)="inherit()">Inherit</button> -->
      <mat-card class="eav-card" *ngIf="viewModel$ | async as vm">
        <mat-card-header class="eav-card-header">
          <mat-card-title>Shareable fields</mat-card-title>
          <mat-icon>share</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <mat-card *ngFor="let field of vm.shareableFields" class="eav-field-card" (click)="selectField(field)">
            <mat-card-content>
              <div class="eav-info-row">
                <div class="eav-info-row__label">Content type:</div>
                <div class="eav-info-row__value"><span>{{ field.ContentType.Name }}</span></div>
              </div>
              <div class="eav-info-row">
                <div class="eav-info-row__label">Name:</div>
                <div class="eav-info-row__value"><span>{{ field.StaticName }}</span></div>
              </div>
              <div class="eav-info-row">
                <div class="eav-info-row__label">Type:</div>
                <div class="eav-info-row__value"><span>{{ field.Type }}</span></div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </span>
  </div>
  <mat-dialog-actions align="end">
    <!-- <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button type="submit" color="accent" (click)="save()">
      Save
    </button> -->
  </mat-dialog-actions>
</div>