<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">
      {{ dialogData.title ?? 'Delete' }} {{ dialogData.entityTitle }} ({{ dialogData.entityId }})
    </div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="eav-dialog-content">
    @if (dialogData.message) {
      <p [innerHtml]="dialogData.message | safeHtml"></p>
    }
  </div>

  <mat-dialog-actions align="end">
    <app-save-close-button-fab
      [label]="'Delete and close (ctrl + enter)'"
      (action)="saveAndClose(true)"
    />
  </mat-dialog-actions>
</div>