<app-dialog-popup>
  <ng-container #fieldComponent></ng-container>
</app-dialog-popup>
<div class="c-ew__preview-holder">
  <mat-label class="c-ew__preview-label" [ngClass]="{
      'mat-caption' : uiValue(),
      'mat-empty' : !uiValue(),
      'mat-error' : ui().invalid && (ui().touched || ui().dirty) && !ui().disabled,
      'color__primary' : !(ui().touchedAndInvalid) && !ui().disabled,
      'my-label-disabled' : ui().disabled,
      'c-ew__preview-label--focused': focused()
      }">
    {{basics().labelWithRequired}}
  </mat-label>
  <div class="c-ew__preview" [ngClass]="{
      'c-ew__preview--invalid' : ui().invalid && (ui().touched || ui().dirty),
      'c-ew__preview--disabled': ui().disabled,
      'c-ew__preview--focused': focused()
      }">
    <div class="c-ew__preview-container">
      <div #previewContainer class="c-ew__preview-content u-hide-scrollbar" [ngClass]="{
          'c-ew__preview-content--disabled': ui().disabled
          }" [ngStyle]="{
          'min-height': previewHeight().minHeight,
          'max-height': previewHeight().maxHeight
          }">
      </div>
    </div>
  </div>
  <app-field-helper-text></app-field-helper-text>
</div>
