@use "sass:map";
@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/theme/material-colors.scss";

$min-height: 36px;
$max-height: 50vh;
$label-top: 14px;

%field-border {
  margin-bottom: 1px;
  border-bottom: 1px solid variables.$field-border-color--initial;
}

%field-border--hover {
  margin-bottom: 0;
  border-bottom: 2px solid variables.$field-border-color--hover;
  transition: none;
}

%field-border--focused {
  margin-bottom: 0;
  border-bottom: 2px solid variables.$field-border-color--focus !important;
  transition: none;
}

%field-border--invalid {
  margin-bottom: 0;
  border-bottom: 2px solid variables.$field-border-color--invalid;
  transition: none;
}

%field-border--disabled {
  border: none;
  cursor: default;
  padding: 0 0 2px 0;
  margin-bottom: 0;
  background-image: linear-gradient(to right, variables.$field-border-color--disabled 0%, variables.$field-border-color--disabled 33%, transparent 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.c-ew__preview {
  position: relative;
  min-height: $min-height;
  max-height: $max-height;
  font-size: 14px;

  @extend %field-border;

  &:hover:not(.c-ew__preview--disabled):not(.c-ew__preview--invalid) {
    @extend %field-border--hover;
  }

  .color__accent {
    color: map.get(material-colors.$mat-eav-item-dialog-secondary, 500);
  }

  .color__primary {
    color: rgba(variables.$editUI-foreground-color, 0.44);
  }

  .my-label-disabled {
    color: variables.$editUI-label-disabled-color;
  }

  mat-empty {
    height: 48px;
    padding: 24px 0 0 0;
  }
}

.c-ew__preview-holder {
  position: relative;
  margin-top: calc(#{$label-top} + 12px);
}

.c-ew__preview-label {
  top: -$label-top;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  font-size: 12px;
  line-height: 14px;

  &:not(.mat-mdc-form-field-error) {
    color: rgba(variables.$editUI-foreground-color, 0.44);
  }
}

.c-ew__preview-label--focused:not(.mat-mdc-form-field-error) {
  color: map.get(material-colors.$mat-eav-item-dialog-secondary, 500) !important;
}

.c-ew__preview-container {
  overflow: hidden;
  min-height: inherit;
  max-height: inherit;
}

.c-ew__preview-content {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: $min-height;
  max-height: $max-height;
}

.c-ew__preview-content--disabled {
  pointer-events: none;
  color: variables.$editUI-field-disabled-color;
}

.c-ew__preview--focused:not(.c-ew__preview--invalid) {
  @extend %field-border--focused;
}

.c-ew__preview--invalid {
  @extend %field-border--invalid;
}

.c-ew__preview--disabled {
  @extend %field-border--disabled;
}
