<mat-card class="header">
  <button mat-icon-button class="header__exit-button" (click)="closeDialog()">
    <mat-icon class="header__exit-icon" *ngIf="isParentDialog" matTooltip="{{ 'Form.Buttons.Exit.Tip' | translate }}">
      clear
    </mat-icon>
    <mat-icon class="header__exit-icon" *ngIf="!isParentDialog"
      matTooltip="{{ 'Form.Buttons.Return.Tip' | translate }}">
      arrow_back
    </mat-icon>
  </button>
  <div class="header__langs">
    <app-eav-language-switcher *ngIf="languages.length > 0" [formId]="formId" [formsAreValid]="formsAreValid"
      [allControlsAreDisabled]="allControlsAreDisabled"></app-eav-language-switcher>
  </div>
  <button mat-button class="header__publish-button" (click)="openSaveSatusDialog()"
    matTooltip="{{ 'SaveMode.' + publishMode + '.Tip' | translate }}">
    <span class="header__publish-mode">Status:
      <b>{{ ('SaveMode.' + publishMode | translate: '').toUpperCase() }}</b></span>
  </button>
</mat-card>
