<mat-card fxLayout="row" fxLayoutAlign="start center">
  <button mat-icon-button fxLayoutAlign="start center" (click)="closeDialog()">
    <mat-icon *ngIf="isParentDialog">clear</mat-icon>
    <mat-icon *ngIf="!isParentDialog">arrow_back</mat-icon>
  </button>
  <div fxFlex="auto" style="width:100px;">
    <app-eav-language-switcher *ngIf="languages.length > 0" [languages]="languages" [currentLanguage]="currentLanguage"
      [formsAreValid]="formsAreValid" [allControlsAreDisabled]="allControlsAreDisabled"></app-eav-language-switcher>
  </div>
  <button mat-button fxLayoutAlign="end center" style="min-width: auto;" (click)="openSaveSatusDialog()">
    Status:
    <span>
      {{ ('SaveMode.' + publishMode | translate : '').toUpperCase() }}
    </span>
  </button>
</mat-card>

<mat-divider></mat-divider>
