@import "../../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  @media (max-width: 600px) {
    border-radius: 0;
  }
  height: $edit-ui-dialog-header-max-height;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);

  &__exit-button {
    margin-right: 12px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    &:first-child {
      line-height: 30px;
    }
  }
  &__exit-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px !important;
  }
  &__langs {
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
  }
  &__publish-button {
    margin-right: -6px;
    padding: 0 10px;
    height: 30px;
    line-height: 32px;
    flex-shrink: 0;
  }
  &__publish-mode {
    font-weight: 400;
  }
}
