<div appDragAndDrop [allowedFileTypes]="'json'" (filesDropped)="filesDropped($event)" *ngIf="{
  loading: loading$ | async
} as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">Upload license</div>
  </div>

  <mat-spinner *ngIf="data.loading" mode="indeterminate" diameter="20" color="accent"></mat-spinner>

  <p class="dialog-description"></p>

  <div>
    <button mat-raised-button tippy="Open file browser" [disabled]="data.loading" (click)="fileInput.click()">
      <span>{{ importFile?.name ?? 'Select or drop file' }}</span>
    </button>
    <input #fileInput type="file" (change)="fileChange($event)" class="hide" />
  </div>

  <div class="dialog-component-actions">
    <button mat-raised-button [disabled]="data.loading" (click)="closeDialog()">
      Cancel
    </button>
    <button mat-raised-button color="accent" [disabled]="data.loading || !importFile" (click)="upload()">
      Upload
    </button>
  </div>
</div>
