<div mat-dialog-title>
  <div class="dialog-title-box">
    <div>Permissions</div>
    <button mat-icon-button matTooltip="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<div>
  <button mat-icon-button matTooltip="Create a new permission" (click)="editPermission(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ag-grid-angular class="ag-theme-material" [rowData]="permissions" [columnDefs]="columnDefs" [modules]="modules"
  [frameworkComponents]="frameworkComponents" [enableCellTextSelection]="true" [suppressScrollOnNewData]="true"
  [animateRows]="true" [accentedSort]="true" [valueCache]="true" [headerHeight]="32">
</ag-grid-angular>
