<ng-container *ngIf="templateVars$ | async as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>Using REST with {{ data.contentType?.Name }}</div>
      <button mat-icon-button matTooltip="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="dialog-component-content fancy-scrollbar-light">
    <p class="dialog-description">
      All data can easily be used in JavaScript using a REST API.
    </p>

    <p class="dialog-description">
      <em>
        Important: As a host-user you can always access these REST endpoints, but
        if you want to use them in a public UI, you must remember to set the
        permissions to allow this.
      </em>
    </p>

    <div>
      <app-selector-with-help label="Choose Scenario" [items]="scenarios" [value]="data.currentScenario.key"
        (valueChange)="changeScenario($event)">
      </app-selector-with-help>

      <app-selector-with-help *ngIf="!data.modeInternal" label="Choose DNN Version" [items]="environments"
        [value]="data.currentEnv.key" (valueChange)="changeEnv($event)">
      </app-selector-with-help>
    </div>

    <ng-container *ngIf="data.modeInternal; then internal; else external"></ng-container>
  </div>


  <ng-template #internal>
    <mat-tab-group color="accent">
      <mat-tab label="Virtual REST URLs">
        <ng-template matTabContent>
          <p class="dialog-description">
            Virtual REST URLs are shorter URLs, which are automatically resolved
            to the full length (based on the dnn-version, current portal, etc.)
            thanks to $2sxc. This happens when you use the
            <a href="https://github.com/2sic/2sxc/wiki/javascript-sxc-webapi" target="_blank">
              $2sxc.webApi(...)
            </a>
            or if you use
            <a href="https://www.npmjs.com/package/@2sic.com/dnn-sxc-angular" target="_blank">
              dnn-sxc-angular (npm package)
            </a>
            (which also passes url-resolving through $2sxc).
          </p>

          <ng-container *ngTemplateOutlet="restUrls"></ng-container>
        </ng-template>
      </mat-tab>
      <mat-tab label="JS Calls using $2sxc">
        <ng-template matTabContent>
          <p class="dialog-description">
            First you must get the <code>sxc</code> controller for the current module instance.
            The easiest way is to let <code>$2sxc</code> find it, by giving it a html-tag before running any additional
            code.
            $2sxc will then automatically look up everything and return a fully configured controller.
            Note that this is just an example, you will probably do this differently and not use a global variable (bad
            practice).
          </p>
          <pre>
// this assumes a tag like &lt;div id='myGalleryTag'&gt; in your code
var mySxc = $2sxc(document.getElementById('myGalleryTag'));
        </pre>

          <p>
            Then...
          </p>
          <pre>
/** get all items - this returns a promise
* so you can do getAll().then(...)
*/
function getAll() {{ '{' }}
return mySxc.webApi.get('');
{{ '}' }}

function getOne(id) {{ '{' }}
return mySxc.webApi.get('' + '/' + id);
{{ '}' }}
        </pre>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-template>


  <ng-template #external>
    <mat-tab-group color="accent">
      <mat-tab label="Full REST URLs">
        <ng-template matTabContent>
          <ng-container *ngTemplateOutlet="restUrls"></ng-container>
        </ng-template>
      </mat-tab>
      <mat-tab label="JS Calls using $2sxc">
        <ng-template matTabContent>
          todo
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-template>


  <ng-template #restUrls>
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let apiCall of data.apiCalls">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <code>{{apiCall.verb}}</code>: <code>{{ apiCall.url }}</code>
            <span> &nbsp;({{ apiCall.instructions }}) </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="display: block;">
          <h4>{{ apiCall.instructions }}</h4>
          <strong>HTTP Verb: </strong> <code>{{apiCall.verb}}</code> <br>
          <strong>{{ apiCall.virtual ? 'Virtual' : 'Absolute'}} Url: </strong> <code>{{ apiCall.url }}</code>

          <ng-container *ngFor="let code of apiCall.code">
            <h4>{{ code.title }}</h4>
            <pre [ngStyle]="{'word-wrap': code.wrap ? '' : 'pre-wrap'}">{{ code.code }}</pre>
          </ng-container>
          <button *ngIf="apiCall.enableButton" mat-raised-button (click)="callApiGet(apiCall.url)">execute call</button>
          <a *ngIf="data.currentScenario?.key === 'external'" [href]="apiCall.url" target="_blank">open</a>

        </mat-panel-description>

      </mat-expansion-panel>

    </mat-accordion>
  </ng-template>

</ng-container>
