
.tab-icon {
  margin-right: 8px;
}

code, pre {
  padding-left: 2px;
  padding-right: 2px;
  background-color: #eeeeee;
}

// TODO: SPM
// Pls help so all P / UL/OL / LI etc. have the right font size etc.
// using variables, not repeating the definition here
