// the first one is needed so <code> coloring works in dynamic injected html (tips etc.)
:host ::ng-deep code,
code,
pre {
  padding-left: 2px;
  padding-right: 2px;
  background-color: #eeeeee;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
}

.rest-urls-accordion {
  display: block;
  margin: 8px;
}

.rest-urls-title {
  display: flex;
  align-items: center;
}

.code-example {
  position: relative;

  &__text {
    min-height: 40px;
  }

  &__copy {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.params-form {
  display: flex;
  max-width: 600px;

  .mat-form-field:not(:first-of-type) {
    margin-left: 8px;
  }
}

.form-with-textarea {
  max-width: 600px;
}


