<ng-container *ngIf="templateVars$ | async as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>Using REST with {{ data.contentType?.Name }}</div>
      <button mat-icon-button matTooltip="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <app-selector-with-help label="Choose Scenario" [items]="scenarios" [value]="data.scenario.key"
    (valueChange)="changeScenario($event)">
  </app-selector-with-help>

  <ng-container *ngTemplateOutlet="restTabs"></ng-container>

  <ng-template #restTabs>
    <mat-tab-group dynamicHeight color="accent"
      class="mat-tab-group-fit-height mat-tab-group-fancy-scrollbar default-fonts">
      <mat-tab>
        <div *matTabLabel class="mat-tab-label-box" matTooltip="Introduction">
          <mat-icon>emoji_objects</mat-icon>
          <span>Introduction</span>
        </div>
        <p>
          All data can be used in JavaScript, SPAs or anywhere with the REST API
          (see <a href="https://docs.2sxc.org/specs/web-api/intro.html" target="_blank">docs</a>).
          Use this for things like:
        </p>
        <ul>
          <li>Creating SPAs in DNN/2sxc</li>
          <li>Getting data for mobile apps</li>
          <li>Sharing data to other platforms</li>
          <li>Using DNN/2sxc as a headless CMS</li>
        </ul>
        <p>
          Just set off HTTP <code>GET</code> requests or similar
          to the endpoint like <code>{{ data.root }}</code>. You can find the full list with example code
          in the next tabs.
          Make sure you also read about permissions and HTTP headers.
        </p>
        <h3>Scenarios</h3>
        <ng-container *ngFor="let scenario of scenarios">
          <h4>Scenario: {{ scenario.name }}</h4>
          <p>
            {{ scenario.description }}
          </p>
          <p *ngIf="scenario.notes">
            <em>
              {{ scenario.notes }}
            </em>
          </p>
        </ng-container>
      </mat-tab>

      <mat-tab>
        <div *matTabLabel class="mat-tab-label-box"
          [matTooltip]="(data.scenario.useVirtual ? 'Virtual ' : 'Absolute ') + 'REST URLs'">
          <mat-icon>code</mat-icon>
          <span>{{ data.scenario.useVirtual ? 'Virtual' : 'Absolute' }} REST URLs</span>
        </div>
        <p *ngIf="data.scenario.useVirtual">
          Virtual REST URLs are short. They will be resolved internally
          to the full length (based on the dnn-version, current portal, etc.)
          thanks to $2sxc JS API. This happens when you use the
          <a href="https://docs.2sxc.org/specs/js/sxcewebapi.html" target="_blank">
            $2sxc(<em>id-or-htmlnode</em>).webApi.get(...)
          </a>
          or if you use
          <a href="https://https://www.npmjs.com/package/@2sic.com/dnn-sxc-angular" target="_blank">
            dnn-sxc-angular (npm package)
          </a>
          (which also passes url-resolving through $2sxc).
        </p>
        <p>
          The examples below use real values to make it easier to get started.
          The values used are the current content-type <code>{{ data.contentType.Name }}</code>,
          the current Module ID <code>{{ data.moduleId }}</code>
          and the folder of the current App folder <code>{{ data.folder }}</code> (where needed).
          The code also looked up an item of this type and will use it's ID <code>{{ data.itemId }}</code> in the
          examples.
        </p>

        <ng-container *ngTemplateOutlet="restUrls"></ng-container>
      </mat-tab>

      <!-- Permissions explained -->
      <mat-tab>
        <div *matTabLabel class="mat-tab-label-box" matTooltip="Permissions">
          <mat-icon>person</mat-icon>
          <span>Permissions ({{ data.contentType.Permissions.Count }})</span>
          <mat-icon *ngIf="data.contentType.Permissions.Count === 0">warning</mat-icon>
        </div>
        <h3>Permissions ({{ data.contentType.Permissions.Count }})</h3>
        <p>
          This content-type ({{ data.contentType.Name }}) has {{ data.contentType.Permissions.Count }} permissions
          configured.
          <button mat-icon-button matTooltip="Open permissions" (click)="openPermissions()">
            <mat-icon [matBadge]="data.contentType.Permissions.Count" matBadgePosition="after" matBadgeColor="accent"
              matBadgeSize="small" *ngIf="data.contentType.Permissions.Count">
              person
            </mat-icon>
            <mat-icon *ngIf="!data.contentType.Permissions.Count">person</mat-icon>
          </button>
        </p>
        <p class="warning" *ngIf="data.contentType.Permissions.Count === 0">
          <mat-icon>warning</mat-icon>
          Warning: you don't have any permissions configured. So only Super-Users (Host) will be able to use the API
          endpoints.
        </p>

        <ag-grid-angular class="ag-theme-material" [rowData]="data.permissions" [modules]="modules"
          [gridOptions]="gridOptions" [style.height]="(33 + data.permissions.length * 48) + 'px'">
        </ag-grid-angular>

        <h4>Super-Users (Host) can use all Endpoints</h4>
        <p>
          As a super-user you can always access these REST endpoints, so this will make development easy.
          Just remember to change the content-type permissions when you publish your work to public pages.
        </p>

        <h4>Set permissions for visitors to use this</h4>
        <p>
          To let JavaScript access the REST endpoints for normal users, you must set the permissions of the
          content-type.
          Usually you will just want to set it like <em>if user has view-permissions, let him read this
            content-type</em>.
          In rare cases (eg. JS based forms) you may also want to give it some write permissions. Just be careful.
          If you give write permissions, you will usually <em>only</em> want to give create, but not edit.
        </p>

        <h4>Setting permissions for use outside of DNN</h4>
        <p>
          When calling API endpoints from a DNN page you will usually use the <code>$2sxc</code> or the DNN
          Services-Framework.
          These automatically add some HTTP-Headers (see tab about HTTP Headers) which let DNN determine that the
          API-Call
          was made on a specific page/module - and DNN uses this to check the permissions.
        </p>
        <p>
          IF you are calling the endpoint from outside of DNN then these headers will be missing.
          Because of this, permissions saying "If has VIEW permissions, allow read" will fail - because DNN cannot
          determine
          if the user has view permissions.
        </p>
        <p>
          So to enable use from external, the condition must be "If has ANONYMOUS permissions, allow ...".
          Because the ANONYMOUS check passes even if DNN doesn't know what page the module is on.
        </p>
      </mat-tab>

      <!-- HTTP Headers Explained -->
      <mat-tab>
        <div *matTabLabel class="mat-tab-label-box" matTooltip="HTTP headers and auto">
          <mat-icon>perm_device_information</mat-icon>
          <span>HTTP headers and &nbsp;<code>auto</code></span>
        </div>
        <h3>Background</h3>
        <p>
          It's important that you know that DNN includes special headers in HTTP requests.
          This is to include context, so it can find what page/module you were on.
          The platform needs this because it usually needs to know things like:
        </p>
        <ul>
          <li>What website / language am I on</li>
          <li>
            What module am I on, and what App is being shown (this is used to resolve the <code>/auto/</code> in the
            path
          </li>
          <li>Does the user have VIEW / EDIT / etc. permissions</li>
        </ul>
        <p>
          When accessing an API from external, there is no real <em>context</em> for the call, which is why you have to
          replace
          <code>/auto/</code> in the path with <code>/{{ data.folder }}/</code> instead.
        </p>
        <h3>Common Headers when using the API from JS on a DNN Page</h3>
        <p>
          These are the headers which are needed in DNN by default:
        </p>
        <ol>
          <li><code>TabId</code>: this is the page id, a number</li>
          <li><code>ModuleId</code>: this is the module id, a number</li>
          <li>
            <code>RequestVerificationToken</code>: this is a crypto key to prove that the request originated from the
            same site. It's only included in POST/PUT/DELETE requests.
          </li>
        </ol>
        <p>
          These are the headers which 2sxc sometimes adds:
        </p>
        <ol>
          <li><code>ContentBlockId</code>: the unit of content we're editing/changing or</li>
          <li>
            <code>PageId</code>: we're trying to use this new header instead of TabId, which is just an odd name.
            Still WIP
          </li>
        </ol>
        <h3>Usually this happens automatically</h3>
        <p>
          When you use an helper object of 2sxc (like <code>$2sxc</code> or <code>dnn-sxc-angular</code>).
        </p>
      </mat-tab>
    </mat-tab-group>
  </ng-template>



  <!-- REST Tab showing the urls and code snippets -->
  <ng-template #restUrls>
    <mat-accordion multi class="rest-urls-accordion">
      <mat-expansion-panel *ngFor="let apiCall of data.apiCalls">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="rest-urls-title">
              <code>{{ apiCall.verb }}</code>: <code>{{ apiCall.url }}</code>
              <span>&nbsp;to {{ apiCall.teaser }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="display: block;">
          <h4>{{ apiCall.instructions }}</h4>
          <p>
            HTTP Verb: <code>{{ apiCall.verb }}</code> <br>
            {{ data.scenario.useVirtual ? 'Virtual' : 'Absolute' }} Url: <code>{{ apiCall.url }}</code>
          </p>
          <p *ngIf="apiCall.enableButton">
            <button mat-raised-button (click)="callApiGet(apiCall.url)">Call and Output to Console</button>
            <a *ngIf="!data.scenario.useVirtual && apiCall.browseUrl" [href]="apiCall.browseUrl" target="_blank">
              Open in Browser
            </a>
          </p>

          <ng-container *ngFor="let code of apiCall.code">
            <h4>{{ code.title }}</h4>
            <p>{{ code.description }}</p>
            <div class="code-example">
              <pre class="code-example__text">{{ code.code }}</pre>
              <button mat-icon-button class="code-example__copy" matTooltip="Copy to clipboard"
                (click)="copyCode(code.code)">
                <mat-icon>copy</mat-icon>
              </button>
            </div>
            <p *ngIf="code.warning" class="warning">
              <mat-icon>warning</mat-icon>
              {{ code.warning }}
            </p>
          </ng-container>

        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>


</ng-container>
