<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Create App</div>
    <button mat-icon-button [disabled]="loading()" tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="eav-dialog-content">
    <router-outlet></router-outlet>
    <form [formGroup]="form">
      <mat-form-field color="accent" class="eav-mat-form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <app-field-hint> App name will also be used for the folder </app-field-hint>
      @if (form.controls.name.touched) {
        @if (form.controls.name.errors?.required) {
          <app-field-hint [isError]="true"> Required </app-field-hint>
        }
        @if (form.controls.name.errors?.pattern) {
          <app-field-hint [isError]="true">
            {{ appNameError }}
          </app-field-hint>
        }
      }
      <br />
      <mat-radio-group formControlName="appTemplateId" required (change)="onTemplateChange($event)">
        <mat-radio-button [value]="1">Use Template</mat-radio-button>
        <mat-radio-button [value]="0">Completely new / empty App</mat-radio-button>
        <mat-radio-button [value]="2">Use existing App as Template</mat-radio-button>
      </mat-radio-group>
    </form>

    @if (appTemplateIdValue == 2) {
      <br />
      <span>
        To use an existing App as a template, please switch to the
        <strong> Import App Dialog </strong>
      </span>
      <br />
      <br />
      <button mat-raised-button class="eav-action-button" (click)="switchToImportApp()">Switch to Import App</button>
    }

    @if (showAppCatalog()) {
      @if (ready()) {
        <iframe #installerWindow class="eav-app-catalog-iframe" [src]="remoteInstallerUrl"></iframe>
      }
    }
  </div>
  <mat-dialog-actions align="end">
    <app-save-close-button-fab
      [ngClass]="!canSave() ? 'disabled' : ''"
      [disabled]="!canSave()"
      [label]="'Create and close (ctrl + enter)'"
      (action)="createAndClose()"
    ></app-save-close-button-fab>
  </mat-dialog-actions>
</div>
