<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Create App</div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="eav-dialog-content">
    <router-outlet></router-outlet>
    <form [formGroup]="form">
      <mat-form-field color="accent" class="eav-mat-form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <app-field-hint> App name will also be used for the folder </app-field-hint>
      @if (form.controls.name.touched) {
        @if (form.controls.name.errors?.required) {
          <app-field-hint [isError]="true"> Required </app-field-hint>
        }
        @if (form.controls.name.errors?.pattern) {
          <app-field-hint [isError]="true">
            {{ appNameError }}
          </app-field-hint>
        }
      }
      <br />
      <mat-radio-group formControlName="appTemplateId" required (change)="onTemplateChange($event)">
        <mat-radio-button [value]="1">Use Template</mat-radio-button>
        <mat-radio-button [value]="0">Completely new / empty App</mat-radio-button>
      </mat-radio-group>
    </form>

    @if (showAppCatalog()) {
      @if (ready()) {
        <iframe #installerWindow class="eav-app-catalog-iframe" [src]="remoteInstallerUrl"></iframe>
      }
    }
  </div>
  <mat-dialog-actions align="end">
    <button type="button" mat-raised-button [disabled]="loading()" (click)="closeDialog()">Cancel</button>
    <button type="button" mat-raised-button class="eav-action-button" [disabled]="loading() || !canCreate()" (click)="create()">
      Create
    </button>
  </mat-dialog-actions>
</div>
