<ng-container *ngIf="viewModel$ | async as vm">
  <div class="eav-dialog">
    <div class="eav-dialog-header">
      <div class="eav-dialog-header__title">Create App</div>
    </div>
    <div class="eav-dialog-content">
      <router-outlet></router-outlet>
      <form [formGroup]="form">
        <mat-form-field color="accent" class="eav-form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <app-field-hint>
          App name will also be used for the folder
        </app-field-hint>
        <ng-container *ngIf="form.controls.name.touched">
          <app-field-hint *ngIf="form.controls.name.errors?.required" [isError]="true">
            Required
          </app-field-hint>
          <app-field-hint *ngIf="form.controls.name.errors?.pattern" [isError]="true">
            {{ appNameError }}
          </app-field-hint>
        </ng-container>
      </form>
    </div>
    <mat-dialog-actions align="end">
      <button type="button" mat-raised-button [disabled]="vm.loading" (click)="closeDialog()">
        Cancel
      </button>
      <button type="button" mat-raised-button color="accent" [disabled]="vm.loading || !form.valid" (click)="create()">
        Create
      </button>
    </mat-dialog-actions>
  </div>
</ng-container>