.my-options-wrapper {
  margin-top: 8px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);

  .my-selected {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

// 2pp: made use of mat-dialog-actions so not needed anymore
// .my-actions {
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   padding: 8px 0px;
// }

.eav-dialog-action-button {
  margin-right: 8px;

  // 2dm: this was so the icon would be aligned correctly, but ATM not used any more
  // .my-button-body {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   .my-button-body-icon {
  //     margin-left: 4px;
  //     margin-top: 6px;
  //   }
  // }
}
