.custom-gps-preview {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: -2px;
}

.custom-gps-preview__text {
  flex-shrink: 0;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-gps-preview__spacer {
  flex-grow: 1;
}

.custom-gps-preview__map-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-gps-preview__map-icon svg {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
