<button (click)="closeDialog()">X</button>

<h1>Administration</h1>

<div>
  <button *ngFor="let tab of tabs; index as i" (click)="changeTab(tab.url)">
    {{ tab.name }}
  </button>
</div>

<div [ngSwitch]="tabPath">
  <app-getting-started *ngSwitchCase="'home'"></app-getting-started>
  <app-data *ngSwitchCase="'data'"></app-data>
  <app-queries *ngSwitchCase="'queries'"></app-queries>
  <app-views *ngSwitchCase="'views'"></app-views>
  <app-web-api *ngSwitchCase="'web-api'"></app-web-api>
  <app-app-configuration *ngSwitchCase="'app'"></app-app-configuration>
  <app-global-settings *ngSwitchCase="'global'"></app-global-settings>
</div>
