@import '../node_modules/@angular/material/theming';
@include mat-core();

// Define azing colors.
$mat-eav-item-dialog-primary: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #bfbfbf,
  700: #808080,
  800: #4d4d4d,
  900: #000000,
  A100: #ffffff,
A200: #ffffff,
  A400: #ffffff,
  A700: #808080,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-eav-item-dialog-secondary: (
  50: #ffffff,
  100: #66baff,
  200: #0087f4,
  300: #007ee6,
  400: #0070cc,
  500: #0062b3,
  600: #005499,
  700: #004680,
  800: #002a4d,
  900: #000000,
  A100: #66baff,
  A200: #0087f4,
  A400: #0070cc,
  A700: #004680,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$editUI-theme-primary: mat-palette($mat-eav-item-dialog-secondary);
$editUI-theme-accent: mat-palette($mat-eav-item-dialog-secondary, A200, A100, A400);
$editUI-theme-warn: mat-palette($mat-red);

$editUI-theme-background: (
    status-bar: map_get($mat-grey, 300),
    app-bar:    map_get($mat-grey, 100),
    background: map_get($mat-grey, 50),
    hover:      rgba(black, 0.04),
    card:       white,
    dialog:     white,
    disabled-button: rgba(black, 0.12),
    raised-button: white,
    focused-button: $dark-focused,
    selected-button: map_get($mat-grey, 300),
    selected-disabled-button: map_get($mat-grey, 400),
    disabled-button-toggle: map_get($mat-grey, 200),
    unselected-chip: map_get($mat-grey, 300),
    disabled-list-option: map_get($mat-grey, 200),
  );

$editUI-light-theme: mat-light-theme(
  $editUI-theme-primary, 
  $editUI-theme-accent, 
  $editUI-theme-warn
);



// @function mat-light-theme($primary, $accent, $warn: mat-palette($mat-red)) {
//   @return (
//     primary: $primary,
//     accent: $accent,
//     warn: $warn,
//     is-dark: false,
//     foreground: $mat-light-theme-foreground,
//     background: $mat-light-theme-background,
//   );
// }

// $mat-light-theme-background: (
//   status-bar: map_get($mat-grey, 300),
//   app-bar:    map_get($mat-grey, 100),
//   background: map_get($mat-grey, 50),
//   hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
//   card:       white,
//   dialog:     white,
//   disabled-button: rgba(black, 0.12),
//   raised-button: white,
//   focused-button: $dark-focused,
//   selected-button: map_get($mat-grey, 300),
//   selected-disabled-button: map_get($mat-grey, 400),
//   disabled-button-toggle: map_get($mat-grey, 200),
//   unselected-chip: map_get($mat-grey, 300),
//   disabled-list-option: map_get($mat-grey, 200),
// );


@include angular-material-theme($editUI-light-theme);

$editUI-typography: mat-typography-config(
    $font-family:   '"Roboto", sans-serif',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(96px, 108px, 300),
    $title:         mat-typography-level(60px, 64px, 300),
    $subheading-2:  mat-typography-level(14px, 20px, 500),
    $subheading-1:  mat-typography-level(16px, 20px, 400),
    $body-2:        mat-typography-level(14px, 20px, 400),
    $body-1:        mat-typography-level(16px, 20px, 400),
    $button:        mat-typography-level(14px, 20px, 500),
    $caption:       mat-typography-level(12px, 16px, 400)
);

// @function mat-typography-config(
//   $font-family:   'Roboto, "Helvetica Neue", sans-serif',
//   $display-4:     mat-typography-level(112px, 112px, 300),
//   $display-3:     mat-typography-level(56px, 56px, 400),
//   $display-2:     mat-typography-level(45px, 48px, 400),
//   $display-1:     mat-typography-level(34px, 40px, 400),
//   $headline:      mat-typography-level(24px, 32px, 400),
//   $title:         mat-typography-level(20px, 32px, 500),
//   $subheading-2:  mat-typography-level(16px, 28px, 400),
//   $subheading-1:  mat-typography-level(15px, 24px, 400),
//   $body-2:        mat-typography-level(14px, 24px, 500),
//   $body-1:        mat-typography-level(14px, 20px, 400),
//   $caption:       mat-typography-level(12px, 20px, 400),
//   $button:        mat-typography-level(14px, 14px, 500),
//   // Line-height must be unit-less fraction of the font-size.
//   $input:         mat-typography-level(inherit, 1.125, 400)
// )

@include angular-material-typography($editUI-typography);
