<div class="editor-active-explorer editor-fancy-scrollbar" *ngIf="queryDef">

  <div class="wrapper">
    <div class="actions">
      <button mat-raised-button class="action" color="accent">Save and run</button>
      <button mat-raised-button class="action">Run</button>
      <button mat-raised-button class="action">Save</button>
    </div>

    <div class="parameters">
      <div class="title">
        <div>Parameters</div>
        <div>
          <button mat-icon-button matTooltip="Edit parameters">
            <mat-icon (click)="editPipelineEntity()">edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Help">
            <mat-icon (click)="openParamsHelp()">info</mat-icon>
          </button>
        </div>
      </div>
      <ul class="values">
        <li *ngFor="let param of queryDef.data.Pipeline.Params?.split('\n')">{{ param }}</li>
      </ul>
    </div>

    <div class="parameters">
      <div class="title">Test Parameters</div>
      <ul class="values">
        <li *ngFor="let param of queryDef.data.Pipeline.TestParameters?.split('\n')">{{ param }}</li>
      </ul>
    </div>

    <div class="parameters" *ngIf="warnings.length">
      <div class="title">
        <span>Warnings</span>
        <mat-icon style="color: red">warning</mat-icon>
      </div>
      <ol class="values">
        <li *ngFor="let warn of warnings">{{ warn }}</li>
      </ol>
    </div>

    <div *ngIf="queryDef.data.Pipeline.Description">
      <div><span>Query Description</span></div>
      <div>{{ queryDef.data.Pipeline.Description }}</div>
    </div>
  </div>
</div>
