.ed-field {
    width: 100%;
    height: 100%;
}

.ed-field__create-icon {
    width: 48px;
    height: 56px;
}

.ed-field__create-icon-hide {
    width: 0;
}

.ed-field__field-short {
    width: calc(100% - 48px);
    max-width: calc(100% - 48px);
}

.ed-field__field {
    width: 100%;
}