<app-entity-default-list [config]="config" [group]="group" [autoCompleteInputControl]="autoCompleteInputControl"
  [isStringFormat]="isStringFormat" [freeTextMode]="freeTextMode" (callAvailableEntities)="setAvailableEntities()">
</app-entity-default-list>

<!-- pick existing entity close-->
<div [hidden]="freeTextMode">
  <div class="ed-field" fxLayout="row" fxLayoutAlign="start end">
    <div
      [ngClass]="(enableCreate && entityType !== '' && chosenEntities.length < 1 && !allowMultiValue) ? 'ed-field__field-short' : 'ed-field__field'">
      <div [hidden]="!(enableAddExisting && (allowMultiValue || (chosenEntities && chosenEntities.length < 1)))">
        <mat-form-field [formGroup]="group" appearance="standard" color="accent" [ngClass]="{
          'mat-form-field-invalid': inputInvalid && touched
        }">
          <input matInput type="text" #autoCompleteInput [placeholder]="getPlaceholder()" [matAutocomplete]="auto"
            [disabled]="disabled" (blur)="setTouched()" (input)="filterSelectionList($event.target.value)">
          <button *ngIf="!enableTextEntry" [disabled]="disabled" type="button" matSuffix mat-icon-button>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <a matSuffix *ngIf="enableTextEntry" (click)="!disabled && freeTextModeChange($event)"
            fxLayoutAlign="center center">
            <button [disabled]="disabled" type="button" mat-icon-button>
              <mat-icon>text_fields</mat-icon>
            </button>
            <button *ngIf="freeTextMode" [disabled]="disabled" type="button" mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
          </a>
          <mat-label [ngClass]="inputInvalid && touched ? 'mat-error' : ''">{{
            allowMultiValue ?
            ('FieldType.Entity.Choose' | translate) : config.field.label}}
            {{config.field.required ? '*': '' }}</mat-label>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
          <mat-option *ngFor="let item of selectEntities" [value]="item.Value"
            [disabled]="isInChosenEntities(item.Value)">
            <span>{{item.Text ? item.Text: item.Value}}</span>
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div
      [ngClass]="(enableCreate && entityType !== '' && chosenEntities.length < 1 && !allowMultiValue) ? 'ed-field__create-icon' : 'ed-field__create-icon-hide'"
      fxLayoutAlign="end center">
      <!-- create new entity to add to this list -->
      <button mat-icon-button *ngIf="enableCreate && entityType !== '' && chosenEntities.length < 1 && !allowMultiValue"
        type="button" (click)="openNewEntityDialog()" [disabled]="disabled || disableAddNew">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- formly-skip-ng-model-attrs-manipulator -->
<mat-form-field *ngIf="freeTextMode" [formGroup]="group" appearance="standard" color="accent">
  <input matInput type="text" [required]='config.field.required' [formControlName]="config.field.name"
    [placeholder]="config.field.placeholder">

  <a matSuffix (click)="!disabled && freeTextModeChange($event)">
    <button [disabled]="disabled" type="button" mat-icon-button>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </a>
  <mat-label>{{config.field.label}}</mat-label>
</mat-form-field>

<div *ngIf="debugEnabled">debug: <span (click)="insertNull()">add null-item</span></div>

<app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

<!-- add new entity -->
<div *ngIf="!freeTextMode && enableCreate && entityType !== '' && allowMultiValue">
  <button mat-mini-fab color="accent" type="button" (click)="openNewEntityDialog()" [disabled]="disabled">
    <mat-icon>add</mat-icon>
  </button>
</div>
