<mat-card *ngIf="templateVars$ | async as data" class="mat-card-group-parent shadow-bottom-z-1">
  <div class="mat-card-header-group-parent" fxLayout="row" fxLayoutAlign="start center">

    <div fxFlex="auto" fxLayoutAlign="start center" (click)="toggleCollapse()">
      <div fxLayoutAlign="start center" class="mat-card-title-group mat-display-1">
        <mat-icon class="title-arrow">
          {{ collapse ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
        </mat-icon>
        <span class="title">
          {{ data.itemTitle || ('ItemCard.DefaultTitle' | translate) }}
        </span>
      </div>
    </div>

    <button #noteTrigger mat-icon-button class="note {{ data.noteProps.triggerClass }}" [disabled]="data.readOnly"
      [tippy]="data.noteProps.tooltip | translate" [tippyDisabled]="data.readOnly || !data.noteProps.tooltip"
      [disableRipple]="data.noteProps.itemNotSaved"
      (pointerenter)="data.noteProps.note ? toggleNote($event, true) : null"
      (click)="data.noteProps.note ? toggleNote() : editNote()" *ngIf="data.showNotes">
      <mat-icon>{{ data.noteProps.iconName }}</mat-icon>
    </button>

    <ng-template #noteTemplate>
      <mat-card class="note-wrapper {{ data.noteProps.noteClass }}" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
        cdkDragBoundary="body" (pointerdown)="noteTouched = true"
        (pointerleave)="noteTouched ? null : toggleNote($event, false)">
        <div class="note-actions" cdkDragHandle>
          <button mat-icon-button appMousedownStopPropagation (click)="editNote(data.noteProps.note)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button appMousedownStopPropagation (click)="deleteNote(data.noteProps.note)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button appMousedownStopPropagation (click)="toggleNote($event, false)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="note-content hide-scrollbar" [innerHtml]="data.noteProps.noteHtml | safeHtml"></div>
      </mat-card>
    </ng-template>

    <mat-slide-toggle class="empty-slot-toggle" *ngIf="data.slotCanBeEmpty" (change)="toggleSlotIsEmpty(data.header)"
      [checked]="!data.slotIsEmpty" [disabled]="data.readOnly || (data.currentLanguage !== data.defaultLanguage)"
      [tippy]="(!data.slotIsEmpty ? 'ItemCard.SlotUsedTrue' : 'ItemCard.SlotUsedFalse') | translate"
      [tippyDisabled]="data.readOnly || (data.currentLanguage !== data.defaultLanguage)">
    </mat-slide-toggle>

    <div class="icon-box" [tippy]="data.itemForTooltip" *ngIf="data.showMetadataFor && data.itemForTooltip">
      <mat-icon>local_offer</mat-icon>
    </div>

    <button mat-icon-button [tippy]="'Form.Buttons.History.Tip' | translate" *ngIf="eavService.eavConfig.enableHistory"
      [disabled]="data.readOnly" (click)="openHistory()">
      <mat-icon>history</mat-icon>
    </button>

    <app-entity-translate-menu fxLayoutAlign="end center" [entityGuid]="entityGuid">
    </app-entity-translate-menu>
  </div>

  <mat-card-content class="mat-card-content-group-parent" [style.display]="collapse ? 'none' : 'block'">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12 mat-body-1" align="start" *ngIf="data.editInstructions">
          <div class="description" appChangeAnchorTarget [innerHtml]="data.editInstructions | safeHtml"></div>
        </div>
        <div class="mdc-layout-grid__cell--span-12">
          <ng-container appFieldsBuilder [group]="group"></ng-container>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
