$border-radius: 8px;

.mat-card-group-parent {
  padding: 0;
  margin: 0;
  border-radius: $border-radius;

  @media (max-width: 600px) {
    border-radius: 4px;
  }
}

.mat-card-header-group-parent {
  padding: 24px 32px;
  border-radius: $border-radius;
  height: 68px;

  .title-arrow {
    margin-right: 6px;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
  }

  &:not(:hover) .no-note {
    display: none;
  }
}

.mat-card-content-group-parent {
  border-radius: $border-radius;
  padding-bottom: 0;

  .description {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.mat-card-title-group {
  margin: 0;
  cursor: pointer;
  line-height: 20px;
  color: #002753;
}

.mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}

.mdc-layout-grid {
  padding: 16px;
  padding-top: 0;
}

.empty-slot-toggle {
  padding-top: 0;
}

.icon-box {
  user-select: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  &.item-not-saved {
    cursor: default;
  }

  .mat-icon {
    color: #D9CA1F;
  }

  &.has-warning .mat-icon {
    color: #E90000;
  }
}

.note-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 300px;
  max-height: 400px;
  box-sizing: border-box;
  overflow: hidden;

  background-color: #FFF79F;

  &.warning {
    background-color: #FFDEDE;
  }
}

.note-content {
  flex-shrink: 1;
  overflow: auto;
}

.note-actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: move;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
