$border-radius: 8px;

.mat-card-group-parent {
  padding: 0;
  margin: 0;
  border-radius: $border-radius;

  @media (max-width: 600px) {
    border-radius: 4px;
  }
}

.mat-card-header-group-parent {
  padding: 24px 32px;
  border-radius: $border-radius;
  height: 68px;

  .title-arrow {
    margin-right: 6px;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
  }
}

.mat-card-content-group-parent {
  border-radius: $border-radius;
  padding-bottom: 0;

  .description {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.mat-card-title-group {
  margin: 0;
  cursor: pointer;
  line-height: 20px;
  color: #002753;
}

.mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}

.mdc-layout-grid {
  padding: 16px;
  padding-top: 0;
}

.empty-slot-toggle {
  padding-top: 0;
}

.metadata-icon-box {
  user-select: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
