<mat-card *ngIf="templateVars$ | async as data" class="mat-card-group-parent shadow-bottom-z-1">
  <div class="mat-card-header-group-parent" fxLayout="row" fxLayoutAlign="start center">

    <div fxFlex="auto" fxLayoutAlign="start center" (click)="toggleCollapse()">
      <div fxLayoutAlign="start center" class="mat-card-title-group mat-display-1">
        <mat-icon class="title-arrow">
          {{ collapse ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
        </mat-icon>
        <span class="title">
          {{ data.itemTitle || ('ItemCard.DefaultTitle' | translate) }}
        </span>
      </div>
    </div>

    <!-- MatMenu can't be opened conditionally so two buttons are required, one when menu is enabled and one when menu is disabled -->
    <!--
    <button class="note {{ data.noteProps.cssClass }}" mat-icon-button [disabled]="data.readOnly"
      [tippy]="data.noteProps.tooltip | translate" [tippyDisabled]="data.readOnly || !data.noteProps.tooltip"
      [disableRipple]="data.noteProps.itemNotSaved" (click)="editNote()" *ngIf="!data.noteProps.note">
      <mat-icon>{{ data.noteProps.iconName }}</mat-icon>
    </button>
    <button class="note {{ data.noteProps.cssClass }}" mat-icon-button [disabled]="data.readOnly"
      [tippy]="data.noteProps.tooltip | translate" [tippyDisabled]="data.readOnly || !data.noteProps.tooltip"
      (pointerenter)="openNote($event)" (click)="openNote($event)" *ngIf="data.noteProps.note">
      <mat-icon>{{ data.noteProps.iconName }}</mat-icon>
      <div class="note-trigger" [matMenuTriggerFor]="note" #noteTrigger="matMenuTrigger"
        [matMenuTriggerRestoreFocus]="false">
      </div>
    </button>
    <mat-menu #note="matMenu" class="custom-menu hide-scrollbar" [xPosition]="'before'">
      <ng-template matMenuContent>
        <div class="note-wrapper" appClickStopPropagation (pointerleave)="closeNote($event)">
          <div class="note-content hide-scrollbar" [innerHtml]="data.noteProps.noteHtml | safeHtml"></div>
          <div class="note-actions">
            <button mat-button (click)="deleteNote(data.noteProps.note)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button (click)="closeNote($event); editNote(data.noteProps.note)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </mat-menu>
    -->

    <button #overlayTrigger mat-icon-button class="note {{ data.noteProps.triggerClass }}" [disabled]="data.readOnly"
      [tippy]="data.noteProps.tooltip | translate" [tippyDisabled]="data.readOnly || !data.noteProps.tooltip"
      [disableRipple]="data.noteProps.itemNotSaved" (click)="!data.noteProps.note ? editNote() : toggleOverlay()">
      <mat-icon>{{ data.noteProps.iconName }}</mat-icon>
    </button>

    <ng-template #overlayTemplate>
      <mat-card class="note-wrapper {{ data.noteProps.noteClass }}">
        <div class="note-actions">
          <button mat-icon-button (click)="editNote(data.noteProps.note)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleOverlay(false); deleteNote(data.noteProps.note)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleOverlay(false)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="note-content hide-scrollbar" [innerHtml]="data.noteProps.noteHtml | safeHtml"></div>
      </mat-card>
    </ng-template>

    <mat-slide-toggle class="empty-slot-toggle" *ngIf="data.slotCanBeEmpty" (change)="toggleSlotIsEmpty(data.header)"
      [checked]="!data.slotIsEmpty" [disabled]="data.readOnly || (data.currentLanguage !== data.defaultLanguage)"
      [tippy]="(!data.slotIsEmpty ? 'ItemCard.SlotUsedTrue' : 'ItemCard.SlotUsedFalse') | translate"
      [tippyDisabled]="data.readOnly || (data.currentLanguage !== data.defaultLanguage)">
    </mat-slide-toggle>

    <div class="icon-box" [tippy]="data.itemForTooltip" *ngIf="data.itemForTooltip">
      <mat-icon>local_offer</mat-icon>
    </div>

    <button mat-icon-button [tippy]="'Form.Buttons.History.Tip' | translate" *ngIf="eavService.eavConfig.enableHistory"
      [disabled]="data.readOnly" (click)="openHistory()">
      <mat-icon>history</mat-icon>
    </button>

    <app-entity-translate-menu fxLayoutAlign="end center" [entityGuid]="entityGuid">
    </app-entity-translate-menu>
  </div>

  <mat-card-content class="mat-card-content-group-parent" [style.display]="collapse ? 'none' : 'block'">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12 mat-body-1" align="start" *ngIf="data.editInstructions">
          <div class="description" appChangeAnchorTarget [innerHtml]="data.editInstructions | safeHtml"></div>
        </div>
        <div class="mdc-layout-grid__cell--span-12">
          <ng-container appFieldsBuilder [group]="group"></ng-container>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
