$border-radius: 8px;

.mat-card-group-parent {
  padding: 0;
  margin: 0;
  border-radius: $border-radius;

  @media (max-width: 600px) {
    border-radius: 4px;
  }
}

.mat-card-header-group-parent {
  padding: 24px 32px;
  border-radius: $border-radius;
  height: 68px;

  .title-arrow {
    margin-right: 6px;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
  }

  &:not(:hover) .no-note {
    display: none;
  }

  .note {
    &.item-not-saved {
      cursor: default;
    }

    .mat-icon {
      color: rgb(229, 170, 64);
    }

    &.has-warning .mat-icon {
      color: red;
    }
  }
}

.mat-card-content-group-parent {
  border-radius: $border-radius;
  padding-bottom: 0;

  .description {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.mat-card-title-group {
  margin: 0;
  cursor: pointer;
  line-height: 20px;
  color: #002753;
}

.mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}

.mdc-layout-grid {
  padding: 16px;
  padding-top: 0;
}

.empty-slot-toggle {
  padding-top: 0;
}

.icon-box {
  user-select: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-trigger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
  user-select: none;
}

::ng-deep.custom-menu {
  max-width: none !important;
  max-height: none !important;
}

.note-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 400px;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: -8px;
  margin-bottom: -8px;
}

.note-content {
  flex-shrink: 1;
  overflow: auto;
}

.note-actions {
  flex-shrink: 0;
  margin-top: 12px;
  margin-bottom: -8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .mat-button-base &:not(:last-of-type) {
    margin-right: 8px;
  }
}
