// Line for picker containing label and icons
.picker-option-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
}

// Line for picker - the label part, usually a span
.picker-option-label {
  flex: 1 1 auto;
}


/* Initially hide the info div */
.picker-option-wrapper .picker-option-info {
  display: none;
}

/* Display the info div when mat-option is hovered */
.picker-option-wrapper:hover .picker-option-info {
  display: block;
}

.picker-option {
  display: flex;
  align-items: center;
}
