<ng-container *ngIf="{
  loading: loading$ | async,
  inheritableApps: inheritableApps$ | async
} as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">Create inherited App</div>
  </div>

  <router-outlet></router-outlet>

  <p class="dialog-description">
    Create an App which inherits everything (data, views, queries) from a global App. Only Apps which were specifically
    marked for this will be listed here, and these apps must already have been loaded into Cache. If you don't see the
    App you expect, make sure that has happened.
  </p>

  <form [formGroup]="form">
    <mat-form-field color="accent">
      <mat-label>Inherit App</mat-label>
      <mat-select formControlName="inheritId"
        [placeholder]="data.inheritableApps === undefined ? 'Loading...' : data.inheritableApps === null || data.inheritableApps.length === 0 ? 'No inheritable apps found' : ''">
        <mat-option *ngFor="let app of data.inheritableApps" [value]="app.Id">
          {{ app.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-field-hint *ngIf="form.controls.inheritId.touched && form.controls.inheritId.errors?.required"
      [isError]="true">
      Required
    </app-field-hint>
  </form>

  <div class="dialog-component-actions">
    <button type="button" mat-raised-button [disabled]="data.loading" (click)="closeDialog()">
      Cancel
    </button>
    <button type="button" mat-raised-button color="accent" [disabled]="data.loading || !form.valid" (click)="create()">
      Create
    </button>
  </div>
</ng-container>
