<div class="eav-dialog">
  <app-dialog-header (close)="closeDialog()">
    Create inherited App
  </app-dialog-header>
  
  <div class="eav-dialog-content">
    <router-outlet></router-outlet>
    <p>
      Create an App which inherits everything (data, views, queries) from a global App. Only Apps which were
      specifically
      marked for this will be listed here, and these apps must already have been loaded into Cache. If you don't see the
      App you expect, make sure that has happened.
    </p>
    <form [formGroup]="form">
      <mat-form-field color="accent" class="eav-mat-form-field">
        <mat-label>Inherit App</mat-label>
        <mat-select formControlName="inheritId"
          [placeholder]="inheritableApps() === undefined ? 'Loading...' : inheritableApps() === null || inheritableApps().length === 0 ? 'No inheritable apps found' : ''">
          @for (app of inheritableApps(); track app) {
          <mat-option [value]="app.Id">
            {{ app.Name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (form.controls.inheritId.touched && form.controls.inheritId.errors?.required) {
      <app-field-hint [isError]="true">
        Required
      </app-field-hint>
      }
    </form>
  </div>
  <mat-dialog-actions align="end">
    <button type="button"
      mat-raised-button
      class="eav-action-button"
      [disabled]="loading() || !form.valid" (click)="create()"
    >
      Create
    </button>
  </mat-dialog-actions>
</div>
