<!-- <mat-form-field [formGroup]="group" [style.width]="'100%'">
  <input matInput type="text" [id]="id" class="form-control material" [formControlName]="config.name" [placeholder]="config.label"
    [required]="config.required">
</mat-form-field> -->

<!-- !modes.freeTextMode && -->
<div ng-if="config.settings.EnableCreate.values[0].value || chosenEntities.length > 0">
  <!-- {{chosenEntities | json}} {{getEntityText(item)}} -->
  <!-- <span [title]="getEntityText(item)">ante</span> -->
  <div *ngFor="let item of chosenEntities">
    <!-- <i title="" class="eav-icon-link pull-left eav-entityselect-icon" ng-show="!to.settings.Entity.AllowMultiValue"></i> -->
    <span [title]="getEntityText(item)">{{ getEntityText(item) }}</span>
    <!-- edit -->
    <!-- remove -->
    <!-- delete -->
  </div>
</div>