<!-- !modes.freeTextMode && -->
<div *ngIf="enableCreate || (chosenEntities && chosenEntities.length > 0)">
  <div class="dnd-placeholder" #placeholder>
  </div>
  <div [dndList]="dndListConfig" [dndPlaceholder]="placeholder" [dndModel]="chosenEntities">
    <div *ngFor="let item of chosenEntities; let i = index" [dndType]="item.type" [dndDraggable] [dndObject]="item"
      (dndMoved)="removeItem(item, chosenEntities)">
      <div class="dnd-element" fxLayout="row" fxLayoutAlign="start center">
        <span>&nbsp;&nbsp;</span>
        <i title="" class="eav-icon-link pull-left eav-entityselect-icon" *ngIf="allowMultiValue"></i>
        <i title="" class="eav-icon-link pull-left eav-entityselect-icon" *ngIf="!allowMultiValue"></i>
        <span>&nbsp;</span>
        <span [title]="getEntityText(item.name) + ' (' + item.name + ')'">{{getEntityText(item.name)}}</span>
        <!-- dndHandle -->
        <div class="dnd-buttons">
          <button dndNoDrag mat-icon-button *ngIf="enableEdit" type="button" class="dndButtons" (click)="edit(item.name)"
            title="{{ 'FieldType.Entity.Edit' | translate }}" [disabled]="disabled">
            <i class="eav-icon-pencil"></i>
          </button>
          <button dndNoDrag mat-icon-button *ngIf="enableRemove" type="button" class="dndButtons" (click)="removeSlot(item.name, i)"
            title="{{ 'FieldType.Entity.Remove' | translate }}" [disabled]="disabled">
            <i class="{{allowMultiValue ? 'eav-icon-minus-circled' : 'eav-icon-down-dir'}}"></i>
          </button>
          <button dndNoDrag mat-icon-button *ngIf="enableDelete" type="button" class="dndButtons" (click)="deleteItemInSlot(item.name)"
            title="{{ 'FieldType.Entity.Delete' | translate }}" [disabled]="disabled">
            <i class="eav-icon-cancel"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="(chosenEntities && chosenEntities.length > 0)" class="dnd-space"></div> -->
</div>

<!-- pick existing entity close-->
<!-- ng-if="!modes.freeTextMode" -->
<div *ngIf="enableAddExisting && (allowMultiValue || (chosenEntities && chosenEntities.length < 1))">
  <mat-form-field [formGroup]="group" appearance="fill" color="accent">
    <!--(click)="setSelectEntitiesObservables()"  -->
    <input matInput type="text" #autocompleteInput [id]="id" [placeholder]="config.label" [matAutocomplete]="auto"
      [disabled]="disabled" [placeholder]="config.label" [required]="config.required">

    <mat-label>{{config.label}}</mat-label>
    <!-- <mat-hint align="start" *ngIf="config.settings.Notes">{{config.settings.Notes}}</mat-hint> -->
  </mat-form-field>
  <!-- <mat-error *ngIf="inputInvalid">{{ getErrorMessage() | translate:{ param: config.settings } }}</mat-error> -->

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
    <mat-option *ngFor="let item of (selectEntities | async)" [value]="item.Value" [disabled]="isInChosenEntities(item.Value)">
      <span>{{item.Text ? item.Text: item.Value}} {{value}}</span>
    </mat-option>
  </mat-autocomplete>
  <!-- <span ng-if="!error">{{ 'FieldType.EntityQuery.QueryNoItems' | translate }}</span> -->
</div>

<app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

<!-- create new entity to add to this list -->
<button mat-icon-button *ngIf="enableCreate && entityType !== '' && (allowMultiValue || chosenEntities.length < 1)"
  type="button" (click)="openNewEntityDialog()" [disabled]="disabled">
  <i class="eav-icon-plus"></i>
</button>

<!-- TODO: Do we need this ??? -->
<!-- handle free text mode -->
<!-- <input ng-show="modes.freeTextMode" class="form-control input-material material" ng-model="value.Value" formly-skip-ng-model-attrs-manipulator
  type="text">
<a ng-show="to.settings.merged.EnableTextEntry && (to.settings.merged.AllowMultiValue || chosenEntities.length < 1)" class="freetext-toggle input-group-addon icon-field-button icon-field-button-small"
  ng-class="{'active': modes.freeTextMode}" ng-click="modes.freeTextMode = !modes.freeTextMode">

  <span ng-show="modes.freeTextMode" class="eav-icon-down-dir"></span>
  <span ng-show="!modes.freeTextMode" class="eav-icon-i-cursor"></span>
</a> -->