@if (allowText) {
  <span matSuffix class="toggle-buttons">
    @if (showBoth() || isTextMode()) {
      <button
        mat-icon-button
        class="eav-suffix-button"
        [ngClass]="isTextMode() ? '' : 'active'"
        tippyTranslate="Fields.String.Dropdown"
        [disabled]="csDisabled"
        appClickStopPropagation
        (click)="isTextMode() ? toggleFreeText(csDisabled) : null"
      >
        <mat-icon>search</mat-icon>
      </button>
    }
    @if (showBoth() || !isTextMode()) {
      <button
        mat-icon-button
        class="eav-suffix-button"
        [ngClass]="isTextMode() ? 'active' : ''"
        tippyTranslate="Fields.String.Freetext"
        [disabled]="csDisabled"
        appClickStopPropagation
        (click)="isTextMode() ? null : toggleFreeText(csDisabled)"
      >
        <mat-icon>text_fields</mat-icon>
      </button>
    }
  </span>
}
