<h3>WebApi for this App</h3>

<p>Create a WebApi within minutes by placing the source code in the folder
  called API and inheriting the correct interface. Try it out by creating one automatically and pressing here. Read more
  about the
  <a href="http://2sxc.org/en/Docs-Manuals/Feature/feature/3361" target="_blank">WebApi
  </a> or the <a href="http://2sxc.org/en/Docs-Manuals/Feature/feature/3360" target="_blank">C# data editing API</a>.
</p>

<button mat-icon-button matTooltip="Create a new controller" class="not-implemented">
  <mat-icon>add</mat-icon>
</button>
<button mat-icon-button matTooltip="Refresh" class="not-implemented">
  <mat-icon>refresh</mat-icon>
</button>
