<h3>WebApi for this App</h3>

<p class="mat-tab-description">
  Create a WebApi within minutes by placing the source code in the folder
  called API and inheriting the correct interface. Try it out by creating one automatically and pressing here. Read more
  about the <a href="http://2sxc.org/en/Docs-Manuals/Feature/feature/3361" target="_blank">WebApi</a>
  or the <a href="http://2sxc.org/en/Docs-Manuals/Feature/feature/3360" target="_blank">C# data editing API</a>.

  For a quick start, we recommend that you install the WebApi demo-app.
  It contains some WebAPI controllers with various actions and some example views to use these controllers.
  Download <a href="http://2sxc.org/en/Apps/tag/WebApi" target="_blank">WebApi demos in the App-Catalog</a>
  or read more about it in <a href="http://2sxc.org/en/help?tag=webapi" target="_blank">help</a>.
</p>

<button mat-icon-button matTooltip="Create a new controller" class="not-implemented">
  <mat-icon>add</mat-icon>
</button>
<button mat-icon-button matTooltip="Refresh" (click)="fetchWebApis()">
  <mat-icon>refresh</mat-icon>
</button>

<ag-grid-angular class="ag-theme-material" [rowData]="webApis" [columnDefs]="columnDefs" [modules]="modules"
  [frameworkComponents]="frameworkComponents" [enableCellTextSelection]="true" [suppressScrollOnNewData]="true"
  (gridSizeChanged)="onGridSizeChanged($event)" (gridReady)="onGridReady($event)">
</ag-grid-angular>
