<form class="dynamic-form" [formGroup]="form" (ngSubmit)="save($event)" #dynamicForm="ngForm">
  <ng-container appEavField [config]="config" [group]="form">
  </ng-container>
</form>

<!-- <span *ngIf="form && debugEnviroment">
  <button mat-icon-button type="button" (click)="showDebugItems = !showDebugItems">
    <i class="eav-icon-flash"></i>
  </button>
</span>
<div *ngIf="form && debugEnviroment && showDebugItems">
  <div>
    isValid: {{ form.valid }}<br />
  </div>
  <pre>{{ form.value | json }}</pre>
</div> -->