<div class="actions-component">
  <div class="like-button highlight" matRipple matTooltip="Edit" (click)="editQuery()">
    <mat-icon>edit</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="enablePermissions" matTooltip="Permissions"
    (click)="openPermissions()">
    <mat-icon>person</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="!enablePermissions">
    <mat-icon>person</mat-icon>
  </div>

  <div class="like-button highlight" matRipple matTooltip="More" (click)="openMoreDialog(moreTemplate, 3)">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<ng-template #moreTemplate>
  <button mat-icon-button matTooltip="Copy" (click)="cloneQuery()">
    <mat-icon>file_copy</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Export" (click)="exportQuery()">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Delete" (click)="deleteQuery()">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
