<mat-card *ngIf="templateVars$ | async as data" class="translate-menu-dialog-card u-hide-scrollbar">
  <div class="mat-card__header">
    <div class="mat-card__title">
      {{ 'LangMenu.Dialog.Title' | translate: { name: dialogData.config.fieldName } }}
    </div>
    <div class="mat-card__description">
      {{ 'LangMenu.Dialog.Intro' | translate }}
    </div>
  </div>

  <mat-nav-list toggle>
    <ng-container
      *ngTemplateOutlet="item;context:{ link: TranslationLinks.DontTranslate, icon: 'lock', i18nKey: I18nKeys.NoTranslate }">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="item;context:{ link: TranslationLinks.Translate, icon: 'lock_open', i18nKey: I18nKeys.FromPrimary }">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="item;context:{ link: TranslationLinks.LinkCopyFrom, icon: 'translate', i18nKey: I18nKeys.FromOther }">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="item;context:{ link: TranslationLinks.LinkReadOnly, icon: 'link', i18nKey: I18nKeys.LinkReadOnly }">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="item;context:{ link: TranslationLinks.LinkReadWrite, icon: 'share', i18nKey: I18nKeys.LinkShared }">
    </ng-container>
  </mat-nav-list>

  <ng-template #item let-icon="icon" let-link='link' let-i18nKey="i18nKey">
    <mat-list-item [ngClass]="{ 'mat-list-item-focus': data.translationState.linkType === link }"
      (click)="setLinkType(link)">

      <mat-icon matListIcon color="accent">{{ icon }}</mat-icon>
      <div matLine class="mat-list-item__title">
        {{ ('LangMenu.Dialog.' + i18nKey + '.Title') | translate : { primary: data.defaultLanguage } }}
      </div>
      <div matLine class="mat-list-item__body">
        {{ ('LangMenu.Dialog.' + i18nKey + '.Body') | translate : { primary: data.defaultLanguage } }}
      </div>
    </mat-list-item>
  </ng-template>

  <div *ngIf="data.showLanguageSelection">
    <div class="mat-card__header">
      <div class="mat-card__title">
        {{ (data.i18nRoot + '.Subtitle') | translate }}
      </div>
      <div class="mat-card__description">
        {{'LangMenu.Dialog.PickLanguageIntro' | translate }}
      </div>
    </div>

    <mat-action-list>
      <button mat-list-item *ngFor="let language of data.languages" (click)="setLanguage(language.key)"
        [disabled]="language.disabled" [ngClass]="{
        'mat-list-item-focus': data.translationState.language === language.key,
        'mat-list-item--disabled': language.disabled
      }">
        <mat-icon matListIcon color="accent">language</mat-icon>
        {{ language.key }}
      </button>
    </mat-action-list>
  </div>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="accent" [disabled]="data.submitDisabled" (click)="save()">OK</button>
  </mat-dialog-actions>
</mat-card>
