<div class="actions-component">
  @if (!data.EditInfo.DisableEdit || data.Properties) {
    <a
      [href]="params.urlTo('createUpdateMetaData', data)"
      class="eav-grid-action-button default-link highlight"
      matRipple
      tippy="Description and more"
    >
      <mat-icon>edit</mat-icon>
    </a>
  } @else {
    <div class="eav-grid-action-button disabled">
      <mat-icon>edit</mat-icon>
    </div>
  }

  @if (!data.EditInfo.DisableMetadata) {
    <a
      [href]="params.urlTo('openMetadata', data)"
      class="eav-grid-action-button default-link highlight"
      matRipple
      tippy="Metadata"
    >
      <mat-icon
        [matBadge]="data.Metadata.length"
        matBadgePosition="below after"
        matBadgeSize="small"
        [matBadgeHidden]="!data.Metadata.length"
        aria-hidden="false"
      >
        local_offer
      </mat-icon>
    </a>
  } @else {
    <div class="eav-grid-action-button disabled">
      <mat-icon
        [matBadge]="data.Metadata.length"
        matBadgePosition="below after"
        matBadgeSize="small"
        matBadgeDisabled="true"
        [matBadgeHidden]="!data.Metadata.length"
        aria-hidden="false"
      >
        local_offer
      </mat-icon>
    </div>
  }

  @if (!data.EditInfo.DisableEdit && enablePermissions) {
    <a
      [href]="params.urlTo('openPermissions', data)"
      class="eav-grid-action-button default-link highlight"
      matRipple
      tippy="Permissions"
    >
      <mat-icon
        [matBadge]="data.Permissions.Count"
        matBadgePosition="below after"
        matBadgeSize="small"
        [matBadgeHidden]="!data.Permissions.Count"
        aria-hidden="false"
      >
        person</mat-icon
      >
    </a>
  } @else {
    <div class="eav-grid-action-button disabled">
      <mat-icon
        [matBadge]="data.Permissions.Count"
        matBadgePosition="below after"
        matBadgeSize="small"
        matBadgeDisabled="true"
        [matBadgeHidden]="!data.Permissions.Count"
        aria-hidden="false"
      >
        person
      </mat-icon>
    </div>
  }

  <div
    class="eav-grid-action-button highlight"
    matRipple tippy="More"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <ng-template matMenuContent>
    <a
      [href]="params.urlTo('editContentType', data)"
      mat-menu-item
      [disabled]="data.EditInfo.DisableRename"
    >
      <mat-icon>settings</mat-icon>
      <span>Rename</span>
    </a>
    <a mat-menu-item [href]="params.urlTo('openRestApi', data)">
      <mat-icon svgIcon="code-curly"></mat-icon>
      <span>REST API</span>
    </a>
    <button mat-menu-item (click)="params.do('typeExport', data)">
      <mat-icon>cloud_download</mat-icon>
      <span>Export content type</span>
    </button>
    <a mat-menu-item [href]="params.urlTo('dataExport', data)">
      <mat-icon>cloud_download</mat-icon>
      <span>Export data</span>
    </a>
    <a mat-menu-item [href]="params.urlTo('dataImport', data)">
      <mat-icon>cloud_upload</mat-icon>
      <span>Import data</span>
    </a>
    <button
      mat-menu-item
      [disabled]="data.EditInfo.DisableDelete"
      (click)="params.do('deleteContentType', data)"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
