<div class="actions-component">
  @if (!contentType.EditInfo.DisableEdit || contentType.Properties) {
    <div class="eav-grid-action-button highlight" matRipple
      tippy="Description and more"
      (click)="createOrEditMetadata()">
      <mat-icon>edit</mat-icon>
    </div>
  }
  @if (contentType.EditInfo.DisableEdit && !contentType.Properties) {
    <div class="eav-grid-action-button disabled">
      <mat-icon>edit</mat-icon>
    </div>
  }

  @if (!contentType.EditInfo.DisableMetadata) {
    <div class="eav-grid-action-button highlight" matRipple tippy="Metadata"
      (click)="openMetadata()">
      <mat-icon [matBadge]="contentType.Metadata.length" matBadgePosition="below after" matBadgeColor="accent"
        matBadgeSize="small" [matBadgeHidden]="!contentType.Metadata.length" aria-hidden="false">
        local_offer
      </mat-icon>
    </div>
  }
  @if (contentType.EditInfo.DisableMetadata) {
    <div class="eav-grid-action-button disabled">
      <mat-icon [matBadge]="contentType.Metadata.length" matBadgePosition="below after" matBadgeColor="accent"
        matBadgeSize="small" matBadgeDisabled="true" [matBadgeHidden]="!contentType.Metadata.length" aria-hidden="false">
        local_offer
      </mat-icon>
    </div>
  }

  @if (!contentType.EditInfo.DisableEdit && enablePermissions) {
    <div class="eav-grid-action-button highlight" matRipple
      tippy="Permissions" (click)="openPermissions()">
      <mat-icon [matBadge]="contentType.Permissions.Count" matBadgePosition="below after" matBadgeColor="accent"
        matBadgeSize="small" [matBadgeHidden]="!contentType.Permissions.Count" aria-hidden="false">
      person</mat-icon>
    </div>
  }
  @if (contentType.EditInfo.DisableEdit || !enablePermissions) {
    <div class="eav-grid-action-button disabled">
      <mat-icon [matBadge]="contentType.Permissions.Count" matBadgePosition="below after" matBadgeColor="accent"
        matBadgeSize="small" matBadgeDisabled="true" [matBadgeHidden]="!contentType.Permissions.Count"
        aria-hidden="false">
      person</mat-icon>
    </div>
  }

  <div class="eav-grid-action-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <ng-template matMenuContent>
    <button mat-menu-item [disabled]="contentType.EditInfo.DisableRename" (click)="editContentType()">
      <mat-icon>settings</mat-icon>
      <span>Rename</span>
    </button>
    <button mat-menu-item (click)="openRestApi()">
      <mat-icon svgIcon="code-curly"></mat-icon>
      <span>REST API</span>
    </button>
    <button mat-menu-item (click)="exportType()">
      <mat-icon>cloud_download</mat-icon>
      <span>Export content type</span>
    </button>
    <button mat-menu-item (click)="openDataExport()">
      <mat-icon>cloud_download</mat-icon>
      <span>Export data</span>
    </button>
    <button mat-menu-item (click)="openDataImport()">
      <mat-icon>cloud_upload</mat-icon>
      <span>Import data</span>
    </button>
    <button mat-menu-item [disabled]="contentType.EditInfo.DisableDelete" (click)="deleteContentType()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>