<div class="actions-component">
  @if (!contentType.EditInfo.DisableEdit || contentType.Properties) {
    <a [href]="urlTo('createUpdateMetaData')" class="eav-grid-action-button default-link highlight" matRipple tippy="Description and more">
      <mat-icon>edit</mat-icon>
    </a>
  } @else {
    <div class="eav-grid-action-button disabled">
      <mat-icon>edit</mat-icon>
    </div>
  }

  @if (!contentType.EditInfo.DisableMetadata) {
    <a [href]="urlTo('openMetadata')" class="eav-grid-action-button default-link highlight" matRipple tippy="Metadata">
      <mat-icon
        [matBadge]="contentType.Metadata.length"
        matBadgePosition="below after"
        matBadgeColor="accent"
        matBadgeSize="small"
        [matBadgeHidden]="!contentType.Metadata.length"
        aria-hidden="false"
      >
        local_offer
      </mat-icon>
    </a>
  }
  @else {
    <div class="eav-grid-action-button disabled">
      <mat-icon
        [matBadge]="contentType.Metadata.length"
        matBadgePosition="below after"
        matBadgeColor="accent"
        matBadgeSize="small"
        matBadgeDisabled="true"
        [matBadgeHidden]="!contentType.Metadata.length"
        aria-hidden="false"
      >
        local_offer
      </mat-icon>
    </div>
  }

  @if (!contentType.EditInfo.DisableEdit && enablePermissions) {
    <a [href]="urlTo('openPermissions')" class="eav-grid-action-button default-link highlight" matRipple tippy="Permissions">
      <mat-icon
        [matBadge]="contentType.Permissions.Count"
        matBadgePosition="below after"
        matBadgeColor="accent"
        matBadgeSize="small"
        [matBadgeHidden]="!contentType.Permissions.Count"
        aria-hidden="false"
      >
        person</mat-icon
      >
    </a>
  }
  @else {
    <div class="eav-grid-action-button disabled">
      <mat-icon
        [matBadge]="contentType.Permissions.Count"
        matBadgePosition="below after"
        matBadgeColor="accent"
        matBadgeSize="small"
        matBadgeDisabled="true"
        [matBadgeHidden]="!contentType.Permissions.Count"
        aria-hidden="false"
      >
        person
      </mat-icon>
    </div>
  }

  <div class="eav-grid-action-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <ng-template matMenuContent>
    <a mat-menu-item [disabled]="contentType.EditInfo.DisableRename" [href]="urlTo('editContentType')">
      <mat-icon>settings</mat-icon>
      <span>Rename</span>
    </a>
    <a mat-menu-item [href]="urlTo('openRestApi')">
      <mat-icon svgIcon="code-curly"></mat-icon>
      <span>REST API</span>
    </a>
    <button mat-menu-item (click)="do('typeExport')">
      <mat-icon>cloud_download</mat-icon>
      <span>Export content type</span>
    </button>
    <a mat-menu-item [href]="urlTo('dataExport')">
      <mat-icon>cloud_download</mat-icon>
      <span>Export data</span>
    </a>
    <a mat-menu-item [href]="urlTo('dataImport')">
      <mat-icon>cloud_upload</mat-icon>
      <span>Import data</span>
    </a>
    <button mat-menu-item [disabled]="contentType.EditInfo.DisableDelete" (click)="do('deleteContentType')">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
