<div class="actions-component">
  <div class="like-button button-publish" [tippy]="value.published ? 'Published' : 'Not published'">
    <mat-icon>{{ value.published ? 'visibility' : 'visibility_off' }}</mat-icon>
  </div>
  <div class="like-button highlight" matRipple [tippy]="metadataTooltip" (click)="openMetadata()">
    <mat-icon [matBadge]="metadataCount > 0 ? metadataCount : null" matBadgePosition="below after"
      matBadgeColor="accent" matBadgeSize="small">
      {{ value.metadata ? 'loyalty' : 'local_offer' }}
    </mat-icon>
  </div>
</div>
