.button-publish {
  cursor: default !important;

  .mat-icon {
    color: initial !important;
  }
}

.hide-until-row-hover {
  visibility: hidden;
}

::ng-deep .ag-row-hover .hide-until-row-hover {
  visibility: visible;
}
