<div class="actions-component">
  <div class="like-button icon" [ngClass]="{ 'disabled': item._EditInfo.ReadOnly }"
    [tippy]="value.published ? 'Published' : 'Not published'">
    <mat-icon>{{ value.published ? 'visibility' : 'visibility_off' }}</mat-icon>
  </div>

  <div class="like-button highlight" [ngClass]="{ 'hide-until-row-hover': metadataCount === 0 && !value.metadata }"
    matRipple [tippy]="metadataTooltip" (click)="openMetadata()">
    <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small"
      [matBadgeHidden]="metadataCount === 0">
      {{ value.metadata ? 'loyalty' : 'local_offer' }}
    </mat-icon>
  </div>
</div>
