<mat-form-field [formGroup]="group" appearance="fill" color="accent">
    <input matInput type="text" class="form-control material" [formControlName]="config.currentFieldConfig.name"
        (blur)="clean(config.currentFieldConfig.name, true)" [placeholder]="config.currentFieldConfig.label"
        [required]='config.currentFieldConfig.required'>
    <mat-label>{{config.currentFieldConfig.label}}</mat-label>
</mat-form-field>
<app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
