@if (viewModel$ | async; as vm) {
  <div class="json-field" [ngClass]="{
    'disabled': controlStatus().disabled,
    'focused': vm.focused,
    'error': controlStatus().touchedAndInvalid
    }">
    <mat-label class="label">{{ basics().label }} {{ basics().required ? '*' : '' }}</mat-label>
    <app-monaco-editor class="editor" [ngStyle]="{ 'height': vm.editorHeight }" [filename]="filename"
      [value]="controlStatus().value" (valueChanged)="codeChanged($event)" [options]="monacoOptions"
      [jsonSchema]="vm.jsonSchema" [jsonComments]="vm.jsonComments" (focused)="onFocused()" (blurred)="onBlurred()">
    </app-monaco-editor>
    @if (!controlStatus().value && basics().placeholder) {
      <input class="placeholder eav-translate-on-dblclick" [placeholder]="basics().placeholder">
    }
  </div>
  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
}
