<mat-card>
  <mat-card-header>
    <mat-card-title>Features in Use, but not Licensed</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Some features are used but not licensed. 
      Please contact your account manager to get them licensed.
    </p>
    @for (f of features(); track f.nameId) {
      <app-feature-details-dialog [specs]="{ feature: f, showGuid: false, showStatus: true, showClose: false }"></app-feature-details-dialog>
    }
  </mat-card-content>
  <!-- Footer - empty for now, but gives a bit of space, add buttons if needed -->
  <mat-card-actions align="end">
  </mat-card-actions>
</mat-card>