<mat-form-field color="accent" class="eav-mat-form-field">
  <mat-label>{{ basics().label }}</mat-label>
  <!-- Visible Input-Field when both Date & Time Picker (no Picker) -->
  <!-- Also Responsible for formatting the dateTimeValue() -->
  @if (useTimePicker()) {
    <input
      matInput
      #dateTimeInput
      [disabled]="ui().disabled"
      [required]="basics().required"
      [value]="formatDateTime(dateTimeValue())"
      (change)="handleDateTimeInput($event)"
      [placeholder]="basics().placeholder || 'YYYY-MM-DD HH:MM:SS'"
    />
  }

  <!-- Material DatePicker -->
  <!-- Toggle for Dropdown -->
  <!-- Input visible when TimePicker isn't used -->
  <input
    matInput
    [disabled]="ui().disabled"
    [class.hidden-picker-input]="useTimePicker()"
    [required]="basics().required"
    [matDatepicker]="datepicker"
    [value]="dateTimeValue()"
    [placeholder]="basics().placeholder"
    (dateChange)="updateDate($event)"
  />
  <mat-datepicker #datepicker xPosition="end" />
  <mat-datepicker-toggle [for]="datepicker" matSuffix tippyTranslate="Fields.DateTime.OpenCalender" />

  <!-- Material TimePicker -->
  <!-- Toggle for Dropdown -->
  <!-- Input not visible at all times -->
  @if (useTimePicker()) {
    <ng-container matSuffix>
      <!-- Hidden input for Angular Material Time Picker -->
      <input
        matInput
        [disabled]="ui().disabled"
        [required]="basics().required"
        [matTimepicker]="timepicker"
        class="hidden-picker-input"
        [value]="dateTimeValue()"
        [placeholder]="basics().placeholder"
        (input)="updateTime($event)"
      />
      <mat-timepicker #timepicker [options]="timePickerOptions()" />
      <mat-timepicker-toggle [disabled]="ui().disabled" [for]="timepicker" tippyTranslate="Fields.DateTime.OpenTime" />
    </ng-container>
  }
</mat-form-field>
<app-field-helper-text></app-field-helper-text>