<mat-form-field color="accent" class="eav-mat-form-field">
  <mat-label>Date & Time</mat-label>
  <!-- Visible input for OWL picker -->
  <input
    matInput
    [disabled]="ui().disabled"
    [owlDateTime]="owlPicker"
    (dateTimeChange)="updateDateTime($event)"
    [placeholder]="basics().placeholder"
    [required]="basics().required"
    [value]="dateTimeValue()"
  />
  <!-- <mat-datepicker-toggle matSuffix [owlDateTimeTrigger]="owlPicker" tippyTranslate="Fields.DateTime.Open" /> -->
  <owl-date-time #owlPicker></owl-date-time>
  
  <!-- Hidden input for Angular Material Date Picker -->
  <input
    matInput
    [matDatepicker]="datepicker"
    class="picker-input"
    (dateChange)="updateDate($event)"
    #dateInput
    [value]="dateTimeValue()"
  />
  <!-- [formControl]="dateValue" -->
  <mat-datepicker #datepicker xPosition="end"></mat-datepicker>
  <mat-datepicker-toggle [for]="datepicker" matSuffix tippyTranslate="Fields.DateTime.OpenCalender" />

  @if (useTimePicker()) {
    <ng-container matSuffix>
      <!-- Hidden input for Angular Material Time Picker -->
      <input
        matInput
        [matTimepicker]="timepicker"
        class="picker-input"
        #timeInput
        [value]="dateTimeValue()"
        (input)="onTimeInputChange($event)"
      />
      <!-- [formControl]="timeValue" -->
      <mat-timepicker #timepicker [options]="timePickerOptions()" xPosition="end"></mat-timepicker>
      <mat-timepicker-toggle [for]="timepicker" matSuffix tippyTranslate="Fields.DateTime.OpenTime" />
    </ng-container>
  }
</mat-form-field>
<app-field-helper-text></app-field-helper-text>
