<div mat-dialog-title>
  <div class="dialog-title-box">
    <div>Manage Content / Data</div>
    <button mat-icon-button matTooltip="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<div>
  <button mat-icon-button matTooltip="Add item" (click)="editItem(null)">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Export" (click)="exportContent()">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Import" (click)="importItem()">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Add metadata" (click)="addMetadata()">
    <mat-icon>local_offer</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Refresh" (click)="fetchItems()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Debug filter" (click)="debugFilter()">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<ag-grid-angular class="ag-theme-material" [rowData]="items" [modules]="modules"
  [frameworkComponents]="frameworkComponents" [enableCellTextSelection]="true" [suppressScrollOnNewData]="true"
  [animateRows]="true" [accentedSort]="true" [valueCache]="true" (gridReady)="onGridReady($event)">
</ag-grid-angular>
