/* .field-hints {
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms, 200ms;
    transition-property: opacity, visibility;
    transition-delay: 0, 200ms;
  }
  
  div.mce-edit-focus .field-hints {
    visibility: visible;
    opacity:1;
  } */