<div class="actions-component">
  <div class="like-button highlight" matRipple *ngIf="!contentType.UsesSharedDef" matTooltip="Metadata"
    (click)="createOrEditMetadata()">
    <mat-icon>edit</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="contentType.UsesSharedDef">
    <mat-icon>edit</mat-icon>
  </div>

  <div class="like-button highlight" matRipple matTooltip="Export" (click)="openExport()">
    <mat-icon>cloud_download</mat-icon>
  </div>

  <div class="like-button highlight" matRipple matTooltip="Import" (click)="openImport()">
    <mat-icon>cloud_upload</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="showPermissions" matTooltip="Permissions"
    (click)="openPermissions()">
    <mat-icon>person</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="!showPermissions">
    <mat-icon>person</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="!contentType.UsesSharedDef" (click)="editContentType()"
    matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="contentType.UsesSharedDef">
    <mat-icon>settings</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="!contentType.UsesSharedDef" matTooltip="Delete"
    (click)="deleteContentType()">
    <mat-icon>delete</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="contentType.UsesSharedDef">
    <mat-icon>delete</mat-icon>
  </div>
</div>
