<div class="c-hld-buttons" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap.lt-sm="8px" fxLayoutGap.sm="16px"
  fxLayoutGap.md="16px" fxLayoutGap.gt-md="24px">
  <button mat-mini-fab color="accent" *ngIf="buttons.indexOf('adam') > -1" type="button" [disabled]="disabled"
    (click)="toggleAdam()" matTooltip="{{ 'Edit.Fields.Hyperlink.Default.AdamUploadLabel' | translate }}">
    <mat-icon svgIcon="appleFilled"></mat-icon>
  </button>
  <button mat-mini-fab color="accent" *ngIf="buttons.indexOf('page') > -1" type="button" [disabled]="disabled"
    (click)="openPageDialog()" matTooltip="{{ 'Edit.Fields.Hyperlink.Default.PageLabel' | translate }}">
    <mat-icon svgIcon="sitemap"></mat-icon>
  </button>
  <button mat-mini-fab *ngIf="buttons.indexOf('more') > -1" tabindex="-1" [disabled]="disabled" type="button"
    [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" *ngIf="showAdam" (click)="toggleAdam(false)">
      <mat-icon svgIcon="appleFilled"></mat-icon>
      <span>{{'Edit.Fields.Hyperlink.Default.MenuAdam' | translate }}</span>
    </button>
    <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" *ngIf="config.field.settings.ShowPagePicker"
      (click)="openPageDialog()">
      <mat-icon svgIcon="sitemap"></mat-icon>
      <span>{{'Edit.Fields.Hyperlink.Default.MenuPage' | translate }}</span>
    </button>
    <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" *ngIf="config.field.settings.ShowImageManager"
      (click)="toggleAdam(true, true)">
      <mat-icon svgIcon="file-image"></mat-icon>
      <span>{{'Edit.Fields.Hyperlink.Default.MenuImage' | translate }}</span>
    </button>
    <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" *ngIf="config.field.settings.ShowFileManager"
      (click)="toggleAdam(true, false)">
      <mat-icon svgIcon="file"></mat-icon>
      <span>{{'Edit.Fields.Hyperlink.Default.MenuDocs' | translate }}</span>
    </button>
  </mat-menu>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <mat-card class="mdc-layout-grid__cell--span-12 c-hld--border-radius">
      <mat-form-field [formGroup]="group" appearance="fill" color="accent" class="mat-form-field-hyperlink">
        <input matInput type="text" [formControlName]="config.field.name" [placeholder]="config.field.label"
          [required]="config.field.required" [required]="config.field.required" matTooltip="{{'Edit.Fields.Hyperlink.Default.Tooltip1' | translate }}
      {{'Edit.Fields.Hyperlink.Default.Tooltip2' | translate }}
      ADAM - sponsored with ♥ by 2sic.com" matTooltipPosition="above">
        <mat-label>{{config.field.label}}</mat-label>
        <mat-hint *ngIf="value" align="start" class="c-hld-field-hint">
          <a href="{{link}}" target="_blank" tabindex="-1">
            <span>&nbsp;... {{link.substr(link.lastIndexOf("/"), 100)}}</span>
          </a>
        </mat-hint>
      </mat-form-field>
      <div *ngIf="value && isImage()">
        <div class="c-hld-image-container">
          <img [src]="thumbnailUrl(2)" class="c-hld-image" />
        </div>
      </div>
      <div [ngClass]="{'c-hld-icon': value && !isImage()}"
        [ngStyle]="{'background-image': value && isImage() ? 'url(' + thumbnailUrl(1, true) + ')' : ''}">

        <a *ngIf="value && !isImage()" [href]="link" target="_blank" tabindex="-1" matTooltip="{{tooltipUrl(link)}}"
          matTooltipPosition="right">
          <mat-icon *ngIf="isKnownType()">{{icon()}}</mat-icon>
          <mat-icon *ngIf="!isKnownType()" svgIcon="{{icon()}}"></mat-icon>
        </a>
      </div>
    </mat-card>
  </div>
</div>
