<div *ngIf="(currentLanguage !== defaultLanguage)" fxLayoutAlign="end center">
  <button mat-button fxLayoutAlign="end center" type="button" [matMenuTriggerFor]="rootMenu" color="accent">
    <span>TRANSLATE</span>
  </button>
  <div fxLayoutAlign="end center">
    <span>&nbsp;</span>
    <i class="fas fa-language"></i>
  </div>

  <mat-menu #rootMenu="matMenu" [overlapTrigger]="true">
    <button mat-menu-item type="button" (click)="translateAll()" [ngClass]="translationState.linkType === 'translate' ? 'menu-item-selected' : ''">
      Translate all
    </button>
    <button mat-menu-item type="button" (click)="dontTranslateAll()" [ngClass]="translationState.linkType === 'dontTranslate' ? 'menu-item-selected' : ''">
      Don't translate any
    </button>
    <button mat-menu-item type="button" (click)="openLinkToOtherLanguage()" [ngClass]="translationState.language !== '' ? 'menu-item-selected' : ''">Link
      to other language
    </button>
  </mat-menu>
</div>