@import "../../../../assets/style/variables.scss";
@import "../../../../assets/style/theme/material-colors.scss";

.menu-item-selected {
    background: $edit-ui-selected-option;
}

.eav-localization-lock-open { 
    // color: #228b22; 
    color: green; 
}

.eav-localization { 
    &-translate {
        color: green; 
    }
    &-link-read-only {
        color: blue; 
    }
    &-link-read-write {
        color: red; 
    }
}

.shared-languages {
    position: relative;
    left: -20px;
    top: -10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 16px;
    cursor: default;
    color: rgba($editUI-foreground-color, 0.44);

    &--disabled {
        color: rgba($editUI-foreground-color, 0.24);
    }
}

.shared-languages-container:hover {
    .color__accent {
        color: map_get($mat-eav-item-dialog-secondary, 500);
    }
}
