<ng-container *ngIf="viewModel | async as vm">
  <div [hidden]="freeTextMode">
    <div class="ed-field" fxLayout="row" fxLayoutAlign="start end">
      <div
        [ngClass]="(vm.enableCreate && vm.entityType && !selectedEntities.length && !vm.allowMultiValue) ? 'ed-field__field-short' : 'ed-field__field'">
        <div [hidden]="(!vm.allowMultiValue && selectedEntities.length) || !vm.enableAddExisting">
          <mat-form-field [formGroup]="group" color="accent" [ngClass]="{
            'mat-form-field-invalid': invalid && touched
          }">
            <input matInput #autocomplete [placeholder]="getPlaceholder()" [matAutocomplete]="auto"
              [disabled]="disabled || !vm.enableAddExisting" (focus)="fetchEntities()" (blur)="markAsTouched()"
              (input)="filterSelectionList()" (click)="filterSelectionList()">
            <button mat-icon-button matTextSuffix class="entity-dropdown-button" disableRipple="true"
              [disabled]="disabled || !vm.enableAddExisting" *ngIf="!vm.enableTextEntry">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <div matTextSuffix class="selection-suffix" *ngIf="vm.enableTextEntry">
              <button mat-icon-button [tippy]="'Fields.String.Dropdown' | translate" [disabled]="disabled"
                class="active">
                <mat-icon>search</mat-icon>
              </button>
              <button mat-icon-button [tippy]="'Fields.String.Freetext' | translate" [disabled]="disabled"
                appClickStopPropagation (click)="toggleFreeText()">
                <mat-icon>text_fields</mat-icon>
              </button>
            </div>
            <mat-label [ngClass]="{ 'mat-error': invalid && touched }">
              {{ vm.allowMultiValue ? ('Fields.Entity.Choose' | translate) : label }}
              {{ required ? '*': '' }}
            </mat-label>
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
            <mat-option *ngFor="let item of filteredEntities" [value]="item.Value"
              [disabled]="isOptionDisabled(item.Value)">
              <span>{{ item.Text ? item.Text : item.Value }}</span>
            </mat-option>
          </mat-autocomplete>
        </div>
        <div *ngIf="!vm.enableAddExisting && !selectedEntities.length">
          <mat-form-field color="accent">
            <input matInput [placeholder]="'Fields.Entity.Empty' | translate" disabled>
          </mat-form-field>
        </div>
      </div>
      <div fxLayoutAlign="end center"
        [ngClass]="(vm.enableCreate && vm.entityType && !selectedEntities.length && !vm.allowMultiValue) ? 'ed-field__create-icon' : 'ed-field__create-icon-hide'">
        <!-- create new entity to add to this list -->
        <button mat-icon-button [tippy]="'Fields.Entity.New' | translate" [disabled]="disabled || disableAddNew"
          *ngIf="vm.enableCreate && vm.entityType && !selectedEntities.length && !vm.allowMultiValue"
          (click)="openNewEntityDialog()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-form-field *ngIf="freeTextMode" [formGroup]="group" color="accent">
    <input matInput [required]="required" [formControlName]="config.fieldName" [placeholder]="placeholder">

    <div matTextSuffix class="selection-suffix">
      <button mat-icon-button [tippy]="'Fields.String.Dropdown' | translate" [disabled]="disabled"
        appClickStopPropagation (click)="toggleFreeText()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button [tippy]="'Fields.String.Freetext' | translate" [disabled]="disabled" class="active">
        <mat-icon>text_fields</mat-icon>
      </button>
    </div>
    <mat-label>{{ label }}</mat-label>
  </mat-form-field>

  <div *ngIf="vm.debugEnabled" class="null-box">
    debug: <span class="null-button" tippy="Add null-item" (click)="insertNull()">add null-item</span>
  </div>

  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

  <!-- add new entity -->
  <div *ngIf="!freeTextMode && vm.enableCreate && vm.entityType && vm.allowMultiValue">
    <button mat-mini-fab color="accent" [tippy]="'Fields.Entity.New' | translate" [disabled]="disabled || disableAddNew"
      (click)="openNewEntityDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-container>