<div class="dialog-title-container">
  <h1>Content Type Fields</h1>

  <button mat-icon-button matTooltip="Close dialog" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div>
  <button mat-button type="button" (click)="add()" class="not-implemented">
    <mat-icon>add</mat-icon>
  </button>

  <ag-grid-angular class="ag-theme-material" [rowData]="fields" [columnDefs]="columnDefs" [modules]="modules"
    [frameworkComponents]="frameworkComponents" [enableCellTextSelection]="enableTextSelection" [animateRows]="true"
    (rowDragEnter)="onRowDragEnter($event)" (rowDragEnd)="onRowDragEnd($event)" (rowDragMove)="onRowDragMove($event)"
    (gridSizeChanged)="onGridSizeChanged($event)" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
