$primary-color: #ffffff;
$accent-color: #002753;
$blue-accent-color: #0087f4;
$error-color: #b00030;

$edit-ui-dialog-width: 100vw;
$edit-ui-dialog-max-width: 800px;

$edit-ui-dialog-top-padding: 24px;
$edit-ui-dialog-header-max-height: 52px;
$edit-ui-dialog-max-height: calc(100vh - #{$edit-ui-dialog-top-padding} - #{$edit-ui-dialog-header-max-height} - #{$edit-ui-dialog-top-padding});
$edit-ui-dialog-max-height-mobile: calc(100vh - #{$edit-ui-dialog-header-max-height});

// Debug
$edit-ui-dialog-debug-max-height: 52px;
$debug-info-container-height: 300px;
$debug-info-container-margin: 16px;
$debug-info-container-total-height: calc(#{$debug-info-container-height} + #{$debug-info-container-margin});
$edit-ui-dialog-max-height-with-debug: calc(100vh - #{$edit-ui-dialog-top-padding} - #{$edit-ui-dialog-header-max-height} - #{$edit-ui-dialog-debug-max-height} - #{$edit-ui-dialog-top-padding});
$edit-ui-dialog-max-height-with-debug-mobile: calc(100vh - #{$edit-ui-dialog-header-max-height} - #{$edit-ui-dialog-debug-max-height});

$edit-ui-dialog-border-radius:8px;
$edit-ui-dialog-border-radius-mobile:0px;
$edit-ui-input-border-radius:4px;

$save-button-height:48px;
$save-button-height-mobile:42px;
$save-button-width-compact:48px;
$save-button-width-compact-mobile:42px;
$save-button-width-extended:200px;
$save-button-width-extended-mobile:170px;

// The max-height should also be set in the expandable wrapper animations
$expandable-wrapper-max-height: calc(#{$edit-ui-dialog-max-height} + #{$edit-ui-dialog-header-max-height});
$expandable-wrapper-max-height-mobile: calc(#{$edit-ui-dialog-max-height-mobile} + #{$edit-ui-dialog-header-max-height});

$edit-ui-dialog-background-color: #EFF0F2;

$editUI-foreground-color: #1D273D;
$editUI-disabled-background: rgba($editUI-foreground-color, 0.04);
$editUI-label-disabled-color: rgba($editUI-foreground-color, 0.24);
$editUI-field-disabled-color: rgba($editUI-foreground-color, 0.44);

$edit-ui-selected-option: rgba(#000000, 0.04);

// Field borders
$field-border-color--initial: rgba(0, 0, 0, 0.2);
$field-border-color--hover: rgba(0, 0, 0, 0.4);
$field-border-color--focus: $accent-color;
$field-border-color--disabled:rgba(0, 0, 0, 0.2);
$field-border-color--invalid: $error-color;

// Dropzone
$dropzone-background: rgba($accent-color, 0.44);
$dropzone-active-background: rgba($accent-color, 0.88);

// helper text
$helper-text-padding: 0.54166667em 0 13px 0;
$helper-text-padding--no-hint: 0.54166667em 0 13px 0;
$helper-text-padding--last: 0.54166667em 0 5px 0;
$helper-text-padding--last--no-hint: 0.54166667em 0 5px 0;
