<div class="title-container">
  <h1>Administration</h1>

  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<button mat-button class="tabs" *ngFor="let tab of tabsArray; index as i" (click)="changeTab(tab.url)" [ngClass]="{
  'selected': tabPath === tab.url
}" [matTooltip]="tab.name">
  <mat-icon>{{ tab.icon }}</mat-icon>
  <span>{{ tab.name }}</span>
</button>

<app-getting-started *ngIf="dialogSettings" [hidden]="tabPath !== tabs.home.url"
  [gettingStartedUrl]="dialogSettings.GettingStartedUrl"></app-getting-started>
<app-data *ngIf="tabPath === tabs.data.url" [context]="appAdministrationDialogData.context"></app-data>
<app-queries *ngIf="tabPath === tabs.queries.url" [context]="appAdministrationDialogData.context"></app-queries>
<app-views *ngIf="tabPath === tabs.views.url" [context]="appAdministrationDialogData.context"></app-views>
<app-web-api *ngIf="tabPath === tabs.webApi.url"></app-web-api>
<app-app-configuration *ngIf="tabPath === tabs.app.url"></app-app-configuration>
<app-global-settings *ngIf="tabPath === tabs.global.url"></app-global-settings>
