<button (click)="closeDialog()">X</button>

<h1>Administration</h1>

<div>
  <button *ngFor="let tab of tabsArray; index as i" (click)="changeTab(tab.url)">
    {{ tab.name }}
  </button>
</div>

<app-getting-started *ngIf="tabPath === tabs.home.url && dialogSettings"
  [gettingStartedUrl]="dialogSettings.GettingStartedUrl"></app-getting-started>
<app-data *ngIf="tabPath === tabs.data.url"></app-data>
<app-queries *ngIf="tabPath === tabs.queries.url"></app-queries>
<app-views *ngIf="tabPath === tabs.views.url"></app-views>
<app-web-api *ngIf="tabPath === tabs.webApi.url"></app-web-api>
<app-app-configuration *ngIf="tabPath === tabs.app.url"></app-app-configuration>
<app-global-settings *ngIf="tabPath === tabs.global.url"></app-global-settings>
