<div class="actions-container">
  <div>
    <button mat-button matTooltip="Edit" (click)="editQuery()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button matTooltip="Clone" (click)="cloneQuery()">
      <mat-icon>file_copy</mat-icon>
    </button>
    <button mat-button matTooltip="Export" (click)="exportQuery()">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-button matTooltip="Permissions" (click)="openPermissions()">
      <mat-icon>person</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button matTooltip="Delete" (click)="deleteQuery()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
