<!-- Type Text for String are Default -->

<!-- Type Font Icon -->
@switch (settings().PickerPreviewType) {
  @case ("icon-css") {
    <i class="icon-preview {{ replaceDot(item()?.previewValue) }}"></i>
  }
  <!--  Type SVG Icon -->
  @case ("svg") {
    <img [ngxTippy]="tippyTemplate" class="image-preview" [src]="item().previewValue" [alt]="item().value" />
    <!-- Tippy to Show Big Image -->
    <div #tippyTemplate class="tippy-custom">
      <img class="image-tippy" [src]="item().previewValue" [alt]="item().value" />
    </div>
  }
  <!-- Type Image -->
  @case ("image") {
    <!-- TODO: @2dg Image  -->
    <img [ngxTippy]="tippyTemplate" class="image-preview" src="https://picsum.photos/seed/picsum/200/300" [alt]="item().value" />
    <!-- Tippy to Show Big Image -->
    <div #tippyTemplate class="tippy-custom">
      <img class="image-tippy" src="https://picsum.photos/seed/picsum/200/300" [alt]="item().value" />
    </div>
  }
}
