@use "../styles/picker-options.scss";

.icon-preview {
  display: flex;
  height: 18px;
  margin-right: 8px;
}

.image-preview {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
}

::ng-deep {
  .tippy-content {
    padding: 6px !important;
  }
}

.tippy-custom {
  background-color: white !important;
  .image-tippy {
    width: 140px;
    height: 140px;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
  }
}
