@if (language().current !== language().primary || translatePrimaryLanguage()) {
  <div>
    <button mat-button [disabled]="readOnly().isReadOnly || slotIsEmpty()" [matMenuTriggerFor]="menu">
      <span class="my-flex-inside">
        {{ 'LangMenu.Translate' | translate | uppercase }}
        &nbsp;&nbsp;
        <mat-icon class="eav-translate-icon">translate</mat-icon>
      </span>
    </button>
    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="unlockAll()">{{ 'LangMenu.TranslateAll' | translate }}</button>
        <button mat-menu-item (click)="autoTranslateMany()">
          {{ 'LangMenu.AutoTranslateAll' | translate }}
          <app-feature-icon-indicator [featureNameId]="'EditUiTranslateWithGoogle'"></app-feature-icon-indicator>
        </button>
        <button mat-menu-item (click)="lockAll()">{{ 'LangMenu.NoTranslateAll' | translate }}</button>
      </ng-template>
    </mat-menu>
  </div>
}
