<div class="alert alert-info scope-info"
  *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global || dialogSettings.Context.App.SettingsScope === AppScopes.Site">
  <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global">
    This is the Global App. Anything configured here will affect all Sites and Apps in this installation.
  </ng-container>
  <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Site">
    This is the Content App of this Site. It is the primary app so you can also configure sitewide settings and
    resources here.
  </ng-container>
  See <a href="https://r.2sxc.org/settings" target="_blank">docs</a>.
</div>

<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Settings</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>settings</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      Settings are configurations used by the app - like SQL-connection strings, default "items-to-show" numbers and
      things like that. They can also be multi-language, so that a setting (like default RSS-Feed) could be different in
      each language.
    </mat-card-content>
    <mat-card-actions>
      <div class="actions-row">
        <button mat-button (click)="analyze(AnalyzeParts.Settings)">
          <mat-icon>manage_search</mat-icon>
          <span>Analyze</span>
        </button>
        <button mat-button (click)="edit(eavConstants.contentTypes.settings)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-button (click)="config(eavConstants.contentTypes.settings)">
          <mat-icon>dns</mat-icon>
          <span>Fields</span>
        </button>
      </div>
      <!-- Global System Settings on Default App -->
      <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global">
        <div class="actions-row">
          <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)">
            <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
              [matBadge]="appSystemSettingsExists ? 1 : null">
              edit
            </mat-icon>
            <span>Global SystemSettings</span>
          </button>
        </div>
      </ng-container>
      <!-- App and Site System Settings on Content App -->
      <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Site">
        <div class="actions-row">
          <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)">
            <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
              [matBadge]="appSystemSettingsExists ? 1 : null">
              edit
            </mat-icon>
            <span>App SystemSettings</span>
          </button>
        </div>
        <div class="actions-row">
          <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.Site)">
            <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
              [matBadge]="siteSystemSettingsExists ? 1 : null">
              edit
            </mat-icon>
            <span>Site SystemSettings</span>
          </button>
        </div>
        <div class="actions-row">
          <button mat-button (click)="openGlobalSettings()">
            <mat-icon>open_in_new</mat-icon>
            <span>Go to Global SystemSettings</span>
          </button>
        </div>
      </ng-container>
      <!-- App System Settings on normal Apps -->
      <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.App">
        <div class="actions-row">
          <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)">
            <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
              [matBadge]="appSystemSettingsExists ? 1 : null">
              edit
            </mat-icon>
            <span>App SystemSettings</span>
          </button>
        </div>
        <div class="actions-row">
          <button mat-button (click)="openSiteSettings()">
            <mat-icon>open_in_new</mat-icon>
            <span>Go to Site SystemSettings</span>
          </button>
        </div>
        <div class="actions-row">
          <button mat-button (click)="openGlobalSettings()">
            <mat-icon>open_in_new</mat-icon>
            <span>Go to Global SystemSettings</span>
          </button>
        </div>
      </ng-container>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Language Resources (i18n)</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>translate</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      Resources are used for labels and things like that in the App. They are usually needed to create multi-lingual
      views and such, and should not be used for App-Settings.
    </mat-card-content>
    <mat-card-actions>
      <div class="actions-row">
        <button mat-button (click)="analyze(AnalyzeParts.Resources)">
          <mat-icon>manage_search</mat-icon>
          <span>Analyze</span>
        </button>
        <button mat-button (click)="edit(eavConstants.contentTypes.resources)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-button (click)="config(eavConstants.contentTypes.resources)">
          <mat-icon>dns</mat-icon>
          <span>Fields</span>
        </button>
      </div>
      <!-- Global System Resources on Default App -->
      <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global">
        <div class="actions-row">
          <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)">
            <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
              [matBadge]="appSystemResourcesExists ? 1 : null">
              edit
            </mat-icon>
            <span>Global SystemResources</span>
          </button>
        </div>
      </ng-container>
      <!-- App and Site System Resources on Content App -->
      <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Site">
        <div class="actions-row">
          <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)">
            <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
              [matBadge]="appSystemResourcesExists ? 1 : null">
              edit
            </mat-icon>
            <span>App SystemResources</span>
          </button>
        </div>
        <div class="actions-row">
          <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.Site)">
            <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
              [matBadge]="siteSystemResourcesExists ? 1 : null">
              edit
            </mat-icon>
            <span>Site SystemResources</span>
          </button>
        </div>
        <div class="actions-row">
          <button mat-button (click)="openGlobalSettings()">
            <mat-icon>open_in_new</mat-icon>
            <span>Go to Global SystemResources</span>
          </button>
        </div>
      </ng-container>
      <!-- App System Resources on normal Apps -->
      <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.App">
        <div class="actions-row">
          <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)">
            <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
              [matBadge]="appSystemResourcesExists ? 1 : null">
              edit
            </mat-icon>
            <span>App SystemResources</span>
          </button>
        </div>
        <div class="actions-row">
          <button mat-button (click)="openSiteSettings()">
            <mat-icon>open_in_new</mat-icon>
            <span>Go to Site SystemResources</span>
          </button>
        </div>
        <div class="actions-row">
          <button mat-button (click)="openGlobalSettings()">
            <mat-icon>open_in_new</mat-icon>
            <span>Go to Global SystemResources</span>
          </button>
        </div>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>

<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>App Configuration</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>redeem</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      App name, folder, version and more.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="edit(eavConstants.scopes.app.value)">
        <mat-icon>edit</mat-icon>
        <span>Edit Configuration</span>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>App Permissions</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>person</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      Give access to the entire app (all data). Use with care.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="!dialogSettings.Context.Enable.AppPermissions" (click)="openPermissions()">
        <mat-icon matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
          [matBadge]="dialogSettings.Context.App.Permissions.Count ? dialogSettings.Context.App.Permissions.Count : null">
          person
        </mat-icon>
        <span>Edit Permissions</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Export this entire App</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>cloud_download</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      Create an package (zip) which can be installed in another site.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="exportApp()">
        <mat-icon>cloud_download</mat-icon>
        <span>Export App</span>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Export or Import parts of this App</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>import_export</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      Create an xml containing parts of the app, e.g. content and templates.
      Import parts from such an xml into this app.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="exportParts()">
        <mat-icon>cloud_download</mat-icon>
        <span>Export Parts</span>
      </button>
      <button mat-button (click)="importParts()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Import Parts</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>App-State Versioning</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>history_toggle_off</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      You can save / restore the app with data and configuration in <code>.data/app.xml</code>.
      This file can then also be versioned using git.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="exportAppXml()">
        <mat-icon>more_time</mat-icon>
        <span>Save state</span>
      </button>
      <button mat-button (click)="resetApp()">
        <mat-icon>restore</mat-icon>
        <span>Restore state</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
