<div class="alert alert-info scope-info"
  *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global || dialogSettings.Context.App.SettingsScope === AppScopes.Site">
  <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global">
    This is the Global App. Anything configured here will affect all Sites and Apps in this installation.
  </ng-container>
  <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Site">
    This is the Primary App of this Site. You can also configure sitewide settings and resources here.
  </ng-container>
  See <a href="http://r.2sxc.org/settings" target="_blank">docs</a>.
</div>

<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Settings</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>settings</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>
        Settings are things like SQL-connection strings, default "items-to-show" numbers and similar.
        If necessary, settings like a link to an RSS-Feed could be different in each language.
        <a href="http://r.2sxc.org/settings" target="_blank">docs</a>
      </p>

      <table class="settings">
        <thead>
          <tr>
            <th></th>
            <th>System Settings</th>
            <th>Custom Settings</th>
          </tr>
        </thead>
        <tbody>
          <!-- Only show App Settings when not on Global -->
          <tr *ngIf="dialogSettings.Context.App.SettingsScope !== AppScopes.Global">
            <th>{{ dialogSettings.Context.App.Name }}</th>
            <td>
              <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)"
                tippy="Edit app system settings">
                <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appSystemSettings || null">
                  edit
                </mat-icon>
              </button>
            </td>
            <td>
              <button mat-button (click)="edit(eavConstants.contentTypes.settings)" tippy="Edit custom app settings">
                <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appCustomSettings || null">
                  edit
                </mat-icon>
              </button>
              <button mat-button (click)="config(eavConstants.contentTypes.settings)"
                tippy="Configure fields of the custom app settings">
                <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appCustomSettingsFields || null">
                  dns
                </mat-icon>
              </button>
            </td>
          </tr>
          <!-- Only show the Site Settings when we're not on Global -->
          <tr *ngIf="dialogSettings.Context.App.SettingsScope !== AppScopes.Global">
            <th>Site</th>
            <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Site; else elseGotoSite">
              <td>
                <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.Site)"
                  tippy="Edit site system settings">
                  <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="siteSystemSettings || null">
                    edit
                  </mat-icon>
                </button>
              </td>
              <td>
                <mat-icon class="no-select" tippy="This isn't automated yet. Just create a SettingsCustom yourself">
                  help_outline
                </mat-icon>
              </td>
            </ng-container>
          </tr>
          <!-- Global Row - always show -->
          <tr>
            <th>Global</th>
            <!-- Global System Settings should be shown on the Global Default App -->
            <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global; else elseGotoGlobal">
              <td>
                <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)"
                  tippy="Edit global system settings">
                  <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appSystemSettings || null">
                    edit
                  </mat-icon>
                </button>
              </td>
              <td>
                <mat-icon class="no-select" tippy="This isn't automated yet. Just create a SettingsCustom yourself">
                  help_outline
                </mat-icon>
              </td>
            </ng-container>
            <!-- Global Settings - show this when not on the Global Default App -->
          </tr>
        </tbody>
      </table>
    </mat-card-content>

    <mat-card-actions>
      <div class="actions-row">
        <button mat-button (click)="analyze(AnalyzeParts.Settings)" tippy="See the result of combining all settings">
          <mat-icon>manage_search</mat-icon>
          <span>Analyze Combined Settings</span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Language Resources (i18n)</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>translate</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>
        Resources are used for labels and things like that in the App.
        They are usually needed to create multi-lingual views and such, and should not be used for App-Settings.
        <a href="http://r.2sxc.org/settings" target="_blank">docs</a>
      </p>

      <table class="settings">
        <thead>
          <tr>
            <th></th>
            <th>System Resources</th>
            <th>Custom Resources</th>
          </tr>
        </thead>
        <tbody>
          <!-- Only show App Settings when not on Global -->
          <tr *ngIf="dialogSettings.Context.App.SettingsScope !== AppScopes.Global">
            <th>{{ dialogSettings.Context.App.Name }}</th>
            <td>
              <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)"
                tippy="Edit app system resources">
                <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appSystemResources || null">
                  edit
                </mat-icon>
              </button>
            </td>
            <td>
              <button mat-button (click)="edit(eavConstants.contentTypes.resources)" tippy="Edit custom app resources">
                <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appCustomResources || null">
                  edit
                </mat-icon>
              </button>
              <button mat-button (click)="config(eavConstants.contentTypes.resources)"
                tippy="Configure fields of the custom app resources">
                <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appCustomResourcesFields || null">
                  dns
                </mat-icon>
              </button>
            </td>
          </tr>
          <!-- Only show the Site Settings when we're not on Global -->
          <tr *ngIf="dialogSettings.Context.App.SettingsScope !== AppScopes.Global">
            <th>Site</th>
            <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Site; else elseGotoSite">
              <td>
                <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.Site)"
                  tippy="Edit site system resources">
                  <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="siteSystemResources || null">
                    edit
                  </mat-icon>
                </button>
              </td>
              <td>
                <mat-icon class="no-select" tippy="This isn't automated yet. Just create a ResourcesCustom yourself">
                  help_outline
                </mat-icon>
              </td>
            </ng-container>
          </tr>
          <!-- Global Row - always show -->
          <tr>
            <th>Global</th>
            <!-- Global System Settings should be shown on the Global Default App -->
            <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global; else elseGotoGlobal">
              <td>
                <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)"
                  tippy="Edit global system resources">
                  <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appSystemResources || null">
                    edit
                  </mat-icon>
                </button>
              </td>
              <td>
                <mat-icon class="no-select" tippy="This isn't automated yet. Just create a ResourcesCustom yourself">
                  help_outline
                </mat-icon>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions-row">
        <button mat-button (click)="analyze(AnalyzeParts.Resources)" tippy="See the result of combining all resources">
          <mat-icon>manage_search</mat-icon>
          <span>Analyze Combined Resources</span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <!-- Templates which are re-used in the table above -->
  <ng-template #elseGotoSite>
    <td>
      <button mat-button (click)="openSiteSettings()" tippy="Go to site">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </td>
  </ng-template>

  <ng-template #elseGotoGlobal>
    <td>
      <button mat-button (click)="openGlobalSettings()" tippy="Go to global">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </td>
  </ng-template>

</div>

<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>App Configuration</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>redeem</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      App name, folder, version and more.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="edit(eavConstants.contentTypes.appConfiguration)">
        <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appConfigurations || null">
          edit
        </mat-icon>
        <span>Edit Configuration</span>
      </button>
      <button mat-button (click)="openMetadata()">
        <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="appMetadata || null">
          local_offer
        </mat-icon>
        <span>Metadata</span>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>App Permissions</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>person</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      Give access to the entire app (all data). Use with care.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="!dialogSettings.Context.Enable.AppPermissions" (click)="openPermissions()">
        <mat-icon matBadgeColor="accent" matBadgeSize="small"
          [matBadge]="dialogSettings.Context.App.Permissions.Count || null">
          person
        </mat-icon>
        <span>
          Edit Permissions
          <ng-container *ngIf="!dialogSettings.Context.Enable.AppPermissions">
            <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.Global">
              (not available on Global App)
            </ng-container>
            <ng-container *ngIf="dialogSettings.Context.App.SettingsScope === AppScopes.App">
              (not available on Content App)
            </ng-container>
          </ng-container>
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Export this entire App</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>cloud_download</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      Create an package (zip) which can be installed in another site.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="exportApp()">
        <mat-icon>cloud_download</mat-icon>
        <span>Export App</span>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Export or Import parts of this App</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>import_export</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      Create an xml containing parts of the app, e.g. content and templates.
      Import parts from such an xml into this app.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="exportParts()">
        <mat-icon>cloud_download</mat-icon>
        <span>Export Parts</span>
      </button>
      <button mat-button (click)="importParts()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Import Parts</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>App-State Versioning</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>history_toggle_off</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      You can save / restore the app with data and configuration in <code>.data/app.xml</code>.
      This file can then also be versioned using git.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="exportAppXml()">
        <mat-icon>more_time</mat-icon>
        <span>Save state</span>
      </button>
      <button mat-button (click)="resetApp()">
        <mat-icon>restore</mat-icon>
        <span>Restore state</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
