<div class="container" appDragAndDrop [allowedFileTypes]="'zip'" (filesDropped)="filesDropped($event)">
  <app-grid-with-help [helpText]="uxHelpText()" [refresh]="refresh()" [rowLength]="extensions()?.length">
    @if (extensions().length === 0) {
      <p>Create an extension by placing an <code>extension.json</code> file in the <code>app/extensions</code> folder.</p>
    } @else {
      <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-material" [rowData]="extensions()" [gridOptions]="gridOptions">
      </ag-grid-angular>
    }
    <mat-dialog-actions class="eav-dialog-actions">
      <a [href]="urlToUploadExtension()">
        <button mat-button class="eav-button__with-icon" tippy="Upload Extension ZIP" tippyPlacement="top">
          <mat-icon class="eav-icon">upload</mat-icon>
          <span>Upload</span>
        </button>
      </a>
    </mat-dialog-actions>
  </app-grid-with-help>

  <router-outlet></router-outlet>
</div>
