.outer-container {
  padding: 10px 20px;
}

.eav-cards-box {
  display: flex;
  gap: 1rem;

  .extensions-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem 0.75rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}
