<ng-container *ngIf="{
  disabled: disabled$ | async,
  showValidation: showValidation$ | async
} as data">

  <mat-form-field [formGroup]="group" appearance="standard" color="accent" class="textarea-field">
    <textarea matInput [formControlName]="config.field.name" [rows]="rowCount$ | async"
      [placeholder]="placeholder$ | async" [required]="required$ | async"></textarea>
    <mat-label>{{ label$ | async }}</mat-label>
  </mat-form-field>

  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

</ng-container>
