<mat-nav-list toggle>
  <mat-list-item (click)="dontTranslate()" [ngClass]="selectedOption.linkType === 'dontTranslate' ? 'mat-list-item-focus' : ''">
    <span matLine>Don’t Translate</span>
  </mat-list-item>
  <mat-list-item (click)="translate()" [ngClass]="selectedOption.linkType === 'translate' ? 'mat-list-item-focus' : ''">
    <span matLine>Translate ({{data.defaultLanguage}})</span>
  </mat-list-item>
  <mat-list-item (click)="linkCopyFrom()" [ngClass]="selectedOption.linkType === 'linkCopyFrom' ? 'mat-list-item-focus' : ''">
    <span matLine>Translate (...)</span>
  </mat-list-item>
  <mat-list-item (click)="linkReadOnly()" [ngClass]="selectedOption.linkType === 'linkReadOnly' ? 'mat-list-item-focus' : ''">
    <span matLine>Link read-only</span>
  </mat-list-item>
  <mat-list-item (click)="linkReadWrite()" [ngClass]="selectedOption.linkType === 'linkReadWrite' ? 'mat-list-item-focus' : ''">
    <span matLine>Link read-write (shared)</span>
  </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-nav-list toggle *ngIf="showLanguages || selectedOption.language !== ''">
  <mat-list-item *ngFor="let language of languages" (click)="selectLanguage(language.key)" [ngClass]="selectedOption.language === language.key ? 'mat-list-item-focus' : ''">
    <span matLine>{{language.key}}</span>
    <span *ngIf="!hasLanguage(language.key)">Disabled</span>
  </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button (click)="linkOtherLanguage()" color="accent" [disabled]="okButtonDisabled()" [mat-dialog-close]="selectedOption">
    OK
  </button>
</mat-dialog-actions>
