<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ 'LangMenu.Dialog.CantAutoTranslate' | translate }}
    </mat-card-title>
    <mat-card-subtitle *ngIf="dialogData.isAutoTranslateAll">
      {{'LangMenu.Dialog.NoAutoTranslatableFields' | translate }}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!dialogData.isAutoTranslateAll">
      {{'LangMenu.Dialog.ThisFieldIsNotAutoTranslatable' | translate }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button color="accent" (click)="closeDialog()">{{'Features.Close' | translate }}</button>
  </mat-card-actions>
</mat-card>
