<!-- <mat-tab-group *ngIf="currentLanguage" (selectedTabChange)="selectedTabChanged($event)" [selectedIndex]="languages.indexOf(getLanguage(currentLanguage))">
  <mat-tab *ngFor="let language of languages" [label]="language.name.substring(0, language.name.indexOf('(') > 0 ? language.name.indexOf('(') - 1 : 100 )"></mat-tab> -->
<!-- [disabled]="!formsAreValid" -->
<!-- </mat-tab-group> -->

<mat-card class="c-language-switcher-header" *ngIf="currentLanguage">
  <!-- <button mat-icon-button class="c-icon c-icon--first"> -->
  <div class="c-card-header-icon c-card-header-icon--first">
    <mat-icon>clear</mat-icon>
  </div>
  <div class="c-language-switcher-header__content u-no-scrollbar">
    <div *ngFor="let language of languages" class="c-language-switcher-header__item">
      <button mat-flat-button class="c-mat-flat-button" [color]="currentLanguage===language.key? 'accent' : 'white'"
        (click)=" selectLanguage(language)">
        {{language.name.substring(0, language.name.indexOf('(') > 0
        ? language.name.indexOf('(') - 1
        : 100).toUpperCase()}}
      </button>
    </div>
  </div>
  <div class="c-card-header-menu c-card-header-menu--last">Status: DRAFT</div>
</mat-card>
<mat-divider></mat-divider>