@import "../../../../theme.scss";
@import "../../../../assets/style/variables.scss";

.mat-card {
    padding:16px 24px 16px 24px;
}

.mat-flat-button {
        display: block;
        border-radius: 16px;
        border: 1px solid rgba($editUI-foreground-color, 0.44);
        max-height: 36px;
        line-height: 36px;
}