<div class="scrollable__overlay">
  <div #leftShadow class="scrollable__overlay--left-shadow"></div>
  <div #rightShadow class="scrollable__overlay--right-shadow"></div>
  <div #scrollable class="scrollable" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap.lt-sm="8px"
    fxLayoutGap.sm="16px" fxLayoutGap.md="16px" fxLayoutGap.gt-md="24px" (mousedown)="scrollableDown($event)"
    (scroll)="scrollableScroll($event)">
    <button mat-flat-button *ngFor="let language of languages"
      [disabled]="!formsAreValid && currentLanguage !== language.key && !allControlsAreDisabled"
      [color]="currentLanguage===language.key? 'accent' : 'white'" (mousedown)="lngButtonDown($event)"
      (click)="lngButtonClick($event, language)">
      {{language.name.substring(0, language.name.indexOf('(') > 0
      ? language.name.indexOf('(') - 1
      : 100).toUpperCase()}}
    </button>
  </div>
</div>
