@import "../../../../assets/style/variables.scss";

.scrollable {
    overflow: hidden;
    scroll-behavior: smooth;
}

.mat-flat-button {
        display: block;
        border-radius: 16px;
        border: 1px solid rgba($editUI-foreground-color, 0.44);
        max-height: 36px;
        line-height: 36px;
        min-width: auto;
}
