.button-row button {
  margin: 16px 8px 16px 8px;
  border-radius: 16px;
  // height: 32px;
  border: 1px solid #ACB1BA;

}

.button-row .close-button {
    border: none;
   // align-items: center;
}

.language-selector-card {
    height: 72px;
    padding:0;
}