<!-- This div is adam-hint -->
<mat-divider></mat-divider>
<div class="c-ah-field-hint u-border-radius-bottom mat-caption u-shadow-top" fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="auto">
    <span>drop files here</span>
  </div>
  <div fxLayoutAlign="end start">
    <a href="https://2sxc.org/help?tag=adam" target="_blank" class="adam-link"
      matTooltip="ADAM is the Automatic Digital Assets Manager - click to discover more">
      <mat-icon class="apple-icon" svgIcon="apple"></mat-icon>
      <span>Adam</span>
    </a>
    <span>&nbsp;is sponsored with
      ♥ by
      <a tabindex="-1" href="https://www.2sic.com" target="_blank">
        2sic.com
      </a>
    </span>
  </div>
</div>
