<!-- This div is adam-hint -->
<mat-divider></mat-divider>
<div class="c-ah-field-hint u-border-radius-bottom mat-caption u-shadow-top" fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="auto">
    <span>drop files here</span>
  </div>
  <div fxLayoutAlign="end start">
    <a href="http://2sxc.org/help?tag=adam" target="_blank" matTooltip="ADAM is the Automatic Digital Assets Manager - click to discover more">
      <i class="eav-icon-apple"></i>
      Adam
    </a>
    <span>&nbsp;is sponsored with
      <i class="eav-icon-heart"></i> by
      <a tabindex="-1" href="http://2sic.com/" target="_blank">
        2sic.com
      </a>
    </span>
  </div>
</div>