<h3>Visual Queries / Pipelines</h3>

<div>Use the visual designer to create queries or merge data from
  various sources. This can then be used in views or accessed as JSON (if permissions allow).
  <a href="http://2sxc.org/en/help?tag=visualquerydesigner" target="_blank">read more</a>
</div>

<button mat-button [matTooltip]="'Create a new query'" class="not-implemented">
  <mat-icon>add_box</mat-icon>
</button>
<button mat-button [matTooltip]="'Import query'" class="not-implemented">
  <mat-icon>cloud_upload</mat-icon>
</button>

<ag-grid-angular class="ag-theme-material" [rowData]="queries" [columnDefs]="columnDefs" [modules]="modules"
  [frameworkComponents]="frameworkComponents" (gridSizeChanged)="onGridSizeChanged($event)"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
