<form [formGroup]="webApiTypeForm">
  <mat-form-field color="accent" class="eav-mat-form-field">
    <mat-label>Endpoint</mat-label>
    <mat-select formControlName="webApiType" (valueChange)="openRestApi($event)">
      @if (webApisTypes()) {
        @for (endpoint of webApisTypes().sort(); track endpoint) {
          <mat-option [value]="endpoint.path">
            {{ endpoint.name }}
          </mat-option>
        }
      }
    </mat-select>
  </mat-form-field>
</form>

@if(!webApiTypeForm.get('webApiType')?.value) {
  <app-rest-api-help-text [apiTitle]="'Web Api'"></app-rest-api-help-text>
}

<router-outlet></router-outlet>
