<div [ngClass]="open() ? 'c-ew__container' : 'u-display-none'">
  <div #backdrop class="c-ew__backdrop" (click)="closeDialog()"></div>
  <div #dialog class="c-ew__dialog mat-elevation-z24 u-border-radius">
    <div [ngClass]="{ 'c-ew__dialog-header mat-elevation-z2': open() }">
      <mat-card appearance="raised" class="mat-elevation-z0">
        <button mat-icon-button class="back-arrow" tippyTranslate="Form.Buttons.Return.Tip" (click)="closeDialog()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title mat-headline-4">{{ basics().label }}</span>
      </mat-card>
    </div>
    <div>
      <div [@itemShrinkAnimation]="open() ? 'closed' : 'open'"></div>
      <div
        [class]="
          'c-ew__dialog-content u-border-radius-bottom u-add-scrollbar u-hide-scrollbar' +
          (applyEmptyClass() ? ' c-ew__dialog-content--empty' : '')
        "
        [@contentExpandAnimation]="{
          value: open() ? 'expanded' : 'closed',
          params: { bottomPixels: calculateBottomPixels() },
        }"
      >
        <!-- This is where the content comes from the parent / calling HTML -->
        <ng-content></ng-content>

        <extended-fab-speed-dial class="adam">
          <ng-template extendedFabSpeedDialTriggerContent>
            <button extended-fab-speed-dial-trigger
              matRipple
              (click)="closeDialog()"
            >
              <mat-icon>done</mat-icon>
              <span>{{ 'Form.Buttons.Return.Tip' | translate }}</span>
            </button>
          </ng-template>
          @if (enableSave) {
            <ng-template extendedFabSpeedDialActionsContent>
              <button
                extended-fab-speed-dial-action
                matRipple
                [ngClass]="{ 'appear-disabled': saveDisabled() }"
                (click)="saveAll(false)"
              >
                <span>{{ 'Form.Buttons.Save' | translate }}</span>
                <mat-icon>save</mat-icon>
              </button>
              <button
                extended-fab-speed-dial-action
                matRipple
                [ngClass]="{ 'appear-disabled': saveDisabled() }"
                (click)="saveAll(true)"
              >
                <span>{{ 'Form.Buttons.SaveAndClose' | translate }}</span>
                <mat-icon>done_all</mat-icon>
              </button>
            </ng-template>
          }
        </extended-fab-speed-dial>
      </div>
    </div>
  </div>
</div>
