<div *ngIf="viewModel$ | async as vm" class="scrollable__overlay">

  <div #leftShadow class="scrollable__overlay--left-shadow"></div>
  <div #rightShadow class="scrollable__overlay--right-shadow"></div>

  <div #scrollable class="scrollable lang-switch" [tippy]="'Message.CantSwitchLanguage' | translate"
    [tippyDisabled]="!disabled">
    <button *ngFor="let langButton of vm.languageButtons" mat-flat-button class="lang-switch__button"
      [disabled]="disabled && vm.currentLanguage !== langButton.NameId"
      [color]="vm.currentLanguage === langButton.NameId ? 'accent' : 'white'" (mousedown)="lngButtonMouseDown($event)"
      (click)="lngButtonClick($event, langButton)" [tippy]="langButton.Culture" [tippyDisabled]="disabled">
      {{ langButton.buttonText }}
    </button>
  </div>

</div>
