<div class="nav-component-wrapper" appToggleDebug>
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>Manage Zone {{ zoneId }}</div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <!-- spm NOTE: we use mat-tab-group because mat-tab-nav-bar doesn't have animations and doesn't look pretty -->
  <mat-tab-group class="mat-tab-group-max-height" dynamicHeight color="accent"
    *ngIf="dialogSettings$ | async as dialogSettings" (selectedTabChange)="changeTab($event)"
    [selectedIndex]="tabIndex$ | async">
    <mat-tab>
      <div *matTabLabel class="mat-tab-label-box" tippy="System Info">
        <mat-icon>settings</mat-icon>
        <span>System</span>
      </div>
      <app-system-info *matTabContent [dialogSettings]="dialogSettings"></app-system-info>
    </mat-tab>

    <mat-tab>
      <div *matTabLabel class="mat-tab-label-box" tippy="Apps">
        <mat-icon>star_border</mat-icon>
        <span>Apps</span>
      </div>
      <app-apps-list *matTabContent></app-apps-list>
    </mat-tab>

    <mat-tab>
      <div *matTabLabel class="mat-tab-label-box" tippy="Languages">
        <mat-icon>translate</mat-icon>
        <span>Languages</span>
      </div>
      <app-site-languages *matTabContent></app-site-languages>
    </mat-tab>

    <mat-tab>
      <div *matTabLabel class="mat-tab-label-box" tippy="Extensions and Features">
        <mat-icon>tune</mat-icon>
        <span>Extensions / Features</span>
      </div>
      <app-license-info *matTabContent></app-license-info>
    </mat-tab>
  </mat-tab-group>
</div>