@if (viewModel$ | async; as vm) {
<mat-toolbar>
  <div class="toolbar-container">
    <!-- Mat Icon Menu -->
    <mat-icon class="menu-container" (click)="sidenav.opened = !sidenav.opened"
      >menu</mat-icon
    >
    <!-- App Name -->
    <div>
      <span> Manage Zone {{ zoneId }} </span>
    </div>
    <!-- Breadcrum in the Toolbar after show Img and Aoo Name -->
    <xng-breadcrumb [separator]="emptyTemplate">
      <ng-container
        *xngBreadcrumbItem="let breadcrumb; let info = info; let last = last"
      >
        @if (last) {
        <mat-icon class="breadcrumb-icon">chevron_right</mat-icon>
        {{ breadcrumb }}
        }
      </ng-container>
    </xng-breadcrumb>
    <ng-template #emptyTemplate></ng-template>
  </div>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="smallScreen.matches ? 'over' : 'side'"
    [opened]="sideNavOpened"
  >
    @for (navItem of navItems; track navItem.path) {
      <app-nav-item-list [navItem]="navItem" ></app-nav-item-list>
    }

    <div class="sideNav-bottom-info">
      <p>use Burger icon to show/hide menu</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
}


