<!-- dialog -->
<div [ngClass]="(open$ | async) ? 'c-ew__container' : 'u-display-none'">
  <div #backdrop class="c-ew__backdrop" (click)="closeDialog()"></div>
  <div #dialog fxLayout="column" class="c-ew__dialog mat-elevation-z24 u-border-radius">
    <div [ngClass]="{ 'c-ew__dialog-header mat-elevation-z2': (open$ | async) }">
      <mat-card appearance="raised" class="mat-elevation-z0" fxLayout="row">
        <button mat-icon-button class="back-arrow" fxLayoutAlign="center center"
          [tippy]="'Form.Buttons.Return.Tip' | translate" (click)="closeDialog()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxLayoutAlign="center center" class="title mat-headline-4">{{ label$ | async }}</span>
      </mat-card>
    </div>
    <div>
      <div [@itemShrinkAnimation]="(open$ | async) ? 'closed' : 'open'">
      </div>
      <div
        class="c-ew__dialog-content c-ew__dialog-content--empty u-border-radius-bottom u-add-scrollbar u-hide-scrollbar"
        [@contentExpandAnimation]="{
          value: (open$ | async) ? 'expanded' : 'closed',
          params: { bottomPixels: calculateBottomPixels() }
        }">
        <ng-container #fieldComponent></ng-container>
        <extended-fab-speed-dial class="adam">
          <ng-template extendedFabSpeedDialTriggerContent>
            <button extended-fab-speed-dial-trigger matRipple (click)="closeDialog()">
              <mat-icon>done</mat-icon>
              <span>{{ 'Form.Buttons.Return.Tip' | translate }}</span>
            </button>
          </ng-template>
          <ng-template extendedFabSpeedDialActionsContent>
            <button extended-fab-speed-dial-action matRipple [disabled]="saveButtonDisabled$ | async"
              (click)="saveAll(false)">
              <span>{{ 'Form.Buttons.Save' | translate }}</span>
              <mat-icon>save</mat-icon>
            </button>
            <button extended-fab-speed-dial-action matRipple [disabled]="saveButtonDisabled$ | async"
              (click)="saveAll(true)">
              <span>{{ 'Form.Buttons.SaveAndClose' | translate }}</span>
              <mat-icon>done_all</mat-icon>
            </button>
          </ng-template>
        </extended-fab-speed-dial>
      </div>
    </div>
  </div>
</div>

<!-- preview -->
<div class="c-ew__preview-holder" *ngIf="viewModel$ | async as vm">
  <mat-label class="c-ew__preview-label c-ew__color--primary" [ngClass]="{
    'mat-caption' : vm.itemsNumber > 0,
    'mat-empty' : vm.itemsNumber === 0,
    'mat-error' : vm.controlStatus.invalid && !config.initialDisabled,
    'color__primary' : !vm.controlStatus.invalid && !config.initialDisabled,
    'color__label-disabled' : config.initialDisabled
  }">
    {{ vm.label }} {{ vm.required ? '*': '' }}
  </mat-label>
  <div matRipple class="c-ew__preview mat-ripple" [matRippleAnimation]="{ enterDuration: 360 }" (click)="expandDialog()"
    [ngClass]="{
      'c-ew__preview--invalid': vm.controlStatus.invalid,
      'c-ew__preview--disabled': config.initialDisabled
    }">
    <div [ngClass]="vm.controlStatus.value ? 'c-ew__preview-container' : 'c-ew__preview-container--empty'">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2px" class="c-ew__preview-content">
        <ng-container *ngFor="let item of vm.items; trackBy: trackByFn">
          <!-- folders -->
          <div fxLayout="row" fxLayoutAlign="start start" *ngIf="item.IsFolder">
            <div class="adam-browse-background-icon">
              <mat-icon svgIcon="folder"></mat-icon>
              <div class="adam-short-label mat-caption">{{ item.Name }}</div>
            </div>
          </div>
          <!-- files -->
          <div *ngIf="!item.IsFolder">
            <div *ngIf="item.Type !== 'image'" class="adam-browse-background-icon">
              <mat-icon *ngIf="item._isMaterialIcon">{{ item._icon }}</mat-icon>
              <mat-icon *ngIf="!item._isMaterialIcon">{{ item._icon }}</mat-icon>
              <div class="adam-short-label mat-caption">{{ item.Name }}</div>
            </div>
            <div *ngIf="item.Type === 'image'" class="adam-browse-background-image">
              <img vm-dz-thumbnail="" alt="{{ item.Id }}:{{ item.Name }}" [src]="item.ThumbnailUrl">
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- hints -->
  <div class="mat-caption c-ew__preview-hint" fxLayout="row" fxLayoutAlign="start start">
    <div class="c__helper-wrapper--left">
      <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
    </div>
    <div class="c__helper-wrapper--right c-ew__preview-hint-text" fxHide fxShow.gt-xs>
      <span>{{
        vm.showAdamSponsor
        ? ('Fields.Hyperlink.Default.Sponsor' | translate)
        : ('Fields.Hyperlink.AdamFileManager.Name' | translate)
        }} </span>
      <app-feature-icon-text [featureNameId]="'NoSponsoredByToSic'"></app-feature-icon-text>
    </div>
  </div>
</div>