.eav-feature-info-row {
  display: flex;

  &__label {
    flex: 1;
    font-weight: 500;
  }

  &__value {
    flex: 4;

    &.eav_click span {
      cursor: pointer;
    }
  }
}

.eav-card-action-button {
  margin-left: 8px;
}