<a (click)="isOpenMenu = !isOpenMenu" [routerLink]="item.path" routerLinkActive="active" matRipple class="app-menu-container" [tippy]="item.tippy">
  <mat-icon>{{ item.icon }}</mat-icon>
  <div class="link-text">{{ item.name }}</div>
  <mat-icon *ngIf="item.child" [ngClass]="{ closed: !isOpenMenu, open: isOpenMenu, 'ml-auto': true }"> expand_more </mat-icon>
</a>

<div class="paddingLink" *ngIf="isOpenMenu">
  @for (child of item.child ; track child.path) {
  <app-app-management-list-item [item]="child"></app-app-management-list-item>
  }
</div>
