<!-- TODO: this dropzone class only because css - need to change-->
<div class="dropzone u-shadow-top" *ngIf="!config.field.disabled" [@adamShowAnimate]="show ? 'open' : 'closed'">
  <div *ngIf="show" ngClass="{{'adam-scope-' + (adamModeConfig.usePortalRoot ? 'site' : field)}}">

    <!-- info for dropping stuff here -->
    <!--  [disabled]="disabled"-->
    <div *ngIf="!disabled" class="dz-preview dropzone-adam" (click)="openUploadClick($event)"
      matTooltip="{{'Edit.Fields.Hyperlink.Default.AdamUploadLabel' | translate }}">
      <div class="dz-image adam-browse-background-icon adam-browse-background" xstyle="background-color: whitesmoke">
        <mat-icon>cloud_upload</mat-icon>
        <div class="adam-short-label">upload to&nbsp;
          <mat-icon *ngIf="adamModeConfig.usePortalRoot">public</mat-icon>
          <mat-icon *ngIf="!adamModeConfig.usePortalRoot" svgIcon="appleFilled"></mat-icon>
        </div>
      </div>
    </div>

    <!-- spm fix pasting from clipboard -->
    <!-- info for paste image from clipboard here -->
    <!-- TODO: disable -->
    <!-- <div *ngIf="!clipboardPasteImageFunctionalityDisabled && allowEdit()" class="dz-preview dropzone-adam paste-image"
      matTooltip="{{'Edit.Fields.Hyperlink.Default.AdamUploadPasteLabel' | translate }}">
      <div class="dz-image adam-browse-background-icon adam-browse-background" xstyle="background-color: whitesmoke">
        <mat-icon svgIcon="file-image"></mat-icon>
        <div class="adam-short-label">paste image</div>
      </div>
    </div> -->

    <!-- add folder - not always shown -->
    <!-- TODOD: disable -->
    <div *ngIf="!disabled && allowCreateFolder()" class="dz-preview" (click)="addFolder()">
      <div class="dz-image adam-browse-background-icon adam-browse-background">
        <mat-icon svgIcon="folder-plus"></mat-icon>
        <div class="adam-short-label">new folder</div>
      </div>
      <div class="dz-details" style="opacity: 1"></div>
    </div>

    <!-- browse up a folder - not always shown -->
    <!-- <div  ng-disabled="vm.disabled"> -->
    <ng-container *ngIf="showFolders">
      <div *ngIf="folders.length > 0" class="dz-preview" (click)="goUp()">
        <div class="dz-image  adam-browse-background-icon adam-browse-background">
          <mat-icon svgIcon="folder"></mat-icon>
          <div class="adam-short-label">back</div>
        </div>
        <div class="adam-background adam-browse-background-icon">
          <mat-icon style="font-size: 35px; top: 13px; position: relative;">arrow_back</mat-icon>
        </div>
      </div>
    </ng-container>

    <!-- folder list - not always shown -->
    <ng-container *ngIf="showFolders">
      <div class="dz-preview"
        *ngFor="let item of (items$ | async | filter: 'IsFolder' : true | filter: 'Name' : '.' : false  | filter: 'Name' : '2sxc' : false | filter: 'Name' : 'adam' : false | orderby : 'Name')"
        (click)="goIntoFolder(item)">
        <div class="dz-image adam-blur adam-browse-background-icon adam-browse-background">
          <mat-icon svgIcon="folder"></mat-icon>
          <div class="short-label">{{ item.Name }}</div>
        </div>
        <div class="dz-details file-type-{{item.Type}}">
          <mat-icon *ngIf="allowEdit()" (click)="del(item)" appClickStopPropagation class="adam-delete-button"
            [ngClass]="{
            'adam-button-disabled': disabled
          }">clear
          </mat-icon>
          <mat-icon *ngIf="allowEdit()" (click)="rename(item)" appClickStopPropagation class="adam-rename-button">edit
          </mat-icon>
          <div class="adam-full-name-area">
            <div class="adam-full-name">{{ item.Name }}</div>
          </div>
        </div>
        <mat-icon class="adam-tag" [ngClass]="{'metadata-exists': item.MetadataId > 0}" (click)="editMetadata(item)"
          matTooltip="{{getMetadataType(item)}}:{{item.MetadataId}}" appClickStopPropagation
          *ngIf="getMetadataType(item)">local_offer</mat-icon>
      </div>
    </ng-container>

    <!-- files -->
    <!-- <div  ng-disabled="vm.disabled || !vm.enableSelect"> -->
    <div class="dz-preview"
      *ngFor="let item of (items$ | async | filter: 'IsFolder' : false | filter: (showImagesOnly ? 'Type' : undefined) : (showImagesOnly ? 'image' : undefined) | fileEndingFilter: allowedFileTypes | orderby : 'Name')"
      (click)="select(item)"
      [ngClass]="{ 'dz-success': getValueCallback && getValueCallback().toLowerCase() === 'file:' + item.Id }">
      <div *ngIf="item.Type !== 'image'" class="dz-image adam-blur adam-browse-background-icon adam-browse-background">
        <mat-icon *ngIf="isKnownType(item)">{{icon(item)}}</mat-icon>
        <mat-icon *ngIf="!isKnownType(item)" svgIcon="{{icon(item)}}"></mat-icon>
        <div class="adam-short-label">{{ item.Name }}</div>
      </div>
      <div *ngIf="item.Type === 'image'" class="dz-image">
        <img data-dz-thumbnail="" [alt]="item.Id + ':' + item.Name" [src]="item.FullPath + '?w=120&h=120&mode=crop'">
      </div>

      <div class="dz-details file-type-{{item.Type}}">
        <mat-icon *ngIf="allowEdit()" (click)="del(item)" appClickStopPropagation class="adam-delete-button" [ngClass]="{
          'adam-button-disabled': disabled
        }">clear
        </mat-icon>
        <mat-icon *ngIf="allowEdit()" (click)="rename(item)" appClickStopPropagation class="adam-rename-button">edit
        </mat-icon>
        <div class="adam-full-name-area">
          <div class="adam-full-name">{{ item.Name }}</div>
        </div>
        <div class="dz-filename adam-short-label">
          <span>#{{ item.Id }} - {{ (item.Size / 1024).toFixed(0) }} kb</span>
        </div>
        <a class="adam-link-button" target="_blank" [href]="item.FullPath">
          <mat-icon>open_in_new</mat-icon>
        </a>
      </div>
      <mat-icon class="adam-tag" [ngClass]="{'metadata-exists': item.MetadataId > 0}"
        (click)="item.MetadataId > 0 ? editItemMetadata(item.MetadataId) : addItemMetadata(item)"
        *ngIf="getMetadataType(item)" appClickStopPropagation
        matTooltip="{{getMetadataType(item)}}:{{item.MetadataId}}">local_offer</mat-icon>

      <div class="dz-success-mark">
        <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="https://www.w3.org/2000/svg"
          xmlns:xlink="https://www.w3.org/1999/xlink" xmlns:sketch="https://www.bohemiancoding.com/sketch/ns">
          <title>Check</title>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <path
              d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
              id="Oval-2" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475" fill="#FFFFFF"
              sketch:type="MSShapeGroup"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
