
<app-picker-list></app-picker-list>
@if (!isInFreeTextMode())
{
  <app-picker-search
    [showSelectedItem]="false"
    [showItemEditButtons]="false">
  </app-picker-search>
} 
@else
{
  <app-picker-text></app-picker-text>
}
<app-field-helper-text></app-field-helper-text>
<!-- add new entity -->
@if (showAddNewEntityButtonInDialog())
{
  @if (pickerData.state.createEntityTypes().length > 1)
  {
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-mini-fab color="accent" [tippy]="'Fields.Picker.New' | translate"
        [disabled]="ui().disabled || !features().create" [matMenuTriggerFor]="entityTypesMenu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #entityTypesMenu="matMenu">
        @for (entityType of pickerData.state.createEntityTypes(); track entityType) {
          <button mat-menu-item (click)="openNewEntityDialog(entityType.guid)">
            <span>{{ entityType.label }}</span>
          </button>
        }
      </mat-menu>
    </div>
  }
  @else
  {
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-mini-fab color="accent" [tippy]="'Fields.Picker.New' | translate"
        [disabled]="ui().disabled || !features().create" (click)="openNewEntityDialog(null)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  }
}
