<app-picker-list></app-picker-list>

@if (!isInFreeTextMode()) {
  <app-picker-search [showSelectedItem]="false" [showItemEditButtons]="false"> </app-picker-search>
} @else {
  <app-picker-text></app-picker-text>
}
<app-field-helper-text></app-field-helper-text>

<!-- Note: this is almost the same as in picker-preview, but the styling (FAB) and icons are a bit different -->
<!-- add new entity -->
@if (showAddNewEntityButtonInDialog()) {
  <div style="display: flex; justify-content: end">
    @if (pickerData.state.typesForNew().length > 1) {
      <button
        mat-mini-fab
        color="accent"
        tippyTranslate="Fields.Picker.New"
        [disabled]="ui().disabled || !features().create"
        [matMenuTriggerFor]="entityTypesMenu"
      >
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #entityTypesMenu="matMenu">
        @for (ct of pickerData.state.typesForNew(); track ct) {
          <button mat-menu-item (click)="openNewEntityDialog(ct.guid)">
            <span>{{ ct.label }}</span>
          </button>
        }
      </mat-menu>
    } @else {
      <button
        mat-mini-fab
        color="accent"
        tippyTranslate="Fields.Picker.New"
        [disabled]="ui().disabled || !features().create"
        (click)="openNewEntityDialog(null)"
      >
        <mat-icon>add</mat-icon>
      </button>
    }
  </div>
}
