.eav-dialog {
  overflow: hidden;
}

.eav-tab-group {
  padding: 0px;
}

.eav-tab-content {
  height: calc(100vh - 268px);
  overflow-y: auto;
  margin-top: 1rem;
}

.eav-tab-description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 1rem;
  padding: 0 1rem 1rem;
  font-size: 16px;
  line-height: 1.5;
}

pre {
  display: block;
  padding: 9.5px;
  font-size: 13px;
  margin: 0 10px 0 0;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
}

.query-result {
  margin: 0;
  height: calc(100vh - 268px - 95px); // Same height as Tab-Container minus description area and some for bottom "margin"
}

th {
  text-align: left;
}

td {
  vertical-align: baseline;
}
