<div class="language-wrap">
  <div (dblclick)="toggleTranslate(!dialogIsOpen && currentLanguage !== defaultLanguage)" class="language-wrap__field"
    [ngClass]="{
    'language-wrap__field-short': currentLanguage !== defaultLanguage
  }">
    <ng-container #fieldComponent></ng-container>
  </div>
  <app-translate-group-menu class="language-wrap__translate" [ngClass]="{
      'language-wrap__translate--hidden': currentLanguage === defaultLanguage
    }" [config]="config" [group]="group" [toggleTranslateField]="toggleTranslateField">
  </app-translate-group-menu>
</div>
