<div class="language-wrap">
  <div class="language-wrap__field" (dblclick)="toggleTranslate()"
    [ngClass]="{ 'language-wrap__field-short': (currentLanguage$ | async) !== (defaultLanguage$ | async) }">
    <ng-container #fieldComponent></ng-container>
  </div>
  <app-translate-group-menu class="language-wrap__translate" [ngClass]="{
    'language-wrap__translate--hidden': (currentLanguage$ | async) === (defaultLanguage$ | async)
  }" [config]="config" [group]="group" [toggleTranslateField]="toggleTranslateField$ | async">
  </app-translate-group-menu>
</div>
