<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">
      {{ modeIsEdit ? 'Edit Content Type' : 'New Content Type' }}
    </div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  @if (contentType()) {
    <form #ngForm="ngForm" (ngSubmit)="saveAndClose()">
      <div class="eav-dialog-content">
        <div>
          <div class="eav-edit-input">
            <mat-form-field color="accent" class="eav-mat-form-field">
              <mat-label>Name</mat-label>
              <input
                matInput
                type="text"
                required
                [pattern]="contentTypeNamePattern"
                [ngModel]="contentType().Name"
                (ngModelChange)="changeContentTypeName($event)"
                name="Name"
                #name="ngModel"
              />
            </mat-form-field>
            @if (name.touched && name.errors) {
              @if (name.errors.required) {
                <app-field-hint [isError]="true">This field is required</app-field-hint>
              }
              @if (name.errors.pattern) {
                <app-field-hint [isError]="true">{{ contentTypeNameError }}</app-field-hint>
              }
            }
          </div>
          <mat-accordion [@.disabled]="disableAnimation()">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Advanced</mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <div class="eav-edit-input">
                <div class="eav-form-and-button">
                  <mat-form-field color="accent" class="eav-mat-form-field">
                    <mat-label>Scope</mat-label>
                    <mat-select [ngModel]="contentType().Scope" name="Scope" (ngModelChange)="changeScope($event)" [disabled]="lockScope()">
                      @for (scopeOption of scopeOptions(); track scopeOption) {
                        <mat-option [value]="scopeOption.value">
                          {{ scopeOption.name }}
                        </mat-option>
                      }
                      <mat-option [value]="dropdownInsertValue">Other...</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button
                    mat-icon-button
                    type="button"
                    matTextSuffix
                    [tippy]="lockScope() ? 'Unlock' : 'Lock'"
                    class="eav-scope-button"
                    (click)="unlockScope()"
                  >
                    <mat-icon>
                      {{ lockScope() ? 'lock' : 'lock_open' }}
                    </mat-icon>
                  </button>
                </div>
                <app-field-hint>
                  The scope should almost never be changed -
                  <a href="https://2sxc.org/help?tag=scope" target="_blank" appClickStopPropagation>see help</a>
                </app-field-hint>
              </div>
              <div class="eav-edit-input">
                <mat-form-field color="accent" class="eav-mat-form-field">
                  <mat-label>Static Name</mat-label>
                  <input matInput type="text" [ngModel]="contentType().NameId" name="StaticName" disabled />
                </mat-form-field>
              </div>
              @if (contentType().SharedDefId) {
                <div class="eav-edit-input">
                  <h3>Shared Content Type (Ghost)</h3>
                  <p>Note: this can't be edited in the UI, for now if you really know what you're doing, do it in the DB</p>
                  <p>Uses Type Definition of: {{ contentType().SharedDefId }}</p>
                </div>
              }
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <mat-dialog-actions align="end">
        <app-save-close-button-fab
          [ngClass]="!canSave() ? 'disabled' : ''"
          [disabled]="!canSave()"
          (action)="saveAndClose()"
        />
      </mat-dialog-actions>
    </form>
  }
</div>
