.full-wysiwyg {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.inline-wysiwyg {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tinymce-toolbar-container {
  flex-shrink: 0;
}

.tinymce-container {
  position: relative;
  height: 100%;
  flex-grow: 1;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  padding: 0 8px 1px 8px;
  min-height: 120px;
  box-sizing: border-box;
  font-size: medium;
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  overflow: -moz-scrollbars-none;
  /* Firefox */
  scrollbar-width: none;
}

.tinymce-container::-webkit-scrollbar {
  /* Chrome */
  display: none;
}

.full-wysiwyg .tinymce-container {
  -moz-box-shadow: inset 0 -10px 10px -10px #888;
  -webkit-box-shadow: inset 0 -10px 10px -10px #888;
  box-shadow: inset 0 -10px 10px -10px #888;
}

.inline-wysiwyg:not(.disabled) {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  padding: 1px 1px 0;
}

.inline-wysiwyg:not(.disabled):hover {
  border-width: 2px;
  padding: 0;
}

.inline-wysiwyg.focused {
  border-width: 2px;
  padding: 0;
}

.inline-wysiwyg.disabled .tinymce-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 33%, transparent 0%),
    linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 33%, transparent 0%),
    linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 33%, transparent 0%),
    linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 33%, transparent 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 4px 1px, 1px 4px;
}
