$gutter: 20px;

/* Custom stuff */
.mce-content-body {

  img.wysiwyg-right {
    float: right;
    margin-left: 20px;
  }
  img.wysiwyg-left {
    float: left;
    margin-right: 20px;
  }
  // TODO: this doesn't quite work yet
  img.wysiwyg-center {
    margin-left: auto;
    margin-right: auto;
  }

  img.wysiwyg-100 {
    width: 100%;
  }

  img.wysiwyg-50 {
    width: calc(50% - (#{$gutter} / 2));
  }

  img.wysiwyg-33 {
    width: calc(33% - (#{$gutter} * 2 / 3));
    &.wysiwyg-right {
      margin-left: #{$gutter} / 2;
    }
    &.wysiwyg-left {
      margin-right: #{$gutter} / 2;
    }
  }
  img.wysiwyg-66 {
    width: calc(66% - (#{$gutter} * 2 / 3));
    &.wysiwyg-right {
      margin-left: #{$gutter} / 2;
    }
    &.wysiwyg-left {
      margin-right: #{$gutter} / 2;
    }
  }
  img.wysiwyg-25 {
    width: calc(25% - (#{$gutter} * 3 / 4));
    &.wysiwyg-right {
      margin-left: #{$gutter} / 2;
    }
    &.wysiwyg-left {
      margin-right: #{$gutter} / 2;
    }
  }
  img.wysiwyg-75 {
    width: calc(75% - (#{$gutter} * 3 / 4));
    &.wysiwyg-right {
      margin-left: #{$gutter} / 2;
    }
    &.wysiwyg-left {
      margin-right: #{$gutter} / 2;
    }
  }

}
