$grid-gutter-width: 30px;

$border-color-top: #00275388;
$border-color: #00275327;
$pattern-color: $border-color;
$pattern-background: #ffffff;

$background: repeating-linear-gradient(135deg, $pattern-color 0, $pattern-color 1px, $pattern-background 0, $pattern-background 50%);

/* Custom stuff */
.mce-content-body {

  hr.wysiwyg-splitter {
    display: block;
    width: 100%;
    // normally 0, but this is so it can be selected in the wysiwyg
    height: 2px;
    // normally as this, but for the wysiwyg we need to see it
    // border-width: 0px!important;

    background-color: #ffffff;
    opacity: 0.8;
    background-size: 10px 10px;

    border-top: 1px dashed $border-color-top;
    border-bottom: 1px dashed $border-color;
  
    &.wysiwyg-spacer-0 {
      // normally 0, but this is so it can be selected in the wysiwyg
      height: 2px;
      // height: 0;
    }
    &.wysiwyg-spacer-s {
      background-image: $background;
      height: $grid-gutter-width/2;
      // @media screen and (max-width: 768px) {
      //   height: $grid-gutter-width/2;
      // }  
    }
    &.wysiwyg-spacer-m {
      background-image: $background;
      // height: $grid-gutter-width*1.5;
      height: $grid-gutter-width*1;
      @media screen and (max-width: 768px) {
        // height: $grid-gutter-width;
        height: $grid-gutter-width*.75;
      }
    }
    &.wysiwyg-spacer-l {
      background-image: $background;
      height: $grid-gutter-width*2;
      @media screen and (max-width: 768px) {
        height: $grid-gutter-width*1.25;
      }
    }
    // Note: ATM not in use
    &.wysiwyg-spacer-xl {
      background-image: $background;
      // height: $grid-gutter-width*2.5;
      height: $grid-gutter-width*3;
      @media screen and (max-width: 768px) {
        // height: $grid-gutter-width*1.75;
        height: $grid-gutter-width*1.75;
      }
    }
  }

}
