@import './rich-variables.scss';

$border-color-top: #00275388;
$border-color: #00275327;
$background: repeating-linear-gradient(135deg, $spacer-pattern-lines 0, $spacer-pattern-lines 1px, $spacer-pattern-background 0, $spacer-pattern-background 50%);

/* Custom stuff */
.mce-content-body {

  hr.wysiwyg-splitter {
    display: block;
    width: 100%;
    // normally 0, but this is so it can be selected in the wysiwyg
    height: 2px;
    // normally as this, but for the wysiwyg we need to see it
    // border-width: 0px!important;

    background-color: #ffffff;
    opacity: 0.8;
    background-size: 10px 10px;

    border-top: 1px dashed $border-color-top;
    border-bottom: 1px dashed $border-color;
  
    &.wysiwyg-spacer-0 {
      // normally 0, but this is so it can be selected in the wysiwyg
      height: 2px;
      // height: 0;
    }
    &.wysiwyg-spacer-s {
      background-image: $background;
      height: $gutter/2;
      // @media screen and (max-width: 768px) {
      //   height: $gutter/2;
      // }  
    }
    &.wysiwyg-spacer-m {
      background-image: $background;
      // height: $gutter*1.5;
      height: $gutter*1;
      @media screen and (max-width: 768px) {
        // height: $gutter;
        height: $gutter*.75;
      }
    }
    &.wysiwyg-spacer-l {
      background-image: $background;
      height: $gutter*2;
      @media screen and (max-width: 768px) {
        height: $gutter*1.25;
      }
    }
    // Note: ATM not in use
    &.wysiwyg-spacer-xl {
      background-image: $background;
      // height: $gutter*2.5;
      height: $gutter*3;
      @media screen and (max-width: 768px) {
        // height: $gutter*1.75;
        height: $gutter*1.75;
      }
    }
  }

}
