.mce-content-body {

  /* Content block */
  hr[sxc] {
    background-color: #B0DCFF;
    height: 75px;
  }

  /* Content block */
  hr[sxc]::after {
    color: white;
    content: "App / Content";
    position: absolute;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    /* 2px because of the border */
    width: calc(100% - 2px);
    margin-top: 17px;
  }

  table {
    border-collapse: collapse;
  }

  table th,
  table td {
    border: 1px solid #ccc;
    padding: 0.4rem;
  }

  figure {
    display: table;
    margin: 1rem auto;
  }

  figure figcaption {
    color: #999;
    display: block;
    margin-top: 0.25rem;
    text-align: center;
  }

  hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0 0;
  }

  code {
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
  }

  &:not([dir=rtl]) blockquote {
    border-left: 2px solid #ccc;
    margin-left: 1.5rem;
    padding-left: 1rem;
  }

  &[dir=rtl] blockquote {
    border-right: 2px solid #ccc;
    margin-right: 1.5rem;
    padding-right: 1rem;
  }
}
