.eav-sort-title {
  padding-top: 16px;
}

.eav-dnd-list {
  margin: 16px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.eav-dnd-item {
  cursor: move;
  height: 40px;
  border-bottom: 1px solid #ccc;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background: white;
  box-sizing: border-box;
  font-size: 14px;

  &:last-child {
    border: none;
  }

  &__title {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1 1 auto;
  }

  &__title-icon {
    margin-right: 8px;
    opacity: 0.4;
  }

  &__title-text {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // 2rb: Ensure buttons are always visible and not pushed out of the container
  > div:last-child {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }
}

// 2pp: Ensure save button has correct placement (bit of a hack)
extended-fab-speed-dial::ng-deep .extended-fab-speed-dial-actions {
  right: 24px;
  bottom: 54px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dnd-list.cdk-drop-list-dragging .dnd-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
