@use '../../../../styles/variables.scss';
@use '../../../../styles/app-catalog.scss';

:host ::ng-deep .eav-dialog a {
  color: variables.$external-link !important;
}

.eav-result-container {
  margin-top: 16px;
}

.outer-container-app {
  padding: 0 24px;
}
