.eav-result-container {
  margin-top: 16px;
}

.eav-app-catalog-button {
  margin-left: 12px;
}

.eav-app-catalog-iframe {
  margin-top: 16px;
  width: 100%;
  height: 500px;
  border: none;
}

.eav-progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  mat-progress-spinner {
    margin: 0 auto;
  }

  span {
    line-height: 48px;
  }
}