<div *ngIf="contentType$ | async">
  <button mat-icon-button (click)="deleteItem()" class="button-top-right">
    <mat-icon class="mat-24">close</mat-icon>
  </button>
  <h3>Item edit form: {{ (contentType$ | async).contentType.name }}</h3>

  <form *ngIf="itemFields$ | async; let itemFields" [formGroup]="form" (ngSubmit)="submitForm()" (change)="changeForm()">
    <formly-form [model]="selectedItem.entity.attributes" [fields]="itemFields" [options]="options" [form]="form">
      <button mat-raised-button type="submit" class="btn btn-default submit-button">Submit</button>
    </formly-form>
  </form>
</div>