<div *ngIf="(contentType$ | async) && (itemFields$ | async)">
    <button mat-icon-button (click)="deleteItem()" class="button-top-right">
        <mat-icon class="mat-24">close</mat-icon>
    </button>

    <app-eav-form [config]="itemFields$ | async" (submit)="submit($event) " (formValueChange)="formValueChange($event)">
    </app-eav-form>

    <!-- <div *ngIf="form ">
        <div>
            Form status: {{ form.valid }}
        </div>
        <div>
            Form value: {{ form.value | json }}
        </div>
    </div> -->
    <!-- #form="appEavForm " -->
    <!-- <div *ngIf="(itemFields$ | async) ">
        {{ (itemFields$ | async) | json }}
    </div> -->
</div>