<mat-accordion multi class="rest-urls-accordion">
  @for (apiCall of data.apiCalls; track apiCall) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="rest-urls-title">
            <code>{{ apiCall.verb }}</code>: <code>{{ apiCall.url }}</code>
            <span>&nbsp;to {{ apiCall.teaser }}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description style="display: block;">
        <h4>{{ apiCall.instructions }}</h4>
        <p>
          HTTP Verb: <code>{{ apiCall.verb }}</code> <br>
          {{ data.scenario.useVirtual ? 'Virtual' : 'Absolute' }} Url: <code>{{ apiCall.url }}</code>
        </p>
        @if (apiCall.enableButton) {
          <p>
            <button mat-raised-button (click)="callApiGet(apiCall.url)">Call and Output to Console</button>
            @if (apiCall.browseUrl) {
              &nbsp;
              <a [href]="apiCall.browseUrl" target="_blank">Open in Browser</a>
              @if (data.scenario.useVirtual) {
                <span>
                  (for the demo to work it will add context parameters)
                </span>
              }
            }
          </p>
        }
        <!-- show the code examples -->
        @for (code of apiCall.code; track code) {
          <h4>{{ code.title }}</h4>
          <p>{{ code.description }}</p>
          <div class="code-example">
            <pre class="code-example__text">{{ code.code }}</pre>
            <button mat-icon-button class="code-example__copy" tippy="Copy to clipboard" (click)="copyCode(code.code)">
              <mat-icon>copy</mat-icon>
            </button>
          </div>
          <!-- show hints / warnings -->
          @for (hint of code.hints; track hint) {
            <app-info-box [type]="hint.type">
              <span [innerHtml]="hint.message"></span>
            </app-info-box>
          }
        }
      </mat-panel-description>
    </mat-expansion-panel>
  }
</mat-accordion>