.eav-radio-group-label {
  font-size: 18px;
  margin: 24px 0 0;
}

.eav-radio-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.eav-hint {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.eav-evaluation {
  &__title {
    font-size: 18px;
    margin: 24px 0 0;
    font-weight: bold;
  }

  &__content {
    font-size: 14px;

    li {
      padding: 2px 0;
    }
  }
}
