@if (viewModel$ | async; as vm) {
  <div class="eav-dialog" appDragAndDrop
    [allowedFileTypes]="'xml'" (filesDropped)="filesDropped($event)">
    <div class="eav-dialog-header">
      <div class="eav-dialog-header__title">{{ vm.contentType?.Name }} Import Data</div>
    </div>
    <div class="eav-dialog-description">
      <p>
        This will import content-items into 2sxc. It requires that you already defined the content-type before you try
        importing, and that you created the import-file using the template provided by the Export. Please visit
        <a href="https://2sxc.org/help" target="_blank">https://2sxc.org/help</a> for more instructions.
      </p>
    </div>
    @if (formValues != null) {
      @switch (vm.viewStateSelected) {
        <!-- FORM -->
        @case (1) {
          <form #ngForm="ngForm">
            <div class="eav-dialog-content">
              <div>
                <button mat-raised-button tippy="Open file browser" (click)="fileInput.click()">
                  <span>{{ formValues.file ? formValues.file.name : 'Select or drop file' }}</span>
                </button>
                <input #fileInput type="file" (change)="fileChange($event)" class="hide" />
              </div>
              <div>
                <p class="eav-radio-group-label">References to pages / files</p>
                <mat-radio-group class="eav-radio-group" [(ngModel)]="formValues.resourcesReferences" name="ResourcesReferences">
                  <mat-radio-button value="Keep">
                    Import links as written in the file (for example /Portals/...)
                  </mat-radio-button>
                  <mat-radio-button value="Resolve">
                    Try to resolve paths to references
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <p class="eav-radio-group-label">Clear all other entities</p>
                <mat-radio-group class="eav-radio-group" [(ngModel)]="formValues.clearEntities" name="ClearEntities">
                  <mat-radio-button value="None">
                    Keep all entities not found in import
                  </mat-radio-button>
                  <mat-radio-button value="All">
                    Remove all entities not found in import
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <p class="eav-hint">Remember to backup your DNN first!</p>
            </div>
            <mat-dialog-actions align="end">
              <button mat-raised-button (click)="closeDialog()">Cancel</button>
              <button mat-raised-button color="accent" [disabled]="!formValues.file || !formValues.file.name"
                (click)="evaluateContent()">
                Preview Import
              </button>
            </mat-dialog-actions>
          </form>
        }
        <!-- END FORM -->
        <!-- WAITING -->
        @case (0) {
          <div class="eav-dialog-content">
            <p>Please wait while processing...</p>
          </div>
        }
        <!-- END WAITING -->
        <!-- EVALUATION RESULT -->
        @case (2) {
          @if (vm.evaluationResult) {
            <!-- DETAILS / STATISTICS -->
            @if (vm.evaluationResult.Success) {
              <div class="eav-dialog-content">
                <p class="eav-evaluation__title">Try to import file '{{ formValues.file.name }}'</p>
                <p class="eav-evaluation__title">File contains:</p>
                <ul class="eav-evaluation__content">
                  <li>{{ vm.evaluationResult.Detail.DocumentElementsCount }} content-items (records/entities)</li>
                  <li>{{ vm.evaluationResult.Detail.LanguagesInDocumentCount }} languages</li>
                  <li>{{ vm.evaluationResult.Detail.AttributeNamesInDocument.length }} columns:
                  {{ vm.evaluationResult.Detail.AttributeNamesInDocument.join(', ') }}</li>
                </ul>
                <p class="eav-evaluation__title">If you press Import, it will:</p>
                <ul class="eav-evaluation__content">
                  <li>Create {{ vm.evaluationResult.Detail.AmountOfEntitiesCreated }} content-items</li>
                  <li>Update {{ vm.evaluationResult.Detail.AmountOfEntitiesUpdated }} content-items</li>
                  <li>Delete {{ vm.evaluationResult.Detail.AmountOfEntitiesDeleted }} content-items</li>
                  <li>Ignore {{ vm.evaluationResult.Detail.AttributeNamesNotImported.length }} columns:
                  {{ vm.evaluationResult.Detail.AttributeNamesNotImported.join(', ') }}</li>
                </ul>
                <p class="eav-hint">Note: The import validates much data and may take several minutes.</p>
              </div>
            }
            <!-- END DETAILS / STATISTICS -->
            <!-- ERRORS -->
            @if (!vm.evaluationResult.Success) {
              <div class="eav-dialog-content">
                <p class="eav-evaluation__title">Try to import file '{{ formValues.file.name }}'</p>
                <ul class="eav-evaluation__content">
                  @for (error of vm.evaluationResult.Errors; track error) {
                    <li>
                      <div>{{ errors[error.ErrorCode] }}</div>
                      @if (error.ErrorDetail) {
                        <div><i>Details: {{ error.ErrorDetail }}</i></div>
                      }
                      @if (error.LineNumber) {
                        <div><i>Line-no: {{ error.LineNumber }}</i></div>
                      }
                      @if (error.LineDetail) {
                        <div><i>Line-details: {{ error.LineDetail }}</i></div>
                      }
                    </li>
                  }
                </ul>
              </div>
            }
            <!-- END ERRORS -->
            <mat-dialog-actions align="end">
              <button mat-raised-button (click)="back()">Back</button>
              <button mat-raised-button color="accent" [disabled]="!vm.evaluationResult.Success" (click)="importContent()">
                Import
              </button>
            </mat-dialog-actions>
          }
        }
        <!-- END EVALUATION RESULT -->
        <!-- IMPORT RESULT -->
        @case (3) {
          @if (vm.importResult) {
            <div class="eav-dialog-content">
              @if (vm.importResult.Success) {
                <p>Import done.</p>
              }
              @if (!vm.importResult.Success) {
                <p>Import failed.</p>
              }
            </div>
          }
          <mat-dialog-actions align="end">
            <button mat-raised-button color="accent" (click)="closeDialog()">Close</button>
          </mat-dialog-actions>
        }
        <!-- END IMPORT RESULT -->
      }
    }
  </div>
}