.eav-dialog {
  .eav-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    &__title {
      font-size: 29px;
      line-height: 29px;
      font-weight: 400;
    }

    &__subtitle {
      font-size: 29px;
      line-height: 29px;
      font-weight: 400;
    }
  }

  .eav-dialog-description {
    padding: 0px 24px;
  }

  .eav-dialog-content {
    padding: 0px 24px 24px 24px;
  }
}

.eav-radio-group-label {
  font-size: 18px;
  margin: 24px 0 0;
}

.eav-radio-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.eav-hint {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.eav-evaluation {
  &__title {
    font-size: 18px;
    margin: 24px 0 0;
    font-weight: bold;
  }

  &__content {
    font-size: 14px;

    li {
      padding: 2px 0;
    }
  }
}
