<div class="dialog-form-wrapper" appDragAndDrop [allowedFileTypes]="'xml'" (filesDropped)="filesDropped($event)"
  *ngIf="(templateVars$ | async) as data">

  <div mat-dialog-title>
    <div class="dialog-title-box">{{ data.contentType?.Name }} Import Data</div>
  </div>

  <p class="dialog-description">
    This will import content-items into 2sxc. It requires that you already defined the content-type before you try
    importing, and that you created the import-file using the template provided by the Export. Please visit
    <a href="https://2sxc.org/help" target="_blank">https://2sxc.org/help</a> for more instructions.
  </p>

  <ng-container *ngIf="formValues != null">
    <ng-container [ngSwitch]="data.viewStateSelected">

      <!-- FORM -->
      <form #ngForm="ngForm" class="dialog-form" *ngSwitchCase="1">
        <div class="dialog-form-content fancy-scrollbar-light">
          <div>
            <button mat-raised-button tippy="Open file browser" (click)="fileInput.click()">
              <span>{{ formValues.file ? formValues.file.name : 'Select or drop file' }}</span>
            </button>
            <input #fileInput type="file" (change)="fileChange($event)" class="hide" />
          </div>

          <div>
            <p class="field-label">References to pages / files</p>
            <mat-radio-group [(ngModel)]="formValues.resourcesReferences" name="ResourcesReferences">
              <mat-radio-button value="Keep">
                Import links as written in the file (for example /Portals/...)
              </mat-radio-button>
              <mat-radio-button value="Resolve">
                Try to resolve paths to references
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div>
            <p class="field-label">Clear all other entities</p>
            <mat-radio-group [(ngModel)]="formValues.clearEntities" name="ClearEntities">
              <mat-radio-button value="None">
                Keep all entities not found in import
              </mat-radio-button>
              <mat-radio-button value="All">
                Remove all entities not found in import
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <p class="hint">Remember to backup your DNN first!</p>
        </div>

        <div class="dialog-form-actions">
          <button mat-raised-button (click)="closeDialog()">Cancel</button>
          <button mat-raised-button color="accent" [disabled]="!formValues.file || !formValues.file.name"
            (click)="evaluateContent()">
            Preview Import
          </button>
        </div>
      </form>
      <!-- END FORM -->

      <!-- WAITING -->
      <p *ngSwitchCase="0" class="progress-message">Please wait while processing...</p>
      <!-- END WAITING -->

      <!-- EVALUATION RESULT -->
      <ng-container *ngSwitchCase="2">
        <ng-container *ngIf="data.evaluationResult">
          <!-- DETAILS / STATISTICS -->
          <div *ngIf="data.evaluationResult.Success" class="dialog-component-content fancy-scrollbar-light">
            <p class="evaluation__title">Try to import file '{{ formValues.file.name }}'</p>
            <p class="evaluation__title">File contains:</p>
            <ul class="evaluation__content">
              <li>{{ data.evaluationResult.Detail.DocumentElementsCount }} content-items (records/entities)</li>
              <li>{{ data.evaluationResult.Detail.LanguagesInDocumentCount }} languages</li>
              <li>{{ data.evaluationResult.Detail.AttributeNamesInDocument.length }} columns:
                {{ data.evaluationResult.Detail.AttributeNamesInDocument.join(', ') }}</li>
            </ul>
            <p class="evaluation__title">If you press Import, it will:</p>
            <ul class="evaluation__content">
              <li>Create {{ data.evaluationResult.Detail.AmountOfEntitiesCreated }} content-items</li>
              <li>Update {{ data.evaluationResult.Detail.AmountOfEntitiesUpdated }} content-items</li>
              <li>Delete {{ data.evaluationResult.Detail.AmountOfEntitiesDeleted }} content-items</li>
              <li>Ignore {{ data.evaluationResult.Detail.AttributeNamesNotImported.length }} columns:
                {{ data.evaluationResult.Detail.AttributeNamesNotImported.join(', ') }}</li>
            </ul>
            <p class="hint">Note: The import validates much data and may take several minutes.</p>
          </div>
          <!-- END DETAILS / STATISTICS -->
          <!-- ERRORS -->
          <div *ngIf="!data.evaluationResult.Success" class="dialog-component-content fancy-scrollbar-light">
            <p class="evaluation__title">Try to import file '{{ formValues.file.name }}'</p>
            <ul class="evaluation__content">
              <li *ngFor="let error of data.evaluationResult.Errors">
                <div>{{ errors[error.ErrorCode] }}</div>
                <div *ngIf="error.ErrorDetail"><i>Details: {{ error.ErrorDetail }}</i></div>
                <div *ngIf="error.LineNumber"><i>Line-no: {{ error.LineNumber }}</i></div>
                <div *ngIf="error.LineDetail"><i>Line-details: {{ error.LineDetail }}</i></div>
              </li>
            </ul>
          </div>
          <!-- END ERRORS -->
          <div class="dialog-component-actions">
            <button mat-raised-button (click)="back()">Back</button>
            <button mat-raised-button color="accent" [disabled]="!data.evaluationResult.Success"
              (click)="importContent()">
              Import
            </button>
          </div>
        </ng-container>
      </ng-container>
      <!-- END EVALUATION RESULT -->

      <!-- IMPORT RESULT -->
      <div *ngSwitchCase="3">
        <div *ngIf="data.importResult" class="progress-message">
          <p *ngIf="data.importResult.Success">Import done.</p>
          <p *ngIf="!data.importResult.Success">Import failed.</p>
        </div>
        <div class="dialog-component-actions">
          <button mat-raised-button color="accent" (click)="closeDialog()">Close</button>
        </div>
      </div>
      <!-- END IMPORT RESULT -->
    </ng-container>
  </ng-container>
</div>
