<mat-form-field [formGroup]="groupFileState" color="accent" class="eav-mat-form-field">
  <div class="icon-option">
    @if (controlStatus().value) {
    <i class="icon-preview {{ previewCss() }} {{ controlStatus().value }}"></i>
    }
    <input matInput class="eav-translate-on-dblclick"
      [formControlName]="configFileState.fieldName"
      [placeholder]="basicsFileState().placeholder"
      [required]="basicsFileState().required"
      [matAutocomplete]="auto">
  </div>
  <mat-autocomplete #auto="matAutocomplete" [hideSingleSelectionIndicator]="true">
    <cdk-virtual-scroll-viewport itemSize="48" minBufferPx="500" maxBufferPx="1000"
      [style.height.px]="filteredIcons().length < 6 ? filteredIcons().length * 48 : 240">
      <mat-option *cdkVirtualFor="let icon of filteredIcons()" [value]="icon.class">
        <div class="icon-option">
          <i class="icon-preview {{ previewCss() }} {{ icon.class }}"></i>
          <span>{{ icon.label }}</span>
        </div>
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </mat-autocomplete>
  <mat-label>{{ basicsFileState().label }}</mat-label>
</mat-form-field>
<app-field-helper-text></app-field-helper-text>
