<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Test Form RV: {{isReturnValueMode}}</div>
  </div>
  <div class="eav-dialog-content">
    <form [formGroup]="form">
      <mat-form-field color="accent">
        <mat-label>Temp. Versions Nr</mat-label>
        <input matInput type="text" formControlName="tempVersionNr" />
      </mat-form-field>
    </form>
  </div>
  <mat-dialog-actions align="end">
    <button type="button" mat-raised-button [disabled]="loading()" (click)="closeDialog()">Cancel</button>
    <button type="button" mat-raised-button color="accent" [disabled]="loading() || !form.valid" (click)="save()">Save</button>
  </mat-dialog-actions>
</div>
