@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/theme/material-colors.scss";

%field-border {
  padding: 0 0 1px 0;
  border-bottom: 1px solid $field-border-color--initial;
}

%field-border--hover {
  padding: 0;
  border-bottom: 2px solid $field-border-color--hover;
  transition: none;
}

%field-border--invalid {
  padding: 0;
  border-bottom: 2px solid $field-border-color--invalid;
  transition: none;
}

%field-border--disabled {
  border: none;
  cursor: default;
  padding: 0 0 2px 0;
  background-image: linear-gradient(to right, $field-border-color--disabled 0%, $field-border-color--disabled 33%, transparent 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.c-ew {
  &__preview {
    position: relative;
    // min-height: 36px;
    $label-top: 16px;
    cursor: pointer;

    @extend %field-border;

    &:hover:not(.c-ew__preview--disabled):not(.c-ew__preview--invalid) {
      @extend %field-border--hover;
    }

    &-holder {
      position: relative;
      margin-top: calc(#{$label-top});
    }

    &-label {
      top: -$label-top;
      position: absolute;
      z-index: 1;
      pointer-events: none;
      font-size: 12px;
      line-height: 14px;
    }

    &-label:not(.mat-error) {
      color: rgba($editUI-foreground-color, 0.44);
    }

    &-container {
      overflow: hidden;
      height: 100%;
      // max-height: 95px;// 119px minus paddings
      -webkit-align-content: center;
      align-content: center;

      &--empty {
        padding: 6px 0 0 0;
      }
    }

    &--invalid {
      @extend %field-border--invalid;
    }

    &--disabled {
      @extend %field-border--disabled;
    }

    .color__accent {
      color: map_get($mat-eav-item-dialog-secondary, 500);
    }

    .color__primary {
      color: rgba($editUI-foreground-color, 0.44);
    }

    .color__label-disabled {
      color: $editUI-label-disabled-color;
    }

    mat-empty {
      height: 48px;
      padding: 24px 0 0 0;
    }
  }
}

.eav-more-entities {
  padding: 0px 12px;
  margin-left: 10px;
  background: transparent;
  color: $editUI-foreground-color;
  border-radius: 10px;
  border: 1px solid rgba($editUI-foreground-color, 0.44);
  height: 18px;
  font-size: 12px;
  line-height: 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.eav-more-entities-margin-right {
  margin-right: 10px;
}

.eav-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  flex: 1 1 auto;
  max-height: 35px;
}

.eav-list-item {
  width: auto !important;
  max-width: 200px;
  flex: 0 1 auto;
  height: 20px !important;
  background: rgba($editUI-foreground-color, 0.08);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px;
}