<div class="eav-dialog nav-component-wrapper">
  <app-grid-with-help style="height: 100%" [helpText]="uxHelpText()" [refresh]="refresh()" [rowLength]="metadataSet()?.Items.length">
    
    <app-dialog-header eav-dialog-header (close)="closeDialog()">
      {{ title || 'Metadata' }}
    </app-dialog-header>

    <div class="eav-dialog-content" eav-dialog-content>
      <p>
        @if (!itemFor()) {
          This item is not metadata for anything else.
        } @else {
          This item is metadata for:
          <br />Target: {{ itemFor().Target }} <br />TargetType: {{ itemFor().TargetType }}
          @if (itemFor().KeyNumber) {
            <br />Key Number: {{ itemFor().KeyNumber }}
          }
          @if (itemFor().KeyGuid) {
            <br />Key Guid: {{ itemFor().KeyGuid }}
          }
          @if (itemFor().KeyString) {
            <br />Key String: {{ itemFor().KeyString }}
          }
          @if (itemFor().Title) {
            <br />Title: {{ itemFor().Title }}
          }
        }
      </p>
    </div>

    @if (metadataSet()?.Items.length > 0) {
      <ag-grid-angular
        class="ag-theme-material eav-dialog-content"
        [rowData]="metadataSet()?.Items"
        [gridOptions]="gridOptions">
      </ag-grid-angular>
    }

    <mat-dialog-actions align="end">
      @if (recommendations()?.length === 0) {
        <button matFab mat-elevation-z24 class="grid-fab" tippy="Create a new metadata for this item" (click)="createMetadata()">
          <mat-icon>add</mat-icon>
        </button>
      } 
      @if (recommendations()?.length > 0) {
      <eco-fab-speed-dial class="eav-eco-fab-speed-dial" [ngClass]="{ 'fab-opened': fabOpen() }" (openChange)="openChange($event)">
        <eco-fab-speed-dial-trigger [spin]="true">
          <button matFab class="grid-fab">
            <mat-icon class="spin180">{{ fabOpen() ? 'close' : 'add' }}</mat-icon>
          </button>
        </eco-fab-speed-dial-trigger>
        <eco-fab-speed-dial-actions class="eav-eco-fab-speed-dial-actions">
          <button matMiniFab class="eav-eco-fab-speed-dial-action-button" label="Other Content Type" (click)="createMetadata()">
            <mat-icon>search</mat-icon>
          </button>
          @for (recommendation of recommendations(); track recommendation) {
            <button
              matMiniFab
              class="eav-eco-fab-speed-dial-action-button"
              [attr.label]="recommendation.Title"
              (click)="createMetadata(recommendation)"
            >
            @if (recommendation.Icon && fabOpen()) {
              <div
                style="color: white; fill: white"
                [innerHTML]="recommendation.Icon | safeHtml"
                matBadgeColor="accent"
                matBadgeSize="small"
                [matBadgeIcon]="!recommendation.Enabled ? 'diamond' : null"
                matBadgePosition="below after"
                aria-hidden="false"
              ></div>
            } @else {
            <mat-icon>add</mat-icon>
            }
          </button>
          }
        </eco-fab-speed-dial-actions>
      </eco-fab-speed-dial>
      }
    </mat-dialog-actions>
  </app-grid-with-help>
</div>

<router-outlet></router-outlet>
