@use "../../../../../styles/variables.scss";

:host ::ng-deep .ag-row-hover .ag-cell .eav-grid-action-button {
  color: variables.$sxc-solid !important;
}

.grid-height {
  max-height: calc(100vh - 560px);
  min-height: 135px;
}
