$edit-ui-dialog-width: 100vw;
$edit-ui-dialog-max-width: 960px;
// TODO: calculate the max height of editUi by screens
$edit-ui-dialog-max-height: 75vh;
$edit-ui-dialog-background-color: #EFF0F2;
$edit-ui-dialog-border-radius:8px;

$save-button-height:48px;
$save-button-width-compact:48px;
$save-button-width-extended:200px;

// EditUI dialog

.c-multi-item-dialog {
    .mat-dialog-container {
        padding: 0;
        background-color: $edit-ui-dialog-background-color;
        border-radius: $edit-ui-dialog-border-radius;
        // width: $edit-ui-dialog-width;
        // max-width: 960px;
        bottom: 10px;
    }

    .mat-card {
        padding:16px 24px 16px 24px;
    }

    .mat-dialog-content {
        margin:0;
        padding: 0;
        max-height: $edit-ui-dialog-max-height;
    }
    
    .mat-dialog-actions {
        padding:0;
        margin-bottom:0;
    }

    &--save-div {
        z-index: 1;
        position: fixed;
        width: $edit-ui-dialog-width;
        max-width: $edit-ui-dialog-max-width;
        padding: 0;
        line-height: 0;
    }

    &--save-button {
        margin-top: -96px;
        margin-right: 48px;
        width: $save-button-width-compact;
        .mat-fab {
            border-radius: 16px 0;
            .mat-button-wrapper {
                padding:8px 0;
            }
            
            &--compact {
                height: $save-button-height;
                width:$save-button-width-compact;
                transition: width 1s;
                
            }
            &--extended {
                height: $save-button-height;
                width:$save-button-width-extended;
                transition: width 1s;
                
            }
        }
        // .mat-fab:hover {
        //     width:$save-button-width-extended;
        // }
    }
}


// Save satatus dialog

.c-save-status-dialog {
    .mat-dialog-container {
        padding: 0;
        background-color: $edit-ui-dialog-background-color;
        border-radius: $edit-ui-dialog-border-radius;
    }

    &--header { 
        padding: 24px;
    }

    &--actions{
        padding-bottom:24px;
    }

    &--list-item{
        padding-bottom:24px;
    }
}
