.eav-dragging .dropzone, .dropzone.dz-drag-hover {
    min-height: 0;
    outline: 2px dashed #0069BF;
    background: white;
    padding: 0;
    border-radius: 5px;
    transition: outline-color 0.5s;
}
