<button mat-button (click)="browseCatalog()">
  <mat-icon>search</mat-icon>
  more apps
</button>
<button mat-button>import app</button>
<button mat-button>create app</button>
<button mat-button (click)="reloadApps()">reload apps list</button>

<ag-grid-angular class="ag-theme-material apps-grid" [rowData]="apps" [columnDefs]="columnDefs" [modules]="modules"
  [frameworkComponents]="frameworkComponents" (gridSizeChanged)="onGridSizeChanged($event)"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
