<div mat-dialog-title>
  <div class="dialog-title-box">
    <div>Replace Content Item</div>
    <button mat-icon-button matTooltip="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<p class="dialog-description">
  By replacing a content-item you can make a other content appear in the slot of the original content.
</p>

<div class="options-box">
  <mat-form-field class="options-box__field" appearance="standard" color="accent">
    <mat-label>Choose item</mat-label>
    <mat-select [(ngModel)]="item.id" name="Language">
      <mat-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button class="options-box__copy" matTooltip="Copy" (click)="copySelected()">
    <mat-icon>file_copy</mat-icon>
  </button>
</div>

<div class="form-actions-box">
  <button mat-icon-button matTooltip="Save" (click)="save()">
    <mat-icon>done</mat-icon>
  </button>
</div>
