<div mat-dialog-title>
  <div class="dialog-title-container">
    <div>Manage Apps in this Zone (Portal)</div>
    <button mat-icon-button matTooltip="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<!-- spm we use mat-tab-group because mat-tab-nav-bar doesn't have animations and doesn't look pretty -->
<mat-tab-group mat-dialog-content dynamicHeight (selectedTabChange)="changeTab($event)" [selectedIndex]="tabIndex">
  <mat-tab>
    <div *matTabLabel class="tab-container" matTooltip="Apps">
      <mat-icon>star_border</mat-icon>
      <span>Apps</span>
    </div>
    <app-apps-list *matTabContent></app-apps-list>
  </mat-tab>

  <mat-tab>
    <div *matTabLabel class="tab-container" matTooltip="Settings">
      <mat-icon>settings_applications</mat-icon>
      <span>Settings</span>
    </div>
    <app-zone-settings *matTabContent></app-zone-settings>
  </mat-tab>

  <mat-tab>
    <div *matTabLabel class="tab-container" matTooltip="These settings apply to all zones/portals">
      <mat-icon>tune</mat-icon>
      <span>Features</span>
    </div>
    <app-manage-features *matTabContent></app-manage-features>
  </mat-tab>

  <mat-tab>
    <div *matTabLabel class="tab-container" matTooltip="Insights">
      <mat-icon>storage</mat-icon>
      <span>2sxc Insights</span>
    </div>
    <app-sxc-insights *matTabContent></app-sxc-insights>
  </mat-tab>
</mat-tab-group>
