<div class="title-container">
  <h1>Manage Apps in this Zone (Portal)</h1>

  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<button mat-button *ngFor="let tab of tabsArray; index as i" (click)="changeTab(tab.url)">
  <mat-icon>{{ tab.icon }}</mat-icon>
  {{ tab.name }}
</button>

<div [ngSwitch]="tabPath">
  <app-apps-list *ngSwitchCase="tabs.apps.url"></app-apps-list>
  <app-zone-settings *ngSwitchCase="tabs.settings.url"></app-zone-settings>
  <app-manage-features *ngSwitchCase="tabs.features.url"></app-manage-features>
  <app-sxc-insights *ngSwitchCase="tabs.sxcInsights.url"></app-sxc-insights>
</div>
