<div class="actions-component">
  <div class="like-button highlight" matRipple matTooltip="Flush cache" (click)="flushCache()">
    <mat-icon>cached</mat-icon>
  </div>
  <div class="like-button highlight" matRipple matTooltip="More" (click)="openMoreDialog(moreTemplate, 1)">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<ng-template #moreTemplate>
  <button mat-icon-button matTooltip="Delete" [disabled]="!app.IsApp" (click)="deleteApp()">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
