.row-container {
  display: flex;
  justify-content: space-between;
}

.edit-input {
  padding-bottom: 8px;
  width: 30%;
}

.type-icon {
  width: inherit;
  height: inherit;
  margin-right: 8px;
  font-size: inherit;
  vertical-align: top;
  line-height: inherit;
}

.input-icon {
  width: inherit;
  height: inherit;
  margin-left: 8px;
  font-size: inherit;
  vertical-align: top;
  line-height: inherit;
}

.input-obsolete {
  text-decoration: black line-through;
  color: dimgray;
}
