<mat-accordion multi *ngIf="licenses$ | async as licenses">
  <mat-expansion-panel #panel *ngFor="let license of licenses | licensesOrder; trackBy: trackLicenses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="panel-icon" [tippy]="license.IsEnabled ? 'License is active' : 'License is not active'">
          {{ license.IsEnabled ? 'check_circle_outline' : 'cancel' }}
        </mat-icon>
        <div>
          <div class="panel-title">
            <span>{{ license.Name }}</span>
            <span class="active-features-count">{{ license | activeFeaturesCount }}</span>
          </div>
          <div class="panel-description" [ngClass]="{ 'expanded': panel.expanded }">
            {{ license.Description }}
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panel.expanded">
      <ag-grid-angular class="ag-theme-material" [rowData]="license.Features" [gridOptions]="gridOptions"
        appAgGridHeight [itemsCount]="license.Features?.length">
      </ag-grid-angular>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>

<div class="spacer"></div>

<div class="actions-box" *ngIf="{
  debugEnabled: debugEnabled$ | async,
  systemInfoSet: systemInfoSet$ | async
} as data">
  <button mat-button tippy="Register" *ngIf="data.systemInfoSet" (click)="openLicenseRegistration(data.systemInfoSet)">
    <mat-icon>app_registration</mat-icon>
    <span>Register</span>
  </button>
  <button mat-button tippy="Retrieve license" (click)="retrieveLicense()">
    <mat-icon>download_for_offline</mat-icon>
    <span>Retrieve license</span>
  </button>
  <button mat-button color="accent" tippy="Upload license" *ngIf="data.debugEnabled" (click)="openLicenseUpload()">
    <mat-icon>cloud_upload</mat-icon>
    <span>Upload license</span>
  </button>
</div>
