<mat-accordion multi *ngIf="licenses$ | async as licenses">
  <mat-expansion-panel #panel *ngFor="let license of licenses | licensesOrder; trackBy: trackLicenses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="panel-icon" [tippy]="license.IsEnabled ? 'License is active' : 'License is not active'">
          {{ license.IsEnabled ? 'check_circle_outline' : 'cancel' }}
        </mat-icon>
        <div>
          <div class="panel-title">
            <span>{{ license.Name }}</span>
            <span class="active-features-count">{{ license | activeFeaturesCount }}</span>
          </div>
          <div class="panel-description">{{ license.Description }}</div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panel.expanded">
      <ag-grid-angular class="ag-theme-material" [rowData]="license.Features" [modules]="modules"
        [gridOptions]="gridOptions" appAgGridHeight [itemsCount]="license.Features?.length">
      </ag-grid-angular>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>

<div class="actions-box">
  <button mat-button color="accent" tippy="Retrieve Licenses" *ngIf="debugEnabled$ | async" (click)="retrieveLicense()">
    <mat-icon>cloud_download</mat-icon>
    <span>License</span>
  </button>
  <button mat-button color="accent" tippy="Upload license" *ngIf="debugEnabled$ | async" (click)="openLicenseUpload()">
    <mat-icon>cloud_upload</mat-icon>
    <span>License</span>
  </button>
</div>
