:host {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mat-expansion-panel-header-title {
  font-size: 14px;
}

.license-description {
  font-size: 14px;
  margin: 0;
  margin-bottom: 16px;
}
