@if (show()) {
  <div class="c-fht__container my-main" [ngClass]="{
      'my-last-field': fieldState.config.isLastInGroup,
      'my-hyperlink-wrapper-fix': hyperlinkDefaultWrapperFix && !fieldState.config.isLastInGroup
    }"
  >
    @if (notes()) {
      <mat-hint class="mat-caption my-notes" (click)="toggleHint($event)"
        [ngClass]="disabled() ? 'disabled' : ''" align="start"
        fxLayout="row" fxLayoutAlign="start start"
      >
        <span class="id-notes-container" [ngClass]="showExpand ? 'expandable': ''" appChangeAnchorTarget
          [innerHtml]="notes() | safeHtml">
        </span>
      </mat-hint>
    }
    @if (showErrors() && errorMessage(); as error) {
      <mat-error class="mat-caption">{{ error | translate: settings() }}</mat-error>
    }
    @if (!disableError && warningMessage(); as warning) {
      <mat-error class="mat-caption warning">{{ warning | translate }}</mat-error>
    }
  </div>
}