@if (show()) {
  <div class="my-main" [ngClass]="{
      'my-last-field': fieldState.config.isLastInGroup,
      'my-hyperlink-wrapper-fix': hyperlinkDefaultWrapperFix && !fieldState.config.isLastInGroup,
      'small-gap': smallGap(),
    }"
  >
    @if (notes()) {
      <mat-hint class="my-notes" (click)="toggleHint($event)"
        [ngClass]="{ 'disabled': disabled() }"
      >
        <div class="id-notes-container" [ngClass]="showExpand ? 'expandable': ''" appChangeAnchorTarget
          [innerHtml]="notes() | safeHtml">
        </div>
      </mat-hint>
    }
    @if (showErrors() && errorMessage(); as error) {
      <mat-error class="">{{ error | translate: settings() }}</mat-error>
    }
    @if (!disableError && warningMessage(); as warning) {
      <mat-error class="warning">{{ warning | translate }}</mat-error>
    }
  </div>
}