@use "sass:map";
@use "../../assets/styles/variables.scss";
@use "../../assets/styles/theme/material-colors.scss";

// helper text
// Note: 2024-09-24 2dm
// The values seem very strange, especially with the extreme precision
$helper-text-padding: 0.5em 0 13px 0;
$helper-text-padding--last: 0.5em 0 5px 0;

.my-main {
  padding: $helper-text-padding;
  font-size: 12px;

  // Use a very small gap - ATM for radio/checkboxes where the label comes before the values
  &.small-gap {
    padding-bottom: 0px;
  }
  // Note: 2024-09-24 2dm
  // this should apparently do something in the hyperlink-dialog, but I can't ever see it...
  &.my-hyperlink-wrapper-fix {
    min-height: 22px;
  }
  &.my-last-field {
    padding: $helper-text-padding--last;
  }

  // Note: 2024-09-24 2dm
  // This should probably put a border around the field, but I can't see it
  // there is nothing in the code ATM which would make this visible
  &.input-invalid {
    padding: 6px 12px 11px 12px;
    border: 2px;
    border-bottom-style: solid;
    border-color: map.get(material-colors.$mat-eav-item-dialog-error, 500);
  }
}

.mat-mdc-form-field-error.warning {
  color: #ffc107;
}


.my-notes {
  color: rgba(variables.$editUI-foreground-color, 0.50);
  // not sure why this is necessary, but as we removed the flex-helper
  // the space above became too large
  display: flex;

  &.disabled .expandable p {
    color: rgba(variables.$editUI-foreground-color, 0.25);
  }

  p:first-child {
    margin: 0px;
  }

  .expandable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 16px;

    p {
      width: 100%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
  }
}
