@import "../../assets/styles/variables.scss";
@import "../../assets/styles/theme/material-colors.scss";

.my-main {
  padding: $helper-text-padding;
}

.c-fht__container {
  padding: $helper-text-padding;

  &--no-hint {
    padding: $helper-text-padding--no-hint;
  }

  &--last {
    padding: $helper-text-padding--last;

    &--no-hint {
      padding: $helper-text-padding--last--no-hint;
    }
  }

  &--hyperlink-default-wrapper-fix {
    min-height: 22px;
  }

  &-hint {
    color: rgba($editUI-foreground-color, 0.44);

    &--ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 16px;
      // in global scss
      // p {
      //     margin-block-start: 0;
      // }
      color: blue;

      p {
        color: green;
      }
    }

    &--disabled {
      color: rgba($editUI-foreground-color, 0.24);
    }
  }

  &--input-invalid {
    padding: 6px 12px 11px 12px;
    border: 2px;
    border-bottom-style: solid;
    border-color: map_get($mat-eav-item-dialog-error, 500);
  }

}

.mat-mdc-form-field-error.warning {
  color: #ffc107;
}




.c-fht__container {
  font-size: 12px;
}

.c-fht__container-hint--ellipsis p {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  margin: 0px;
  padding: 0px;
  color: red;
}

.c-fht__container-hint p:first-child {
  margin: 0px;
}

.c-fht__container-hint--disabled p:first-child {
  margin: 0px;
}
