@import "../../assets/styles/variables.scss";
@import "../../assets/styles/theme/material-colors.scss";

// helper text
// Note: 2024-09-24 2dm
// The values seem very strange, especially with the extreme precision
$helper-text-padding: 0.54em 0 13px 0;
$helper-text-padding--last: 0.54em 0 5px 0;

.my-main {
  padding: $helper-text-padding;
  font-size: 12px;

  // Note: 2024-09-24 2dm
  // this should apparently do something in the hyperlink-dialog, but I can't ever see it...
  &.my-hyperlink-wrapper-fix {
    min-height: 22px;
  }
  &.my-last-field {
    padding: $helper-text-padding--last;
  }

  // Note: 2024-09-24 2dm
  // This should probably put a border around the field, but I can't see it
  // there is nothing in the code ATM which would make this visible
  &.input-invalid {
    padding: 6px 12px 11px 12px;
    border: 2px;
    border-bottom-style: solid;
    border-color: map_get($mat-eav-item-dialog-error, 500);
  }
}

.mat-mdc-form-field-error.warning {
  color: #ffc107;
}


.my-notes {
  color: rgba($editUI-foreground-color, 0.44);

  &.disabled p:first-child {
    font-style: italic;
    color: rgba($editUI-foreground-color, 0.24);
  }

  p:first-child {
    margin: 0px;
  }

  .expandable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 16px;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: block;
      margin: 0px;
      padding: 0px;
    }
  }
}
