<form [formGroup]="contentTypeForm">
  <mat-form-field color="accent" class="eav-mat-form-field">
    <mat-label>Content-Type</mat-label>
    <mat-select formControlName="contentType" (valueChange)="openRestApi($event)">
      @if (contentTypes$ | async; as contentTypes) {
        @for (contentType of contentTypes.sort() ; track contentType) {
        <mat-option [value]="contentType.StaticName" >
          {{ contentType.Label }}
        </mat-option>
        }
      }
    </mat-select>
  </mat-form-field>
</form>

<router-outlet></router-outlet>
