<mat-divider></mat-divider>
@if (viewModel(); as vm) {
  <div class="hint-box u-border-radius-bottom mat-caption u-shadow-top">
    <div class="hint-box__hint">{{ 'Fields.Hyperlink.AdamFileManager.Hint' | translate }}</div>
    <div class="hint-box__sponsor">
      <a href="https://2sxc.org/help?tag=adam" target="_blank" tabindex="-1" class="adam-link"
        [tippy]="'Fields.Hyperlink.AdamFileManager.HelpTooltip' | translate">
        <mat-icon svgIcon="apple-outlined"></mat-icon>
        <span>{{ 'Fields.Hyperlink.AdamFileManager.Name' | translate }}</span>
      </a>
      @if (vm.showAdamSponsor) {
        &nbsp;
        <span>{{ 'Fields.Hyperlink.AdamFileManager.SponsorLine' | translate }}</span>
        &nbsp;
        <a href="https://www.2sic.com" target="_blank" tabindex="-1">2sic.com</a>
      }
    </div>
  </div>
}
