@use "../../../../styles/ag-grid-hover";

.eav-app-info {
  &__title {
    font-size: 18px;
    margin: 24px 0 0;
    font-weight: bold;
  }

  &__content {
    font-size: 14px;

    li {
      padding: 2px 0;
    }
  }
}

.eav-options-wrapper {
  margin: 24px 0;
}

.eav-option-box {
  margin: 2px 0;

  &__text {
    white-space: normal;
    font-size: 14px;
  }
}

.form-height {
  max-height: calc(100vh - 24px - 48px - 200px);
  overflow: auto;
}

.mdc-form-field > label {
  padding-top: 12px;
}

ul.checkboxes {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 0;
}

