<div class="actions-component">
  <div class="eav-grid-action-button highlight" matRipple *ngIf="enableCode" tippy="Code" (click)="openCode()">
    <mat-icon>code</mat-icon>
  </div>
  <div class="eav-grid-action-button disabled" *ngIf="!enableCode">
    <mat-icon>code</mat-icon>
  </div>

  <div class="eav-grid-action-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="openRestApi()">
      <mat-icon svgIcon="code-curly"></mat-icon>
      <span>REST API</span>
    </button>
  </ng-template>
</mat-menu>