<!-- dialog -->
<div [ngClass]="dialogIsOpen ? 'c-ew__container' : 'u-display-none'">
  <div #backdrop class="c-ew__backdrop" (click)="closeDialog()"></div>
  <div #dialog fxLayout="column" class="c-ew__dialog mat-elevation-z24 u-border-radius">
    <div [ngClass]="{ 'c-ew__dialog-header mat-elevation-z2': dialogIsOpen }">
      <mat-card class="mat-elevation-z0" fxLayout="row">
        <button mat-icon-button type="button" class="back-arrow" fxLayoutAlign="center center" (click)="closeDialog()"
          [matTooltip]="'Form.Buttons.Return.Tip' | translate">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxLayoutAlign="center center" class="title mat-display-1">{{ config.field.label }}</span>
      </mat-card>
    </div>
    <div>
      <div [@itemShrinkAnimation]="!dialogIsOpen ? 'open' : 'closed'">
      </div>
      <div
        class="c-ew__dialog-content c-ew__dialog-content--empty u-border-radius-bottom u-add-scrollbar u-hide-scrollbar"
        [@contentExpandAnimation]="{
          value: !dialogIsOpen ? 'closed' : 'expanded',
          params: { bottomPixels: bottomPixels }
        }">
        <ng-container #fieldComponent></ng-container>
      </div>
    </div>
  </div>
</div>

<!-- preview -->
<ng-container *ngIf="config.adam">
  <div class="c-ew__preview-holder" *ngIf="{
  items: (config.adam.items$ | async).slice(0, 9)
} as data">
    <mat-label class="c-ew__preview-label c-ew__color--primary" [ngClass]="{
      'mat-caption' : data.items.length > 0,
      'mat-empty' : data.items.length === 0,
      'mat-error' : control.invalid && !config.field.disabled,
      'color__primary' : !control.invalid && !config.field.disabled,
      'color__label-disabled' : config.field.disabled
    }">
      {{ config.field.label }} {{ config.field.required ? '*': '' }}
    </mat-label>
    <div matRipple [matRippleAnimation]="{ enterDuration: 360 }" (click)="expandDialog()"
      class="c-ew__preview mat-ripple" [ngClass]="{
      'c-ew__preview--invalid': control.invalid,
      'c-ew__preview--disabled': config.field.disabled
    }">
      <div [ngClass]="control.value ? 'c-ew__preview-container' : 'c-ew__preview-container--empty'">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2px" class="c-ew__preview-content">
          <ng-container *ngFor="let item of data.items; trackBy: trackByFn">
            <!-- folders -->
            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="item.IsFolder">
              <div class="adam-browse-background-icon">
                <mat-icon svgIcon="folder"></mat-icon>
                <div class="adam-short-label mat-caption">{{ item.Name }}</div>
              </div>
            </div>
            <!-- files -->
            <div *ngIf="!item.IsFolder">
              <div *ngIf="item.Type !== 'image'" class="adam-browse-background-icon">
                <mat-icon *ngIf="isKnownType(item)">{{ icon(item) }}</mat-icon>
                <mat-icon *ngIf="!isKnownType(item)" [svgIcon]="icon(item)"></mat-icon>
                <div class="adam-short-label mat-caption">{{ item.Name }}</div>
              </div>
              <div *ngIf="item.Type === 'image'" class="adam-browse-background-image">
                <img data-dz-thumbnail="" alt="{{ item.Id }}:{{ item.Name }}"
                  src="{{ item.FullPath }}?w=78&h=78&mode=crop">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- hints -->
    <div class="mat-caption c-ew__preview-hint" fxLayout="row" fxLayoutAlign="start start">
      <div class="c__helper-wrapper--left">
        <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
      </div>
      <div class="c__helper-wrapper--right c-ew__preview-hint-text" fxHide fxShow.gt-xs>
        <span>{{ 'Fields.Hyperlink.Default.Sponsor' | translate }}</span>
      </div>
    </div>
  </div>
</ng-container>
