<ng-container *ngIf="{
  value: value$ | async,
  disabled: disabled$ | async,
  previewCss: previewCss$ | async,
  showValidation: showValidation$ | async
} as data">

  <mat-form-field [formGroup]="group" appearance="standard" color="accent">
    <div class="icon-option">
      <i *ngIf="data.value" class="icon-preview {{ data.previewCss }} {{ data.value }}"></i>
      <input matInput [formControlName]="config.field.name" [placeholder]="placeholder$ | async"
        [required]="required$ | async" [matAutocomplete]="auto">
    </div>

    <mat-autocomplete #auto="matAutocomplete">
      <cdk-virtual-scroll-viewport itemSize="48" style="height: 256px" minBufferPx="500" maxBufferPx="1000">
        <mat-option *cdkVirtualFor="let icon of filteredIcons$ | async" [value]="icon.class">
          <div class="icon-option">
            <i class="icon-preview {{ data.previewCss }} {{ icon.class }}"></i>
            <span>{{ icon.label }}</span>
          </div>
        </mat-option>
    </cdk-virtual-scroll-viewport>
    </mat-autocomplete>

    <mat-label>{{ label$ | async }}</mat-label>
  </mat-form-field>

  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

</ng-container>
