// Ensure that the component is fully visible and handles overflow on the y-axis
:host {
  height: 100%;
  overflow: auto;
}

.log-content {
  padding-top: 8px;
  border-top: 1px solid lightgray;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-form-field {
  margin: 0 1rem 1rem 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.specs-icon {
  font-size: 1rem;
  font-weight: bold;
  height: 1rem;
  width: 1rem;
  padding: 0;
  margin: 0;
}

#search-input,
#active-filter-dropdown {
  width: 120px;
}