<div class="log-content fancy-scrollbar-light">
  <div class="menu">
    <mat-form-field id="search-input" color="accent">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" (input)="filterLogs($event)" />
    </mat-form-field>

    <mat-form-field id="active-filter-dropdown" color="accent">
      <mat-label>Show</mat-label>
      <mat-select [(value)]="selectedFilter" (selectionChange)="onFilterSelected($event.value)">
        <mat-option value=""> All </mat-option>
        <mat-option value="activated"> Activated </mat-option>
        <mat-option value="deactivated"> Deactivated </mat-option>
      </mat-select>
    </mat-form-field>
    
    <button mat-icon-button tippy="Toggle All Logs in View" (click)="checkAll()">
      <mat-icon>check_box</mat-icon>
    </button>

    <button mat-icon-button (click)="saveConfig()" tippy="Save Configuration with all selected Logs">
      <mat-icon>save</mat-icon>
    </button>

    <button
      mat-icon-button
      [disabled]="selectedConfig === null"
      (click)="exportConfig()"
      tippy="Export the selected configuration from the saved Configs"
    >
      <mat-icon>ios_share</mat-icon>
    </button>
    
    <mat-form-field color="accent">
      <mat-label>Configs</mat-label>
      <mat-select
        [(value)]="selectedConfig"
        (selectionChange)="onConfigSelected($event.value)"
      >
        <mat-option *ngFor="let config of configs" [value]="config">
          {{ config }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngFor="let log of allLogs | keyvalue">
    <label>
      <input
        type="checkbox"
        [id]="log.key"
        [name]="log.key"
        [checked]="isChecked(log.key)"
        (change)="toggleConfig(log.key)"
      />
      {{ log.key }}
      @if (hasLogSpecs(log.key)) {
        <button (click)="openLogSpecs(log.key)" tippy="Edit Log Specs">
          <mat-icon class="specs-icon">data_object</mat-icon>
        </button>
      }
    </label>
  </div>
</div>
