@import "../../assets/styles/variables.scss";

.mat-mdc-card {
  padding: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  @media (max-width: 600px) {
    border-radius: 0;
  }

  height: $edit-ui-dialog-debug-max-height;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.mat-mdc-card.debug-enabled {
  height: auto;
}

.debug-buttons-container {
  padding: 17px 16px 15px;
  height: $edit-ui-dialog-debug-max-height;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;

  .mat-mdc-button {
    margin-left: 0;

    .mat-icon {
      margin-right: 4px;
    }
  }

  .sxc-version {
    cursor: default;
  }
}

.mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}

.debug-info-container {
  margin: $debug-info-container-margin !important;
  margin-top: 0 !important;
  width: calc(100% - 2 * #{$debug-info-container-margin});
  height: $debug-info-container-height;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}
