.centered-gray-text {
  text-align: center;
  color: gray;
  width: 25vw;
  max-width: 350px;
  min-width: 180px;
}

::ng-deep {
  .hidden-uxHelpCard {
    visibility: hidden !important;
    position: absolute !important;
  }
}
