<!--
  This template is used for all entity like fields,
  e.g. EntityDefault, EntityContentBlocks, EntityQuery, StringDropdownQuery
-->
<ng-container *ngIf="viewModel$ | async as vm">
  <app-picker-preview *ngIf="isPreview" 
    [pickerSourceAdapter]="pickerSourceAdapter"
    [pickerStateAdapter]="pickerStateAdapter"
    [config]="config" 
    [group]="group" 
    [controlConfig]="controlConfig">
  </app-picker-preview>
  <app-picker-dialog *ngIf="!isPreview" 
    [pickerSourceAdapter]="pickerSourceAdapter"
    [pickerStateAdapter]="pickerStateAdapter"
    [config]="config" 
    [group]="group" 
    [controlConfig]="controlConfig">
  </app-picker-dialog>
</ng-container>
