<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Log Specs Editor</div>
    <button mat-icon-button mat-dialog-close tippy="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="eav-dialog-content" style="padding-bottom: 0;">
    <app-monaco-editor
      [filename]="filename"
      [value]="logSpecs"
      [options]="editorOptions"
      (valueChanged)="onValueChanged($event)"
      (focused)="onFocused(true)"
      (blurred)="onFocused(false)"
      style="height: 350px; width: 100%"
    />
  </div>
  <mat-dialog-actions>
    <button mat-icon-button (click)="onSave()" tippy="Save Specs">
      <mat-icon>save</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
