<div class="c-fht__container" [ngClass]="{
  'c-fht__container--no-hint': !description && !(control.invalid && !disableError),
  'c-fht__container--last': config.field.isLastInGroup,
  'c-fht__container--last--no-hint': config.field.isLastInGroup && !description && !(control.invalid && !disableError)
}">
  <mat-hint *ngIf="description" class="mat-caption" (click)="toggleHint($event)"
    [ngClass]="control.disabled ? 'c-fht__container-hint--disabled' : 'c-fht__container-hint'" align="start"
    fxLayout="row" fxLayoutAlign="start start">
    <span class="notes-container" [ngClass]="!isFullText ? 'c-fht__container-hint--ellipsis' : ''"
      (mouseenter)="changeAnchorTarget($event)" [innerHtml]="description | safeHtml"></span>
  </mat-hint>
  <mat-error *ngIf="control.invalid && !disableError" class="mat-caption">
    {{ errorMessage | translate:{ param:config.field.settings } }}
  </mat-error>
</div>
