<div *ngIf="templateVars$ | async as data" class="c-fht__container" [ngClass]="{
  'c-fht__container--no-hint': !data.description && !(data.invalid && !disableError),
  'c-fht__container--last': config.isLastInGroup,
  'c-fht__container--last--no-hint': config.isLastInGroup && !data.description && !(data.invalid && !disableError),
  'c-fht__container--hyperlink-default-wrapper-fix': hyperlinkDefaultWrapperFix && !config.isLastInGroup
}">
  <mat-hint *ngIf="data.description" class="mat-caption" (click)="toggleHint($event)"
    [ngClass]="data.disabled ? 'c-fht__container-hint--disabled' : 'c-fht__container-hint'" align="start" fxLayout="row"
    fxLayoutAlign="start start">
    <span class="notes-container" [ngClass]="{ 'c-fht__container-hint--ellipsis': !isFullText }" appChangeAnchorTarget
      [innerHtml]="data.description | safeHtml">
    </span>
  </mat-hint>

  <mat-error *ngIf="data.invalid && !disableError" class="mat-caption">
    {{ getErrorMessage() | translate:{ param:data.settings } }}
  </mat-error>
</div>
