<!-- <h3 class="card-header">{{ to.label }}</h3>
<button mat-button type="button" (click)="to.collapse = !to.collapse" class="btn btn-default">Show</button>
<div [hidden]="to.collapse">
    <ng-container #fieldComponent></ng-container>
</div> -->

<div>
    <div class="form-ci-subtitle unhide-area" (click)="to.collapse = !to.collapse">
        <span style="position: relative">
            <mat-icon *ngIf="to.collapse" class="mat-24">remove</mat-icon>
            <mat-icon *ngIf="!to.collapse" class="mat-24">add</mat-icon>
        </span>
        {{to.label}}
    </div>
    <div [hidden]="to.collapse">
        <ng-container #fieldComponent></ng-container>
    </div>
</div>