.disabled {
  pointer-events: none;
  opacity: 0.5;
}

button:hover .keybinding-hint {
  padding: 2px 4px !important;
}

.keybinding-hint {
  border-radius: 5px;
  background: rgba(256, 256, 256, 0.2);
  
  kbd + kbd {
    margin-left: 4px;
  }
}