<div class="actions-component">
  <div class="like-button highlight" matRipple *ngIf="!contentType.UsesSharedDef" matTooltip="Metadata"
    (click)="createOrEditMetadata()">
    <mat-icon>edit</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="contentType.UsesSharedDef">
    <mat-icon>edit</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="enablePermissions" matTooltip="Permissions"
    (click)="openPermissions()">
    <mat-icon>person</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="!enablePermissions">
    <mat-icon>person</mat-icon>
  </div>

  <div class="like-button highlight" matRipple matTooltip="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <button mat-menu-item (click)="editContentType()">
    <mat-icon>settings</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="openExport()">
    <mat-icon>cloud_download</mat-icon>
    <span>Export</span>
  </button>
  <button mat-menu-item (click)="openImport()">
    <mat-icon>cloud_upload</mat-icon>
    <span>Import</span>
  </button>
  <button mat-menu-item [disabled]="contentType.UsesSharedDef" (click)="deleteContentType()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
