<ng-container *ngIf="viewModel$ | async as vm">

  <div fxLayoutAlign="end center" *ngIf="vm.currentLanguage !== vm.defaultLanguage">
    <button mat-button fxLayoutAlign="end center" [disabled]="vm.readOnly || vm.slotIsEmpty"
      [matMenuTriggerFor]="menu">
      <span fxLayoutAlign="end center">
        {{ 'LangMenu.Translate' | translate | uppercase }}
        &nbsp;&nbsp;
        <mat-icon class="translate-icon">translate</mat-icon>
      </span>
    </button>

    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="translateMany()">{{ 'LangMenu.TranslateAll' | translate }}</button>
        <button mat-menu-item (click)="autoTranslateMany()">
          {{ 'LangMenu.AutoTranslateAll' | translate }}
          <app-feature-icon-indicator [featureNameId]="'EditUiTranslateWithGoogle'"></app-feature-icon-indicator>
        </button>
        <button mat-menu-item (click)="dontTranslateMany()">{{ 'LangMenu.NoTranslateAll' | translate }}</button>
      </ng-template>
    </mat-menu>
  </div>

</ng-container>