<ng-container *ngIf="templateVars$ | async as data">

  <div fxLayoutAlign="end center" *ngIf="data.currentLanguage !== data.defaultLanguage">
    <button mat-button fxLayoutAlign="end center" [disabled]="data.readOnly || data.slotIsEmpty"
      [matMenuTriggerFor]="menu">
      <span fxLayoutAlign="end center">
        {{ 'LangMenu.Translate' | translate | uppercase }}
        &nbsp;&nbsp;
        <mat-icon class="translate-icon" svgIcon="translate"></mat-icon>
      </span>
    </button>

    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="translateMany()">{{ 'LangMenu.TranslateAll' | translate }}</button>
        <button mat-menu-item (click)="dontTranslateMany()">{{ 'LangMenu.NoTranslateAll' | translate }}</button>
      </ng-template>
    </mat-menu>
  </div>

</ng-container>
