.collapsible-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  padding: 3px 0;

  &.section {
    background-color: rgb(56, 56, 56);
    font-weight: 500;
  }

  &.folder {
    padding-left: 8px;

    &:hover {
      background-color: rgb(42, 45, 46);
    }
  }

  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

.snippet {
  padding-right: 8px;

  &:hover {
    background-color: rgb(42, 45, 46);
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    .text {
      cursor: pointer;
      padding: 3px 0 3px 32px;
      flex: 1 1 auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &-more {
        padding-left: 40px;
      }
    }

    .mat-icon {
      cursor: pointer;
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }

  &-help {
    padding: 3px 18px 3px 32px;

    &-more {
      padding-left: 40px;
    }

    .text {
      font-size: 12px;
      font-style: oblique;
      word-break: break-word;

      ::ng-deep p {
        margin: 0;
      }
    }
  }
}
