@use "../../../assets/styles/variables.scss";

.eav-card-content__no-padding {
  padding: 0px;

  &:last-child {
    padding-bottom: 16px;
  }

  .eav-list-item__focus {
    background: variables.$edit-ui-selected-option;
  }
}