<div class="adam-dialog-container">
  <div class="adam-dialog-content">
    <ng-container #fieldComponent></ng-container>
  </div>
  <adam-browser (openUpload)="openUpload()" [url]="url" [metadataOfCmsObject]="" [config]="config" [ngClass]="{
      'adam-browser-container--short': !fullScreenAdamBrowser
    }">
  </adam-browser>
  <div class="{{'field-' + config.field.index}}">
    <div class="dropzone-previews">
    </div>
    <span #invisibleClickable class="invisible-clickable" data-note="just a fake, invisible area for dropzone"></span>
  </div>
  <adam-hint class="field-hints"></adam-hint>
</div>
