<ng-container *ngIf="templateVars$ | async as data">
  <app-picker-list 
    [pickerSourceAdapter]="pickerSourceAdapter"
    [pickerStateAdapter]="pickerStateAdapter" 
    [config]="config" 
    [group]="group">
  </app-picker-list>
  <app-picker-search *ngIf="!data.freeTextMode" 
    [pickerSourceAdapter]="pickerSourceAdapter"
    [pickerStateAdapter]="pickerStateAdapter" 
    [config]="config" 
    [group]="group" 
    [controlConfig]="controlConfig">
  </app-picker-search>
  <app-picker-text *ngIf="data.freeTextMode" 
    [pickerSourceAdapter]="pickerSourceAdapter"
    [pickerStateAdapter]="pickerStateAdapter" 
    [config]="config" 
    [group]="group">
  </app-picker-text>
  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
  <!-- add new entity -->
  <div *ngIf="data.showAddNewEntityButtonInDialog">
    <button mat-mini-fab color="accent" [tippy]="'Fields.Entity.New' | translate"
      [disabled]="data.controlStatus.disabled || data.disableAddNew" (click)="openNewEntityDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-container>