<div [hidden]="freeTextMode">
  <div class="ed-field" fxLayout="row" fxLayoutAlign="start end">
    <div
      [ngClass]="(settings.EnableCreate && settings.EntityType && !selectedEntities.length && !settings.AllowMultiValue) ? 'ed-field__field-short' : 'ed-field__field'">
      <div [hidden]="!settings.AllowMultiValue && selectedEntities.length">
        <mat-form-field [formGroup]="group" appearance="standard" color="accent" [ngClass]="{
          'mat-form-field-invalid': control.invalid && control.touched
        }">
          <input matInput #autocomplete [placeholder]="getPlaceholder()" [matAutocomplete]="auto"
            [disabled]="disabled || !settings.EnableAddExisting" (blur)="control.markAsTouched()"
            (input)="filterSelectionList($event.target.value)">
          <button mat-icon-button matSuffix [disabled]="disabled || !settings.EnableAddExisting"
            *ngIf="!settings.EnableTextEntry">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <a matSuffix *ngIf="settings.EnableTextEntry" fxLayoutAlign="center center" appClickStopPropagation
            (click)="toggleFreeText()">
            <button mat-icon-button [disabled]="disabled">
              <mat-icon [matTooltip]="'Fields.String.Freetext' | translate">text_fields</mat-icon>
            </button>
            <button mat-icon-button [disabled]="disabled" *ngIf="freeTextMode">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
          </a>
          <mat-label [ngClass]="{ 'mat-error': control.invalid && control.touched }">
            {{ settings.AllowMultiValue ? ('Fields.Entity.Choose' | translate) : label }}
            {{ required ? '*': '' }}
          </mat-label>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
          <mat-option *ngFor="let item of filteredEntities" [value]="item.Value"
            [disabled]="isOptionDisabled(item.Value)">
            <span>{{ item.Text ? item.Text : item.Value }}</span>
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div fxLayoutAlign="end center"
      [ngClass]="(settings.EnableCreate && settings.EntityType && !selectedEntities.length && !settings.AllowMultiValue) ? 'ed-field__create-icon' : 'ed-field__create-icon-hide'">
      <!-- create new entity to add to this list -->
      <button mat-icon-button [matTooltip]="'Fields.Entity.New' | translate" [disabled]="disabled || disableAddNew"
        *ngIf="settings.EnableCreate && settings.EntityType && !selectedEntities.length && !settings.AllowMultiValue"
        (click)="openNewEntityDialog()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-form-field *ngIf="freeTextMode" [formGroup]="group" appearance="standard" color="accent">
  <input matInput [required]="required" [formControlName]="config.field.name" [placeholder]="placeholder">

  <a matSuffix appClickStopPropagation (click)="toggleFreeText()">
    <button mat-icon-button [disabled]="disabled">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </a>
  <mat-label>{{ label }}</mat-label>
</mat-form-field>

<div *ngIf="debugEnabled$ | async">debug: <span (click)="insertNull()">add null-item</span></div>

<app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

<!-- add new entity -->
<div *ngIf="!freeTextMode && settings.EnableCreate && settings.EntityType && settings.AllowMultiValue">
  <button mat-mini-fab color="accent" [matTooltip]="'Fields.Entity.New' | translate"
    [disabled]="disabled || disableAddNew" (click)="openNewEntityDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
