<ng-container *ngIf="{
  disabled: disabled$ | async,
  showValidation: showValidation$ | async
} as data">

  <mat-form-field [formGroup]="group" appearance="standard" color="accent">
    <input matInput type="text" [formControlName]="config.field.name" (blur)="clean(true)"
      [placeholder]="placeholder$ | async" [required]="required$ | async">
    <mat-label>{{ label$ | async }}</mat-label>
  </mat-form-field>

  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

</ng-container>
