<div *ngIf="!freeTextMode && (enableCreate || (chosenEntities && chosenEntities.length > 0))">
  <div class="dnd-placeholder" #placeholder>
  </div>
  <div [dndList]="dndListConfig" [dndPlaceholder]="placeholder" [dndModel]="chosenEntities">
    <div *ngFor="let item of chosenEntities; let i = index" [dndType]="item.type" [dndDraggable] [dndObject]="item"
      (dndMoved)="removeItem(item, chosenEntities)">
      <div [ngClass]="{
        'dnd-element-multi' : allowMultiValue,
        'mat-elevation-z2' : allowMultiValue,
        'dnd-element': !allowMultiValue,
        'dnd-element--disabled': disabled
        }" fxLayout="row" fxLayoutAlign="start center">
        <!-- Single element -->
        <div *ngIf="!allowMultiValue" class="dnd-element-content" dndNoDrag>
          <div>
            <mat-label class="mat-caption">{{config.field.label}}
              {{config.field.required ? '*': '' }}</mat-label>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>link</mat-icon>
            <span>&nbsp;&nbsp;</span>
            <span class="dnd-element-text"
              [title]="getEntityText(item.name) + ' (' + item.name + ')'">{{getEntityText(item.name)}}</span>
          </div>
        </div>
        <!-- Multiple elements -->
        <div *ngIf="allowMultiValue" class="dnd-element-content">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>link</mat-icon>
            <span>&nbsp;&nbsp;</span>
            <span class="dnd-element-text"
              [title]="getEntityText(item.name) + ' (' + item.name + ')'">{{getEntityText(item.name)}}</span>
          </div>
        </div>
        <!-- dndHandle specific handle elements (drag)-->
        <!-- Action buttons -->
        <div class="dnd-buttons" fxLayoutAlign="end center">
          <button dndNoDrag mat-icon-button *ngIf="enableEdit" type="button" class="dndButtons"
            (click)="edit(item.name)" title="{{ 'FieldType.Entity.Edit' | translate }}" [disabled]="disabled">
            <mat-icon>edit</mat-icon>
          </button>
          <button dndNoDrag mat-icon-button *ngIf="enableRemove" type="button" class="dndButtons"
            (click)="removeSlot(item.name, i)" title="{{ 'FieldType.Entity.Remove' | translate }}"
            [disabled]="disabled">
            <mat-icon> {{allowMultiValue ? 'remove' : 'arrow_drop_down'}}</mat-icon>
          </button>
          <button dndNoDrag mat-icon-button *ngIf="enableDelete" type="button" class="dndButtons"
            (click)="deleteItemInSlot(item.name, i)" title="{{ 'General.Buttons.Delete' | translate }}"
            [disabled]="disabled">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="allowMultiValue" class="dnd-space"></div>
</div>
