@import "../../../../../styles/variables.scss";

.dnd-placeholder {
   // background-color:  mat-color($editUI-theme-foreground, base,  0.08);
    background-color: rgba($editUI-foreground-color, 0.08);
    display: block;
    min-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(86,61,124,.2);
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.dnd-element {
    position: relative;
    cursor: move;
    // padding-top: 24px;
    // padding-bottom: 10px;

    height: 56px;
    // background:  mat-color($editUI-theme-foreground, base,  0.08);
    background: rgba($editUI-foreground-color, 0.08);
    padding: 0 0 0 12px;
}

.dnd-element-multi {
    position: relative;
    cursor: move;
    height: 56px;
    background: white;
    border-radius: 32px;
    border: 1px solid rgba($editUI-foreground-color, 0.44);
    margin: 4px 0 4px 0;
    padding: 0 16px 0 16px;
}

.dnd-element-content {
    width: 100%
}

.dnd-element-content mat-label {
    color:  rgba($editUI-foreground-color, 0.44);
}

.dnd-element-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 170px);

    // &--disabled {
    //     color: $editUI-label-disabled-color;
    // }
}

.dnd-buttons {
    position: absolute;
    right: 4px;
    top:10px;
    display: inline;
    /* // visibility: hidden; */
}

.dnd-element--disabled {
    border-color: $editUI-disabled-background;
    background-color: $editUI-disabled-background;

    .dnd-element-text {
        color: $editUI-label-disabled-color;
    }
    .dnd-element-content mat-label, .dnd-element-content mat-icon {
        color: $editUI-label-disabled-color;
    }
}

/* .dnd-element:hover .dnd-buttons {
    visibility: visible;
} */


.dnd-space {
    height: 32px;
}
