@import "../../../../../styles/variables.scss";

%field-border {
    padding: 1px 12px;
    border-radius: 5px;
    border: 1px solid rgba(224, 224, 224);
}
%field-border--hover {
    padding: 0 11px;
    border: 2px solid rgba(0, 0, 0, 0.87);
    transition: border-color .3s cubic-bezier(.25,.8,.25,1);
}

.dnd-placeholder {
   // background-color:  mat-color($editUI-theme-foreground, base,  0.08);
    background-color: rgba($editUI-foreground-color, 0.08);
    display: block;
    min-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(86,61,124,.2);
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.dnd-element {
    position: relative;
    cursor: move;
    height: 40px;

    @extend %field-border;
    &:hover:not(.dnd-element--disabled) {
        @extend %field-border--hover;
        .mat-caption {
            top: -8px;
            left: 6px;
        }
    }

    .mat-caption {
        background-color: white;
        position: absolute;
        top: -7px;
        left: 7px;
        padding: 0 6px 0 4px;
        z-index: 1;
        pointer-events: none;
        font-size: 11px;
        line-height: 14px;
    }
}

.dnd-element-multi {
    position: relative;
    cursor: move;
    height: 56px;
    background: white;
    border-radius: 32px;
    border: 1px solid rgba($editUI-foreground-color, 0.44);
    margin: 4px 0 4px 0;
    padding: 0 16px 0 16px;
}

.dnd-element-content {
    width: 100%
}

.dnd-element-content mat-label {
    color:  rgba($editUI-foreground-color, 0.44);
}

.dnd-element-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 170px);
    font-size: 14px;

    // &--disabled {
    //     color: $editUI-label-disabled-color;
    // }
}

.dnd-buttons {
    display: flex;
    margin-right: -12px;

    .mat-icon-button .mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}

.dnd-element--disabled {
    border-color: $editUI-disabled-background;
    cursor: default;

    .dnd-element-text {
        color: $editUI-label-disabled-color;
    }
    .dnd-element-content mat-label, .dnd-element-content mat-icon {
        color: $editUI-label-disabled-color;
    }
}

/* .dnd-element:hover .dnd-buttons {
    visibility: visible;
} */


.dnd-space {
    height: 32px;
}
