<div class="picker-option-contents">
  <!-- Preview Type -->
  <div class="picker-option">
    <!-- Show Icon or Image -->
    <app-picker-item-preview [item]="item()" [settings]="settings()"></app-picker-item-preview>
    <span class="picker-option-label"> {{ item().label || item().value }}</span>
  </div>

  <div class="picker-option-info">
    <!-- Show feature warnings if available. Do this first, to avoid the icons from fluttering back and forth -->
    @for (feature of featureWarnings(); track feature)
    {
      <app-feature-icon-with-dialog [featureNameId]="feature"></app-feature-icon-with-dialog>
    }
    <!-- Action items such as edit, remove, delete - in scenarios where they should be in front of the (i) etc. to avoid fluttering -->
    @if (actionsFirst()) {
      <app-picker-item-buttons class="my-item-actions" [show]="show()" [item]="item()" [index]="index()" [uiFeatures]="uiFeatures()"></app-picker-item-buttons>
    }
    <app-picker-help [helpLink]="item().link"></app-picker-help>
    <app-picker-icon-info [infoBox]="item().info"></app-picker-icon-info>
    <!-- Action items such as edit, remove, delete -->
    @if (!actionsFirst()) {
      <app-picker-item-buttons class="my-item-actions" [show]="show()" [item]="item()" [index]="index()" [uiFeatures]="uiFeatures()"></app-picker-item-buttons>
    }
  </div>
</div>
