<div class="ag-filter-body-wrapper">
  <label for="published" class="label">Published</label>
  <select id="published" class="ag-filter-select" [(ngModel)]="published" (ngModelChange)="filterChanged()">
    <option value="">--Select--</option>
    <option value="true">True</option>
    <option value="false">False</option>
  </select>

  <label for="metadata" class="label">Metadata</label>
  <select id="metadata" class="ag-filter-select" [(ngModel)]="metadata" (ngModelChange)="filterChanged()">
    <option value="">--Select--</option>
    <option value="true">True</option>
    <option value="false">False</option>
  </select>
</div>
