.filter-container {
  margin: 8px;
}

.title {
  margin-bottom: 8px;

  &:not(:first-of-type) {
    margin-top: 8px;
  }
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  width: 160px;
  height: 80px;
}
