ag-grid-angular.ag-theme-material {
  margin-top: 40px;
  height: calc(100vh - 284px);

  @media (max-width: 600px) {
    height: calc(100vh - 236px);
  }
}

.scope-box {
  margin-right: 66px;
  margin-left: 8px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;

  &__dropdown {
    width: 200px;
    margin-top: -14px;
    font-size: 14px;
    height: auto;
  }
}

.fab {
  position: absolute;
  bottom: -8px;
  right: 0;
}
