.actions-container {
  display: flex;
  justify-content: space-between;
}

.scope-dropdown {
  width: 200px;
  margin-top: -24px;
}

.ag-theme-material {
  height: calc(100vh - 305px);

  &.scope-height {
    height: calc(100vh - 356px);
  }
}
