<h3>Content-Types and Data</h3>

<div class="actions-container">
  <div>
    <button mat-icon-button matTooltip="Create a new content type" (click)="editContentType(null)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refresh" (click)="fetchContentTypes()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Create a ghost content type" *ngIf="debugEnabled" (click)="createGhost()">
      <mat-icon>adb</mat-icon>
    </button>
  </div>
  <div>
    <mat-form-field appearance="standard" color="accent" class="scope-dropdown">
      <mat-select [ngModel]="scope" name="Scope" (selectionChange)="changeScope($event)">
        <mat-option *ngFor="let scopeOption of scopeOptions" [value]="scopeOption.value">{{ scopeOption.name }}
        </mat-option>
        <mat-option value="Other">Other...</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<p *ngIf="scope !== defaultScope">
  <b>Warning! You are in a special scope. Changing things here could easily break functionality.</b>
</p>

<ag-grid-angular class="ag-theme-material" [rowData]="contentTypes" [columnDefs]="columnDefs" [modules]="modules"
  [frameworkComponents]="frameworkComponents" [enableCellTextSelection]="true" [suppressScrollOnNewData]="true"
  [animateRows]="true" [accentedSort]="true" (gridSizeChanged)="onGridSizeChanged($event)"
  (gridReady)="onGridReady($event)" [ngClass]="{
    'scope-height': scope !== defaultScope
  }">
</ag-grid-angular>
