<div matRipple class="chip-component" *ngIf="!contentType.UsesSharedDef">
  <div class="chip-box">
    <span class="chip">{{ value }}</span>
  </div>
  <div class="like-button" matTooltip="Edit fields">
    <mat-icon>storage</mat-icon>
  </div>
</div>

<div class="chip-component disabled" *ngIf="contentType.UsesSharedDef">
  <div class="chip-box">
    <span class="chip">{{ value }}</span>
  </div>
  <div class="like-button disabled"
    matTooltip="This content-type shares the definition of #{{contentType.SharedDefId}} so you can't edit it here. Read 2sxc.org/help?tag=shared-types">
    <mat-icon>share</mat-icon>
  </div>
</div>
