@if (viewModel$ | async; as vm) {
  @if (!vm.allowMultiValue) {
    <mat-label class="field-label"
      [ngClass]="{ 'disabled': vm.csDisabled }">
      {{ vm.label }} {{ vm.required ? '*': '' }}
    </mat-label>
  }
  @if (vm.selectedItems.length > 0) {
    <div cdkDropList
      [cdkDropListDisabled]="!vm.allowMultiValue || vm.csDisabled"
      (cdkDropListDropped)="drop($event, vm.selectedItems)"
      [ngClass]="{
      'normal-list': !vm.allowMultiValue,
      'dnd-list': vm.allowMultiValue
      }">
      <!-- Normal list usually shows only one item, but can show "empty slot" / "null-item" in debug mode -->
      @for (item of vm.selectedItems; track trackByFn(index, item); let index = $index) {
        <div
          cdkDrag
          [ngClass]="{
          'normal-item': !vm.allowMultiValue,
          'dnd-item': vm.allowMultiValue,
          'disabled': vm.csDisabled
          }">
          <div class="item-title" [ngClass]="{ 'disabled': vm.csDisabled }">
            @if (vm.allowMultiValue) {
              <mat-icon class="item-title__icon"
                [tippy]="'Fields.Entity.DragMove' | translate"
                [tippyDisabled]="vm.csDisabled">
                drag_handle
              </mat-icon>
            }
            <span class="item-title__text" [tippy]="item.tooltip">
              {{ item.label }}
            </span>
          </div>
          <div class="item-actions">
            <!-- Disable edit only if it was disabled in the settings, not if disabled by language change -->
            @if (vm.enableEdit && !item.noEdit) {
              <button mat-icon-button class="eav-action-button"
                [tippy]="'Fields.Entity.Edit' | translate"
                [disabled]="config.initialDisabled"
                appMousedownStopPropagation
                (click)="edit(item.value, item.id)">
                <mat-icon>edit</mat-icon>
              </button>
            }
            @if (vm.enableDelete && !item.noDelete) {
              <button mat-icon-button class="eav-action-button"
                [tippy]="'Fields.Entity.Delete' | translate"
                [disabled]="vm.csDisabled"
                appMousedownStopPropagation
                (click)="deleteItem(index, item.value)">
                <mat-icon>delete</mat-icon>
              </button>
            }
            @if (vm.enableRemove) {
              <button mat-icon-button class="eav-action-button"
                [tippy]="'Fields.Entity.Remove' | translate"
                [disabled]="vm.csDisabled"
                appMousedownStopPropagation
                (click)="removeItem(index)">
                <mat-icon>clear</mat-icon>
              </button>
            }
          </div>
        </div>
      }
    </div>
  }
}