<!-- @if (viewModel$ | async; as vm) { -->
  @if (!mySettings().allowMultiValue) {
    <mat-label class="field-label"
      [ngClass]="{ 'disabled': controlStatus().disabled }">
      {{ basics().labelWithRequired }}
    </mat-label>
  }
  @if (selectedItems().length > 0) {
    <div cdkDropList
      [cdkDropListDisabled]="!mySettings().allowMultiValue || controlStatus().disabled"
      (cdkDropListDropped)="drop($event)"
      [ngClass]="{
      'normal-list': !mySettings().allowMultiValue,
      'dnd-list': mySettings().allowMultiValue
      }">
      <!-- Normal list usually shows only one item, but can show "empty slot" / "null-item" in debug mode -->
      @for (item of selectedItems(); track trackByFn(index, item); let index = $index) {
        <div
          cdkDrag
          [ngClass]="{
          'normal-item': !mySettings().allowMultiValue,
          'dnd-item': mySettings().allowMultiValue,
          'disabled': controlStatus().disabled
          }">
          <div class="item-title" [ngClass]="{ 'disabled': controlStatus().disabled }">
            @if (mySettings().allowMultiValue) {
              <mat-icon class="item-title__icon"
                [tippy]="'Fields.Picker.DragMove' | translate"
                [tippyDisabled]="controlStatus().disabled">
                drag_handle
              </mat-icon>
            }
            <span class="item-title__text" [tippy]="item.tooltip">
              {{ item.label }}
            </span>
          </div>
          <div class="item-actions">
            <!-- Disable edit only if it was disabled in the settings, not if disabled by language change -->
            @if (mySettings().enableEdit && !item.noEdit) {
              <button mat-icon-button class="eav-action-button"
                [tippy]="'Fields.Picker.Edit' | translate"
                [disabled]="config().initialDisabled"
                appMousedownStopPropagation
                (click)="edit(item.value, item.id)">
                <mat-icon>edit</mat-icon>
              </button>
            }
            @if (mySettings().enableDelete && !item.noDelete) {
              <button mat-icon-button class="eav-action-button"
                [tippy]="'Fields.Picker.Delete' | translate"
                [disabled]="controlStatus().disabled"
                appMousedownStopPropagation
                (click)="deleteItem(index, item.value)">
                <mat-icon>delete</mat-icon>
              </button>
            }
            @if (mySettings().enableRemove) {
              <button mat-icon-button class="eav-action-button"
                [tippy]="'Fields.Picker.Remove' | translate"
                [disabled]="controlStatus().disabled"
                appMousedownStopPropagation
                (click)="removeItem(index)">
                <mat-icon>do_not_disturb_on</mat-icon>
              </button>
            }
          </div>
        </div>
      }
    </div>
  }
<!-- } -->