<ng-container *ngIf="viewModel$ | async as vm">
  <mat-label class="field-label" *ngIf="!vm.allowMultiValue" [ngClass]="{ 'disabled': vm.controlStatus.disabled }">
    {{ vm.label }} {{ vm.required ? '*': '' }}
  </mat-label>

  <div cdkDropList [cdkDropListDisabled]="!vm.allowMultiValue || vm.controlStatus.disabled" (cdkDropListDropped)="drop($event, vm.selectedEntities)"
    [ngClass]="{
    'normal-list': !vm.allowMultiValue,
    'dnd-list': vm.allowMultiValue
  }">
    <!-- Normal list usually shows only one item, but can show "empty slot" / "null-item" in debug mode -->
    <div *ngFor="let item of vm.selectedEntities; trackBy: trackByFn; let index = index" cdkDrag [ngClass]="{
      'normal-item': !vm.allowMultiValue,
      'dnd-item': vm.allowMultiValue,
      'disabled': vm.controlStatus.disabled
    }">
      <div class="item-title" [ngClass]="{ 'disabled': vm.controlStatus.disabled }">
        <mat-icon class="item-title__icon" *ngIf="vm.allowMultiValue" [tippy]="'Fields.Entity.DragMove' | translate"
          [tippyDisabled]="vm.controlStatus.disabled">drag_handle</mat-icon>
        <span class="item-title__text" [tippy]="item.tooltip">
          {{ item.label }}
        </span>
      </div>
      <div class="item-actions">
        <!-- Disable edit only if it was disabled in the settings, not if disabled by language change -->
        <button mat-icon-button *ngIf="vm.enableEdit && !item.disableEdit"
          [tippy]="'Fields.Entity.Edit' | translate" [disabled]="pickerStateAdapter.pickerAdapterBase.config.initialDisabled" appMousedownStopPropagation
          (click)="edit(item.value, item.entityId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="vm.enableDelete && !item.disableDelete"
          [tippy]="'Fields.Entity.Delete' | translate" [disabled]="vm.controlStatus.disabled" appMousedownStopPropagation
          (click)="deleteItem(index, item.value)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="vm.enableRemove" [tippy]="'Fields.Entity.Remove' | translate"
          [disabled]="vm.controlStatus.disabled" appMousedownStopPropagation (click)="removeItem(index)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>