$grid-color-disabled: rgba(29, 39, 61, 0.26);

// fixes bug in Chrome where overflow-x scrollbar is visible while there is no overflow at all
.ag-center-cols-viewport {
  overflow: hidden;
}

.disable-row-drag .ag-row-drag {
  display: none !important;
}

.group-start-row {
  background-color: rgba(map_get($mat-eav-item-dialog-background, 500), 0.16) !important;
}

.group-end-row {
  background-color: rgba(map_get($mat-eav-item-dialog-background, 500), 0.08) !important;
}

ag-grid-angular:not(.grid-sorted):not(.grid-filtered) .is-in-group {
  padding-left: 24px;
}

.nav-component-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-wrapper {
  height: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  &.mat-tab-grid-wrapper {
    padding-top: 40px;
  }

  .grid-fab {
    position: absolute;
    bottom: -8px;
    right: 0;
  }

  .grid-more-actions-box {
    display: flex;
    align-items: flex-end;
    min-height: 32px;
    margin-right: 66px;
    margin-left: 8px;

    .mat-button .mat-icon {
      margin-right: 4px;
    }
  }
}

ag-grid-angular {
  flex-grow: 1;

  button {
    background-color: inherit;
    color: inherit;

    &:focus {
      box-shadow: inherit;
    }
  }

  .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
    border-color: map_get($mat-eav-item-dialog-secondary, 500) !important;

    &.no-outline {
      border-color: transparent !important;
    }
  }
}

.ag-row-hover {
  .id-action {
    cursor: pointer;
    color: map_get($mat-eav-item-dialog-secondary, 500);
  }

  .apps-list-primary-action {
    cursor: pointer;

    .text {
      color: map_get($mat-eav-item-dialog-secondary, 500);
    }

    &:hover .text {
      text-decoration: underline;
    }
  }

  .primary-action {
    cursor: pointer;
    color: map_get($mat-eav-item-dialog-secondary, 500);

    &:hover {
      text-decoration: underline;
    }
  }

  .secondary-action {
    .text:not(.disabled) {
      color: map_get($mat-eav-item-dialog-secondary, 500);
    }

    &:hover .text:not(.disabled) {
      text-decoration: underline;
    }

    .mat-icon {
      color: map_get($mat-eav-item-dialog-secondary, 500);
    }
  }
}

.ag-header-cell {
  padding: 0 8px !important;

  &.dense {
    .ag-header-label-icon {
      margin-left: 0 !important;
    }
  }
}

.ag-cell-wrapper {
  height: 100%;
}

.ag-cell {
  &.number-cell {
    text-align: right;
  }

  &.disabled {
    color: $grid-color-disabled !important;
  }

  &:not(.no-padding) {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  &.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &.no-select {
    user-select: none;
  }

  &.highlight:hover .ag-cell-value,
  .highlight:hover {
    text-shadow: 2px 2px 4px #fff, 4px 4px 4px #666666;
    // transform: translate(-1px, -1px);
    margin: -1px 1px 1px -1px;

    .chip {
      box-shadow: 2px 2px 4px #fff, 4px 4px 4px #666666;
    }

    .image {
      box-shadow: 2px 2px 4px #fff, 4px 4px 4px #666666;
    }
  }
}

.ag-cell-value {
  display: block;
  width: 100%;
  height: 100%;

  .mat-icon {
    user-select: none;
  }

  .icon-container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .like-button {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;

    &:not(.disabled) {
      cursor: pointer;
    }

    &.icon {
      cursor: default;

      .mat-icon {
        color: initial;
      }
    }

    &.disabled {
      .mat-icon {
        color: $grid-color-disabled !important;
      }
    }
  }
}
