.ag-body-viewport {
  // @extend .hide-scrollbar;
}

.ag-theme-material {
  width: 100%;
  height: 500px;

  @media (min-height: 1440px) {
    height: 800px;
  }

  @media (min-height: 2160px) {
    height: 1000px;
  }
}

.ag-header-cell-menu-button {
  opacity: 1 !important;
  transition: none !important;
}

.ag-cell {
  &.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &.no-outline {
    border-color: transparent !important;
  }

  &.no-select {
    user-select: none !important;
  }
}

.ag-row:hover .clickable {
  text-decoration: underline;
  cursor: pointer;

  &.ag-column-hover {
    color: blue; // spm TODO: make this 2sxc blue color
  }
}

// only highlight text with underline and color
.ag-row:hover .clickable-with-button {
  cursor: pointer;

  .text {
    text-decoration: underline;
  }

  &.ag-column-hover {
    .text {
      color: blue; // spm TODO: make this 2sxc blue color
    }
  }
}

.clickable-single:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue; // spm TODO: make this 2sxc blue color
}

.clickable-single-with-button:hover .text {
  text-decoration: underline;
  cursor: pointer;
  color: blue; // spm TODO: make this 2sxc blue color
}

.icon-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.material-icons.pointer {
  cursor: pointer;
}

.material-icons.help {
  cursor: help;
}
