$grid-color-disabled: rgba(29, 39, 61, 0.26);

.grid-wrapper-nav {
  padding-top: 40px;
  position: relative;

  .grid-fab {
    position: absolute;
    bottom: -8px;
    right: 0;
  }
}

.grid-wrapper {
  padding-top: 20px;
  position: relative;

  .grid-fab {
    position: absolute;
    bottom: -8px;
    right: 0;
  }
}

ag-grid-angular.ag-theme-material {
  width: 100%;

  button {
    background-color: inherit;
    color: inherit;

    &:focus {
      box-shadow: inherit;
    }
  }

  .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
    border-color: map_get($mat-eav-item-dialog-secondary, 500) !important;

    &.no-outline {
      border-color: transparent !important;
    }
  }
}

.ag-row-hover {
  .id-action {
    cursor: pointer;
    color: map_get($mat-eav-item-dialog-secondary, 500);
  }

  .primary-action {
    cursor: pointer;
    color: map_get($mat-eav-item-dialog-secondary, 500);

    &.ag-column-hover {
      text-decoration: underline;
    }
  }

  .secondary-action {
    .text {
      color: map_get($mat-eav-item-dialog-secondary, 500);
    }

    &.ag-column-hover .text {
      text-decoration: underline;
    }

    .mat-icon {
      color: map_get($mat-eav-item-dialog-secondary, 500);
    }
  }
}

.ag-header-cell {
  padding: 0 8px !important;

  &.dense {
    .ag-header-label-icon {
      margin-left: 0 !important;
    }
  }
}

.ag-cell {
  &:not(.no-padding) {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  &.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &.highlight:hover .ag-cell-value,
  .highlight:hover {
    text-shadow: 2px 2px 4px #fff, 4px 4px 4px #666666;
    // transform: translate(-1px, -1px);
    margin: -1px 1px 1px -1px;

    .chip {
      box-shadow: 2px 2px 4px #fff, 4px 4px 4px #666666;
    }
  }
}

.ag-cell-value {
  display: block;
  width: 100%;
  height: 100%;

  .mat-icon {
    user-select: none;
  }

  .icon-container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .like-button {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;

    &:not(.disabled) {
      cursor: pointer;
    }

    &.disabled {
      .mat-icon {
        color: $grid-color-disabled !important;
      }
    }
  }
}
