body {
  margin: 0;
}

.hide-scrollbar {
  -ms-overflow-style: none !important; // IE 10+
  overflow: -moz-scrollbars-none !important; // Firefox
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important; // Safari and Chrome
  }
}

.hide {
  display: none;
}

.not-implemented {
  color: red;
}

.almost-implemented {
  color: orange;
}
