.history-tables {
  .table-row {
    border-bottom: 1px solid rgba($editUI-foreground-color, 0.12);
  }

  .row-main__type {
    color: rgba($editUI-foreground-color, 0.4);
  }

  .history-changed {
    color: map_get($mat-eav-item-dialog-secondary, 500);
  }
}
