$dialog-margin-top: 24px;
$dialog-margin-bottom: 24px;
$dialog-width-large: 95vw;
$dialog-width-medium: 50vw;
$dialog-width-small: 40vw;

.mat-dialog-container {
  // background: transparent !important;
  height: auto !important;
  max-height: calc(100vh - #{$dialog-margin-top} - #{$dialog-margin-bottom}) !important;
  @extend .hide-scrollbar;
}

@mixin dialog-panel-fullscreen() {
  width: 100vw;
  max-width: 100vw !important;
  height: 100vh;
  margin-top: 0 !important;
}

.dialog-panel-fullscreen {
  @include dialog-panel-fullscreen();
}

.dialog-panel-large {
  width: $dialog-width-large;
  max-width: $dialog-width-large !important;
  margin-top: $dialog-margin-top !important;

  @media (max-width: 600px) {
    @include dialog-panel-fullscreen();
  }
}

.dialog-panel-medium {
  width: $dialog-width-medium;
  max-width: $dialog-width-medium !important;
  margin-top: $dialog-margin-top !important;

  @media (max-width: 600px) {
    @include dialog-panel-fullscreen();
  }
}

.dialog-panel-small {
  width: $dialog-width-small;
  max-width: $dialog-width-small !important;
  margin-top: $dialog-margin-top !important;

  @media (max-width: 600px) {
    @include dialog-panel-fullscreen();
  }
}

.dialog-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 29px;
  line-height: 29px;
  font-weight: 400;
}

.dialog-description {
  font-size: 14px;
}
