$dialog-margin-top: 24px;
$dialog-margin-bottom: 24px;
$dialog-margin-side: 24px;
$dialog-width-large: 95vw;
$dialog-max-width-medium: 1000px;
$dialog-width-medium: 95vw;
$dialog-width-small: 40vw;
$max-height: calc(100vh - #{$dialog-margin-top} - #{$dialog-margin-bottom});

.mat-dialog-container {
  @media (max-width: 600px) {
    border-radius: 0 !important;
  }
}

.no-scrollbar {
  .mat-dialog-container {
    @extend .hide-scrollbar;
  }
}

@mixin dialog-panel-fullscreen() {
  width: 100vw;
  max-width: 100vw !important;
  height: 100vh;
  max-height: 100vh;
  margin-top: 0 !important;
}

.dialog-panel-fullscreen {
  @include dialog-panel-fullscreen();
}

.dialog-panel-large {
  width: $dialog-width-large;
  max-width: $dialog-width-large !important;
  margin-top: $dialog-margin-top !important;
  height: $max-height;

  @media (max-width: 600px) {
    @include dialog-panel-fullscreen();
  }
}

.dialog-panel-medium {
  width: $dialog-width-medium;
  max-width: $dialog-max-width-medium !important;
  margin-top: $dialog-margin-top !important;
  max-height: $max-height;

  @media (max-width: 600px) {
    @include dialog-panel-fullscreen();
  }
}

.dialog-panel-small {
  width: $dialog-width-small;
  max-width: $dialog-width-small !important;
  margin-top: $dialog-margin-top !important;
  max-height: $max-height;

  @media (max-width: 600px) {
    @include dialog-panel-fullscreen();
  }
}

.dialog-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 29px;
  line-height: 29px;
  font-weight: 400;
}

.dialog-description {
  font-size: 14px;
}

.dialog-component {
  max-height: calc(100vh - 2 * #{$dialog-margin-top} - 2 * #{$dialog-margin-bottom});
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    max-height: calc(100vh - #{$dialog-margin-top} - #{$dialog-margin-bottom});
  }

  .dialog-form-wrapper {
    max-height: inherit;
    display: flex;
    flex-direction: column;
  }

  .dialog-form {
    display: flex;
    flex-direction: column;
    margin-left: -$dialog-margin-side;
    margin-right: -$dialog-margin-side;
    padding-left: $dialog-margin-side;
    padding-right: $dialog-margin-side;
    margin-bottom: -$dialog-margin-bottom;
    overflow: hidden;

    .dialog-form-content {
      overflow: auto;
      margin-left: -$dialog-margin-side;
      margin-right: -$dialog-margin-side;
      padding-left: $dialog-margin-side;
      padding-right: $dialog-margin-side;
    }

    .dialog-form-actions {
      padding: 8px 0;
      display: flex;
      min-height: 52px;
      align-items: center;
      justify-content: flex-end;

      .mat-button-base {
        margin-right: 8px;
        overflow: auto;
        @extend .hide-scrollbar;

        &:last-of-type {
          margin-right: 0;
        }

        .mat-button-wrapper {
          white-space: nowrap;
        }
      }
    }
  }

  .dialog-component-content {
    overflow: auto;
    margin-left: -$dialog-margin-side;
    margin-right: -$dialog-margin-side;
    padding-left: $dialog-margin-side;
    padding-right: $dialog-margin-side;
  }

  .dialog-component-actions {
    padding: 8px 0;
    display: flex;
    min-height: 52px;
    align-items: center;
    margin-bottom: -$dialog-margin-bottom;
    justify-content: flex-end;

    .mat-button-base {
      margin-right: 8px;
      overflow: auto;
      @extend .hide-scrollbar;

      &:last-of-type {
        margin-right: 0;
      }

      .mat-button-wrapper {
        white-space: nowrap;
      }
    }
  }
}
