$dialog-margin-top: 30px;
$dialog-width-large: 95vw;
$dialog-width-medium: 50vw;
$dialog-width-small: 40vw;

.cdk-global-overlay-wrapper {
  align-items: flex-start !important;
}

.mat-dialog-container {
  // background: transparent !important;
  height: auto !important;
  @extend .hide-scrollbar;
}

.dialog-panel-large {
  width: $dialog-width-large;
  max-width: $dialog-width-large !important;
  margin-top: $dialog-margin-top;
}

.dialog-panel-medium {
  width: $dialog-width-medium;
  max-width: $dialog-width-medium !important;
  margin-top: $dialog-margin-top;
}

.dialog-panel-small {
  width: $dialog-width-small;
  max-width: $dialog-width-small !important;
  margin-top: $dialog-margin-top;
}

.dialog-title-container {
  display: flex;
  justify-content: space-between;
}
