<mat-card appearance="raised" class="eav-card-group-child shadow-bottom-z-1"
  [ngClass]="{ 'force-hide': (visible$ | async) === false }">
  <div fxLayout="row" fxLayoutAlign="start center" class="eav-card-header-group-child">
    <div fxFlex="auto" fxLayoutAlign="start center" (click)="toggleCollapse()">
      <div fxLayoutAlign="start center" class="eav-card-title-group mat-body-2">
        <mat-icon class="title-arrow">{{ (collapsed$ | async) ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
        </mat-icon>
        <span class="title">
          {{ (label$ | async) || config.fieldName }}
        </span>
      </div>
    </div>
  </div>

  <mat-card-content class="eav-card-content-group-child" [style.display]="(collapsed$ | async) ? 'none' : 'block'">
    <div class="eav-layout-grid">
      <div class="eav-layout-grid__inner">
        <div class="eav-layout-grid__cell--span-12 mat-body-2" allign="start" *ngIf="notes$ | async as notes">
          <div class="description" appChangeAnchorTarget [innerHtml]="notes | safeHtml"></div>
        </div>
        <div class="eav-layout-grid__cell--span-12">
          <ng-container #fieldComponent></ng-container>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>