<mat-card *ngIf="templateVars$ | async as data" class="translate-menu-dialog-card u-hide-scrollbar">
  <div class="mat-card__header">
    <div class="mat-card__title">
      {{ 'LangMenu.TranslateFrom' | translate }}
    </div>
    <div class="mat-card__description">
      {{'LangMenu.Dialog.PickLanguageIntro' | translate }}
    </div>
  </div>

  <mat-action-list>
    <button mat-list-item *ngFor="let language of data.languages" (click)="setLanguage(language.key)"
      [disabled]="language.disabled" [ngClass]="{
      'mat-list-item-focus': data.translationState.language === language.key,
      'mat-list-item--disabled': language.disabled
    }">
      <mat-icon matListIcon color="accent">language</mat-icon>
      {{ language.key }}
    </button>
  </mat-action-list>
</mat-card>