@use '../../../assets/styles/variables.scss';

.my-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.my-label-disabled {
  color: variables.$editUI-label-disabled-color;
}