<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Delete {{ extensionFolder }}</div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="eav-dialog-content">
    <mat-accordion>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>Extension Details</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <app-inspect-extension-content [data]="preflightResult()"></app-inspect-extension-content>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    @if (totalLocalEntities() > 0) {
      <p>Caution: This app has {{ totalLocalEntities() }} local entities.</p>
      <p>
        <mat-slide-toggle [(ngModel)]="withData">
          With Data
        </mat-slide-toggle>
      </p>
    }
    @if (mustForceDelete()) {
      <mat-slide-toggle [(ngModel)]="forceDelete">
        Force Delete
      </mat-slide-toggle>
    }
  </div>

  <mat-dialog-actions align="end">
    <app-save-close-button-fab
      [label]="'Delete and close (ctrl + enter)'"
      (action)="deleteAndClose()"
    />
  </mat-dialog-actions>
</div>
