<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Delete {{ extensionFolder }}</div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="eav-dialog-content">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Extension Details</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <app-inspect-extension-content [data]="preflightResult()"></app-inspect-extension-content>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <p>Are you Sure you want to delete this Extension?</p>
    <p>
      <mat-slide-toggle [(ngModel)]="withData">
        Also delete data in the App which the extension created?
      </mat-slide-toggle>
    </p>
  </div>

  <mat-dialog-actions align="end">
    <app-save-close-button-fab
      [label]="'Delete and close (ctrl + enter)'"
      (action)="saveAndClose(true)"
    />
  </mat-dialog-actions>
</div>
