.hover-pair {
  .hover-default {
    display: block;
  }

  .hover-hover {
    display: none;
  }

  &:hover {
    .hover-default {
      display: none;
    }

    .hover-hover {
      display: inline-block;
    }
  }
}
