<ng-container>
  <div class="eav-cards-box">
    <mat-card class="eav-card">
      <mat-card-header class="eav-card-header">
        <mat-card-title>Instructions for Sync or Export/Import</mat-card-title>
        <mat-icon>info</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>
          This section is for export/import of the entire App,
          for synchronizing with the file storage (eg. for Git)
          or to export parts of the App for re-import in another App.
        </p>
        <p>
          To export/import Content-Types, Queries, Views or Data, use the respective tabs.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="eav-cards-box">
    <mat-card class="eav-card">
      <mat-card-header class="eav-card-header">
        <mat-card-title>Export this entire App</mat-card-title>
        <mat-icon>cloud_download</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>
          Create an package (zip) which can be installed in another site.
        </p>
      </mat-card-content>
      <div class="eav-card-space-div"></div>
      <mat-card-actions align="start">
        <button mat-button class="eav-button__with-icon" (click)="exportApp()">
          <mat-icon class="eav-icon">cloud_download</mat-icon>
          <span>Export App</span>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="eav-card">
      <mat-card-header class="eav-card-header">
        <mat-card-title>Export or Import parts of this App</mat-card-title>
        <mat-icon>import_export</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>
          Create an xml containing parts of the app, e.g. content and templates.
          Import parts from such an xml into this app.
        </p>
      </mat-card-content>
      <div class="eav-card-space-div"></div>
      <mat-card-actions align="start">
        <button mat-button class="eav-button__with-icon" (click)="exportParts()">
          <mat-icon class="eav-icon">cloud_download</mat-icon>
          <span>Export Parts</span>
        </button>
        <button mat-button class="eav-button__with-icon" (click)="importParts()">
          <mat-icon class="eav-icon">cloud_upload</mat-icon>
          <span>Import Parts</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="eav-cards-box">
    <mat-card class="eav-card">
      <mat-card-header class="eav-card-header">
        <div class="eav-card-header-title-toggle">
          <mat-card-title>App-State Versioning</mat-card-title>
          <mat-slide-toggle class="eav-card-header-toggle" [(ngModel)]="appStateAdvanced">{{ appStateAdvanced ? "advanced" : "basic" }}</mat-slide-toggle>
        </div>
        <mat-icon>history_toggle_off</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>
          You can save / restore the app with data and configuration in <code>.data/app.xml</code>.
          This file can then also be versioned using git.
        </p>
        @if (appStateAdvanced) {
          <p>
            <br>
              In Advanced mode you can also sync all the site files used by this app.
              They will be placed in a folder inside <code>App_Data</code> and allow sync/restore with git or another server.
            </p>
          }
        </mat-card-content>
        @if (appStateAdvanced) {
          <app-feature-text-info [featureNameId]="'AppSyncWithSiteFiles'"></app-feature-text-info>
        }
        <div class="eav-card-space-div"></div>
        <mat-card-actions align="start">
          @if (!appStateAdvanced) {
            <button mat-button class="eav-button__with-icon" (click)="exportAppXml(false)">
              <mat-icon class="eav-icon">more_time</mat-icon>
              <span>Save state</span>
            </button>
            <button mat-button class="eav-button__with-icon" (click)="resetApp(false)">
              <mat-icon class="eav-icon">restore</mat-icon>
              <span>Restore state</span>
            </button>
          }
          @if (appStateAdvanced) {
            <button mat-button class="eav-button__with-icon" (click)="exportAppXml(true)">
              <mat-icon class="eav-icon">more_time</mat-icon>
              <span>Save with Assets</span>
            </button>
            <button mat-button class="eav-button__with-icon" (click)="resetApp(true)">
              <mat-icon class="eav-icon">restore</mat-icon>
              <span>Restore with Assets</span>
            </button>
          }
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
