<ng-container>
  <div class="cards-box">
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Instructions for Sync or Export/Import</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>info</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          This section is for export/import of the entire App,
          for synchronizing with the file storage (eg. for Git)
          or to export parts of the App for re-import in another App.
        </p>
        <p>
          To export/import Content-Types, Queries, Views or Data, use the respective tabs.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cards-box">
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Export this entire App</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>cloud_download</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        Create an package (zip) which can be installed in another site.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="exportApp()">
          <mat-icon>cloud_download</mat-icon>
          <span>Export App</span>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Export or Import parts of this App</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>import_export</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        Create an xml containing parts of the app, e.g. content and templates.
        Import parts from such an xml into this app.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="exportParts()">
          <mat-icon>cloud_download</mat-icon>
          <span>Export Parts</span>
        </button>
        <button mat-button (click)="importParts()">
          <mat-icon>cloud_upload</mat-icon>
          <span>Import Parts</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="cards-box">
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>App-State Versioning</mat-card-title>
        <mat-slide-toggle [(ngModel)]="appStateAdvanced">{{ appStateAdvanced ? "advanced" : "basic" }}</mat-slide-toggle>
        <div class="mat-card-header-icon">
          <mat-icon>history_toggle_off</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        You can save / restore the app with data and configuration in <code>.data/app.xml</code>.
        This file can then also be versioned using git.
        <div *ngIf="appStateAdvanced">
          <br>
          In Advanced mode you can also sync all the site files used by this app.
          They will be placed in a folder inside <code>App_Data</code> and allow sync/restore with git or another server.
        </div>
      </mat-card-content>
      <app-feature-text-info *ngIf="appStateAdvanced" [featureNameId]="'AppSyncWithSiteFiles'"></app-feature-text-info>
      <mat-card-actions>
        <ng-container *ngIf="!appStateAdvanced">
          <button mat-button (click)="exportAppXml(false)">
            <mat-icon>more_time</mat-icon>
            <span>Save state</span>
          </button>
          <button mat-button (click)="resetApp(false)">
            <mat-icon>restore</mat-icon>
            <span>Restore state</span>
          </button>
        </ng-container>
        <ng-container *ngIf="appStateAdvanced">
          <button mat-button (click)="exportAppXml(true)">
            <mat-icon>more_time</mat-icon>
            <span>Save with Assets</span>
          </button>
          <button mat-button (click)="resetApp(true)">
            <mat-icon>restore</mat-icon>
            <span>Restore with Assets</span>
          </button>
        </ng-container>

      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
