.feature-text-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-weight: bold;
  color: red;
  margin-bottom: 15px;
}

.feature-clickable-text {
  text-decoration: underline;
  cursor: pointer;
}