@if (viewModel$ | async; as vm) {
  @if (vm.show) {
    <div class="feature-text-info" (click)="openDialog()" [tippy]="'Features.Tooltip' | translate: vm.feature">
      <mat-icon class="icon icon-{{vm.icon}}">{{ vm.icon }}</mat-icon>
      <div class="feature-text-info-content">
        <div class="feature-text-info-title">{{ 'Features.FeatureNotActivated' | translate }}</div>
        <div class="feature-text-info-subtitle">{{ 'Features.ClickToFindOutMore' | translate }}</div>
      </div>
    </div>
  }
} @else {
  <div>loading...</div>
}
<ng-template #loading>
  <div>loading...</div>
</ng-template>