.feature-card {
  cursor: pointer;
}

.feature-card-icon {
  font-size: 50px;
  color: red;
}

.feature-card-title {
  font-size: 20px;
  font-weight: 500;
}

.feature-card-subtitle {
  font-size: 15px;
}