<div [ngClass]="dialogIsOpen ? 'c-ew__container' : 'u-display-none'">
  <div fxLayout="column" class="c-ew__dialog mat-elevation-z24">
    <div [ngClass]="dialogIsOpen ? 'c-ew__dialog-header mat-elevation-z2' : ''">
      <mat-card class="c-ew--border-radius mat-elevation-z0" fxLayout="row">
        <button mat-icon-button type="button" fxLayoutAlign="center center" (click)="dialogIsOpen = false">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxLayoutAlign="center center" class="mat-display-1">{{config.label}}</span>
      </mat-card>
    </div>
    <div class='u-add-scrollbar u-hide-scrollbar'>
      <div [@itemShrinkAnimation]="!dialogIsOpen ? 'open' : 'closed'">
      </div>
      <div class="c-ew__dialog-content c-ew--border-radius" [@contentExpandAnimation]="!dialogIsOpen ? 'closed' : 'expanded'">
        <ng-container #fieldComponent></ng-container>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- (click)="dialogIsOpen = true" -->
  <!-- <div matRipple (click)="ante()" matRippleSpeedFactor="0.6" class="c-ew__preview mat-ripple" [ngClass]="inputInvalid ? 'c-ew__preview--input-invalid' : ''">
    <div [ngClass]="value ? 'c-ew__preview-container' : 'c-ew__preview-container--empty'">
      <mat-label *ngIf="!inputInvalid" class="c-ew__color--primary" [ngClass]="value && value.length > 0 ? 'mat-caption' : 'mat-empty'">{{config.label}}
        {{config.required ? '*': '' }}</mat-label>
      <mat-label *ngIf="inputInvalid" class="mat-error" [ngClass]="value ? 'mat-caption' : 'mat-empty'">{{config.label}}
        {{config.required ? '*': '' }}</mat-label>
      <div *ngIf="value" [innerHtml]="value"></div>
    </div>
  </div> -->
  <div class="c-ew__preview" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayoutAlign="start center" class="thumbnail-before-input" [ngClass]="{'icon-before-input': value && !isImage()}"
      [ngStyle]="{'background-image': value && isImage() ? 'url(' + thumbnailUrl(1, true) + ')' : ''}">
      <a *ngIf="value && !isImage()" [href]="link" target="_blank" tabindex="-1" [ngClass]="icon()" matTooltip="{{tooltipUrl(link)}}"
        matTooltipPosition="right">
      </a>
    </div>
    <!-- <div matPrefix *ngIf="value && !isImage()" class="thumbnail-before-input icon-before-input">
      <a [href]="link" target="_blank" tabindex="-1" [class]="icon()" matTooltip="{{tooltipUrl(link)}}"
        matTooltipPosition="right">
      </a>
    </div> -->
    <!-- <div matPrefix *ngIf="!value" class="thumbnail-before-input empty-placeholder">
    </div> -->
    <div class="c-ew__preview-field--short" fxFlex="auto">
      <mat-form-field appearance="fill" color="accent" class="mat-form-field-hyperlink">
        <input matInput type="text" [placeholder]="config.label" (click)="showFieldHints = true" (change)="setValue($event)"
          (keyup)="setValue($event)" [value]="value" matTooltip="{{'Edit.Fields.Hyperlink.Default.Tooltip1' | translate }} 
        {{'Edit.Fields.Hyperlink.Default.Tooltip2' | translate }}
        ADAM - sponsored with ♥ by 2sic.com"
          matTooltipPosition="above">
        <span matSuffix class="input-group-btn">
          <button mat-icon-button tabindex="-1" [disabled]="disabled" type="button" (click)="dialogIsOpen = true" class="btn btn-default icon-field-button">
            <mat-icon>more_vert</mat-icon>
          </button>
        </span>
        <mat-label [ngClass]="{'mat-error' : inputInvalid && touched}">
          {{config.label}}
          {{config.required ? '*': '' }}
        </mat-label>

        <mat-hint align="start" class="c-ew__preview-field-hint">drop files here</mat-hint>
        <mat-hint align="end" class="c-ew__preview-field-hint">ADAM - sponsored with ♥ by 2sic.com</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <app-field-helper-text [config]="config" [group]="group" haveDirtyTouched="fasle"></app-field-helper-text>
</div>