<!-- header -->
<div [ngClass]="dialogIsOpen ? 'c-ew__container' : 'u-display-none'">
  <div #backdrop class="c-ew__backdrop" (click)="closeDialog()"></div>
  <div #dialog fxLayout="column" class="c-ew__dialog mat-elevation-z24 u-border-radius">
    <div [ngClass]="dialogIsOpen ? 'c-ew__dialog-header mat-elevation-z2' : ''">
      <mat-card class="mat-elevation-z0" fxLayout="row">
        <button class="back-arrow" mat-icon-button type="button" fxLayoutAlign="center center" (click)="closeDialog()"
          matTooltip="{{ 'Form.Buttons.Return.Tip' | translate }}">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxLayoutAlign="center center" class="title mat-display-1">{{config.field.label}}</span>
      </mat-card>
    </div>
    <div>
      <div [@itemShrinkAnimation]="!dialogIsOpen ? 'open' : 'closed'">
      </div>
      <div class="c-ew__dialog-content u-border-radius-bottom u-add-scrollbar u-hide-scrollbar"
        [@contentExpandAnimation]="{
          value: !dialogIsOpen ? 'closed' : 'expanded',
          params: {bottomPixels: bottomPixels}
        }">
        <ng-container #fieldComponent></ng-container>
      </div>
    </div>
  </div>
</div>

<!-- preview -->
<div class="c-hyperlink-default-field-preview">
  <div class="c-ew__preview" fxLayout="row" fxLayoutAlign="start start" [ngClass]="{
    'c-ew__preview--disabled': control.disabled,
    'c-ew__preview--last-in-group': config.field.isLastInGroup
  }">
    <!-- image / icon -->
    <div class="thumbnail-before-input" [ngClass]="{
      'icon-before-input': control.value && !isImage,
      'thumbnail-before-input--disabled': control.disabled
    }" [ngStyle]="{'background-image': control.value && isImage ? thumbnailUrl : ''}"
      (click)="!control.disabled ? expandDialog() : ''">
      <mat-icon *ngIf="control.value && !isImage && isKnownType" matTooltip="{{tooltipUrl}}" matTooltipPosition="right">
        {{iconClass}}
      </mat-icon>
      <mat-icon *ngIf="control.value && !isImage && !isKnownType" matTooltip="{{tooltipUrl}}" matTooltipPosition="right"
        svgIcon="{{iconClass}}">
      </mat-icon>
    </div>
    <!-- field -->
    <div class="c-ew__preview-field--short" fxFlex="auto">
      <!-- input -->
      <div class="c-hyperlink-default-input-link-wrapper">
        <mat-form-field appearance="standard" color="accent" class="mat-form-field-hyperlink" [ngClass]="{
          'mat-form-field-invalid': control.invalid && control.touched
        }">
          <input matInput type="text" [placeholder]="config.field.label" (change)="setValue($event)"
            [disabled]="control.disabled" (keyup)="setValue($event)" [value]="control.value"
            matTooltip="{{'Fields.Hyperlink.Default.Tooltip' | translate }}" matTooltipPosition="above"
            (blur)="setTouched()">
          <div matSuffix fxLayoutAlign="center center">
            <div class="c-ew__preview-suffix-text" fxHide fxShow.gt-xs [ngClass]="{
            'c-ew__preview-suffix-text--disabled': control.disabled
          }">drop files here</div>
            <button mat-icon-button class="c-ew__preview-suffix-icon" tabindex="-1" [disabled]="control.disabled"
              type="button" (click)="expandDialog()">
              <mat-icon svgIcon="apple"></mat-icon>
            </button>
          </div>
          <mat-label [ngClass]="{'mat-error' : control.invalid && control.touched}">
            {{config.field.label}}
            {{config.field.required ? '*': '' }}
          </mat-label>
        </mat-form-field>
        <!-- link absolutely positioned above input -->
        <div *ngIf="control.value" class="c-hyperlink-default-link__container" fxHide fxShow.gt-xs>
          <div class="c-hyperlink-default-link__value">{{control.value}}</div>
          <div class="c-hyperlink-default-link__link">
            <a href="{{link}}" target="_blank" tabindex="-1" class="c-hyperlink-default-link__link-text">
              <span>... {{link.substr(link.lastIndexOf("/"), 100)}}</span>
            </a>
          </div>
        </div>
      </div>
      <!-- helper text and adam text -->
      <div class="c__helper-wrapper">
        <app-field-helper-text class="c__helper-wrapper--left" [config]="config" [group]="group">
        </app-field-helper-text>
        <div align="end" class="c-ew__preview-field-hint c__helper-wrapper--right" fxHide fxShow.gt-xs>
          <span>ADAM - sponsored with ♡ by 2sic.com</span>
        </div>
      </div>
    </div>
  </div>
</div>
