<h1>Test translateMenu 2dg: </h1>

@if (viewModel$ | async; as vm) {
  <mat-card class="translate-menu-dialog-card u-hide-scrollbar">
    <mat-card-header>
      <mat-card-title>
        {{ 'LangMenu.Dialog.Title' | translate: { name: dialogData.config.fieldName } }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'LangMenu.Dialog.Intro' | translate }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="eav-card-content__no-padding">
      <mat-nav-list toggle focus>
        <mat-list-item
          [ngClass]="{ 'eav-list-item__focus': vm.translationState.linkType === TranslationLinks.DontTranslate }"
          (click)="setLinkType(TranslationLinks.DontTranslate)">
          <mat-icon matListItemIcon color="accent">lock</mat-icon>
          <span matListItemTitle>{{ ('LangMenu.Dialog.' + I18nKeys.NoTranslate + '.Title') | translate : { primary: vm.primary } }}</span>
          <span matListItemLine>{{ ('LangMenu.Dialog.' + I18nKeys.NoTranslate + '.Body') | translate : { primary: vm.primary } }}</span>
        </mat-list-item>
        <mat-list-item lines=3
          [ngClass]="{ 'eav-list-item__focus': vm.translationState.linkType === TranslationLinks.Translate }"
          (click)="setLinkType(TranslationLinks.Translate)">
          <mat-icon matListItemIcon color="accent">lock_open</mat-icon>
          <span matListItemTitle>{{ ('LangMenu.Dialog.' + I18nKeys.FromPrimary + '.Title') | translate : { primary: vm.primary } }}</span>
          <span>{{ ('LangMenu.Dialog.' + I18nKeys.FromPrimary + '.Body') | translate : { primary: vm.primary } }}</span>
        </mat-list-item>
        <mat-list-item lines=3
          [ngClass]="{ 'eav-list-item__focus': vm.translationState.linkType === TranslationLinks.LinkCopyFrom }"
          (click)="setLinkType(TranslationLinks.LinkCopyFrom)">
          <mat-icon matListItemIcon color="accent">translate</mat-icon>
          <span matListItemTitle>{{ ('LangMenu.Dialog.' + I18nKeys.FromOther + '.Title') | translate : { primary: vm.primary } }}</span>
          <span>{{ ('LangMenu.Dialog.' + I18nKeys.FromOther + '.Body') | translate : { primary: vm.primary }
          }}</span>
        </mat-list-item>
        <mat-list-item
          [ngClass]="{ 'eav-list-item__focus': vm.translationState.linkType === TranslationLinks.LinkReadOnly }"
          (click)="setLinkType(TranslationLinks.LinkReadOnly)">
          <mat-icon matListItemIcon color="accent">link</mat-icon>
          <span matListItemTitle>{{ ('LangMenu.Dialog.' + I18nKeys.LinkReadOnly + '.Title') | translate : { primary: vm.primary } }}</span>
          <span matListItemLine>{{ ('LangMenu.Dialog.' + I18nKeys.LinkReadOnly + '.Body') | translate : { primary: vm.primary } }}</span>
        </mat-list-item>
        <mat-list-item lines=3
          [ngClass]="{ 'eav-list-item__focus': vm.translationState.linkType === TranslationLinks.LinkReadWrite }"
          (click)="setLinkType(TranslationLinks.LinkReadWrite)">
          <mat-icon matListItemIcon color="accent">share</mat-icon>
          <span matListItemTitle>{{ ('LangMenu.Dialog.' + I18nKeys.LinkShared + '.Title') | translate : { primary: vm.primary } }}</span>
          <span>{{ ('LangMenu.Dialog.' + I18nKeys.LinkShared + '.Body') | translate : { primary: vm.primary }
          }}</span>
        </mat-list-item>
      </mat-nav-list>
      @if (vm.showLanguageSelection) {
        <div>
          <mat-card-header>
            <mat-card-title>
              {{ (vm.i18nRoot + '.Subtitle') | translate }}
            </mat-card-title>
            <mat-card-subtitle>
              {{'LangMenu.Dialog.PickLanguageIntro' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-action-list>
            @for (language of vm.languages; track language) {
              <mat-list-item (click)="setLanguage(language.key)"
                [disabled]="language.disabled" [ngClass]="{
                'eav-list-item__focus': vm.translationState.language === language.key,
                'list-item__disabled': language.disabled
                }">
                <mat-icon matListItemIcon [ngClass]="{ 'list-item-icon__disabled': language.disabled }">language</mat-icon>
                <span matListItemTitle>{{ language.key }}</span>
              </mat-list-item>
            }
          </mat-action-list>
        </div>
      }
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="accent" [disabled]="vm.submitDisabled" (click)="save()">OK</button>
    </mat-card-actions>
  </mat-card>
}
