<div *ngIf="viewModel$ | async as vm" [formGroup]="group">
  <mat-slide-toggle [disabled]="vm.controlStatus.disabled" [checked]="vm.checked" (change)="updateValue()"
    [ngClass]="{
    'toggle-false': vm.checked === false,
    'toggle-true': vm.checked === true,
    'toggle-null': vm.checked === null,
    'changable-label-tristate-mat-slide-togle': vm.changable
  }">
    {{ vm.label }}
  </mat-slide-toggle>

  <app-field-helper-text [config]="config" [group]="group" [disableError]="true"></app-field-helper-text>
</div>
