@if (preview(); as preV) {
  @if (open()) {
    <div class="fabs-box">
      @if (buttonAdam()) {
        <button mat-mini-fab color="accent" [tippy]="'Fields.Hyperlink.Default.AdamTip' | translate"
          [disabled]="controlStatus().disabled" (click)="toggleAdam(false, false)">
          <mat-icon svgIcon="apple-outlined"></mat-icon>
        </button>
      }
      <button mat-mini-fab color="primary" [disabled]="!adamItem()?._imageConfigurationContentType"
        [ngClass]="{ 'metadata-exists': adamItem()?._imageConfigurationId > 0 }"
        [tippy]="'Fields.Hyperlink.AdamFileManager.ImageSettings' | translate"
        (click)="openImageConfiguration(adamItem())">
        <mat-icon
          [tippy]="(enableImageConfiguration() ? 'Fields.Hyperlink.AdamFileManager.ImageSettingsUnavailable' : 'Fields.Hyperlink.AdamFileManager.ImageSettingsDisabled') | translate"
          [tippyDisabled]="adamItem()?._imageConfigurationContentType">filter_center_focus</mat-icon>
      </button>
      @if (buttonPage()) {
        <button mat-mini-fab color="primary" [tippy]="'Fields.Hyperlink.Default.PageTip' | translate"
          [disabled]="controlStatus().disabled" (click)="openPagePicker()">
          <mat-icon svgIcon="sitemap"></mat-icon>
        </button>
      }
      @if (buttonMore()) {
        <button mat-mini-fab color="primary" [tippy]="'Fields.Hyperlink.Default.MoreOptions' | translate"
          [disabled]="controlStatus().disabled" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      }
    </div>
    <mat-menu #menu="matMenu" class="menu-box">
      <ng-template matMenuContent>
        @if (showAdam()) {
          <button mat-menu-item (click)="toggleAdam(false, false)">
            <mat-icon svgIcon="apple-outlined"></mat-icon>
            <span>{{ 'Fields.Hyperlink.Default.MenuAdam' | translate }}</span>
          </button>
        }
        @if (showPagePicker()) {
          <button mat-menu-item (click)="openPagePicker()">
            <mat-icon svgIcon="sitemap"></mat-icon>
            <span>{{ 'Fields.Hyperlink.Default.MenuPage' | translate }}</span>
          </button>
        }
        @if (showImageManager()) {
          <button mat-menu-item (click)="toggleAdam(true, true)">
            <mat-icon svgIcon="file-image"></mat-icon>
            <span>{{ 'Fields.Hyperlink.Default.MenuImage' | translate }}</span>
          </button>
        }
        @if (showFileManager()) {
          <button mat-menu-item (click)="toggleAdam(true, false)">
            <mat-icon svgIcon="file"></mat-icon>
            <span>{{ 'Fields.Hyperlink.Default.MenuDocs' | translate }}</span>
          </button>
        }
      </ng-template>
    </mat-menu>
    <!-- content -->
    <div class="eav-layout-grid">
      <div class="eav-layout-grid__inner">
        <mat-card class="eav-card eav-layout-grid__cell--span-12 hyperlink-card shadow-bottom-z-1">
          <div class="hyperlink-input-link-wrapper">
            <!-- input -->
            <mat-form-field [formGroup]="group" color="accent" class="eav-mat-form-field">
              <input matInput [formControlName]="config.fieldName" [tippy]="'Fields.Hyperlink.Default.Tooltip' | translate"
                tippyPlacement="top" [placeholder]="basics().placeholder" [required]="basics().required" appPasteClipboardImage
                [config]="config" [elementType]="'input'">
              <mat-label>{{ basics().label }}</mat-label>
            </mat-form-field>
            <!-- link absolutely positioned above input -->
            @if (preV?.floatingText) {
              <div class="hyperlink-floating">
                <div class="hyperlink-floating__value">{{ uiValue() }}</div>
                <div class="hyperlink-floating__url-box">
                  <a [href]="preV.url" target="_blank" class="hyperlink-floating__url" [tippy]="preV.url">
                    <span>{{ preV.floatingText }}</span>
                  </a>
                </div>
              </div>
            }
          </div>
          @if (uiValue()) {
            <div class="preview-wrapper">
              @if (preV.isImage) {
                <!-- image -->
                <a [href]="preV.url" target="_blank">
                  <div class="preview-image-box">
                    <img [src]="preV.previewUrl" class="preview-image" />
                  </div>
                </a>
              }
              @else {
                <!-- icon -->
                <a [href]="preV.url" target="_blank" [tippy]="preV.url" tippyPlacement="right">
                  <div class="preview-icon-box">
                    <mat-icon [svgIcon]="preV.icon"></mat-icon>
                  </div>
                </a>
              }
            </div>
          }
        </mat-card>
      </div>
    </div>
  }
}
