<div class="eav-dialog nav-component-wrapper" *ngIf="viewModel$ | async as vm">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Language permissions</div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="eav-dialog-content nav-component-wrapper">
    <p>
      If no language permissions are defined, all editors can edit all languages.
      As soon as you set any language permission, only the specified users
      (or users in the specified groups) can edit these permissions.
    </p>
    <router-outlet></router-outlet>  
    <div class="grid-wrapper">
      <ag-grid-angular class="ag-theme-material" [rowData]="vm.languages" [gridOptions]="gridOptions">
      </ag-grid-angular>
    </div>
    <mat-dialog-actions align="end"></mat-dialog-actions>
  </div>
</div>