@use "sass:map";
@use '../../../assets/styles/variables.scss';
@use '../../../assets/styles/theme/material-colors.scss';

$hyperlink-default-height: 78px;

.metadata-exists {
  color: variables.$blue-accent-color;
}

// Ensures correct layout
.c-ew__preview--hyperlink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.c-ew__preview {
  .thumbnail-before-input {
    background-color: rgba(variables.$editUI-foreground-color, 0.08);
    width: $hyperlink-default-height;
    height: $hyperlink-default-height;
    border-radius: variables.$edit-ui-input-border-radius;
    border: 1px solid variables.$field-border-color--disabled;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;

    &.icon-before-input {
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        width: 56px;
        height: 56px;
        font-size: 56px;
        line-height: 56px;
        color: rgba(variables.$editUI-foreground-color, 0.44);
      }
    }
  }

  .thumbnail-before-input--disabled {
    cursor: default;

    .c-ew__preview-field-hint {
      color: variables.$editUI-label-disabled-color;
    }
  }
}

.c-ew__preview-field--short {
  flex: 1 1 auto;
  // spm width 1% is required. Otherwise field breaks
  width: 1%;
  padding: 0;
  padding-left: 8px;
  margin-top: -4px;
}

.c-ew__preview-field-hint {
  color: rgba(variables.$editUI-foreground-color, 0.44);
  font-size: 12px;
}

.c-ew__preview--disabled {
  .c-ew__preview-field-hint {
    color: variables.$editUI-label-disabled-color;
  }
}

.c-ew__preview-suffix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-ew__preview-suffix-text {
  font-size: 12px;
  line-height: 14px;
  color: map.get(material-colors.$mat-eav-item-dialog-secondary, 300);
  user-select: none;
  cursor: text;
}

.c-ew__preview-suffix-text--disabled {
  color: variables.$editUI-label-disabled-color;
}

@media (min-width: 601px) {
  .c-ew__preview-suffix-icon {
    top: 0 !important;
  }

  .hyperlink-floating,
  .c-ew__preview-field-hint.c__helper-wrapper--right {
    display: flex;
  }
}

@media (max-width: 600px) {
  .c-ew__preview-suffix-icon {
    top: 10px !important;
  }

  .hyperlink-floating,
  .c-ew__preview-field-hint.c__helper-wrapper--right {
    display: none;
  }
}

.c__helper-wrapper {
  display: flex;
  width: 100%;
}

.c__helper-wrapper--left {
  flex: auto;
  // spm width 1% is required. Otherwise field breaks
  width: 1%;
}

.c__helper-wrapper--right {
  flex: 0 0 auto;
  padding-top: 0.54166667em;
  padding-left: 12px;
  line-height: 16px;
}
