// @import '../variables.scss';

// // standard appearance
// .mat-form-field-appearance-fill {
//   width: 100%;
//   height: calc(86px - 1.4375em);
//   /* TODO_(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
//   .mat-mdc-text-field-wrapper, .mat-mdc-form-field-subscript-wrapper {
//     padding-bottom: 0;
//     background-color: white !important;
//   }

//   .mat-mdc-form-field-flex {
//     padding-top: 12px;
//   }

//   /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
//   // .mdc-line-ripple {
//   //   bottom: 0;
//   // }

//   // .mat-mdc-form-field-subscript-wrapper {
//   //   bottom: 0;
//   // }

//   /* TODO_(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
//   /* TODO_(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
//   .mat-mdc-form-field-text-suffix, .mat-mdc-form-field-icon-suffix {
//     .mat-mdc-icon-button {
//       top: 6px;
//       width: 30px !important;
//       height: 30px !important;
//       line-height: 30px;
//     }
//   }
//   /* TODO-(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
//   /* TODO-(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
//   .mat-mdc-select-arrow-wrapper {
//     transform: translateX(-5px) !important;
//     /* TODO-(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
//     .mat-mdc-select-arrow {
//       color: $editUI-foreground-color;
//     }
//   }
// }

// // boolean field
// .mat-mdc-slide-toggle {
//   padding-top: 12px;
// }

.eav-form-field {
  width: 100%;
  // height: calc(86px - 1.4375em);

  // .mat-mdc-form-field-infix {
  //   padding-bottom: 0px !important;
  // }

  // Used so form-field doesn't have background color
  .mat-mdc-text-field-wrapper,
  .mat-mdc-form-field-subscript-wrapper {
    background-color: transparent !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  // Used so form-field doesn't have background color on hover and focus
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }

  // Used so form-field doesn't have background color on hover and focus
  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }

  .mat-mdc-form-field-flex {
    // padding-left: 8px;

    .mat-mdc-form-field-infix {
      min-height: 44px;
      // padding-bottom: 0px !important;
    }

    .mat-mdc-form-field-icon-prefix,
    .mat-mdc-form-field-icon-suffix {
      align-self: baseline;
    }
  }

  .mat-form-field-suffix {
    .mat-icon-button {
      top: 6px;
      width: 30px !important;
      height: 30px !important;
      line-height: 30px;
    }

    .entity-dropdown-button {
      cursor: text;

      &.mat-button-disabled {
        cursor: default;
      }
    }

    .selection-suffix {
      display: flex;

      .mat-icon-button {
        top: 0;

        .mat-icon {
          font-size: 18px;
        }
      }

      .active {
        background-color: $accent-color;
        color: white;

        &.mat-button-disabled {
          background-color: $editUI-label-disabled-color;
        }
      }
    }
  }

  .mat-mdc-icon-button {
    background-color: transparent;
  }
}

.entity-dropdown-button {
  cursor: text;

  //TODO @SDV check if this or equivalent class exists 
  &.mat-private-button-disabled {
    cursor: default;
  }
}

.eav-selection-suffix {
  margin-left: 8px;
  display: flex;

  .eav-selection-suffix-button {
    scale: calc(4/5);
    margin: 0px -4px;
  }

  .active {
    background-color: $accent-color;
    color: white;

    //TODO @SDV check if this or equivalent class exists 
    &.mat-private-button-disabled {
      background-color: $editUI-label-disabled-color;
    }
  }
}

.eav-selection-suffix-inline {
  .mat-icon-button {
    top: 3px;

    .mat-icon {
      font-size: 18px;
    }
  }

  .active {
    background-color: $accent-color;
    color: white;

    &.mat-button-disabled {
      background-color: $editUI-label-disabled-color;
    }
  }
}


// TODO: @SDV Find out why this works here, but not from picker-search.component.scss
.eav-picker-option.mat-mdc-option .mdc-list-item__primary-text {
  width: 100% !important;
}

// .mat-mdc-form-field-focus-overlay {
//   background-color: transparent;
// }