@use "../variables" as _variables;
@use "../../../../../styles/variables" as variables;

.eav-mat-form-field {
  width: 100%;

  // Manipulate initial background color
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }

  // Manipulate background color on hover and focus
  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }

  // Manipulate textfield padding
  .mdc-text-field {
    padding: 0px 6px !important;
  }
}

.eav-selection-suffix {
  margin-left: 8px;
  display: flex;

  .eav-selection-suffix-button {
    scale: calc(4 / 5);
    margin: 0px -4px;
  }

  .active {
    background-color: variables.$sxc-solid;
    color: white;

    //TODO @SDV check if this or equivalent class exists
    &.mat-private-button-disabled {
      background-color: _variables.$editUI-label-disabled-color;
    }
  }
}