<mat-toolbar>
  <span>{{ data.name }}</span>
  <span class="mat-spacer"></span>
  <button mat-icon-button (click)="dialog.close()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Basic Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div matLine>Version</div>
          <div matLine>{{ config.version || 'n/a' }}</div>
        </mat-list-item>
        <mat-list-item>
          <div matLine>Created By</div>
          <div matLine>{{ config.createdBy || 'n/a' }}</div>
        </mat-list-item>
        <mat-list-item>
          <div matLine>Copyright</div>
          <div matLine>{{ config.copyright || 'n/a' }}</div>
        </mat-list-item>
      </mat-list>

      @if (config.description) {
        <mat-divider></mat-divider>
        <h4>Description</h4>
        <div [innerHTML]="getSafeHtml(config.description)"></div>
      }
      @if (config.teaser) {
        <mat-divider></mat-divider>
        <h4>Teaser</h4>
        <div [innerHTML]="getSafeHtml(config.teaser)"></div>
      }
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Features</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-set>
        @for (feature of getFeatures(); track $index) {
          <mat-chip [disabled]="!feature.value" [color]="feature.value ? 'primary' : undefined">
            {{ feature.name }}
          </mat-chip>
        }
      </mat-chip-set>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Platform Requirements</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (req of getVersionRequirements(); track $index) {
          <mat-list-item>
            <mat-icon matListItemIcon [color]="req.supported ? 'primary' : 'warn'">
              {{ req.supported ? 'check_circle' : 'cancel' }}
            </mat-icon>
            <div matLine>{{ req.platform }}</div>
            <div matLine>{{ req.version || 'Not specified' }}</div>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>

  @if (config.linkMain || config.linkDocs || config.linkDemo || config.linkSource) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>Links</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (config.linkMain) {
          <a [href]="config.linkMain" target="_blank" mat-stroked-button>
            <mat-icon>language</mat-icon>
            <span>Main Website</span>
          </a>
        }
        @if (config.linkDocs) {
          <a [href]="config.linkDocs" target="_blank" mat-stroked-button>
            <mat-icon>description</mat-icon>
            <span>Documentation</span>
          </a>
        }
        @if (config.linkDemo) {
          <a [href]="config.linkDemo" target="_blank" mat-stroked-button>
            <mat-icon>preview</mat-icon>
            <span>Demo</span>
          </a>
        }
        @if (config.linkSource) {
          <a [href]="config.linkSource" target="_blank" mat-stroked-button>
            <mat-icon>code</mat-icon>
            <span>Source Code</span>
          </a>
        }
      </mat-card-content>
    </mat-card>
  }

  @if (config.settingsContentType || config.resourcesContentType) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>Content Types</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          @if (config.settingsContentType) {
            <mat-list-item>
              <div matLine>Settings</div>
              <div matLine>{{ config.settingsContentType }}</div>
            </mat-list-item>
          }
          @if (config.resourcesContentType) {
            <mat-list-item>
              <div matLine>Resources</div>
              <div matLine>{{ config.resourcesContentType }}</div>
            </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="dialog.close()">Close</button>
</mat-dialog-actions>
