<div class="actions-component">
  <div class="eav-grid-action-button icon" [tippy]="value.published ? 'Published' : 'Not published'">
    <mat-icon>{{ value.published ? 'visibility' : 'visibility_off' }}</mat-icon>
  </div>

  @if (!disableMetadata) {
    <div class="eav-grid-action-button highlight" matRipple
      [ngClass]="{ 'hide-until-row-hover': !metadataCount && !value.metadata }" [tippy]="metadataTooltip"
      (click)="openMetadata()">
      <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="!metadataCount"
        matBadgePosition="below after" aria-hidden="false">{{ value.metadata ? 'loyalty' : 'local_offer' }}
      </mat-icon>
    </div>
  }
  @if (disableMetadata && !(!metadataCount && !value.metadata)) {
    <div class="eav-grid-action-button disabled">
      <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small" matBadgeDisabled="true"
        [matBadgeHidden]="!metadataCount" matBadgePosition="below after" aria-hidden="false">{{ value.metadata ? 'loyalty'
        : 'local_offer' }}
      </mat-icon>
    </div>
  }
</div>