<div class="actions-component">
  <div class="like-button icon" [tippy]="value.published ? 'Published' : 'Not published'">
    <mat-icon>{{ value.published ? 'visibility' : 'visibility_off' }}</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="!readOnly"
    [ngClass]="{ 'hide-until-row-hover': !metadataCount && !value.metadata }" [tippy]="metadataTooltip"
    (click)="openMetadata()">
    <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="!metadataCount">
      {{ value.metadata ? 'loyalty' : 'local_offer' }}
    </mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="readOnly && !(!metadataCount && !value.metadata)">
    <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small" matBadgeDisabled="true"
      [matBadgeHidden]="!metadataCount">
      {{ value.metadata ? 'loyalty' : 'local_offer' }}
    </mat-icon>
  </div>
</div>
