
@if (!allowMultiValue()) {
  <mat-label class="field-label"
    [ngClass]="{ 'disabled': ui().disabled }">
    {{ basics().labelWithRequired }}
  </mat-label>
}
@if (selectedItems().length > 0) {
  <div
    cdkDropList
    [cdkDropListDisabled]="!allowMultiValue() || ui().disabled"
    (cdkDropListDropped)="drop($event)"
    class="my-list"
    [ngClass]="'my-list-' + (allowMultiValue() ? 'draggable' : 'static')"
  >
    <!-- Normal list usually shows only one item, but can show "empty slot" / "null-item" in debug mode -->
    @for (item of selectedItems(); track (item.value + $index); let index = $index) {
      <div cdkDrag class="my-item" [ngClass]="('my-item-' + (allowMultiValue() ? 'draggable' : 'static')) + ' ' + (ui().disabled ? 'disabled' : '')">
        <div class="item-title" [ngClass]="{ 'disabled': ui().disabled }">
          <!-- visual Drag-Handle if sortable -->
          @if (allowMultiValue()) {
            <mat-icon class="item-title__icon"
              tippyTranslate="Fields.Picker.DragMove"
              [tippyDisabled]="ui().disabled">
              drag_handle
            </mat-icon>
          }
          <span class="item-title__text" [tippy]="item.tooltip">
            {{ item.label }}
          </span>
        </div>
        <app-picker-item-buttons matSuffix class="my-item-actions" [show]="true" [item]="item" [index]="index"></app-picker-item-buttons>
      </div>
    }
  </div>
}
