
@if (!allowMultiValue()) {
  <mat-label class="field-label"
    [ngClass]="{ 'disabled': ui().disabled }">
    {{ basics().labelWithRequired }}
  </mat-label>
}
@if (selectedItems().length > 0) {
  <div cdkDropList
    [cdkDropListDisabled]="!allowMultiValue() || ui().disabled"
    (cdkDropListDropped)="drop($event)"
    [ngClass]="{
    'normal-list': !allowMultiValue(),
    'dnd-list': allowMultiValue()
    }">
    <!-- Normal list usually shows only one item, but can show "empty slot" / "null-item" in debug mode -->
    @for (item of selectedItems(); track (item.value + $index); let index = $index) {
      <div
        cdkDrag
        [ngClass]="{
          'normal-item': !allowMultiValue(),
          'dnd-item': allowMultiValue(),
          'disabled': ui().disabled
        }">
        <div class="item-title" [ngClass]="{ 'disabled': ui().disabled }">
          @if (allowMultiValue()) {
            <mat-icon class="item-title__icon"
              [tippy]="'Fields.Picker.DragMove' | translate"
              [tippyDisabled]="ui().disabled">
              drag_handle
            </mat-icon>
          }
          <span class="item-title__text" [tippy]="item.tooltip">
            {{ item.label }}
          </span>
        </div>
        <app-picker-item-buttons matSuffix class="item-actions" [show]="true" [item]="item" [index]="index"></app-picker-item-buttons>
      </div>
    }
  </div>
}
