@import "../../../../styles/variables.scss";
@import "../../../../styles/theme/material-colors.scss";

%field-border {
    padding: 11px 12px 1px 12px;
    border-radius: 5px;
    border: 1px solid $field-border-color--initial;
}
%field-border--hover {
    padding: 10px 11px 0 11px;
    border: 2px solid $field-border-color--hover;
    transition: border-color .3s cubic-bezier(.25,.8,.25,1);
}
%field-border--invalid {
    padding: 10px 11px 0 11px;
    border: 2px solid $field-border-color--invalid;
    transition: border-color .3s cubic-bezier(.25,.8,.25,1);
}

.c-ew {
    &__preview {
        position:relative;
        min-height: 37px;
        max-height: 119px;
        cursor: pointer;

        @extend %field-border;
        &:hover:not(.c-ew__preview--disabled):not(.c-ew__preview--invalid) {
            @extend %field-border--hover;
        }

        &-holder {
            position: relative;
        }

        &-label {
            background-color: white;
            top: -5px;
            position: absolute;
            z-index: 1;
            left: 8px;
            padding: 0 6px 0 4px;
            pointer-events: none;
            font-size: 11px;
            line-height: 14px;
        }
        &-label:not(.mat-error) {
            color: rgba($editUI-foreground-color, 0.44);
        }

        &-container {
            overflow: hidden;
            height: 100%;
            -webkit-align-content: center;
            align-content: center;
        }

        &-content{
            overflow: hidden;
        }

        &-hint {
           padding: 8px 0 0 0;
           width: 100%;

            &-text {
                color: rgba($editUI-foreground-color, 0.44);
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &--invalid {
            @extend %field-border--invalid;
        }

        &--disabled {
            border-color: $editUI-disabled-background;
            cursor: default;

            .adam-browse-background-icon, .c-ew__preview-hint-text {
                color: $editUI-label-disabled-color;
            }

            .adam-browse-background-image {
                opacity: 0.5;
            }
        }

        .c-ew__color--accent{
            color: map_get($mat-eav-item-dialog-secondary, 500);
        }

        .c-ew__color--primary {
            color: rgba($editUI-foreground-color, 0.44);
        }

        .color__label-disabled {
            color: $editUI-label-disabled-color;
        }

        mat-empty {
            height: 48px;
            padding: 24px 0 0 0;
        }

        .adam-browse-background {
            &-icon {
                height: 56px;
                width: 56px;
                text-align: center;
            }
            &-icon mat-icon {
                font-size: 36px;
                width: 36px;
                height: 36px;
            }

            &-image {
                height: 56px;
                width: 56px;
                border-radius: $edit-ui-dialog-border-radius;
                img {
                    border-radius: $edit-ui-dialog-border-radius;
                }
            }
        }
    }
}
