<!-- dialog -->
<div [ngClass]="dialogIsOpen ? 'c-ew__container' : 'u-display-none'">
  <div class="c-ew__backdrop" (click)="dialogIsOpen = false"></div>
  <div fxLayout="column" class="c-ew__dialog mat-elevation-z24 u-border-radius">
    <div [ngClass]="dialogIsOpen ? 'c-ew__dialog-header mat-elevation-z2' : ''">
      <mat-card class="mat-elevation-z0" fxLayout="row">
        <button mat-icon-button type="button" fxLayoutAlign="start center" (click)="dialogIsOpen = false">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxLayoutAlign="center center" class="mat-display-1">{{config.currentFieldConfig.label}}</span>
      </mat-card>
    </div>
    <div>
      <div [@itemShrinkAnimation]="!dialogIsOpen ? 'open' : 'closed'">
      </div>
      <div
        class="c-ew__dialog-content c-ew__dialog-content--empty u-border-radius-bottom u-add-scrollbar u-hide-scrollbar"
        [@contentExpandAnimation]="!dialogIsOpen ? 'closed' : 'expanded'">
        <ng-container #fieldComponent></ng-container>
      </div>
    </div>
  </div>
</div>
<!-- preview -->
<div>
  <div matRipple (click)="!disabled ? dialogIsOpen = true : null" matRippleSpeedFactor="0.6"
    class="c-ew__preview mat-ripple"
    [ngClass]="{'c-ew__preview--invalid' : inputInvalid,'c-ew__preview--disabled': disabled}">
    <div [ngClass]="value ? 'c-ew__preview-container' : 'c-ew__preview-container--empty'">
      <mat-label *ngIf="config.currentFieldConfig.adam" class="c-ew__color--primary" [ngClass]="{
          'mat-caption' : (config.currentFieldConfig.adam.items$ | async)?.length > 0,
          'mat-empty' : !((config.currentFieldConfig.adam.items$ | async)?.length > 0),
          'mat-error' : inputInvalid && !disabled,
          'color__primary' : !(inputInvalid) && !disabled,
          'color__label-disabled' : disabled
        }">
        {{config.currentFieldConfig.label}}
        {{config.currentFieldConfig.required ? '*': '' }}
      </mat-label>
      <div *ngIf="config.currentFieldConfig.adam" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2px"
        class="c-ew__preview-content">
        <!-- folder list - not always shown -->
        <ng-container *ngIf="config.currentFieldConfig.adam && config.currentFieldConfig.adam.showFolders">
          <div fxLayout="row" fxLayoutAlign="start start"
            *ngFor="let item of (config.currentFieldConfig.adam.items$ | async | filter: 'IsFolder' : true | filter: 'Name' : '.' : false | filter: 'Name' : '2sxc' : false | filter: 'Name' : 'adam' : false | orderby : 'Name')">
            <div class="adam-browse-background-icon">
              <i class="eav-icon-folder-empty"></i>
              <div class="adam-short-label mat-caption">{{ item.Name }}</div>
            </div>
          </div>
        </ng-container>
        <!-- file list -->
        <div
          *ngFor="let item of (config.currentFieldConfig.adam.items$ | async | filter: 'IsFolder' : false | filter: (showImagesOnly ? 'Type' : undefined) : (showImagesOnly ? 'image' : undefined) | fileEndingFilter: config.currentFieldConfig.adam.allowedFileTypes | orderby : 'Name')">
          <div *ngIf="item.Type !== 'image'" class="adam-browse-background-icon">
            <i [ngClass]="icon(item)"></i>
            <div class="adam-short-label mat-caption">{{ item.Name }}</div>
          </div>
          <div *ngIf="item.Type === 'image'" class="adam-browse-background-image">
            <img data-dz-thumbnail="" [alt]="item.Id + ':' + item.Name" [src]="item.FullPath + '?w=56&h=56&mode=crop'">
          </div>
        </div>
      </div>
      <!-- hints -->
      <div class="mat-caption c-ew__preview-hint" fxLayout="row" fxLayoutAlign="start start">
        <div>
          <mat-hint class="c-ew__preview-hint-text" fxLayoutAlign="start start">drop files here</mat-hint>
        </div>
        <div fxFlex="auto"></div>
        <div>
          <mat-hint class="c-ew__preview-hint-text" fxLayoutAlign="end end">ADAM - sponsored with ♥ by 2sic.com
          </mat-hint>
        </div>
      </div>
    </div>
  </div>
  <!-- hasDirtyTouched="fasle" -->
  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
</div>
