<div appToggleDebug class="eav-dialog nav-component-wrapper" *ngIf="viewModel$ | async as vm">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">
      {{ vm.contentType?.Label || vm.contentType?.Name }} Data
    </div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="eav-dialog-content nav-component-wrapper">
    <router-outlet></router-outlet>
    <div *ngIf="vm.contentType?.Properties?.ListInstructions as listInstructions" [innerHTML]="listInstructions | safeHtml"></div>
    <div class="grid-wrapper">
      <ag-grid-angular class="ag-theme-material" [rowData]="vm.items" [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)" appDragAndDrop [allowedFileTypes]="'xml,json'"
        (filesDropped)="filesDropped($event)">
      </ag-grid-angular>
    </div>
  </div>
  <mat-dialog-actions class="eav-dialog-actions">
    <div class="eav-dialog-actions-div">
      <button mat-button class="eav-button__with-icon" tippy="Export xml list" (click)="exportContent()">
        <mat-icon class="eav-icon">cloud_download</mat-icon>
        <span>Data</span>
      </button>
      <button mat-button class="eav-button__with-icon" tippy="Import xml list" (click)="importContent()">
        <mat-icon class="eav-icon">cloud_upload</mat-icon>
        <span>Data</span>
      </button>
      <button mat-button class="eav-button__with-icon" tippy="Import single json item" (click)="importItem()">
        <mat-icon class="eav-icon">cloud_upload</mat-icon>
        <span>Item</span>
      </button>
      <button mat-button class="eav-button__with-icon" tippy="Create metadata" (click)="createMetadata()">
        <mat-icon class="eav-icon">local_offer</mat-icon>
        <span>Create Metadata</span>
      </button>
      <button mat-button class="eav-button__with-icon" color="accent" tippy="Print filter to console" *ngIf="vm.debugEnabled" (click)="debugFilter()">
        <mat-icon class="eav-icon">filter_list</mat-icon>
        <span>Filter</span>
      </button>
    </div>
    
    <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Add item" (click)="editItem(null)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-dialog-actions>
</div>