<div appToggleDebug class="nav-component-wrapper" *ngIf="viewModel$ | async as vm">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>
        <ng-container>
          {{ vm.contentType.Label || vm.contentType.Name }}
        </ng-container>
        Data
      </div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div *ngIf="vm.contentType?.Properties?.ListInstructions as listInstructions"
    [innerHTML]="listInstructions | safeHtml">
  </div>

  <div class="grid-wrapper">
    <ag-grid-angular class="ag-theme-material" [rowData]="vm.items" [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)" appDragAndDrop [allowedFileTypes]="'xml,json'"
      (filesDropped)="filesDropped($event)">
    </ag-grid-angular>

    <div class="grid-more-actions-box">
      <button mat-button tippy="Export xml list" (click)="exportContent()">
        <mat-icon>cloud_download</mat-icon>
        <span>Data</span>
      </button>
      <button mat-button tippy="Import xml list" (click)="importContent()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Data</span>
      </button>
      <button mat-button tippy="Import single json item" (click)="importItem()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Item</span>
      </button>
      <button mat-button tippy="Create metadata" (click)="createMetadata()">
        <mat-icon>local_offer</mat-icon>
        <span>Create Metadata</span>
      </button>
      <button mat-button color="accent" tippy="Print filter to console" *ngIf="vm.debugEnabled"
        (click)="debugFilter()">
        <mat-icon>filter_list</mat-icon>
        <span>Filter</span>
      </button>
    </div>

    <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Add item" (click)="editItem(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>