@import "../../../styles/variables.scss";

.multi-item-edit-form-header {
  width:100%;
}

.mat-dialog-content {
     margin:0;
     padding: 0;
     max-height: $edit-ui-dialog-max-height // calc(100vh - 120px);
}

.mat-dialog-actions {
    padding:0;
    margin-bottom:0;
    z-index:1;
}

.c-multi-item-dialog {
  &__save-container {
      z-index: 1;
      position: fixed;
      width: $edit-ui-dialog-width;
      max-width: $edit-ui-dialog-max-width;
      padding: 0;
      line-height: 0;
  } 

  &__save-button {
      margin-top: -80px;
      margin-right: 24px;
      width: $save-button-width-compact;
      height: $save-button-height;
      .mat-fab {
          border-radius: 16px 0;
          ::ng-deep.mat-button-wrapper {
            padding: 0;
            font-size: 14px;
            height: 20px;
            line-height: 20px;
          }
          .mat-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
            line-height: 20px;
          }

          &--compact {
              height: $save-button-height;
              width: $save-button-width-compact;
              transition: width 1s;
          }
          &--extended {
              height: $save-button-height;
              width: $save-button-width-extended;
              transition: width 1s;
          }

          &--disabled {
            color:  rgba(black, 0.26);
            background-color: rgba($editUI-foreground-color, 0.12);
           ;
        }
      }
  }
}

.mdc-layout-grid {
    padding: 16px;
}
