//  .example-card {
//     max-width: 600px;
//     margin: 0 auto; 

//     /* position: fixed; 
//     left: 50%;
//     margin-left: -400px; */
//   } 

  // .button-top-right {
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }

  .disabled {
  color: rgba(0,0,0,.26);
  background-color: rgba(0,0,0,.12);
}

.eav-language-switcher-header {
  width:100%;
}



