<!-- <button mat-button type="button" class="btn btn-default" (click)="loadAccordion()">Load Accordion to store</button> -->
<!-- <button mat-button type="button" class="btn btn-default" (click)="loadPerson()">Load Person to store</button> -->
<!-- <button mat-button type="button" class="btn btn-default" (click)="loadStringInputTypes()">Load String input types</button>
<button mat-button type="button" class="btn btn-default" (click)="loadInputTypes()">Load input types</button>
<button mat-button type="button" class="btn btn-default" (click)="loadBooks()">Load book</button>
<button mat-button type="button" class="btn btn-default" (click)="loadBooks1()">Load book1</button>
<button mat-button type="button" class="btn btn-default" (click)="loadBooks2()">Load book2</button>
<button mat-button type="button" class="btn btn-default" (click)="loadAuthors()">Load authors</button>
<button mat-button type="button" class="btn btn-default" (click)="loadHyperLink()">Load HyperLink</button>
<button mat-button type="button" class="btn btn-default" (click)="loadLocalization()">Load Localization</button>
<button mat-button type="button" class="btn btn-default" (click)="loadCustom()">Load Custom</button> -->
<mat-card class="example-card">
  <button mat-icon-button (click)="deleteItem()" class="button-top-right">
    <mat-icon class="mat-24">close</mat-icon>
  </button>

  <app-eav-language-switcher *ngIf="(items$ | async) && (items$ | async).length > 0" [languages]="(languages$ | async)" [currentLanguage]="(currentLanguage$ | async)"></app-eav-language-switcher>

  <div *ngFor="let item of (items$ | async); trackBy:trackByFn">
    <app-item-edit-form [item]="item" [currentLanguage]="(currentLanguage$ | async)"></app-item-edit-form>
  </div>

  <button mat-raised-button type="submit" class="btn btn-default submit-button" (click)="submitOutside()" [disabled]="!isFormValid()">Save</button>
</mat-card>