@import "../../../styles/variables.scss";

@keyframes move-next {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  49% {
    -webkit-transform: translateX(-$edit-ui-dialog-max-width);
    transform: translateX(-$edit-ui-dialog-max-width);
    animation-timing-function: step-end;
  }

  50% {
    -webkit-transform: translateX($edit-ui-dialog-max-width);
    transform: translate($edit-ui-dialog-max-width);
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes move-previous {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  49% {
    -webkit-transform: translateX($edit-ui-dialog-max-width);
    transform: translateX($edit-ui-dialog-max-width);
    animation-timing-function: step-end;
  }

  50% {
    -webkit-transform: translateX(-$edit-ui-dialog-max-width);
    transform: translate(-$edit-ui-dialog-max-width);
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.next {
  animation: 500ms ease-in move-next;
}

.previous {
  animation: 500ms ease-in move-previous;
}

.multi-item-edit-form-header {
  width: 100%;
}

.mat-dialog-content {
  margin: 0;
  padding: 0;
  max-height: $edit-ui-dialog-max-height;

  @media (max-width: 600px) {
    max-height: $edit-ui-dialog-max-height-mobile;
  }
}

.mat-dialog-content.debug-enabled {
  max-height: $edit-ui-dialog-max-height-with-debug;

  @media (max-width: 600px) {
    max-height: $edit-ui-dialog-max-height-with-debug-mobile;
  }
}

.mat-dialog-content.debug-enabled.debug-info-is-open {
  max-height: calc(#{$edit-ui-dialog-max-height-with-debug} - #{$debug-info-container-total-height});

  @media (max-width: 600px) {
    max-height: calc(#{$edit-ui-dialog-max-height-with-debug-mobile} - #{$debug-info-container-total-height});
  }
}

.mat-dialog-actions {
  padding: 0;
  margin-bottom: 0;
  z-index: 1;
}

.c-multi-item-dialog {
  &__save-container {
    z-index: 1;
    position: absolute;
    bottom: 14px;
    right: 24px;

    @media (max-width: 600px) {
      bottom: 4px;
    }
  }

  &__save-button {
    .mat-fab {
      border-radius: 16px 0;
      overflow: hidden;

      ::ng-deep.mat-button-wrapper {
        padding: 0;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
      }

      .mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
        line-height: 20px;
      }

      &--compact {
        height: $save-button-height;
        width: $save-button-width-compact;

        @media (max-width: 600px) {
          height: $save-button-height-mobile;
          width: $save-button-width-compact-mobile;
        }

        transition: width 1s;
      }

      &--extended {
        height: $save-button-height;
        width: $save-button-width-extended;

        @media (max-width: 600px) {
          height: $save-button-height-mobile;
          width: $save-button-width-extended-mobile;
        }

        transition: width 1s;
      }

      &--disabled {
        color: rgba(black, 0.26);
        background-color: rgba($editUI-foreground-color, 0.12);
        ;
      }
    }
  }
}

.mdc-layout-grid {
  padding: 16px;

  @media (max-width: 600px) {
    padding: 0;
    padding-top: 8px;
  }
}
