<mat-card [ngClass]="{ 'debug-enabled': activeDebug != null }">

  <div class="debug-buttons-container">
    <button mat-button matTooltip="Show Data JSON" (click)="toggleDebugType(DebugTypes.Data)">
      <mat-icon>offline_bolt</mat-icon>
      <span>Data</span>
    </button>
    <button mat-button matTooltip="Show Formula Designer" (click)="toggleDebugType(DebugTypes.Functions)">
      <mat-icon>functions</mat-icon>
      <span>Functions</span>
    </button>
    <div class="sxc-version">2sxc {{ sxcVer }}</div>
  </div>

  <div class="debug-info-container" *ngIf="activeDebug != null">
    <app-data-dump *ngIf="activeDebug === DebugTypes.Data"></app-data-dump>

    <app-formula-designer *ngIf="activeDebug === DebugTypes.Functions" [itemEditFormRefs]="itemEditFormRefs">
    </app-formula-designer>
  </div>
</mat-card>
