<mat-card fxLayout="column" fxLayoutAlign="center start" *ngIf="templateVars$ | async as data"
  [ngClass]="{ 'debug-enabled': showDebugInfo }">
  <div class="debug-buttons-container" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button [matTooltip]="'General.Buttons.Debug' | translate" (click)="toggleDebugInfo()">
      <mat-icon>offline_bolt</mat-icon>
    </button>
    <div>2sxc {{ sxcVer }}</div>
    <!-- copy of the button to keep 2sxc version text correctly aligned in the middle -->
    <button mat-icon-button class="hidden">
      <mat-icon>offline_bolt</mat-icon>
    </button>
  </div>
  <div *ngIf="showDebugInfo" class="debug-info-container">
    <textarea readonly class="debug-dump">{{ data.items | json }}</textarea>
  </div>
</mat-card>
