$translate-width: 48px;

.language-wrap {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}

.language-wrap__field {
    width: 100%;
    height: 100%;
}

.language-wrap__field-short {
    width: calc(100% - #{$translate-width});
}

.language-wrap__translate {
    width: $translate-width;
    position: relative;
}

.language-wrap__translate--hidden {
    width: 0;
}
