.language-wrap__field {
    width: 100%;
}

.language-wrap__field-short {
    width: calc(100% - 48px);
}

.language-wrap__icon {
    width: 48px;
    height: 56px;
}

.language-wrap__icon-hide {
    width: 0;
}

.language-wrap {
    // overflow: hidden;
    width: 100%;
     position: relative;
     height: 100%;
}