.language-wrap__field {
    width: 100%;
}

.language-wrap__field-short {
    width: calc(100% - 48px);
}

.language-wrap__icon {
    width: 48px;
    height: 56px;
}

.language-wrap__icon-hide {
    width: 0;
}

//  .eav-localization-lock {
//     position: absolute;
//     top: -5px;
//     right: 0;
//     z-index: 1;
//     width: auto;
//  }

 .eav-localization-lock-open { 
     // color: #228b22; 
     color: green; 
}

.language-wrap {
    // overflow: hidden;
    width: 100%;
    // position: relative;
     height: 100%;
}