<mat-card class="shadow-bottom-z-1"
    [ngClass]="fieldConfig.isParentGroup ? 'mat-card-group-parent' :'mat-card-group-child'">
    <div fxLayout="row" fxLayoutAlign="start center"
        [ngClass]="fieldConfig.isParentGroup ? 'mat-card-header-group-parent' :'mat-card-header-group-child'">

        <div fxFlex="auto" fxLayoutAlign="start center" (click)="collapse = !collapse">
            <div fxLayoutAlign="start center" class="mat-card-title-group"
                [ngClass]="fieldConfig.isParentGroup ? 'mat-display-1' : 'mat-body-1'">
                <mat-icon *ngIf="collapse">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="!collapse">keyboard_arrow_up</mat-icon>
                <span class="title" *ngIf="fieldConfig.isParentGroup">{{
                        config.entity.header.title
                        ? config.entity.header.title
                        : 'EditEntity.DefaultTitle' | translate
                    }}</span>
                <span class="title" *ngIf="!fieldConfig.isParentGroup">{{
                    config.field.label
                    ? config.field.label
                    : 'EditEntity.DefaultTitle' | translate
                }}</span>
            </div>
        </div>
        <mat-slide-toggle fxLayoutAlign="start center" *ngIf="slotCanBeEmpty" (change)="toggleSlotIsEmpty()"
            [checked]="slotIsUsedChecked" [disabled]="currentLanguage !== defaultLanguage">
        </mat-slide-toggle>
        <app-translate-group-menu *ngIf="fieldConfig.isParentGroup" fxLayoutAlign="end center" [config]="config"
            [group]="group"></app-translate-group-menu>
    </div>
    <mat-card-content [ngStyle]="{ 'display': collapse ? 'none' : 'block' }"
        [ngClass]="fieldConfig.isParentGroup ? 'mat-card-content-group-parent' :'mat-card-content-group-child'">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12 mat-body-1" align="start" *ngIf="description">
                    <div class="description" [innerHtml]='description' (mouseenter)="changeAnchorTarget($event)"></div>
                </div>
                <div class="mdc-layout-grid__cell--span-12">
                    <ng-container #fieldComponent></ng-container>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
