<div>
  2dm sig: {{ selectedItem() | json }} <br>
  2dm settings: {{ settings() | json }} <br>
  <!-- 2dm settings2: {{ settings2() | json }} <br> -->
</div>
@if (viewModel$ | async; as vm) {
  <!-- <div>
    2dm VM: {{ vm.selectedItem | json }}
  </div> -->
  <div>
    <mat-form-field [formGroup]="group" class="eav-mat-form-field" color="accent"
      [ngClass]="{ 'mat-form-field-invalid': vm.controlStatus.invalid && vm.controlStatus.touched }"
      (click)="filterSelectionList()">
      <input matInput #autocomplete class="eav-translate-on-dblclick" [placeholder]="getPlaceholder(vm.options)"
        [matAutocomplete]="auto" [disabled]="vm.isDisabled || !settings().enableAddExisting"
        [value]="showSelectedItem() ? selectedItem()?.label : ''" (focus)="fetchEntities()" (blur)="markAsTouched()"
        (input)="filterSelectionList()">
      <button mat-icon-button matSuffix class="entity-dropdown-button eav-suffix-button" disableRipple="true"
        [disabled]="vm.isDisabled || !settings().enableAddExisting">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      @if (settings().enableEdit) {
        <button mat-icon-button matSuffix class="eav-suffix-button" [tippy]="'Fields.Picker.Edit' | translate"
          [disabled]="vm.isDisabled || config().initialDisabled" appClickStopPropagation
          (click)="edit(selectedItem()?.value, selectedItem()?.id)">
          <mat-icon>edit</mat-icon>
        </button>
      }
      @if (settings().enableDelete) {
        <button mat-icon-button matSuffix class="eav-suffix-button" [tippy]="'Fields.Picker.Delete' | translate"
          [disabled]="vm.isDisabled" appClickStopPropagation (click)="deleteItem(0, selectedItem()?.value)">
          <mat-icon>delete</mat-icon>
        </button>
      }
      @if (settings().enableRemove) {
        <button mat-icon-button matSuffix class="eav-suffix-button" [tippy]="'Fields.Picker.Remove' | translate"
          [disabled]="vm.isDisabled" appClickStopPropagation (click)="removeItem(0)">
          <mat-icon>do_not_disturb_on</mat-icon>
        </button>
      }
      @if (settings().enableTextEntry) {
        <span matSuffix class="eav-selection-suffix-inline">
          <ng-content select="[freeTextButtons]"></ng-content>
        </span>
      }
      <mat-label [ngClass]="{ 'mat-error': vm.controlStatus.invalid && vm.controlStatus.touched }">
        {{ basics().labelWithRequired }}
      </mat-label>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)" [hideSingleSelectionIndicator]="true"
      (optionSelected)="optionSelected($event, settings().allowMultiValue, selectedItem())"
      (closed)="onClosed(selectedItems(), selectedItem())" (opened)="onOpened(settings().showAsTree)">
      <!-- List Display Mode -->
      @if (!settings().showAsTree) {
          @for (item of vm.filteredItems; track item) {
          <mat-option [value]="item.value" class="eav-picker-option"
            [disabled]="item.notSelectable ? true : settings().enableReselect ? false : isOptionDisabled(item.value, selectedItems())"
            [tippy]="item.tooltip" tippyShowDelay="500" [tippyDisabled]="!item.tooltip" [tippyAllowHtml]="true" [tippyArrow]="true">
            <div class="eav-dropdown-option">
              <span class="eav-dropdown-option-text">{{ item.label ? item.label : item.value }}</span>
              <div class="eav-dropdown-option-info">
                <app-picker-help [helpLink]="item.helpLink"></app-picker-help>
                <app-picker-icon-info [infoBox]="item.infoBox"></app-picker-icon-info>
              </div>
            </div>
          </mat-option>
          }
      }

      <!-- Tree Display Mode -->
      @if (settings().showAsTree) {
        <mat-tree [dataSource]="treeHelper.dataSource" [treeControl]="treeHelper.treeControl">
          <mat-tree-node *matTreeNodeDef="let item;" matTreeNodePadding class="eav-tree-node">
            <button mat-icon-button disabled></button>
            <mat-option [value]="item.value" class="eav-picker-option"
              [disabled]="treeHelper.disableOption(item, selectedItems(), settings().enableReselect)"
              [tippy]="item.tooltip" tippyShowDelay="500" [tippyDisabled]="!item.tooltip" [tippyAllowHtml]="true" [tippyArrow]="true">
              <div class="eav-dropdown-option">
                <span class="eav-dropdown-option-text">{{ item.label ? item.label : item.value }}</span>
                <div class="eav-dropdown-option-info">
                  <app-picker-help [helpLink]="item.helpLink"></app-picker-help>
                  <app-picker-icon-info [infoBox]="item.infoBox"></app-picker-icon-info>
                </div>
              </div>
            </mat-option>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let item;when: hasChild" matTreeNodePadding class="eav-tree-node">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + item.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeHelper.treeControl.isExpanded(item) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-option [value]="item.value" class="eav-picker-option"
              [disabled]="treeHelper.disableOption(item, selectedItems(), settings().enableReselect)"
              [tippy]="item.tooltip" tippyShowDelay="500" [tippyDisabled]="!item.tooltip" [tippyAllowHtml]="true" [tippyArrow]="true">
              <div class="eav-dropdown-option">
                <span class="eav-dropdown-option-text">{{ item.label ? item.label : item.value }}</span>
                <div class="eav-dropdown-option-info">
                  <app-picker-help [helpLink]="item.helpLink"></app-picker-help>
                  <app-picker-icon-info [infoBox]="item.infoBox"></app-picker-icon-info>
                </div>
              </div>
            </mat-option>
          </mat-tree-node>
        </mat-tree>
      }
    </mat-autocomplete>
  </div>

  <!-- Button to add null-item, in debug-mode only -->
  @if (debugEnabled()) {
    <div class="null-box">
      debug: <span class="null-button" tippy="Add null-item" (click)="insertNull()">add null-item</span>
    </div>
  }
}
