.explorer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.template-option {
  cursor: pointer;
  padding: 4px 0 4px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background-color: rgb(42, 45, 46);
  }

  &.active {
    background-color: rgb(55, 55, 61);
  }
}

.list {
  padding-left: 16px;
}

.collapsible {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  padding: 3px 0;

  &:hover {
    background-color: rgb(42, 45, 46);
  }

  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}
