.explorer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.file {
  cursor: pointer;
  padding: 4px 0 4px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;

  &:hover {
    background-color: rgb(42, 45, 46);
  }

  &.active {
    background-color: rgb(55, 55, 61);
  }
}

.folder-name-wrapper {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;

  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }

  .folder-name {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
    flex: 1 1 auto;
  }

  .add-item {
    margin-right: 4px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }

  &.app-shared-root {
    color: white;
    font-weight: 500;
  }

  &:hover {
    background-color: rgb(42, 45, 46);

    .add-item {
      display: flex;
    }
  }
}
