<extended-fab-speed-dial>
  <ng-template extendedFabSpeedDialTriggerContent>
    <button
      type="button"
      [tippy]="(label() | translate) + ' (' + ('Form.Buttons.ActionAndCloseShortcut' | translate) + ')'"
      tippyShowDelay="500"
      [ngClass]="ngClass()"
      [disabled]="isDisabled"
      (click)="onClick($event)"
      extended-fab-speed-dial-trigger
      matRipple
    >
      <mat-icon>{{ icon() }}</mat-icon>
      <span>{{ label() | translate }}</span>
      <span class="keybinding-hint">
        <kbd>⌃</kbd><kbd>⏎</kbd>
      </span>
    </button>
  </ng-template>
</extended-fab-speed-dial>
