@use '../../../styles/variables.scss';

/* 2sxc Color-Override: External Links */
a {
  color: variables.$external-link !important;
}

/* 2sxc Color-Override: Actions */
a mat-icon,
button mat-icon,
.eav-button__with-icon * {
  color: variables.$sxc-solid !important;
}

/* 2sxc Color-Override: Actions Disabled */
a.mat-mdc-button.mat-mdc-button-disabled * {
  color: variables.$text-disabled !important;
}

.eav-settings-and-resources-table {
  width: 100%;

  td {
    text-align: center;
  }

  tbody th {
    text-align: left;
  }
}
