<ng-container *ngIf="data$ | async as data">

  <div class="alert alert-info scope-info" *ngIf="isGlobal || isPrimary">
    <ng-container *ngIf="isGlobal">
      This is the Global App. Anything configured here will affect all Sites and Apps in this installation.
    </ng-container>
    <ng-container *ngIf="isPrimary">
      This is the Primary App of this Site. You can also configure sitewide settings and resources here.
    </ng-container>
    See <a href="https://go.2sxc.org/settings" target="_blank">docs</a>.
  </div>

  <div class="cards-box">
    <!-- Settings -->
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Settings</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>settings</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          Settings are things like SQL-connection strings, default "items-to-show" numbers and similar.
          If necessary, settings like a link to an RSS-Feed could be different in each language.
          <a href="https://go.2sxc.org/settings" target="_blank">docs</a>
        </p>

        <table class="settings">
          <thead>
            <tr>
              <th></th>
              <th>System Settings</th>
              <th>Custom Settings</th>
            </tr>
          </thead>
          <tbody>
            <!-- Settings for Global App -->
            <ng-container *ngIf="isGlobal">
              <tr>
                <th>Global</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)"
                    tippy="Edit global system settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customSettings, 'edit')"
                    tippy="Edit custom global settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customSettings, 'config')"
                    tippy="Configure fields of the custom global settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
            </ng-container>
            <!-- Settings for Primary App -->
            <ng-container *ngIf="isPrimary">
              <tr>
                <th>Site</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.Site)"
                    tippy="Edit site system settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customSettings, 'edit')"
                    tippy="Edit custom site settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customSettings, 'config')"
                    tippy="Configure fields of the custom site settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
              <ng-container *ngTemplateOutlet="goToGlobal"></ng-container>
            </ng-container>
            <!-- Settings for App and Content -->
            <ng-container *ngIf="isApp">
              <tr>
                <th>{{ dialogSettings.Context.App.Name }}</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)"
                    tippy="Edit app system settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.settings)" tippy="Edit custom app settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="config(eavConstants.contentTypes.settings)"
                    tippy="Configure fields of the custom app settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
              <ng-container *ngTemplateOutlet="goToSite"></ng-container>
              <ng-container *ngTemplateOutlet="goToGlobal"></ng-container>
            </ng-container>
          </tbody>
        </table>
      </mat-card-content>

      <mat-card-actions>
        <div class="actions-row">
          <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://go.2sxc.org/settings' }"></ng-container>
          <button mat-button (click)="analyze(AnalyzeParts.Settings)" tippy="See the result of combining all settings">
            <mat-icon>manage_search</mat-icon>
            <span>Analyze Combined Settings</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <!-- Resources -->
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Language Resources (i18n)</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>translate</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          Resources are used for labels and things like that in the App.
          They are usually needed to create multi-lingual views and such, and should not be used for App-Settings.
          <a href="https://go.2sxc.org/settings" target="_blank">docs</a>
        </p>

        <table class="settings">
          <thead>
            <tr>
              <th></th>
              <th>System Resources</th>
              <th>Custom Resources</th>
            </tr>
          </thead>
          <tbody>
            <!-- Resources for Global App -->
            <ng-container *ngIf="isGlobal">
              <tr>
                <th>Global</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)"
                    tippy="Edit global system resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customResources, 'edit')"
                    tippy="Edit custom global resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customResources, 'config')"
                    tippy="Configure fields of the custom global resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
            <!-- Resources for Primary App -->
            <ng-container *ngIf="isPrimary">
              <tr>
                <th>Site</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.Site)"
                    tippy="Edit site system resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customResources, 'edit')"
                    tippy="Edit custom site resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customResources, 'config')"
                    tippy="Configure fields of the custom site resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
              <ng-container *ngTemplateOutlet="goToGlobal"></ng-container>
            </ng-container>
            <!-- Resources for App and Content -->
            <ng-container *ngIf="isApp">
              <tr>
                <th>{{ dialogSettings.Context.App.Name }}</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)"
                    tippy="Edit app system resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.resources)"
                    tippy="Edit custom app resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="config(eavConstants.contentTypes.resources)"
                    tippy="Configure fields of the custom app resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
              <ng-container *ngTemplateOutlet="goToSite"></ng-container>
              <ng-container *ngTemplateOutlet="goToGlobal"></ng-container>
            </ng-container>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <div class="actions-row">
          <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://go.2sxc.org/settings' }"></ng-container>
          <button mat-button (click)="analyze(AnalyzeParts.Resources)" tippy="See the result of combining all resources">
            <mat-icon>manage_search</mat-icon>
            <span>Analyze Combined Resources</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <!-- Templates which are re-used in the table above -->
    <ng-template #goToGlobal>
      <tr>
        <th>Global</th>
        <td>
          <button mat-button (click)="openGlobalSettings()" tippy="Go to global">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template #goToSite>
      <tr>
        <th>Site</th>
        <td>
          <button mat-button (click)="openSiteSettings()" tippy="Go to site">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>

  </div>

  <div class="cards-box">
    <!-- TODO: @STV - #1 create own component for this-->
    <!-- App Config -->
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Configuration</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>redeem</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        <!-- TODO: @STV show the most important properties in a table - similar to the Apps-Management where we have the fingeprint etc.
          All values should allow click-copy just like the fingerprint etc.
          Will require a call to the backend to get this data - it's the same item we would edit on the edit-button here
          - Name: [app-name]
          - Folder: [app-folder]
          - Version: [app-version]
          - For: 2sxc [2sxc-version in app-settings], Dnn [dnn version ...], Oqt [oqt version ...]
          Then remove the comment below
        -->
        App name, folder, version and more.
      </mat-card-content>
      <mat-card-actions>
        <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://docs.2sxc.org/basics/app/configuration.html' }"></ng-container>
        <button mat-button (click)="edit(eavConstants.contentTypes.appConfiguration)">
          <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.appConfigurationsCount || null"
            matBadgePosition="below after">edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-button (click)="openMetadata()">
          <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.appMetadataCount || null"
            matBadgePosition="below after">local_offer</mat-icon>
          <span>Metadata</span>
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- LightSpeed -->
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Performance</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>bolt</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        LightSpeed Output Cache to speed up page by 50-90%

        <app-feature-text-info [featureNameId]="'LightSpeedOutputCache'" [asInfo]="true"></app-feature-text-info>
      </mat-card-content>
      <mat-card-actions>
        <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://go.2sxc.org/lightspeed' }"></ng-container>
        <button mat-button (click)="openLightSpeed()" disabled="{{!data.lightSpeedEnabled}}">
          <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.appLightSpeedCount || null"
            matBadgePosition="below after">bolt</mat-icon>
          <span>Edit LightSpeed</span>
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- Security / CSP -->
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Security</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>local_police</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        ContentSecurityPolicy features in this App - for maximum control.

        <app-feature-text-info [featureNameId]="'ContentSecurityPolicy'" [asInfo]="true"></app-feature-text-info>
      </mat-card-content>
      <mat-card-actions>
        <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://go.2sxc.org/csp' }"></ng-container>
      </mat-card-actions>
    </mat-card>
    
    <!-- Permissions -->
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Permissions</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>person</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        Give access to the entire app (all data). Use with care.
      </mat-card-content>
      <mat-card-actions>
        <div class="actions-row">
          <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://docs.2sxc.org/basics/app/permissions.html' }"></ng-container>
          <button mat-button [disabled]="!dialogSettings.Context.Enable.AppPermissions" (click)="openPermissions()">
            <mat-icon matBadgeColor="accent" matBadgeSize="small" matBadgePosition="below after"
              [matBadge]="dialogSettings.Context.App.Permissions.Count || null">person</mat-icon>
            <span>
              Edit Permissions
              <ng-container *ngIf="!dialogSettings.Context.Enable.AppPermissions">
                <ng-container *ngIf="isGlobal">
                  (not on Global App)
                </ng-container>
                <ng-container *ngIf="isApp">
                  (not on Content)
                </ng-container>
              </ng-container>
            </span>
          </button>
        </div>
        <div class="actions-row">
          <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://patrons.2sxc.org/features/feat/PermissionsByLanguage' }"></ng-container>
          <button mat-button (click)="openLanguagePermissions(data.langPermsEnabled)">
            <mat-icon [matBadgeHidden]="data.langPermsEnabled" matBadgeSize="small" matBadge="💎" matBadgePosition="below after">
              person
            </mat-icon>
            <span>Language Permissions</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

</ng-container>

<ng-template #docsLink let-icon let-label let-link="link">
  <a mat-button href="{{link}}" target="_blank" [tippy]="'online documentation'">
    <mat-icon>{{ icon ?? "menu_book" }}</mat-icon>
    <span>{{ label }}</span>
  </a>
</ng-template>