<ng-container *ngIf="data$ | async as data">

  <div class="alert alert-info scope-info" *ngIf="isGlobal || isPrimary">
    <ng-container *ngIf="isGlobal">
      This is the Global App. Anything configured here will affect all Sites and Apps in this installation.
    </ng-container>
    <ng-container *ngIf="isPrimary">
      This is the Primary App of this Site. You can also configure sitewide settings and resources here.
    </ng-container>
    See <a href="https://go.2sxc.org/settings" target="_blank">docs</a>.
  </div>

  <div class="cards-box">
    <!-- Settings -->
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Settings</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>settings</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          Settings are things like SQL-connection strings, default "items-to-show" numbers and similar.
          If necessary, settings like a link to an RSS-Feed could be different in each language.
          <a href="https://go.2sxc.org/settings" target="_blank">docs</a>
        </p>

        <table class="settings">
          <thead>
            <tr>
              <th></th>
              <th>System Settings</th>
              <th>Custom Settings</th>
            </tr>
          </thead>
          <tbody>
            <!-- Settings for Global App -->
            <ng-container *ngIf="isGlobal">
              <tr>
                <th>Global</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)"
                    tippy="Edit global system settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customSettings, 'edit')"
                    tippy="Edit custom global settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customSettings, 'config')"
                    tippy="Configure fields of the custom global settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
            </ng-container>
            <!-- Settings for Primary App -->
            <ng-container *ngIf="isPrimary">
              <tr>
                <th>Site</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.Site)"
                    tippy="Edit site system settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customSettings, 'edit')"
                    tippy="Edit custom site settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customSettings, 'config')"
                    tippy="Configure fields of the custom site settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
              <ng-container *ngTemplateOutlet="goToGlobal"></ng-container>
            </ng-container>
            <!-- Settings for App and Content -->
            <ng-container *ngIf="isApp">
              <tr>
                <th>{{ dialogSettings.Context.App.Name }}</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemSettings, SystemSettingsScopes.App)"
                    tippy="Edit app system settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.settings)" tippy="Edit custom app settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="config(eavConstants.contentTypes.settings)"
                    tippy="Configure fields of the custom app settings">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customSettingsFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
              <ng-container *ngTemplateOutlet="goToSite"></ng-container>
              <ng-container *ngTemplateOutlet="goToGlobal"></ng-container>
            </ng-container>
          </tbody>
        </table>
      </mat-card-content>

      <mat-card-actions>
        <div class="actions-row">
          <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://go.2sxc.org/settings' }"></ng-container>
          <button mat-button (click)="analyze(AnalyzeParts.Settings)" tippy="See the result of combining all settings">
            <mat-icon>manage_search</mat-icon>
            <span>Analyze Combined Settings</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <!-- Resources -->
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Language Resources (i18n)</mat-card-title>
        <div class="mat-card-header-icon">
          <mat-icon>translate</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          Resources are used for labels and things like that in the App.
          They are usually needed to create multi-lingual views and such, and should not be used for App-Settings.
          <a href="https://go.2sxc.org/settings" target="_blank">docs</a>
        </p>

        <table class="settings">
          <thead>
            <tr>
              <th></th>
              <th>System Resources</th>
              <th>Custom Resources</th>
            </tr>
          </thead>
          <tbody>
            <!-- Resources for Global App -->
            <ng-container *ngIf="isGlobal">
              <tr>
                <th>Global</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)"
                    tippy="Edit global system resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customResources, 'edit')"
                    tippy="Edit custom global resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customResources, 'config')"
                    tippy="Configure fields of the custom global resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
            <!-- Resources for Primary App -->
            <ng-container *ngIf="isPrimary">
              <tr>
                <th>Site</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.Site)"
                    tippy="Edit site system resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customResources, 'edit')"
                    tippy="Edit custom site resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="fixContentType(eavConstants.contentTypes.customResources, 'config')"
                    tippy="Configure fields of the custom site resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
              <ng-container *ngTemplateOutlet="goToGlobal"></ng-container>
            </ng-container>
            <!-- Resources for App and Content -->
            <ng-container *ngIf="isApp">
              <tr>
                <th>{{ dialogSettings.Context.App.Name }}</th>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.systemResources, SystemSettingsScopes.App)"
                    tippy="Edit app system resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.systemResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-button (click)="edit(eavConstants.contentTypes.resources)"
                    tippy="Edit custom app resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesCount || null"
                      matBadgePosition="below after">edit</mat-icon>
                  </button>
                  <button mat-button (click)="config(eavConstants.contentTypes.resources)"
                    tippy="Configure fields of the custom app resources">
                    <mat-icon matBadgeColor="accent" matBadgeSize="small" [matBadge]="data.customResourcesFieldsCount || null"
                      matBadgePosition="below after">dns</mat-icon>
                  </button>
                </td>
              </tr>
              <ng-container *ngTemplateOutlet="goToSite"></ng-container>
              <ng-container *ngTemplateOutlet="goToGlobal"></ng-container>
            </ng-container>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <div class="actions-row">
          <ng-container *ngTemplateOutlet="docsLink; context: { link: 'https://go.2sxc.org/settings' }"></ng-container>
          <button mat-button (click)="analyze(AnalyzeParts.Resources)" tippy="See the result of combining all resources">
            <mat-icon>manage_search</mat-icon>
            <span>Analyze Combined Resources</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <!-- Templates which are re-used in the table above -->
    <ng-template #goToGlobal>
      <tr>
        <th>Global</th>
        <td>
          <button mat-button (click)="openGlobalSettings()" tippy="Go to global">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template #goToSite>
      <tr>
        <th>Site</th>
        <td>
          <button mat-button (click)="openSiteSettings()" tippy="Go to site">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>

  </div>

  <app-app-security-configuration [dialogSettings]="dialogSettings">
  </app-app-security-configuration>

</ng-container>

<ng-template #docsLink let-icon let-label let-link="link">
  <a mat-button href="{{link}}" target="_blank" [tippy]="'online documentation'">
    <mat-icon>{{ icon ?? "menu_book" }}</mat-icon>
    <span>{{ label }}</span>
  </a>
</ng-template>