<ng-container *ngIf="{
  currentLanguage: currentLanguage$ | async,
  defaultLanguage: defaultLanguage$ | async,
  translationState: translationState$ | async,
  disabled: disabled$ | async,
  defaultLanguageMissingValue: defaultLanguageMissingValue$ | async,
  infoMessage: infoMessage$ | async,
  infoMessageLabel: infoMessageLabel$ | async
} as data">

  <div fxLayoutAlign="end center" *ngIf="data.currentLanguage !== data.defaultLanguage">
    <div fxLayoutAlign="end center" class="shared-languages-container"
      [ngClass]="getTranslationStateClass(data.translationState.linkType)">
      <div class="shared-languages mat-caption" [class.shared-languages--disabled]="data.disabled">
        {{ data.infoMessageLabel ? (data.infoMessageLabel | translate:{ languages: data.infoMessage }) : '' }}
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu"
        [disabled]="config.field.disableI18n || data.defaultLanguageMissingValue">
        <mat-icon class="translate-icon">translate</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu" overlapTrigger="true">
      <button mat-menu-item (click)="translateUnlink(config.field.name)"
        [class.menu-item-selected]="data.translationState.linkType === translationLinkConstants.Translate">
        {{ 'LangMenu.Translate' | translate }}
      </button>
      <button mat-menu-item (click)="linkToDefault(config.field.name)"
        [class.menu-item-selected]="data.translationState.linkType === translationLinkConstants.DontTranslate">
        {{ 'LangMenu.NoTranslate' | translate }}
      </button>
      <button mat-menu-item (click)="openLinkToOtherLanguage()"
        [class.menu-item-selected]="data.translationState.language !== ''">
        {{ 'LangMenu.Link' | translate }}
      </button>
    </mat-menu>
  </div>

</ng-container>
