<div *ngIf="rowCount > 1; then textareaField else inputField">
</div>
<ng-template #inputField>
    <mat-form-field [formGroup]="group" [style.width]="'100%'" appearance="fill">
        <input matInput type="text" [id]="id" class="form-control material" [formControlName]="config.name"
            [placeholder]="config.label" [required]="config.required">
        <mat-label>{{config.label}}</mat-label>
        <mat-hint align="start" *ngIf="config.settings.Notes"><span><i class="material-icons" style="font-size: 10px;">info</i></span>
            <span> {{config.settings.Notes}}</span></mat-hint>
        <mat-error *ngIf="inputInvalid">{{ getErrorMessage() | translate:{ param: config.settings } }}</mat-error>
    </mat-form-field>
</ng-template>

<ng-template #textareaField>
    <mat-form-field [formGroup]="group" [style.width]="'100%'" appearance="fill">
        <textarea matInput [rows]="rowCount" type="text" [id]="id" class="form-control material" [formControlName]="config.name"
            [placeholder]="config.label" [required]="config.required"></textarea>
        <mat-label>{{config.label}}</mat-label>
        <mat-hint align="start" *ngIf="config.settings.Notes"><span><i class="material-icons md-8" style="font-size: 10px">info</i>
                {{config.settings.Notes}}</span></mat-hint>
        <mat-error *ngIf="inputInvalid">{{ getErrorMessage() | translate:{ param: config.settings } }}</mat-error>
    </mat-form-field>
</ng-template>