field-string-wysiwyg {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: column;
}

.tinymce-toolbar-container {
  flex-shrink: 0;
}

.tinymce-container {
  position: relative;
  height: 100%;
  flex-grow: 1;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  padding: 0 8px 1px 8px;
  /* Probably not needed */
  /* position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(170,178,189);
  border-radius: 4px;
  padding-left: 0;
  overflow: auto;
  margin: 0;
  border: none;
  border-radius: 0; */

  font-size: medium;
  color:rgb(69, 79, 99);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400; 

  -moz-box-shadow: inset 0 -10px 10px -10px #888;
  -webkit-box-shadow: inset 0 -10px 10px -10px #888;
  box-shadow: inset 0 -10px 10px -10px #888;

  -ms-overflow-style: none; /* IE 10+ */
  overflow: -moz-scrollbars-none; /* Firefox */
  scrollbar-width: none; /* Firefox */
}
.tinymce-container::-webkit-scrollbar { /* Chrome */
  display: none;
}

.tox.tox-tinymce.tox-tinymce-inline {
  display: flex !important;
}
