<h3>Permissions ({{ data.permissions.length }})</h3>
<p>
  This target <code>{{ data.name }}</code> has {{ data.permissions.length }} permissions
  configured.
  <button mat-icon-button tippy="Open permissions" (click)="openPermissions()">
    @if (data.permissions.length) {
      <mat-icon [matBadge]="data.permissions.length" matBadgeColor="accent" matBadgeSize="small"
        matBadgePosition="below after" aria-hidden="false">
        person
      </mat-icon>
    }
    @if (!data.permissions.length) {
      <mat-icon>person</mat-icon>
    }
  </button>
</p>
@if (!data.permissions.length) {
  <p class="warning info-box">
    <mat-icon>warning</mat-icon>
    Warning: you don't have any permissions configured. So only Super-Users (Host) will be able to use the API
    endpoints.
  </p>
}

<ag-grid-angular class="ag-theme-material" [rowData]="data.permissions" [gridOptions]="gridOptions"
  [style.height]="(33 + data.permissions.length * 48) + 'px'">
</ag-grid-angular>

<h4>Super-Users (Host) can use all Endpoints</h4>
<p>
  As a super-user you can always access these REST endpoints, so this will make development easy.
  Just remember to change the content-type permissions when you publish your work to public pages.
</p>

<h4>Set permissions for visitors to use this</h4>
<p>
  To let JavaScript access the REST endpoints for normal users, you must set the permissions of the
  content-type.
  Usually you will just want to set it like <em>if user has view-permissions, let him read this
    content-type</em>.
  In rare cases (eg. JS based forms) you may also want to give it some write permissions. Just be careful.
  If you give write permissions, you will usually <em>only</em> want to give create, but not edit.
</p>

<h4>Setting permissions for use outside of DNN</h4>
<p>
  When calling API endpoints from a DNN page you will usually use the <code>$2sxc</code> or the DNN
  Services-Framework.
  These automatically add some HTTP-Headers (see tab about HTTP Headers) which let DNN determine that the
  API-Call
  was made on a specific page/module - and DNN uses this to check the permissions.
</p>
<p>
  IF you are calling the endpoint from outside of DNN then these headers will be missing.
  Because of this, permissions saying "If has VIEW permissions, allow read" will fail - because DNN cannot
  determine
  if the user has view permissions.
</p>
<p>
  So to enable use from external, the condition must be "If has ANONYMOUS permissions, allow ...".
  Because the ANONYMOUS check passes even if DNN doesn't know what page the module is on.
</p>