.mat-card-title {
  font-size: 20px;
  font-weight: 500;
}

.mat-card-subtitle {
  font-size: 14px;
}

.mat-card-content {
  font-size: 14px;
  margin-top: 12px;
}

.card-content-separator {
  height: 8px;
}

button .mat-icon {
  margin-right: 4px;
}