@use '../../../../styles/variables.scss';

.eav-registration-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &__left {
    width: 50%;
    margin-right: 4px;
  }

  &__right {
    width: 50%;
    margin-left: 4px;
  }

  .eav-card-header-avatar-icon {
    font-size: variables.$eav-avatar-font-size;
    height: variables.$eav-avatar-height;
    width: variables.$eav-avatar-width;
  }

  .eav-card-space-div {
    height: 100%;
  }

  .eav-button {
    &__with-icon {
      .eav-icon {
        font-size: variables.$eav-button-icon-font-size;
        height: variables.$eav-button-icon-height;
        width: variables.$eav-button-icon-width;
      }
    }
  }
}