<!-- This template is used for StringDropdown and NumberDropdown -->

<ng-container *ngIf="viewModel$ | async as vm">
  <mat-form-field [formGroup]="group" color="accent">

    <mat-select *ngIf="!vm.freeTextMode" [formControlName]="config.fieldName" [required]="vm.required"
      [placeholder]="vm.placeholder">
      <mat-option *ngFor="let option of vm.dropdownOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>

    <input matInput *ngIf="vm.freeTextMode && type === 'string'" [formControlName]="config.fieldName"
      [required]="vm.required" [placeholder]="vm.placeholder">

    <input matInput type="number" *ngIf="vm.freeTextMode && type === 'number'" [formControlName]="config.fieldName"
      [required]="vm.required" [placeholder]="vm.placeholder">

    <div matTextSuffix class="selection-suffix" *ngIf="vm.enableTextEntry">
      <button mat-icon-button [ngClass]="{ 'active': !vm.freeTextMode }"
        [tippy]="'Fields.String.Dropdown' | translate" [disabled]="vm.controlStatus.disabled"
        (click)="toggleFreeTextMode(false)">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button [ngClass]="{ 'active': vm.freeTextMode }" [tippy]="'Fields.String.Freetext' | translate"
        [disabled]="vm.controlStatus.disabled" (click)="toggleFreeTextMode(true)">
        <mat-icon>text_fields</mat-icon>
      </button>
    </div>

    <mat-label>{{ vm.label }}</mat-label>
  </mat-form-field>

  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
</ng-container>