<mat-card>
  <mat-card-header>
    <mat-card-title>{{ feature.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p [innerHtml]="feature.description | safeHtml"></p>
    <!-- Name ID -->
    <div class="eav-info-row">
      <div class="eav-info-row__label">ID:</div>
      <div class="eav-info-row__value">
        <span (click)="copyToClipboard(feature.nameId)">{{ feature.nameId }}</span>
      </div>
    </div>
    <!-- GUID -->
    <div class="eav-info-row">
      <div class="eav-info-row__label">GUID:</div>
      <div class="eav-info-row__value eav_click">
        <span (click)="copyToClipboard(feature.guid)">{{ feature.guid }}</span>
      </div>
    </div>
    <!-- Security Rating -->
    <div class="eav-info-row">
      <div class="eav-info-row__label">Security Rating:</div>
      <div class="eav-info-row__value">
        <span>{{ feature.security.Impact + ': ' + feature.security.Message }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <a [href]="feature.link" target="_blank" mat-raised-button class="eav-card-action-button" color="accent">
      <mat-icon>open_in_new</mat-icon>
      Find out more
    </a>
    <button mat-raised-button class="eav-card-action-button" (click)="dialog.close()">
      Close
    </button>
  </mat-card-actions>
</mat-card>