<mat-card>
  <mat-card-header>
    <mat-card-title>{{ dialogData.feature.Name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p [innerHtml]="dialogData.feature.Description | safeHtml"></p>
    @if (dialogData.feature.NameId; as id) {
      <div class="eav-info-row">
        <div class="eav-info-row__label">ID:</div>
        <div class="eav-info-row__value">
          <span [tippy]="id" (click)="copyToClipboard(id)">{{ id }}</span>
        </div>
      </div>
    }
    @if (dialogData.feature.Guid; as guid) {
      <div class="eav-info-row">
        <div class="eav-info-row__label">GUID:</div>
        <div class="eav-info-row__value eav_click">
          <span [tippy]="guid" (click)="copyToClipboard(guid)">{{ guid }}</span>
        </div>
      </div>
    }
    @if ((dialogData.feature.Security.Impact + ': ' + dialogData.feature.Security.Message); as security) {
      <div class="eav-info-row">
        <div class="eav-info-row__label">Security Rating:</div>
        <div class="eav-info-row__value">
          <span>{{ security }}</span>
        </div>
      </div>
    }
  </mat-card-content>
  <mat-card-actions align="end">
    @if (dialogData.feature.Link; as link) {
      <button mat-raised-button class="eav-card-action-button" color="accent"
        (click)="findOutMore(link)">
        <mat-icon>open_in_new</mat-icon>
        Find out more
      </button>
    }
    <button mat-raised-button class="eav-card-action-button" (click)="closeDialog()">
      Close
    </button>
  </mat-card-actions>
</mat-card>