@if (feature()) {
  <div class="eav-dialog">
    <div class="eav-dialog-header">
      <div class="eav-dialog-header__title">
        {{ feature().name }}
      </div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="eav-dialog-content">
      <p [innerHtml]="feature().description | safeHtml"></p>
      <!-- Name ID -->
      <div class="eav-info-row">
        <div class="eav-info-row__label">ID:</div>
        <div class="eav-info-row__value">
          <span (click)="clipboard.copyToClipboard(feature().nameId)">{{ feature().nameId }}</span>
        </div>
      </div>
      <!-- Status -->
      @if (mySpecs().showStatus) {
        <div class="eav-info-row">
          <div class="eav-info-row__label">{{ 'Features.Status' | translate }}:</div>
          <div class="eav-info-row__value">
            <span>{{ (feature().isEnabled ? 'Features.Active' : 'Features.NotActive') | translate }}</span>
          </div>
        </div>
      }
      <!-- GUID -->
      @if (mySpecs().showGuid) {
        <div class="eav-info-row">
          <div class="eav-info-row__label">GUID:</div>
          <div class="eav-info-row__value eav_click">
            <span (click)="clipboard.copyToClipboard(feature().guid)">{{ feature().guid }}</span>
          </div>
        </div>
      }
      <!-- Security Rating -->
      <div class="eav-info-row">
        <div class="eav-info-row__label">Security Rating:</div>
        <div class="eav-info-row__value">
          <span>{{ feature().security.Impact + ': ' + feature().security.Message }}</span>
        </div>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <a [href]="feature().link" target="_blank" mat-raised-button>
        <mat-icon>open_in_new</mat-icon>
        Find out more
      </a>
    </mat-dialog-actions>
  </div>
}
