<div [ngClass]="dialogIsOpen ? 'c-expandable-wrapper__container' : 'u-display-none'">
  <div fxLayout="column" class="c-expandable-wrapper__dialog mat-elevation-z24">
    <div [ngClass]="dialogIsOpen ? 'c-expandable-wrapper__dialog__header mat-elevation-z2' : ''">
      <mat-card class="mat-elevation-z0">
        <button mat-icon-button type="button" fxLayoutAlign="center center" (click)="dialogIsOpen = false">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-card>
    </div>
    <div class='u-add-scrollbar u-hide-scrollbar'>
      <div class="c-expandable-wrapper__dialog__item" [@itemShrinkAnimation]="!dialogIsOpen ? 'open' : 'closed'">
      </div>
      <div class="c-expandable-wrapper__dialog__content" [@contentExpandAnimation]="!dialogIsOpen ? 'closed' : 'expanded'">
        <ng-container #fieldComponent></ng-container>
      </div>
    </div>
  </div>
</div>
<div matRipple (click)="dialogIsOpen = true" matRippleSpeedFactor="0.6" class="c-expandable-wrapper__control mat-ripple">
  <div [innerHtml]="value"></div>
</div>
<div>
  <mat-hint align="start" *ngIf="config.settings.Notes">{{config.settings.Notes}}</mat-hint>
  <mat-error *ngIf="inputInvalid">{{ getErrorMessage() | translate:{ param: config.settings } }}</mat-error>
</div>