// hyperlink-default overrides
.c-hyperlink-default-field-preview {
  .mat-mdc-text-field-wrapper {
    background-color: white;
  }
}

.hyperlink-input-link-wrapper {
  position: relative;
}

.hyperlink-floating {
  position: absolute;
  top: 23px;
  pointer-events: none;
  display: flex;

  &__value {
    opacity: 0;
    margin-right: 16px;
  }

  &__url-box {
    display: flex;
    align-items: center;
  }

  &__url {
    font-size: 14px;
    pointer-events: all;
    max-width: 340px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
