<!-- @if (viewModel$ | async; as vm) { -->
  <div fxLayout="row" fxLayoutAlign="start end">
    <mat-form-field [formGroup]="group()" class="eav-mat-form-field" color="accent">
      @if (useMultiLine()) {
        <textarea matInput [required]="basics().required" [formControlName]="config().fieldName"
          [placeholder]="basics().placeholder"></textarea>
      } @else {
        <input matInput [required]="basics().required" [formControlName]="config().fieldName" [placeholder]="basics().placeholder">
      }
      <div matSuffix class="eav-selection-suffix-inline">
        <ng-content select="[freeTextButtons]"></ng-content>
      </div>
      <mat-label>{{ basics().label }}</mat-label>
    </mat-form-field>
  </div>
<!-- } -->
