@if (viewModel$ | async; as vm) {
  <!-- <pre>
    Old:{{ vm.dataSourceConfigs }}
    New:{{ vsSvc.dataSourceConfigsSig() }}
  </pre> -->

  <div #domRoot id="pipeline-root">
    <!-- do not use trackBy, jsPlumb drag stops working properly after delete -->
    @if (!hardReset) {
      @for (dataSource of vsSvc.pipelineModelSig().DataSources; track dataSource) {
        <div
          #domDataSource
          [id]="dataSrcIdPrefix + dataSource.EntityGuid"
          class="dataSource"
          [ngStyle]="{
            top: dataSource.VisualDesignerData.Top + 'px',
            left: dataSource.VisualDesignerData.Left + 'px',
            'min-width': dataSource.VisualDesignerData.Width ? dataSource.VisualDesignerData.Width + 'px' : null,
          }"
          [ngClass]="{
            'show-details': showDataSourceDetails() && vsSvc.dataSourceConfigsSig()[dataSource.EntityId]?.length,
          }"
        >
          <div class="actions left">
            <mat-icon class="type-info" [title]="typeInfos()[dataSource.EntityGuid].UiHint">
              {{ typeInfos()[dataSource.EntityGuid].Icon }}
            </mat-icon>
            @if (vsSvc.pipelineModelSig().Pipeline.AllowEdit && typeInfos()[dataSource.EntityGuid].EnableConfig) {
              <mat-icon
                class="configure"
                title="Configure data source"
                appMousedownStopPropagation
                (click)="configureDataSource(dataSource)"
              >
                settings
              </mat-icon>
            }
            @if (typeInfos()[dataSource.EntityGuid].HelpLink) {
              <mat-icon
                class="help"
                title="Help for this data source"
                appMousedownStopPropagation
                (click)="openHelp(typeInfos()[dataSource.EntityGuid].HelpLink)"
              >
                help_outline
              </mat-icon>
            }
          </div>
          <div class="actions right">
            @if (vsSvc.pipelineModelSig().Pipeline.AllowEdit && !isOutDataSource(dataSource)) {
              <mat-icon class="delete" title="Delete" appMousedownStopPropagation (click)="remove(dataSource)"> delete </mat-icon>
            }
          </div>
          <div
            class="name"
            title="Click to edit name"
            appMousedownStopPropagation
            (click)="vsSvc.pipelineModelSig().Pipeline.AllowEdit && editName(dataSource)"
          >
            <span>{{ dataSource.Name || '(no name)' }}</span>
            <mat-icon class="show-hover-inline">edit</mat-icon>
          </div>
          <br />
          <div
            class="description"
            title="Click to edit description"
            appMousedownStopPropagation
            (click)="vsSvc.pipelineModelSig().Pipeline.AllowEdit && editDescription(dataSource)"
          >
            <span>{{ dataSource.Description }}</span>
            <mat-icon class="show-hover-inline">edit</mat-icon>
          </div>
          <br />
          @if (showDataSourceDetails() && vsSvc.dataSourceConfigsSig()[dataSource.EntityId]?.length) {
            <hr style="margin: 0" />
            <table class="configs">
              @for (config of vsSvc.dataSourceConfigsSig()[dataSource.EntityId]; track config) {
                <tr class="config">
                  <td class="config-name" [title]="config.name">{{ config.name }}</td>
                  <td class="config-value" [title]="config.value">{{ config.value }}</td>
                </tr>
              }
            </table>
          }
          <div class="typename" [title]="dataSource.PartAssemblyAndType">Type: {{ getTypeName(dataSource.PartAssemblyAndType) }}</div>
          @if (vsSvc.pipelineModelSig().Pipeline.AllowEdit && typeInfos()[dataSource.EntityGuid].DynamicOut) {
            <div class="add-endpoint sourceEndpoint dynamic" title="Drag a new Out-Connection"></div>
          }
          @if (vsSvc.pipelineModelSig().Pipeline.AllowEdit && typeInfos()[dataSource.EntityGuid].DynamicIn) {
            <div class="many-in targetEndpoint dynamic" title="This data source supports multiple In-Connections"></div>
          }
        </div>
      }
    }
  </div>
}
