<div [ngClass]="open() ? 'c-ew__container' : 'u-display-none'">
  <div #backdrop class="c-ew__backdrop" (click)="closeDialog()"></div>
  <div #dialog fxLayout="column" class="c-ew__dialog mat-elevation-z24 u-border-radius">
    <div [ngClass]="{ 'c-ew__dialog-header mat-elevation-z2': open() }">
      <mat-card appearance="raised" class="mat-elevation-z0" fxLayout="row">
        <button mat-icon-button class="back-arrow" fxLayoutAlign="center center"
          [tippy]="'Form.Buttons.Return.Tip' | translate" (click)="closeDialog()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxLayoutAlign="center center" class="title mat-headline-4">{{ label$ | async }}</span>
      </mat-card>
    </div>
    <div>
      <div [@itemShrinkAnimation]="open() ? 'closed' : 'open'">
      </div>
      <div class="c-ew__dialog-content u-border-radius-bottom u-add-scrollbar u-hide-scrollbar"
        [@contentExpandAnimation]="{
          value: open() ? 'expanded' : 'closed',
          params: { bottomPixels: calculateBottomPixels() }
        }">
        <ng-container #fieldComponent></ng-container>
        <extended-fab-speed-dial [ngClass]="{ 'adam': !adamDisabled() }">
          <ng-template extendedFabSpeedDialTriggerContent>
            <button extended-fab-speed-dial-trigger matRipple (click)="closeDialog()">
              <mat-icon>done</mat-icon>
              <span>{{ 'Form.Buttons.Return.Tip' | translate }}</span>
            </button>
          </ng-template>
          <ng-template extendedFabSpeedDialActionsContent>
            <button extended-fab-speed-dial-action matRipple [disabled]="saveButtonDisabled()"
              (click)="saveAll(false)">
              <span>{{ 'Form.Buttons.Save' | translate }}</span>
              <mat-icon>save</mat-icon>
            </button>
            <button extended-fab-speed-dial-action matRipple [disabled]="saveButtonDisabled()"
              (click)="saveAll(true)">
              <span>{{ 'Form.Buttons.SaveAndClose' | translate }}</span>
              <mat-icon>done_all</mat-icon>
            </button>
          </ng-template>
        </extended-fab-speed-dial>
      </div>
    </div>
  </div>
</div>
@if (viewModel() ; as vm) {
  <div class="c-ew__preview-holder">
    <mat-label class="c-ew__preview-label" [ngClass]="{
      'mat-caption' : vm.controlStatus.value,
      'mat-empty' : !vm.controlStatus.value,
      'mat-error' : vm.controlStatus.invalid && (vm.controlStatus.touched || vm.controlStatus.dirty) && !vm.controlStatus.disabled,
      'color__primary' : !(vm.controlStatus.invalid && vm.controlStatus.touched) && !vm.controlStatus.disabled,
      'color__label-disabled' : vm.controlStatus.disabled,
      'c-ew__preview-label--focused': vm.focused
      }">
      {{ vm.label }}
      {{ vm.required ? '*': '' }}
    </mat-label>
    <div class="c-ew__preview" [ngClass]="{
      'c-ew__preview--invalid' : vm.controlStatus.invalid && (vm.controlStatus.touched || vm.controlStatus.dirty),
      'c-ew__preview--disabled': vm.controlStatus.disabled,
      'c-ew__preview--focused': vm.focused
      }">
      <div class="c-ew__preview-container">
        <div #previewContainer class="c-ew__preview-content u-hide-scrollbar" [ngClass]="{
          'c-ew__preview-content--disabled': vm.controlStatus.disabled
          }" [ngStyle]="{
          'min-height': vm.previewHeight.minHeight,
          'max-height': vm.previewHeight.maxHeight
          }">
        </div>
      </div>
    </div>
    <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
  </div>
}
