<div class="actions-component">
  <div class="eav-grid-action-button highlight" matRipple *ngIf="!field.EditInfo.DisableMetadata" tippy="Metadata"
    (click)="openMetadata()">
    <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="!metadataCount"
      matBadgePosition="below after" aria-hidden="false">local_offer</mat-icon>
  </div>
  <div class="eav-grid-action-button disabled" *ngIf="field.EditInfo.DisableMetadata">
    <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small" matBadgeDisabled="true"
      [matBadgeHidden]="!metadataCount" matBadgePosition="below after" aria-hidden="false">
      local_offer
    </mat-icon>
  </div>

  <!--
    TODO: @SDV pls enhance as follows
    ✅ If share is on or InheritMetadata is on, show various icons (already done)
    ⬛ If neither is on, it should not show an icon, until mouseover, then it should show the share icon to indicate it can be added
    ⬛ If the click should add sharing, open a dialog to configure share
        - if there is no share it should Title "Field Metadata Sharing" show with the question "Do you want to enable sharing to this field?"
          - if yes, it should call an endpoint on field/share(appId, attributeId, share: true, hide: false) (just add a todo in the code which will call the endpoint)
        - If Share is already enabled, the Title should be "Field Metadata Sharing" (same) and content "Shared as: [field.Guid]"
        - If it's in inherit mode, different dialog Title "Field Inherits Metadata", content "Inherits from: [field.SysSettings.InheritMetadataOf]"
          - there is no endpoint to call here, because inherit is configured on create (separate todo)
  -->

  <!-- *ngIf is necessary as empty mat icon still consumes some space-->
  <div class="eav-grid-action-button highlight" *ngIf="shareOrInheritIcon() != ''" 
    matRipple [tippy]="shareText()" (click)="shareOrInherit()">
    <mat-icon aria-hidden="false">
      {{ shareOrInheritIcon() }}
    </mat-icon>
  </div>
  <div class="eav-grid-action-button disabled eav-hover-icon-div" *ngIf="shareOrInheritIcon() == ''" 
    matRipple [tippy]="shareText()" (click)="shareOrInherit()">
    <mat-icon aria-hidden="false" class="eav-hover-icon disabled">
      share
    </mat-icon>
  </div>

  <div class="eav-grid-action-button highlight" matRipple tippy="Permissions"
    *ngIf="!field.EditInfo.DisableEdit && enablePermissions" (click)="openPermissions()">
    <mat-icon [matBadge]="field.Permissions.Count" matBadgeColor="accent" matBadgeSize="small"
      [matBadgeHidden]="!field.Permissions.Count" matBadgePosition="below after" aria-hidden="false">
      person
    </mat-icon>
  </div>
  <div class="eav-grid-action-button disabled" *ngIf="field.EditInfo.DisableEdit || !enablePermissions">
    <mat-icon [matBadge]="field.Permissions.Count" matBadgeColor="accent" matBadgeSize="small" matBadgeDisabled="true"
      [matBadgeHidden]="!field.Permissions.Count" matBadgePosition="below after" aria-hidden="false">
      person
    </mat-icon>
  </div>

  <div class="eav-grid-action-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <ng-template matMenuContent>
    <button mat-menu-item [disabled]="field.EditInfo.DisableRename" (click)="rename()">
      <mat-icon>text_fields</mat-icon>
      <span>Rename</span>
    </button>
    <button mat-menu-item [disabled]="field.EditInfo.DisableDelete || field.IsTitle" (click)="deleteField()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>