<div class="actions-component">
  <div class="like-button highlight" matRipple *ngIf="!field.EditInfo.ReadOnly" tippy="Metadata"
    (click)="openMetadata()">
    <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="!metadataCount"
      matBadgePosition="below after">local_offer</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="field.EditInfo.ReadOnly">
    <mat-icon [matBadge]="metadataCount" matBadgeColor="accent" matBadgeSize="small" matBadgeDisabled="true"
      [matBadgeHidden]="!metadataCount" matBadgePosition="below after">local_offer</mat-icon>
  </div>

  <div class="like-button highlight" matRipple tippy="Permissions" *ngIf="!field.EditInfo.ReadOnly && enablePermissions"
    (click)="openPermissions()">
    <mat-icon [matBadge]="field.Permissions.Count" matBadgeColor="accent" matBadgeSize="small"
      [matBadgeHidden]="!field.Permissions.Count" matBadgePosition="below after">person</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="field.EditInfo.ReadOnly || !enablePermissions">
    <mat-icon [matBadge]="field.Permissions.Count" matBadgeColor="accent" matBadgeSize="small" matBadgeDisabled="true"
      [matBadgeHidden]="!field.Permissions.Count" matBadgePosition="below after">person</mat-icon>
  </div>

  <div class="like-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <ng-template matMenuContent>
    <button mat-menu-item [disabled]="field.EditInfo.ReadOnly" (click)="rename()">
      <mat-icon>text_fields</mat-icon>
      <span>Rename</span>
    </button>
    <button mat-menu-item [disabled]="field.EditInfo.ReadOnly || field.IsTitle" (click)="deleteField()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>