
.c-ew {
    &__container {
        border-radius: $edit-ui-dialog-border-radius;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;  
        bottom: 0;
        width: 100%;
        height: 100%;
        align-items: self-start;
        justify-content: center;
        display: flex;
    }

    &__dialog {
        flex-direction: column;
        display: flex;
        max-width: $edit-ui-dialog-max-width;
        width: 100vw; 
        margin-top: 24px;
        min-height: $expandable-wrapper-max-height;
        max-height: $expandable-wrapper-max-height;
        padding: 0;
        .mat-dialog-actions {
            padding: 16px;
        }

        &-header {
            z-index:3;
            .mat-card {
                padding:16px 24px 16px 24px;
                border-radius: $edit-ui-dialog-border-radius $edit-ui-dialog-border-radius 0 0;
            }
        }

        &-content {
            position:relative;
            background: map_get($mat-eav-item-dialog-background, 50);
            border-radius: 0 0 $edit-ui-dialog-border-radius $edit-ui-dialog-border-radius;
        }
    }
}
// // Expandable wrapper 
.c-ew__dialog-content {
    .adam-dialog-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .adam-dialog-content {
        flex: 1 1 100%;
        overflow: scroll;
        // Hide scroll
        -ms-overflow-style: none;  // IE 10+
        overflow: -moz-scrollbars-none;  // Firefox
        &::-webkit-scrollbar { 
            display: none;  // Safari and Chrome
        }
    }

    adam-browser {
        background: white;
        z-index: 2;
    }   

    adam-hint {
        z-index:1;
    }

    &--empty {
        .adam-dialog-container {
            flex: 1 1 100%;
        }

        .adam-dialog-content {
            flex: 1 1 auto;
        }   

        adam-browser {
            flex: 1 1 100%;
            overflow: scroll;  

            // hide scroll bar
            -ms-overflow-style: none;  // IE 10+
            overflow: -moz-scrollbars-none;  // Firefox
            &::-webkit-scrollbar { 
                display: none;  // Safari and Chrome
            }
        }
    }

   adam-hint {
       z-index:3;
   }
}

.c-ew__preview-container .mat-list .mat-list-item .mat-list-item-content {
    max-height: 24px;
    padding: 0 16px 0 16px;
}
