// EditUI dialog

.c-multi-item-dialog .mat-dialog-container {
    padding: 0;
    background-color: $edit-ui-dialog-background-color;
    border-radius: $edit-ui-dialog-border-radius;
    // width: $edit-ui-dialog-width;
    // max-width: 960px;
    bottom: 10px;
}
