/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

.admin-dialog-panel {
  width: 800px;
  margin: auto;
  border: 1px solid red;
}

mat-dialog-container {
  background: transparent !important;
}
