<mat-form-field [formGroup]="group" appearance="fill" color="accent">
  <mat-select *ngIf="!freeTextMode" placeholder="Favorite animal" [formControlName]="config.name" [required]='config.required'
    [placeholder]="config.placeholder">
    <mat-option value=""></mat-option>
    <mat-option *ngFor="let item of selectOptions" [value]="item.value">
      {{item.label}}
    </mat-option>
  </mat-select>
  <input matInput *ngIf="freeTextMode" type="text" [id]="id" class="form-control input-material material" [required]='config.required'
    [formControlName]="config.name" [placeholder]="config.placeholder">
  <a matSuffix *ngIf="enableTextEntry" [class]="'input-group-addon icon-field-button icon-field-button-small' + (freeTextMode ? ' active' : '')"
    (click)="freeTextMode= !freeTextMode ">
    <i *ngIf="!freeTextMode" class="eav-icon-i-cursor"></i>
    <i *ngIf="freeTextMode" class="eav-icon-down-dir"></i>
  </a>
  <mat-hint align="start" *ngIf="notes">{{config.settings.Notes}}</mat-hint>
  <mat-error *ngIf="inputInvalid">{{ getErrorMessage() | translate:{ param: config.settings } }}</mat-error>
</mat-form-field>