<mat-form-field [formGroup]="group" appearance="fill" color="accent">
  <mat-select *ngIf="!freeTextMode" placeholder="Favorite animal" [formControlName]="config.name" [required]='config.required'
    [placeholder]="config.placeholder">
    <mat-option value=""></mat-option>
    <mat-option *ngFor="let item of selectOptions" [value]="item.value">
      {{item.label}}
    </mat-option>
  </mat-select>
  <input matInput *ngIf="freeTextMode" type="text" [id]="id" class="form-control input-material material" [required]='config.required'
    [formControlName]="config.name" [placeholder]="config.placeholder">
  <a matSuffix *ngIf="enableTextEntry" [class]="'input-group-addon icon-field-button icon-field-button-small' + (freeTextMode ? ' active' : '')"
    (click)="freeTextModeChange($event)">
    <i *ngIf="!freeTextMode" class="eav-icon-i-cursor"></i>
    <!-- <mat-icon *ngIf="!freeTextMode">unfold_less</mat-icon> -->
    <!-- <i *ngIf="freeTextMode" class="eav-icon-down-dir"></i> -->
    <mat-icon *ngIf="freeTextMode">arrow_drop_down</mat-icon>
  </a>
  <mat-label>{{config.label}}</mat-label>
</mat-form-field>
<app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>