@import "../../../assets/styles/variables.scss";

.scrollable__overlay {
  position: relative;
  height: 100%;

  &--left-shadow,
  &--right-shadow {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    pointer-events: none;
    height: 100%;
    width: 80px;

    @media (max-width: 600px) {
      width: 24px;
    }

    background-image: linear-gradient(90deg, white 8px, rgba(white, 0));
  }

  &--right-shadow {
    right: 0;
    background-image: linear-gradient(270deg, white 8px, rgba(white, 0));
  }
}

.scrollable {
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100%;
  touch-action: none;
}

.lang-switch {
  display: flex;

  &__button {
    height: 100%;
    flex-shrink: 0;
    border-radius: 0;
    margin-left: 0 !important;
    color: #00000066;
    border-bottom: none;
    font-size: 12px;
    line-height: 54px;
    padding: 0 6px;
    background-color: white !important;

    &.mat-accent {
      color: #002753;
      border-bottom: 2px solid #002753;
      background-color: inherit;
    }
  }
}

.hidden {
  visibility: hidden;
}
