.field-label {
  font-size: 18px;
  margin: 24px 0 0;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.mat-radio-button {
  margin: 5px;
  font-size: 14px;
}

.form-actions-box {
  padding-top: 8px;
}
