<div class="eav-cards-box" [class.eav-cards-box-expanded]="showConfigurationDropdown()">
  <mat-card class="eav-card">
    <mat-card-header class="eav-card-header">
      <mat-card-title>{{ title() }}</mat-card-title>
      <mat-icon>support_agent</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <br />

      <!-- Generator select -->
      <mat-form-field color="accent" class="eav-mat-form-field">
        <mat-label>Generator</mat-label>
        <mat-select required [(value)]="selectedGeneratorName">
          <mat-select-trigger>
            {{ selectedGeneratorName() }}
          </mat-select-trigger>
          @for (generator of generators().sort(); track generator) {
            <mat-option [value]="generator.Name">
              <strong>{{ generator.Name }} v{{ generator.Version }}</strong
              ><br />
              {{ generator.Description }}
            </mat-option>
          }
        </mat-select>
        @if (selectedGenerator(); as selectedGenerator) {
          <mat-hint [innerHTML]="selectedGenerator.DescriptionHtml"></mat-hint>
        }
      </mat-form-field>
      <br />
      <br />

      <!-- Edition select -->
      @if (editions$ | async; as editions) {
        <mat-form-field color="accent" class="eav-mat-form-field">
          <mat-label>Select an Edition to generate code for</mat-label>
          <mat-select required [(value)]="selectedEdition">
            @for (edition of editions.sort(); track edition) {
              <mat-option [value]="edition.name">
                <strong>{{ edition.label }}</strong> ({{ edition.description }})
              </mat-option>
            }
          </mat-select>
          <mat-hint>
            Editions are managed in the <code>/App_Data/app.json</code> file. See
            <a href="https://go.2sxc.org/app-json" target="_blank">docs</a>.
          </mat-hint>
        </mat-form-field>
      }

      <br />
      <!-- Configurations select -->
      @if (showConfigurationDropdown()) {
        <br />

        <div class="configuration-select">
          <mat-form-field color="accent" class="eav-mat-form-field">
            <mat-label>Select a Configuration</mat-label>
            <mat-select [(value)]="selectedEntity">
              <mat-option [value]="undefined">
                Empty (press + to create new)
              </mat-option>
              @if (entities$ | async; as entities)
              {
                @for (entity of entities; track entity.Id)
                {
                  <mat-option [value]="entity">
                    {{ entity.Title }}
                  </mat-option>
                }
              }
            </mat-select>
            <mat-hint>
              Reusable configuration for the Data Copilot generator.
            </mat-hint>
          </mat-form-field>

          <!-- Add / edit button -->
          <button
            mat-icon-button
            class="eav-icon"
            aria-label="Create"
            (click)="editConfig()"
          >
            <mat-icon>{{ selectedEntity ? "edit" : "add" }}</mat-icon>
          </button>
          
          <!-- Delete button -->
          @if (selectedEntity)
          {
            <button
              mat-icon-button
              class="eav-icon"
              aria-label="Delete"
              (click)="deleteConfiguration()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          }

        </div>
      }
    </mat-card-content>

    <div class="eav-card-space-div"></div>

    <mat-card-actions align="end">
      <button mat-button class="eav-button__with-icon" (click)="toggleConfigurationDropdown()">
        <mat-icon class="eav-icon">discover_tune</mat-icon>
        <span>Use Configuration</span>
      </button>
      <button mat-button class="eav-button__with-icon" (click)="autoGeneratedCode()">
        <mat-icon class="eav-icon">code</mat-icon>
        <span>Generate Code</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
