@use "../../../styles/variables.scss";

:host ::ng-deep .ag-row-hover .ag-cell a,
:host ::ng-deep .ag-row-hover .ag-cell .eav-grid-action-button,
.eav-button__with-icon {
  color: variables.$sxc-solid !important;
}

.eav-button__with-icon:disabled {
  color: variables.$text-disabled !important;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-icon {
  font-size: 24px;
  line-height: 24px;
}
