.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-icon {
  font-size: 24px;
  line-height: 24px;
}
