<div class="scrollable__overlay" *ngIf="{
  currentLanguage: currentLanguage$ | async
} as data">
  <div #leftShadow class="scrollable__overlay--left-shadow"></div>
  <div #rightShadow class="scrollable__overlay--right-shadow"></div>
  <div #scrollable class="scrollable lang-switch" [matTooltip]="'Message.CantSwitchLanguage' | translate"
    [matTooltipDisabled]="!disabled">
    <button mat-flat-button class="lang-switch__button" *ngFor="let langButton of (languageButtons$ | async)"
      [disabled]="disabled && data.currentLanguage !== langButton.key"
      [color]="data.currentLanguage === langButton.key ? 'accent' : 'white'" (mousedown)="lngButtonMouseDown($event)"
      (click)="lngButtonClick($event, langButton)" [matTooltip]="langButton.name" [matTooltipDisabled]="disabled">
      {{ langButton.buttonText }}
    </button>
  </div>
</div>
