$border-radius: 8px;

.mat-card-group-child {
  padding: 0;
  margin: 0 0 8px 0;
  border-radius: $border-radius;
}

.mat-card-header-group-child {
  padding: 20px 32px;
  border-radius: $border-radius;

  .title-arrow {
    margin-right: 6px;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
  }
}

.mat-card-content {
  .description {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.mat-card-title-group {
  margin: 0;
  cursor: pointer;
  line-height: 20px;
  color: #002753;
}

.mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}

.mdc-layout-grid {
  padding: 16px;
  padding-top: 0;
}
