<div class="actions-component">
  <!-- Global/Inherited button for shared apps (if enabled) -->
  <div class="eav-grid-action-button icon"
    [tippy]="app.IsGlobal ? 'This app is global' : app.IsInherited ? 'This app is inherited' : ''"
    [tippyDisabled]="!app.IsGlobal && !app.IsInherited">
    @if (app.IsGlobal) {
      <mat-icon>foundation</mat-icon>
    }
    @if (app.IsInherited) {
      <mat-icon>holiday_village</mat-icon>
    }
  </div>

  <!-- Lightspeed button -->
  <app-lightspeed-action [lightSpeedOwner]="app" [params]="params" [lightSpeed]="app.lightSpeed"></app-lightspeed-action>

  <!-- More button -->
  <div class="eav-grid-action-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<!-- The menu which appears on more -->
<mat-menu #menu="matMenu" class="grid-more-menu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="flushCache()">
      <mat-icon>cached</mat-icon>
      <span>Flush cache</span>
    </button>
    <button mat-menu-item [disabled]="!app.IsApp" (click)="deleteApp()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>