<div *ngIf="templateVars$ | async as data" style="position: relative" mat-dialog-container appToggleDebug>

  <div mat-dialog-actions class="form-header-container" [ngClass]="{ 'u-display-none': data.hideHeader }">
    <app-edit-dialog-header class="multi-item-edit-form-header" [disabled]="!data.formsValid"
      (closeDialog)="closeDialog()">
    </app-edit-dialog-header>
  </div>

  <div style="position: relative">
    <!-- cdkScrollable is required when using matAutocomplete with scrollable element that is not body. Fixes matAutocomplete not following input  -->
    <div mat-dialog-content cdkScrollable class="u-hide-scrollbar" [ngClass]="{
      'debug-enabled': data.debugEnabled,
      'debug-info-is-open': data.debugInfoIsOpen,
      'hide-header-height-fix': data.hideHeader
    }">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12" appFormSlide *ngIf="!data.delayForm">
            <div *ngFor="let item of data.items; trackBy: trackByFn">
              <app-form-builder [entityGuid]="item.Entity.Guid"></app-form-builder>
            </div>
          </div>
        </div>
      </div>
    </div>
    <extended-fab-speed-dial [disabled]="data.saveButtonDisabled" *ngIf="data.viewInitiated">
      <ng-template extendedFabSpeedDialTriggerContent>
        <button extended-fab-speed-dial-trigger matRipple [disabled]="data.saveButtonDisabled" (click)="saveAll(true)">
          <mat-icon (click)="data.saveButtonDisabled && saveAll(false)" svgIcon="done"></mat-icon>
          <span>{{ 'Form.Buttons.SaveAndClose' | translate }}</span>
        </button>
      </ng-template>
      <ng-template extendedFabSpeedDialActionsContent>
        <button extended-fab-speed-dial-action matRipple [disabled]="data.saveButtonDisabled" (click)="saveAll(false)">
          <span>{{ 'Form.Buttons.Save' | translate }}</span>
          <mat-icon svgIcon="save"></mat-icon>
        </button>
      </ng-template>
    </extended-fab-speed-dial>
  </div>

  <app-edit-dialog-footer mat-dialog-actions *ngIf="data.debugEnabled" [formBuilderRefs]="formBuilderRefs"
    (debugInfoOpened)="debugInfoOpened($event)">
  </app-edit-dialog-footer>
</div>
