@use "../../assets/styles/variables.scss";

@keyframes move-next {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  49% {
    -webkit-transform: translateX(-(variables.$edit-ui-dialog-max-width));
    transform: translateX(-(variables.$edit-ui-dialog-max-width));
    animation-timing-function: step-end;
  }

  50% {
    -webkit-transform: translateX(variables.$edit-ui-dialog-max-width);
    transform: translate(variables.$edit-ui-dialog-max-width);
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes move-previous {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  49% {
    -webkit-transform: translateX(variables.$edit-ui-dialog-max-width);
    transform: translateX(variables.$edit-ui-dialog-max-width);
    animation-timing-function: step-end;
  }

  50% {
    -webkit-transform: translateX(-(variables.$edit-ui-dialog-max-width));
    transform: translate(-(variables.$edit-ui-dialog-max-width));
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.next {
  animation: 200ms ease-in move-next;
}

.previous {
  animation: 200ms ease-in move-previous;
}

.multi-item-edit-form-header {
  width: 100%;
}

.eav-dialog-content {
  // Default parameters: max height, no footer
  --edit-content-max-height: var(--edit-content-max-height-no-margins);
  --edit-footer-height: 0px;
  --edit-margins-vertical: var(--edit-dialog-margins-vertical);
  --edit-safari-fix: 0px;
  margin: 0;
  padding: 0;
  max-height: calc(var(--edit-content-max-height) - var(--edit-footer-height) - var(--edit-margins-vertical) + var(--edit-safari-fix));
  background-color: rgba(0, 0, 0, 0.06);

  @media (max-width: 600px) {
    --edit-margins-vertical: 0px;
  }

  // override for expandable field header to be visible on safari
  // as main dialog header was above it otherwise
  &.hide-header-height-fix {
    --edit-safari-fix: var(--edit-dialog-header-height);
  }

  // Debug footer is on
  &.debug-enabled {
    --edit-footer-height: var(--edit-footer-bar-height);

    // Debug info is open
    &.debug-info-is-open {
      --edit-footer-height: calc(var(--edit-footer-bar-height) + var(--edit-footer-container-height-total));

      &.footer-xl {
        --edit-footer-height: calc(var(--edit-footer-bar-height) + var(--edit-footer-container-height-total) + var(--edit-footer-container-height));
      }
    }
  }
}

.mat-mdc-dialog-actions {
  padding: 0;
  margin-bottom: 0;
  z-index: 1;
}


.eav-layout-grid {
  padding: 16px;

  @media (max-width: 600px) {
    padding: 0;
    padding-top: 8px;
  }
}