<!-- TODO_(mdc-migration) -->
@if (viewModel$ | async; as vm) {
<div style="position: relative" mat-dialog__container appToggleDebug>
  <div mat-dialog-actions class="form-header-container" [ngClass]="{ 'u-display-none': hideHeader() }">
    <app-edit-dialog-header class="multi-item-edit-form-header" [disabled]="!formsValid()"
      (closeDialog)="closeDialog()">
    </app-edit-dialog-header>
  </div>
  <div style="position: relative">
    <!-- cdkScrollable is required when using matAutocomplete with scrollable element that is not body. Fixes matAutocomplete not following input  -->
    <!-- TODO_(mdc-migration) -->
    <div mat-mdc-dialog-content cdkScrollable class="eav-dialog-content u-hide-scrollbar" [ngClass]="{
        'debug-enabled': footerShow(),
        'debug-info-is-open': footerShow() && footerSize(),
        'footer-xl': footerShow() && (footerSize() == 2),
        'hide-header-height-fix': hideHeader()
        }">
      <div class="eav-layout-grid">
        <div class="eav-layout-grid__inner">
          @if (!delayForm())
          {
            <div class="eav-layout-grid__cell--span-12" appFormSlide>
              @for (item of vm.items; track item.Entity.Guid)
              {
                <!-- TODO:: Items as Signal bug -->
                <!-- @for (item of items(); track trackByFn($index, item)) { -->
                <div>
                  <app-edit-entity-form-builder [entityGuid]="item.Entity.Guid"></app-edit-entity-form-builder>
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
    @if (vm.viewInitiated)
    {
      <extended-fab-speed-dial [disabled]="saveButtonDisabled()">
        <ng-template extendedFabSpeedDialTriggerContent>
          <button extended-fab-speed-dial-trigger matRipple [disabled]="saveButtonDisabled()" (click)="saveAll(true)">
            <mat-icon (click)="saveButtonDisabled() && saveAll(false)">done</mat-icon>
            <span>{{ 'Form.Buttons.SaveAndClose' | translate }}</span>
          </button>
        </ng-template>
        <ng-template extendedFabSpeedDialActionsContent>
          <button extended-fab-speed-dial-action matRipple [disabled]="saveButtonDisabled()" (click)="saveAll(false)">
            <span>{{ 'Form.Buttons.Save' | translate }}</span>
            <mat-icon>save</mat-icon>
          </button>
        </ng-template>
      </extended-fab-speed-dial>
    }
  </div>
  @if (footerShowOnceOrMore())
  {
    @defer {
      <app-edit-dialog-footer [style.display]="footerShow() ? 'block' : 'none'" mat-dialog-actions (resize)="footerResize($event)">
      </app-edit-dialog-footer>
    }
  }
</div>
}
