<mat-form-field [formGroup]="group" [style.width]="'100%'">
    <!-- style="display:none;" -->
    <input matInput type="text" id="demo" class="form-control material" [formControlName]="config.name" [placeholder]="config.label"
        [required]="config.required" #someVar1>
    <!-- <mat-error *ngIf="inputInvalid">{{ getErrorMessage() }}</mat-error> -->
</mat-form-field>

<!-- style="display:none;" -->

<div id="ante" #someVar ngNonBindable></div>

<!-- <div [innerHtml]="html" ngNonBindable></div> -->