<div *ngIf="to.settings.UseTimePicker && to.settings.UseTimePicker.values[0].value === true; then useTimePickerTemplate else notUseTimePickerTemplate"></div>

<ng-template #notUseTimePickerTemplate>
  <input matInput [matDatepicker]="picker" class="form-control material" [errorStateMatcher]="errorStateMatcher" [formControl]="formControl"
    [formlyAttributes]="field" [matDatepickerFilter]="to.datepickerOptions.filter" (dateChange)="to.change(field, formControl)">
  <ng-template #matSuffix>
    <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
  </ng-template>
  <mat-datepicker #picker></mat-datepicker>
</ng-template>

<ng-template #useTimePickerTemplate>
  <input matInput [formControl]="formControl" [formlyAttributes]="field" [owlDateTime]="picker" (dateTimeChange)="to.change(field, formControl)">
  <!-- control from https://github.com/DanielYKPan/date-time-picker -->
  <owl-date-time #picker></owl-date-time>
  <ng-template #matSuffix>
    <button type="button" mat-icon-button [owlDateTimeTrigger]="picker">
      <mat-icon class="mat-24">today</mat-icon>
    </button>
  </ng-template>
</ng-template>