.eav-scope-dropdown {
  margin-top: -14px;
  width: 350px;
}
.eav-scope-dropdown {
  margin-top: -14px;
  width: 350px;
}

.grid-dynamic {
  max-height: calc(100% - 73px);
}

.ag-theme-material.grid-dynamic {
  flex-shrink: 0;
  flex-grow: 0;
}

// mat-dialog-actions {
//   flex-shrink: 0;
//   margin-top: auto;
// }
