.eav-scope-dropdown {
  margin-top: -14px;
  width: 200px;
}

.eav-dialog-actions {
  display: flex;
  justify-content: space-between;

  .eav-dialog-actions-div {
    display: flex;
    justify-content: flex-start;
  }

  .eav-button {
    &__with-icon {
      .eav-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
      }
    }
  }
}
