@use '@angular/material' as mat;
@use "variables";

/**
 * 2sxc Color Override Styles
 * This file contains styles for overriding angular components and setting colors in the 2sxc UI components.
 * Added in v20 as part of the new design system.
 * 29.07.2025 - Created by: Paul Pietzko
 */

.grid-fab,
.text-icon,
.mat-badge-content,
.eav-eco-fab-speed-dial-action-button,
.eav-action-button,
.eav-card-action-button,
.active-features-count {
  background: variables.$sxc-gradient !important;
  color: white !important;
}

.eav-action-button:disabled {
  color: grey !important;
  opacity: 0.75;
}


.mat-mdc-progress-spinner {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: variables.$sxc-solid,
    )
  );
}

.mat-mdc-radio-button.mat-accent {
  @include mat.radio-overrides(( // Only works with solid colors
    selected-hover-icon-color: variables.$sxc-solid,
    selected-pressed-icon-color: variables.$sxc-solid,
    selected-focus-icon-color: variables.$sxc-solid,
    selected-icon-color: variables.$sxc-solid,
    checked-ripple-color: variables.$sxc-solid,
    unselected-hover-icon-color: variables.$sxc-solid,
    unselected-icon-color: variables.$sxc-solid,
  ));
}

.mat-mdc-checkbox.mat-accent {
  @include mat.checkbox-overrides(( // Only works with solid colors
    selected-hover-icon-color: variables.$sxc-solid,
    selected-pressed-icon-color: variables.$sxc-solid,
    selected-focus-icon-color: variables.$sxc-solid,
    selected-icon-color: variables.$sxc-solid,
    unselected-hover-icon-color: variables.$sxc-solid,
    unselected-icon-color: variables.$sxc-solid,
  ));
}