.actions-component {
  display: flex;
  height: 100%;

  .accent {
    color: map_get($mat-eav-item-dialog-secondary, 500);
  }
}

.input-component {
  display: flex;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  user-select: none;

  &:not(.disabled) {
    cursor: pointer;
  }
}

.apps-list-primary-action {
  .container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .logo {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px 0;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-shadow: none;
  }
}

.grid-more-menu {
  .mat-menu-item {
    &:not([disabled]) {
      .mat-icon {
        color: initial;
      }
    }

    &[disabled] {
      .mat-icon {
        color: inherit;
      }
    }
  }
}
