@use "./variables.scss" as variables;

:host ::ng-deep .ag-row-hover .ag-cell a,
:host ::ng-deep .ag-row-hover .ag-cell .id-box *,
:host ::ng-deep .ag-row-hover .ag-cell .eav-grid-action-button,
:host ::ng-deep .eav-button__with-icon * {
  color: variables.$sxc-solid !important;
}

:host ::ng-deep .eav-button__with-icon:disabled {
  color: variables.$text-disabled !important;
}

:host ::ng-deep .ag-row-hover .ag-cell,
:host ::ng-deep .eav-grid-action-button:hover {
  color: variables.$sxc-solid !important;
  cursor: pointer;
  transition: color 0.2s;
}