@use "../app/edit/assets/styles/variables";

.eav-dragging .eav-droparea {
  &.eav-droparea-fill {
    background-color: variables.$dropzone-background !important;
  }

  &.eav-droparea-shadow {
    box-shadow: 0 0 5px 5px variables.$dropzone-background !important;
  }

  &.eav-droparea-outline {
    outline: 2px dashed variables.$dropzone-background !important;
  }
}

.eav-droparea.eav-dragover {
  &.eav-droparea-fill {
    background-color: variables.$dropzone-active-background !important;
  }

  &.eav-droparea-shadow {
    box-shadow: 0 0 5px 5px variables.$dropzone-active-background !important;
  }

  &.eav-droparea-outline {
    outline: 2px dashed variables.$dropzone-active-background !important;
  }
}
