.eav-eco-fab-speed-dial {
  .eav-eco-fab-speed-dial-actions {
    .eav-eco-fab-speed-dial-action-button {
      margin-left: 0px !important;
    }

    .mdc-fab::before {
      all: unset;
    }

    .mat-mdc-mini-fab::before {
      content: attr(label);
      position: absolute;
      right: 50px;
      top: 8px;
      background-color: rgba(97, 97, 97, 0.9);
      color: #fff;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      max-width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 4px;
      padding: 4px 8px;
      display: none;
    }
  }

  &.fab-opened {
    .mat-mdc-mini-fab::before {
      display: block;
    }
  }
}