@use "../app/edit/assets/styles/theme/material-colors";
@use "../app/edit/assets/styles/variables";

@use "sass:map";
.eav-history-tables {
  .eav-table-row {
    border-bottom: 1px solid rgba(variables.$editUI-foreground-color, 0.12);
  }

  .eav-row-main__type {
    color: rgba(variables.$editUI-foreground-color, 0.4);
  }

  .eav-history-new {
    color: #0d904f;
  }

  .eav-history-deleted {
    color: map.get(material-colors.$mat-eav-item-dialog-error, 300);

    &__value {
      font-size: 12px;
      text-decoration: line-through;
    }
  }

  .eav-history-changed {
    color: map.get(material-colors.$mat-eav-item-dialog-secondary, 500);
  }
}
