@use "../app/edit/assets/styles/variables";

.mat-mdc-snack-bar-action {
  color: variables.$primary-color;
}

.snackbar-error {
  background: variables.$error-color;

  .mat-mdc-snack-bar-label {
    color: white;
  }
}
