@import "../app/edit/assets/styles/variables";

.mat-simple-snackbar-action {
  color: $primary-color;
}

.snackbar-error {
  background: $error-color;

  .mat-simple-snack-bar-content {
    color: white;
  }
}
