@use "variables.scss";

.eav-cards-box {
  display: flex;
  flex-wrap: wrap;

  .eav-card {
    width: variables.$eav-card-width;
    margin: variables.$eav-margin;
    padding-top: variables.$eav-padding;

    .eav-card-header {
      display: flex;
      justify-content: space-between;
    }

    .eav-card-header-avatar-icon {
      font-size: variables.$eav-avatar-font-size;
      height: variables.$eav-avatar-height;
      width: variables.$eav-avatar-width;
    }

    .eav-card-space-div {
      height: 100%;
    }

    .eav-button__with-icon .eav-icon {
      font-size: variables.$eav-button-icon-font-size;
      height: variables.$eav-button-icon-height;
      width: variables.$eav-button-icon-width;
    }
  }
}

.eav-info-row {
  display: flex;

  // &__label {
  //   flex: 1;
  //   font-weight: 500;

  //   &.eav-long {
  //     flex: 2;
  //   }
  // }

  // &__value {
  //   flex: 3;

  //   .eav-click {
  //     cursor: pointer;
  //   }

  //   &__span {
  //     word-break: break-all;
  //   }
  // }

  // &__link {
  //   margin-left: $eav-margin-space;
  // }
}
.eav-info-row__label {
  flex: 1;
  font-weight: 500;

  &.eav-long {
    flex: 2;
  }
}

.eav-info-row__value {
  flex: 3;

  .eav-click {
    cursor: pointer;
  }
}

.eav-info-row__value__span {
  word-break: break-all;
}

.eav-info-row__link {
  margin-left: variables.$eav-margin-space;
}


.eav-card-action-button {
  margin-left: 8px;
}
