@import "variables.scss";

.eav-cards-box {
  display: flex;
  flex-wrap: wrap;

  .eav-card {
    width: $eav-card-width;
    margin: $eav-margin;
    padding-top: $eav-padding;

    .eav-card-header {
      display: flex;
      justify-content: space-between;
    }

    .eav-card-header-avatar-icon {
      font-size: $eav-avatar-font-size;
      height: $eav-avatar-height;
      width: $eav-avatar-width;
    }

    .eav-card-space-div {
      height: 100%;
    }

    .eav-button {
      &__with-icon {
        .eav-icon {
          font-size: $eav-button-icon-font-size;
          height: $eav-button-icon-height;
          width: $eav-button-icon-width;
        }
      }
    }
  }
}

.eav-info-row {
  display: flex;

  &__label {
    flex: 1;
    font-weight: 500;

    &.eav-long {
      flex: 2;
    }
  }

  &__value {
    flex: 3;

    .eav-click {
      cursor: pointer;
    }

    &__span {
      word-break: break-all;
    }
  }

  &__link {
    margin-left: $eav-margin-space;
  }
}