
/* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
/* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-mdc-tab-group-max-height {
  flex-grow: 1;
  /* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-mdc-tab-body-wrapper {
    flex-grow: 1;
  }
  /* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-mdc-tab-body-wrapper,
  .mat-mdc-tab-body-active,
  .mat-mdc-tab-body-active .mat-mdc-tab-body-content {
    overflow: visible !important;
  }
  /* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-mdc-tab-body-content {
    @extend .hide-scrollbar;
  }
}

/* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
/* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-mdc-tab-group-fit-height {
  overflow: hidden;
  /* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-mdc-tab-body-active .mat-mdc-tab-body-content {
    overflow: auto !important;
  }
}

/* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
/* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-mdc-tab-group-fancy-scrollbar {
  /* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-mdc-tab-body-content {
    @extend .fancy-scrollbar-light;
  }
}

/* TODO-(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-mdc-tab-label-box {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .mat-icon {
    margin-right: 8px;
  }
}
