@import "../app/edit/assets/styles/variables";

.mat-mdc-snack-bar-action {
  color: $primary-color;
}

.snackbar-error {
  background: $error-color;

  .mat-mdc-snack-bar-label {
    color: white;
  }
}
