// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "../app/edit/assets/styles/variables.scss";
@import "../app/edit/assets/styles/theme/material-colors.scss";
@import "../app/edit/assets/styles/theme/override-mat-form-field-fill-typography.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// For each palette, you can optionally specify a default, lighter, and darker hue.
// Available color palettes: https://material.io/design/color/
$eav-ui-primary: mat.define-palette($mat-eav-item-dialog-primary);
$eav-ui-accent: mat.define-palette($mat-eav-item-dialog-secondary);

// The warn palette is optional (defaults to red).
$eav-ui-warn: mat.define-palette($mat-eav-item-dialog-error);

$eav-ui-typography: mat.define-typography-config($font-family: '"Roboto", sans-serif',
  $headline-1: mat.define-typography-level(112px, 112px, 300),
  $headline-2: mat.define-typography-level(56px, 56px, 400),
  $headline-3: mat.define-typography-level(45px, 48px, 400),
  $headline-4: mat.define-typography-level(20px, 24px, 500),
  $headline-5: mat.define-typography-level(96px, 108px, 300),
  $headline-6: mat.define-typography-level(60px, 64px, 300),
  $subtitle-1: mat.define-typography-level(14px, 20px, 500),
  $body-1: mat.define-typography-level(16px, 20px, 400),
  $subtitle-2: mat.define-typography-level(14px, 20px, 400),
  $body-2: mat.define-typography-level(16px, 20px, 400),
  $button: mat.define-typography-level(14px, 20px, 500),
  $caption: mat.define-typography-level(12px, 16px, 400));
  /* TODO(mdc-migration): No longer supported. Use `body-1` instead. put: mat.define-typography-level(inherit, 1.25, 400));*/
 
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$eav-ui-theme: mat.define-light-theme((color: (primary: $eav-ui-primary,
      accent: $eav-ui-accent,
      warn: $eav-ui-warn,
    ),
    // typography: $eav-ui-typography doesn't seem to work so I'm using old all-component-typographies
  ));

@include mat.all-component-themes($eav-ui-theme);
@include mat.all-component-typographies($eav-ui-typography);
