$default-font-size: 14px;

/* 2sxc v20 new primary colors */
$sxc-gradient: linear-gradient( 125deg,
                rgba(36, 14, 18, 1) 10%, /* #240E12 */
                rgba(149, 44, 66, 1) 90% /* #952C42 */
              );
$sxc-solid: #85283B;
$external-link: #465da3;
$text-disabled: rgba(0, 0, 0, 0.38);

$eav-glow: #4154c0;

$eav-dialog-padding: 24px;
$eav-header-padding-bottom: 12px;

$eav-dialog-title-font-size: 29px;
$eav-dialog-title-line-height: 29px;
$eav-dialog-title-font-weight: 400;

$eav-dialog-subtitle-font-size: 29px;
$eav-dialog-subtitle-line-height: 29px;
$eav-dialog-subtitle-font-weight: 400;

$eav-card-width: 560px;
$eav-margin: 8px;
$eav-padding: 8px;

$eav-avatar-font-size: 40px;
$eav-avatar-height: 40px;
$eav-avatar-width: 40px;

$eav-button-icon-font-size: 24px;
$eav-button-icon-height: 24px;
$eav-button-icon-width: 24px;

$eav-margin-space: 4px;
