$default-font-size: 14px;

$eav-glow: #4154c0;

$eav-dialog-padding: 24px;

$eav-dialog-title-font-size: 29px;
$eav-dialog-title-line-height: 29px;
$eav-dialog-title-font-weight: 400;

$eav-dialog-subtitle-font-size: 29px;
$eav-dialog-subtitle-line-height: 29px;
$eav-dialog-subtitle-font-weight: 400;

$eav-card-width: 560px;
$eav-margin: 8px;
$eav-padding: 8px;

$eav-avatar-font-size: 40px;
$eav-avatar-height: 40px;
$eav-avatar-width: 40px;

$eav-button-icon-font-size: 24px;
$eav-button-icon-height: 24px;
$eav-button-icon-width: 24px;

$eav-margin-space: 4px;