@if (viewModel$ | async; as vm) {
  @if (vm.current !== vm.primary) {
    <div fxLayoutAlign="end center">
      <div fxLayoutAlign="end center" class="eav-shared-languages-container" [ngClass]="vm.translationStateClass">
        <div class="eav-shared-languages mat-caption" [ngClass]="{ 'eav-shared-languages--disabled': vm.disabled }">
          {{ vm.translationState.infoLabel ? (vm.translationState.infoLabel | translate:{ languages:
          vm.translationState.infoMessage }): '' }}
        </div>
        <div [tippy]="'LangMenu.NotTranslatable' | translate" [tippyDisabled]="!vm.disableTranslateButton" [tippyPlacement]="'top'">
          <button mat-icon-button class="eav-translate-icon-button" [matMenuTriggerFor]="menu"
            [disabled]="vm.disableTranslateButton" [ngClass]="{ 'hidden': hideTranslateButton }">
            <mat-icon class="eav-translate-icon">translate</mat-icon>
          </button>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="translate()"
            [ngClass]="{ 'eav-menu-item-selected': vm.translationState.linkType === TranslationLinks.Translate }">
            {{ 'LangMenu.Translate' | translate }}
          </button>
          <button mat-menu-item (click)="openAutoTranslateMenuDialog(vm.translationState)"
            [ngClass]="{ 'eav-menu-item-selected': vm.translationState.linkType === TranslationLinks.Translate }">
            {{ 'LangMenu.AutoTranslate' | translate }}
            <app-feature-icon-indicator [featureNameId]="'EditUiTranslateWithGoogle'"></app-feature-icon-indicator>
          </button>
          <button mat-menu-item (click)="dontTranslate()"
            [ngClass]="{ 'eav-menu-item-selected': vm.translationState.linkType === TranslationLinks.DontTranslate }">
            {{ 'LangMenu.NoTranslate' | translate }}
          </button>
          <button mat-menu-item (click)="openTranslateMenuDialog(vm.translationState)"
            [ngClass]="{ 'eav-menu-item-selected': vm.translationState.language !== '' }">
            {{ 'LangMenu.Link' | translate }}
          </button>
        </ng-template>
      </mat-menu>
    </div>
  }
}