@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/theme/material-colors.scss";

.eav-menu-item-selected {
  background: $edit-ui-selected-option;
}

.localization-lock-open {
  color: green;
}

.localization {
  &-missing-default-lang-value {
    color: red;
  }

  &-translate {
    color: green;
  }

  &-link-read-only {
    color: blue;
  }

  &-link-read-write {
    color: blue;
  }
}

.eav-shared-languages {
  position: relative;
  left: -6px;
  top: -8px;
  padding: 0px 4px 0 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 16px;
  cursor: default;
  color: rgba($editUI-foreground-color, 0.44);

  &--disabled {
    color: rgba($editUI-foreground-color, 0.24);
  }

  font-size: 12px;
}

.eav-translate-icon-button {
  scale: calc(4/5);
  position: relative;
  top: -6px;
}

// .feature-item {
//   display: flex;
//   flex-direction: row;
//   align-items: baseline;
//   // justify-content: end;
// }
