.eav-card {
  width: 560px;
  margin: 8px;
  padding-top: 8px;

  .eav-card-header {
    display: flex;
    justify-content: space-between;
  }

  .eav-card-space-div {
    min-height: 30px;
  }

  .eav-button {
    &__with-icon {
      .eav-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
      }
    }
  }
}

.eav-info-row {
  display: flex;

  &__label {
    flex: 1;
    font-weight: 500;

    &.eav-long {
      flex: 2;
    }
  }

  &__value {
    flex: 3;

    .eav-click {
      cursor: pointer;
    }

    &__span {
      word-break: break-all;
    }
  }

  &__link {
    margin-left: 4px;
  }
}