.eav-card {
  width: 560px;
  margin: 8px;
  padding-top: 8px;

  .eav-card-header {
    display: flex;
    justify-content: space-between;
  }

  .eav-card-space-div {
    min-height: 30px;
  }

  .eav-button {
    &__with-icon {
      .eav-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
      }
    }
  }
}

.eav-configuration-table {
  width: 100%;

  td {
    text-align: left;
  }

  tbody th {
    text-align: left;
  }
}