mat-sidenav-container {
  height: 100vh;

  // Sidenave
  mat-sidenav {
    width: 295px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  // Toolbar
  mat-toolbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;

    .toolbar-container {
      display: flex;
      align-items: center;

      .menu-btn{
        margin-right: 8px;
      }

      .headeline-toolbar {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 16px 0;
          margin-right: 8px;
          user-select: none;
          text-shadow: none;
        }
      }
    }

      .toolbar-spacer {
        flex: 1 1 auto;
      }

      a {
        transition: all 225ms ease-in-out;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
  }
}

.container-content {
  height: calc(100% - 64px);
}


// Links
.paddingLink a {
  padding-left: 20px;
}

.active {
  background-color: rgba(128, 128, 128, 0.1);
}

.app-menu-container {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all 225ms ease-in-out;

  &:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }

  .link-text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
  }

  .mat-icon {
    transition: all 225ms ease-in-out;

    &.ml-auto {
      margin-left: auto;
    }
  }

  .open {
    transform: rotate(180deg);
  }
}
