    <ng-container appToggleDebug *ngIf="viewModel$ | async as vm">
      <mat-sidenav-container>
        <mat-sidenav  #sidenav [mode]="smallScreen.matches ? 'over' : 'side'" [opened]="sideNavOpened">
          <div>
            <div class="mat-mdc-tab-label-box" tippy="App Info">
              <mat-icon>info</mat-icon>
              <span>Info</span>
            </div>
            <app-getting-started *matTabContent [gettingStartedUrl]="vm.dialogSettings.Context.App.GettingStartedUrl">
            </app-getting-started>
          </div>

        </mat-sidenav>

        <mat-sidenav-content>
          <mat-toolbar>
            <div class="toolbar-container">
              <button class="menu-btn" (click)="sidenav.opened = !sidenav.opened" mat-icon-button>
                <mat-icon>menu</mat-icon>
              </button>

              <div class="headeline-toolbar">
                <div>
                  <img *ngIf="vm.dialogSettings?.Context.App.Icon" [src]="vm.dialogSettings?.Context.App.Icon + '?w=40&h=40&mode=crop'" />
                </div>
                <div>
                  <ng-container *ngIf="vm.dialogSettings?.Context.App.SettingsScope === AppScopes.Global">
                    Global
                  </ng-container>
                  <ng-container *ngIf="vm.dialogSettings?.Context.App.SettingsScope !== AppScopes.Global">
                    {{ vm.dialogSettings?.Context.App.Name }}
                  </ng-container>
                  Admin
                </div>
              </div>
            </div>

              <span class="toolbar-spacer"></span>

              <div class="close-button-container">
                <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>

          </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </ng-container>

    <!-- <div class="eav-dialog nav-component-wrapper eav-no-scrollbar" appToggleDebug *ngIf="viewModel$ | async as vm">
    <div class="eav-dialog-tab-content nav-component-wrapper">
      <router-outlet></router-outlet>
    <mat-tab-group class="mat-mdc-tab-group-max-height" dynamicHeight color="accent"
      *ngIf="vm.dialogSettings && vm.tabIndex != null" (selectedTabChange)="changeTab($event)"
      [selectedIndex]="vm.tabIndex">
      <mat-tab>
        <div *matTabLabel class="mat-mdc-tab-label-box" tippy="App Info">
          <mat-icon>info</mat-icon>
          <span>Info</span>
        </div>
        <app-getting-started *matTabContent [gettingStartedUrl]="vm.dialogSettings.Context.App.GettingStartedUrl">
        </app-getting-started>
      </mat-tab>

      <mat-tab>
        <div *matTabLabel class="mat-mdc-tab-label-box" tippy="Data / Content">
          <mat-icon>menu</mat-icon>
          <span>Data</span>
        </div>
        <app-data *matTabContent [enablePermissions]="vm.dialogSettings.Context.Enable.AppPermissions"></app-data>
      </mat-tab>

      <mat-tab *ngIf="vm.dialogSettings.Context.Enable.Query">
        <div *matTabLabel class="mat-mdc-tab-label-box" tippy="Queries / Visual Query Designer">
          <mat-icon>filter_list</mat-icon>
          <span>Queries</span>
        </div>
        <app-queries *matTabContent [enablePermissions]="vm.dialogSettings.Context.Enable.AppPermissions">
        </app-queries>
      </mat-tab>

      <mat-tab>
        <div *matTabLabel class="mat-mdc-tab-label-box" tippy="Views / Templates">
          <mat-icon>layers</mat-icon>
          <span>Views</span>
        </div>
        <app-views *matTabContent [enableCode]="vm.dialogSettings.Context.Enable.CodeEditor"
          [enablePermissions]="vm.dialogSettings.Context.Enable.AppPermissions"
          [appIsGlobal]="vm.dialogSettings.Context.App.IsShared"
          [appIsInherited]="vm.dialogSettings.Context.App.IsInherited">
        </app-views>
      </mat-tab>

      <mat-tab *ngIf="vm.dialogSettings.Context.Enable.Query">
        <div *matTabLabel class="mat-mdc-tab-label-box" tippy="WebApi">
          <mat-icon>offline_bolt</mat-icon>
          <span>WebApi</span>
        </div>
        <app-web-api *matTabContent [enableCode]="vm.dialogSettings.Context.Enable.CodeEditor">
        </app-web-api>
      </mat-tab>

      <mat-tab>
        <div *matTabLabel class="mat-mdc-tab-label-box" tippy="App Settings">
          <mat-icon>settings_applications</mat-icon>
          <span>App</span>
        </div>
        <app-app-configuration *matTabContent [dialogSettings]="vm.dialogSettings">
        </app-app-configuration>
      </mat-tab>

      <mat-tab>
        <div *matTabLabel class="mat-mdc-tab-label-box" tippy="App Export / Import">
          <mat-icon>sync</mat-icon>
          <span>Sync</span>
        </div>
        <app-sync-configuration *matTabContent [dialogSettings]="vm.dialogSettings">
        </app-sync-configuration>
      </mat-tab>
    </mat-tab-group>
  </div>
</div> -->
