@if (viewModel$ | async; as vm) {
<mat-toolbar>
  <div class="toolbar-container">
    <!-- App Logo -->
    @if (vm.dialogSettings?.Context.App.Icon) {
    <img (click)="sidenav.opened = !sidenav.opened"
      [src]="vm.dialogSettings?.Context.App.Icon + '?w=40&h=40&mode=crop'" />
    }
    <!-- App Name -->
    <div>
      @if (vm.dialogSettings?.Context.App.SettingsScope === AppScopes.Global) {
      Global
      }
      @if (vm.dialogSettings?.Context.App.SettingsScope !== AppScopes.Global) {
      {{ vm.dialogSettings?.Context.App.Name }}
      }
      <span class="toolbar-admin">
        Admin
      </span>
    </div>
    <!-- Breadcrum in the Toolbar after show Img and Aoo Name -->
    <xng-breadcrumb [separator]="emptyTemplate">
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let last = last">
        @if (last) {
        {{ breadcrumb }}
        }
      </ng-container>
    </xng-breadcrumb>
    <ng-template #emptyTemplate></ng-template>
  </div>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="smallScreen.matches ? 'over' : 'side'" [opened]="sideNavOpened">
    <!-- Sho Sidenav for each Item form navItems (filterd by dialogSettings in Ts) -->
    @for (item of navItems; track item.path) {
    <a (click)="changeUrl(item.path)" [routerLink]="item.path" routerLinkActive="active" matRipple
      class="app-menu-container" [tippy]="item.tippy">
      <mat-icon>{{ item.icon }}</mat-icon>
      <div class="link-text">{{ item.name }}</div>
    </a>
    }
    <div class="sideNav-bottom-info">
      <p>use App logo to show/hide menu</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- Show each Componenten by Path name -->
    <div class="container-content">

      @if (vm.currentPath === 'home') {
      <app-getting-started [gettingStartedUrl]="vm.dialogSettings.Context.App.GettingStartedUrl">
      </app-getting-started>
      }

      @if (vm.currentPath === 'data') {
      <app-data [enablePermissions]="vm.dialogSettings.Context.Enable.AppPermissions">
      </app-data>
      }

      @if (vm.currentPath === 'queries') {
      <app-queries [enablePermissions]="vm.dialogSettings.Context.Enable.AppPermissions">
      </app-queries>
      }

      @if (vm.currentPath === 'views') {
      <app-views [enableCode]="vm.dialogSettings.Context.Enable.CodeEditor"
        [enablePermissions]="vm.dialogSettings.Context.Enable.AppPermissions"
        [appIsGlobal]="vm.dialogSettings.Context.App.IsShared"
        [appIsInherited]="vm.dialogSettings.Context.App.IsInherited">
      </app-views>
      }

      @if (vm.currentPath === 'web-api') {
      <app-web-api [enableCode]="vm.dialogSettings.Context.Enable.CodeEditor">
      </app-web-api>
      }

      @if (vm.currentPath === 'app') {
      <app-app-configuration [dialogSettings]="vm.dialogSettings">
      </app-app-configuration>
      }

      @if (vm.currentPath === 'sync') {
      <app-sync-configuration [dialogSettings]="vm.dialogSettings">
      </app-sync-configuration>
      }

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
}
