@if (viewModel$ | async; as vm) {

  <!-- TODO @2dg fix smallscreen (LAFV Works perfect) -->
  {{smallScreen.matches}}

<mat-toolbar>
  <div class="toolbar-container">
    <!-- App Logo -->
    @if (vm.dialogSettings?.Context.App.Icon) {
    <img (click)="sidenav.opened = !sidenav.opened"
      [src]="vm.dialogSettings?.Context.App.Icon + '?w=40&h=40&mode=crop'" />
    } @else {
    <mat-icon class="menu-container" (click)="sidenav.opened = !sidenav.opened">menu</mat-icon>
    }
    <!-- App Name -->
    <div>
      @if (vm.dialogSettings?.Context.App.SettingsScope === AppScopes.Global) {
      Global
      }
      @if (vm.dialogSettings?.Context.App.SettingsScope !== AppScopes.Global) {
      {{ vm.dialogSettings?.Context.App.Name }}
      }
      <span>
        Admin
      </span>
    </div>
    <!-- Breadcrum in the Toolbar after show Img and Aoo Name -->
    <xng-breadcrumb [separator]="emptyTemplate">
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let last = last">
        @if (last) {
        <mat-icon class="breadcrumb-icon">chevron_right</mat-icon>
        {{ breadcrumb }}
        }
      </ng-container>
    </xng-breadcrumb>
    <ng-template #emptyTemplate></ng-template>
  </div>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="smallScreen.matches ? 'over' : 'side'" [opened]="sideNavOpened">
    @for (navItem of navItems; track navItem.path) {
    <app-nav-item-list [navItem]="navItem"></app-nav-item-list>
    }
    <div class="sideNav-bottom-info">
      <p>use App logo to show/hide menu</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
}
