<ng-container *ngIf="templateVars$ | async as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">Create Metadata Info</div>
  </div>

  <p class="dialog-description">
    This is a special operation to add an item which is metadata for another item,
    see <a href="https://r.2sxc.org/metadata" target="_blank">docs</a>.
  </p>

  <form [formGroup]="form" class="dialog-form">
    <div class="dialog-form-content fancy-scrollbar-light">

      <!-- Target Type -->
      <mat-form-field appearance="standard" color="accent">
        <mat-label>Target</mat-label>
        <mat-select *ngIf="!data.advancedMode" formControlName="targetType">
          <mat-option *ngFor="let option of data.targetTypeOptions" [value]="option.type">
            {{ option.label }}
          </mat-option>
        </mat-select>

        <input matInput type="number" min="0" *ngIf="data.advancedMode" formControlName="targetType">
      </mat-form-field>

      <app-field-hint *ngIf="form.controls['targetType'].touched && form.controls['targetType'].errors?.required"
        [isError]="true">
        This field is required
      </app-field-hint>
      <app-field-hint *ngIf="form.controls['targetType'].touched && form.controls['targetType'].errors?.pattern"
        [isError]="true">
        Must be a whole number
      </app-field-hint>
      <app-field-hint
        *ngIf="form.controls['targetType'].touched && !form.controls['targetType'].invalid && data.unknownTargetType"
        [isError]="false">
        Warning: you entered an unknown target type. This may work or may not. Please be sure you know what you're doing
      </app-field-hint>
      <app-field-hint *ngIf="data.targetTypeHint" [isError]="false">{{ data.targetTypeHint }}</app-field-hint>

      <!-- Key Type -->
      <mat-form-field appearance="standard" color="accent">
        <mat-label>Key type</mat-label>
        <mat-select formControlName="keyType">
          <mat-option *ngFor="let option of data.keyTypeOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-field-hint *ngIf="form.controls['keyType'].touched && form.controls['keyType'].errors?.required"
        [isError]="true">
        This field is required
      </app-field-hint>

      <!-- Key -->
      <mat-form-field appearance="standard" color="accent">
        <mat-label>Key</mat-label>
        <input matInput type="text" *ngIf="data.formValues.keyType !== 'number'" formControlName="key">
        <input matInput type="number" *ngIf="data.formValues.keyType === 'number'" formControlName="key">
      </mat-form-field>

      <app-field-hint *ngIf="form.controls['key'].touched && form.controls['key'].errors?.required" [isError]="true">
        This field is required
      </app-field-hint>
      <app-field-hint *ngIf="form.controls['key'].touched && form.controls['key'].errors?.patternWholeNumber"
        [isError]="true">
        Must be a whole number
      </app-field-hint>
      <app-field-hint *ngIf="form.controls['key'].touched && form.controls['key'].errors?.patternGuid" [isError]="true">
        Must be a valid GUID
      </app-field-hint>
    </div>

    <div class="dialog-form-actions">
      <mat-slide-toggle labelPosition="before" color="accent" [checked]="data.advancedMode"
        (change)="toggleAdvanced($event)">
        {{ data.advancedMode ? 'Manual' : 'Guided' }}
      </mat-slide-toggle>
      <div class="spacer"></div>
      <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button type="button" color="accent" [disabled]="!form.valid" (click)="confirm()">
        Confirm
      </button>
    </div>
  </form>
</ng-container>
