<div class="editor-active-explorer fancy-scrollbar-dark" *ngIf="(sorted$ | async) as sorted">

  <mat-slide-toggle labelPosition="before" (change)="toggleDifficulty($event)">
    Show Advanced
  </mat-slide-toggle>

  <ng-container *ngFor="let item of sorted | keyvalue">
    <div class="collapsible" [matTooltip]="item.key" matTooltipShowDelay="750" (click)="toggleItem(item.key)">
      <mat-icon>{{ toggledItems.includes(item.key) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
      <span>{{ item.key }}</span>
    </div>

    <div class="list" *ngIf="toggledItems.includes(item.key)">
      <div class="list-item" *ngFor="let value of item.value" [matTooltip]="value.Name" matTooltipShowDelay="750"
        (click)="addDataSource(value)">
        {{ value.Name }}
      </div>
    </div>
  </ng-container>
</div>
