<span *ngIf="allowText" matSuffix class="selection-suffix-inline">
  <button mat-icon-button class="active" [tippy]="'Fields.String.Dropdown' | translate"
    [disabled]="controlStatusDisabled" appClickStopPropagation>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button [tippy]="'Fields.String.Freetext' | translate" [disabled]="controlStatusDisabled"
    appClickStopPropagation (click)="toggleFreeText(controlStatusDisabled)">
    <mat-icon>text_fields</mat-icon>
  </button>
</span>