<p>These are the system features - they apply to all zones / apps.</p>

<button mat-button matTooltip="Manage features" (click)="toggleManagement()">
  <mat-icon>tune</mat-icon>
  <span>manage features</span>
</button>
<button mat-button matTooltip="Reload" (click)="reloadFeatures()">
  <mat-icon>refresh</mat-icon>
  <span>reload</span>
</button>

<ag-grid-angular class="ag-theme-material" *ngIf="!showManagement" [rowData]="features" [columnDefs]="columnDefs"
  [modules]="modules" [frameworkComponents]="frameworkComponents" [enableCellTextSelection]="true"
  [suppressScrollOnNewData]="true" (gridSizeChanged)="onGridSizeChanged($event)" (gridReady)="onGridReady($event)">
</ag-grid-angular>

<mat-spinner *ngIf="showSpinner" mode="indeterminate" diameter="20" color="accent"></mat-spinner>

<iframe style="border: none; width: 100%; height: 500px" *ngIf="showManagement" [src]="managementUrl"></iframe>
