<p>These are the system features - they apply to all zones / apps.</p>

<button mat-button [matTooltip]="'Manage features'" class="not-implemented">
  <mat-icon>tune</mat-icon>
  <span>manage features</span>
</button>
<button mat-button [matTooltip]="'Reload'" (click)="reloadFeatures()">
  <mat-icon>refresh</mat-icon>
  <span>reload</span>
</button>

<ag-grid-angular class="ag-theme-material features-grid" [rowData]="features" [columnDefs]="columnDefs"
  [modules]="modules" [frameworkComponents]="frameworkComponents" (gridSizeChanged)="onGridSizeChanged($event)"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
