@import "../../../../styles/variables.scss";
@import "../../../../styles/theme/material-colors.scss";

%field-border {
    padding: 1px 12px;
    border-radius: 5px;
    border: 1px solid $field-border-color--initial;
}
%field-border--hover {
    padding: 0 11px;
    border: 2px solid $field-border-color--hover;
    transition: border-color .3s cubic-bezier(.25,.8,.25,1);
}
%field-border--invalid {
    padding: 0 11px;
    border: 2px solid $field-border-color--invalid;
    transition: border-color .3s cubic-bezier(.25,.8,.25,1);
}

.c-ew {
    &__preview {
        position:relative;
        min-height: 36px;
        cursor: pointer;

        @extend %field-border;
        &:hover:not(.c-ew__preview--disabled):not(.c-ew__preview--invalid) {
            @extend %field-border--hover;
        }

        &-holder {
            position: relative;
        }

        &-label {
            background-color: white;
            top: -5px;
            position: absolute;
            z-index: 1;
            left: 8px;
            padding: 0 6px 0 4px;
            pointer-events: none;
            font-size: 11px;
            line-height: 14px;
        }
        &-label:not(.mat-error) {
            color: rgba($editUI-foreground-color, 0.44);
        }

        &-container {
            overflow: hidden;
            height: 100%;
            // max-height: 95px;// 119px minus paddings
            -webkit-align-content: center;
            align-content: center;
            
            &--empty {
                padding: 6px 0 0 0;
            }
        }
        &--invalid {
            @extend %field-border--invalid;
        }

        &--disabled {
            border-color: $editUI-disabled-background;
            cursor: default;
        }

        .color__accent{
            color: map_get($mat-eav-item-dialog-secondary, 500);
        }

        .color__primary {
            color: rgba($editUI-foreground-color, 0.44);
        }

        .color__label-disabled {
            color: $editUI-label-disabled-color;
        }

        mat-empty {
            height: 48px;
            padding: 24px 0 0 0;
        }
    }
}

.more-entities {
    padding: 0px 12px;
    margin-left: 10px;
    background: transparent;
    color:$editUI-foreground-color;
    border-radius: 10px;
    border: 1px solid rgba($editUI-foreground-color, 0.44);
    height: 18px;
    font-size: 12px;
    line-height: 16px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.mat-list {
    overflow: hidden;
    padding: 0;
    margin-top: 9px;
    flex: 1 1 auto;
}

.mat-list-item {
    width: auto !important;
    max-width: 200px;
    flex: 0 1 auto;
    height: 20px !important;
    background: rgba($editUI-foreground-color, 0.08);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
