@import "./theme.scss";
@import "../../../../assets/style/variables.scss";

.c-ew {
    &__preview {
        position:relative;
        padding: 6px 12px 8px 12px;
        min-height: 38px; // 56px minus paddings
        cursor: pointer;

        border-radius: $edit-ui-input-border-radius $edit-ui-input-border-radius 0 0;
        border: 1px rgba($editUI-foreground-color, 0.44);
        border-bottom-style: solid;
        background: rgba($editUI-foreground-color, 0.08);

        &-container {
            overflow: hidden;
            height: 100%;
            // max-height: 95px;// 119px minus paddings
            -webkit-align-content: center;
            align-content: center;
            
            &--empty {
                padding: 6px 0 0 0;
            }
        }
        &--invalid {
            padding: 6px 12px 7px 12px;
            border: 2px;
            border-bottom-style: solid;
            border-color: map_get($mat-eav-item-dialog-error, 500);
        }

        &--disabled {
            border-color: $editUI-disabled-background;
            background-color: $editUI-disabled-background;
            cursor: default;
            // $editUI-label-disabled-color
        }

        .color__accent{
            color: map_get($mat-eav-item-dialog-secondary, 500);
        }

        .color__primary {
            color: rgba($editUI-foreground-color, 0.44);
        }

        .color__label-disabled {
            color: $editUI-label-disabled-color;
        }

        &:hover {
            padding: 6px 12px 7px 12px;
            // border: 2px map_get($mat-eav-item-dialog-secondary, 500);
            border: 2px rgba($editUI-foreground-color, 0.44);
            border-bottom-style: solid;
        }

        mat-empty {
            height: 48px;
            padding: 24px 0 0 0;
        }
    }
}

.more-entities {
    padding: 0px 12px 0 12px;
    margin: 0 0 0 12px;
    background: transparent;
    color:$editUI-foreground-color;
    border-radius: 32px;
    border: 1px solid rgba($editUI-foreground-color, 0.44);
    max-height: 20px;
    min-height: 20px;
    font-size: 12px;
    line-height: 16px;

}

.mat-list {
   //  max-width: calc(100%-20px);
    width:calc(100%-16px);
    overflow: hidden;
}

.mat-list-item {
    // background: mat-color($editUI-theme-foreground, base,  0.08);
    background: white;
    border-radius: 32px;
    border: 1px solid rgba($editUI-foreground-color, 0.44);
    max-height: 24px;
    margin: 2px 0 2px 0;
    min-width: 152px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}



