@if (viewModel$ | async; as vm) {
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="eav-mat-form-field">
      @if (vm.selectedItems.length > 1 && !vm.freeTextMode) {
        <app-picker-pills
          [pickerData]="pickerData"
          [config]="config"
          [group]="group">
          <app-picker-toggle-text freeTextButtons
            [pickerData]="pickerData"
            [csDisabled]="vm.csDisabled"
            [allowText]="vm.enableTextEntry"
            [freeTextMode]="vm.freeTextMode">
          </app-picker-toggle-text>
        </app-picker-pills>
      }
      @if (vm.selectedItems.length <= 1 && !vm.freeTextMode) {
        <app-picker-search
          [pickerData]="pickerData"
          [config]="config"
          [group]="group"
          [controlConfig]="controlConfig"
          [showSelectedItem]="true"
          [showItemEditButtons]="true">
          <app-picker-toggle-text freeTextButtons
            [pickerData]="pickerData"
            [csDisabled]="vm.csDisabled"
            [allowText]="vm.enableTextEntry"
            [freeTextMode]="vm.freeTextMode">
          </app-picker-toggle-text>
        </app-picker-search>
      }
      @if (vm.freeTextMode) {
        <app-picker-text
          [pickerData]="pickerData"
          [config]="config"
          [group]="group">
          <app-picker-toggle-text freeTextButtons
            [pickerData]="pickerData"
            [csDisabled]="vm.csDisabled"
            [allowText]="vm.enableTextEntry"
            [freeTextMode]="vm.freeTextMode">
          </app-picker-toggle-text>
        </app-picker-text>
      }
    </div>
    <div fxLayoutAlign="end end">
      <!-- create new entity to add to this list -->
      @if (vm.showAddNewEntityButton) {
        @if (pickerData.state.createEntityTypes.length > 1) {
          <button mat-icon-button class="eav-suffix-button" [tippy]="'Fields.Picker.New' | translate"
            [disabled]="vm.csDisabled || vm.disableAddNew" [matMenuTriggerFor]="entityTypesMenu"
            (click)="getEntityTypesData()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
          <mat-menu #entityTypesMenu="matMenu">
            @for (entityType of pickerData.state.createEntityTypes; track entityType) {
              <button mat-menu-item (click)="openNewEntityDialog(entityType.guid)">
                <span>{{ entityType.label }}</span>
              </button>
            }
          </mat-menu>
        } @else {
          <button mat-icon-button class="eav-suffix-button" [tippy]="'Fields.Picker.New' | translate"
            [disabled]="vm.csDisabled || vm.disableAddNew" (click)="openNewEntityDialog(null)">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        }
      }
      @if (vm.showGoToListDialogButton) {
        <button mat-icon-button class="eav-suffix-button"
          [disabled]="vm.csDisabled"
          [tippy]="'Fields.Picker.OpenMultiselect' | translate"
          (click)="expandDialog()">
          <mat-icon>post_add</mat-icon>
        </button>
      }
    </div>
  </div>
  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
}
