<div class="actions-component">
  <a class="eav-grid-action-button default-link highlight" matRipple tippy="{{ value }} items" [href]="params.itemsUrl(contentType)">
    <div class="text-icon">{{ value }}</div>
  </a>

  <!-- TODO: fix color again -->
  <a class="eav-grid-action-button default-link highlight" matRipple tippy="Add item" [href]="params.addItemUrl(contentType)">
    <mat-icon>add</mat-icon>
  </a>

  <a class="eav-grid-action-button default-link highlight" matRipple tippy="Add Obj Item 2dg" (click)="navigateToItemWithState()">
    <mat-icon>add</mat-icon>
  </a>
</div>
