.id-box {
  padding: 0 8px;
  height: 100%;
  display: flex;
  align-items: center;

  &.align-start {
    justify-content: flex-start;
  }

  &.align-end {
    justify-content: flex-end;
  }

  .id {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    text-decoration: none;

    .id {
      display: none;
    }
  }

  &:not(:hover) {
    .icon {
      display: none;
    }
  }
}
