<div class="nav-component-wrapper">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>{{ settingsItemKey }}</div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <p class="dialog-description">
    Here you can see where <code>{{ settingsItemKey }}</code> is configured.
  </p>

  <div class="grid-wrapper">
    <ag-grid-angular class="ag-theme-material" [rowData]="stack$ | async" [modules]="modules"
      [gridOptions]="gridOptions">
    </ag-grid-angular>

    <div class="grid-more-actions-box"></div>
  </div>
</div>
