<div *ngIf="to.freeTextMode; then inputField else selectField"></div>

<ng-template #selectField>
  <mat-select *ngIf="!to.freeTextMode" [id]="id" class="form-control input-material material" [formControl]="formControl" [formlyAttributes]="field"
    [multiple]="to.multiple" (selectionChange)="to.change && to.change(field, formControl)" [errorStateMatcher]="errorStateMatcher">
    <ng-container *ngFor="let item of selectOptions">
      <mat-optgroup *ngIf="item.group" label="{{item.label}}">
        <mat-option *ngFor="let child of item.group" [value]="child[valueProp]" [disabled]="child.disabled">
          {{ child[labelProp] }}
        </mat-option>
      </mat-optgroup>
      <mat-option *ngIf="!item.group" [value]="item[valueProp]" [disabled]="item.disabled">{{ item[labelProp] }}</mat-option>
    </ng-container>
  </mat-select>
</ng-template>

<ng-template #inputField>
  <!-- TODO: formly-skip-ng-model-attrs-manipulator - i think we don't need this any more??? was angular issue for ngModel
EXAMPLE : https://github.com/formly-js/angular-formly/issues/499 -->
  <input matInput *ngIf="to.freeTextMode" [type]="type" [id]="id" class="form-control input-material material" [errorStateMatcher]="errorStateMatcher"
    [formControl]="formControl" [formlyAttributes]="field">
</ng-template>