<div mat-dialog-title>
  <div class="dialog-title-box">New file location</div>
</div>

<form [formGroup]="form" class="dialog-form">
  <div class="dialog-form-content fancy-scrollbar-light">

    <!-- Shared -->
    <mat-form-field appearance="standard" color="accent">
      <mat-label>Location</mat-label>
      <mat-select formControlName="isShared">
        <mat-option [value]="false">App</mat-option>
        <mat-option [value]="true">Shared (global)</mat-option>
      </mat-select>
    </mat-form-field>
    <app-field-hint *ngIf="form.controls.isShared.touched && form.controls.isShared.errors?.required" [isError]="true">
      This field is required
    </app-field-hint>

    <div class="dialog-form-actions">
      <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button type="button" color="accent" [disabled]="!form.valid" (click)="confirm()">
        Confirm
      </button>
    </div>
  </div>
</form>
