<mat-card>
  <mat-card-header>
    <mat-card-title>New file location</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <!-- Shared -->
      <mat-form-field color="accent" class="eav-mat-form-field">
        <mat-label>Location</mat-label>
        <mat-select formControlName="isShared">
          <mat-option [value]="false">App</mat-option>
          <mat-option [value]="true">Shared (global)</mat-option>
        </mat-select>
      </mat-form-field>
      @if (form.controls.isShared.touched && form.controls.isShared.errors?.required) {
        <app-field-hint [isError]="true">
          This field is required
        </app-field-hint>
      }
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button class="eav-card-action-button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="accent" class="eav-card-action-button" [disabled]="!form.valid" (click)="confirm()">
      Confirm
    </button>
  </mat-card-actions>
</mat-card>
