<div *ngIf="to.settings.RowCount && to.settings.RowCount.values[0].value > 1; then textareaField else inputField"></div>

<ng-template #inputField>
    <input matInput [type]="type" [id]="id" class="form-control material" [errorStateMatcher]="errorStateMatcher" [formControl]="formControl"
        [formlyAttributes]="field">
</ng-template>

<ng-template #textareaField>
    <textarea matInput [rows]="to.settings.RowCount.values[0].value" [type]="type" [id]="id" class="form-control material" [errorStateMatcher]="errorStateMatcher"
        [formControl]="formControl" [formlyAttributes]="field"></textarea>
</ng-template>