<div id="pipelineContainer" *ngIf="queryDef.data.DataSources">
  <div #dataSourceElement *ngFor="let dataSource of queryDef.data.DataSources; index as index" datasource
    [attr.guid]="dataSource.EntityGuid" id="dataSource_{{ dataSource.EntityGuid }}" class="dataSource" [ngStyle]="{
      'top': dataSource.VisualDesignerData.Top + 'px',
      'left': dataSource.VisualDesignerData.Left + 'px',
      'min-width': dataSource.VisualDesignerData.Width ? dataSource.VisualDesignerData.Width + 'px' : null
    }">

    <div class="configure" (click)="configureDataSource(dataSource)" title="configure this DataSource"
      *ngIf="!dataSource.ReadOnly && typeInfo(dataSource).config">
      <mat-icon class="eav-icon-settings">settings</mat-icon>
    </div>

    <mat-icon class="type-info" [title]="typeInfo(dataSource).notes">
      {{ typeInfo(dataSource).icon }}
    </mat-icon>

    <div class="name noselect" title="click to edit name" (click)="editName(dataSource)">
      <span>{{ dataSource.Name || '(no name)' }}</span>
      <mat-icon class="show-hover-inline eav-icon-pencil">edit</mat-icon>
    </div>
    <br />

    <div class="description noselect" title="click to edit description" (click)="editDescription(dataSource)">
      <span>{{ dataSource.Description }}</span>
      <mat-icon class="show-hover-inline eav-icon-pencil">edit</mat-icon>
    </div>
    <br />

    <div class="typename" [title]="dataSource.PartAssemblyAndType">
      Type: {{ typeNameFilter(dataSource.PartAssemblyAndType, 'className') }}
    </div>

    <div class="add-endpoint" title="drag a new Out-Connection from here"
      *ngIf="!dataSource.ReadOnly && typeInfo(dataSource).dynamicOut">
      <mat-icon class="new-connection eav-icon-up-dir">arrow_drop_up</mat-icon>
    </div>

    <mat-icon class="delete eav-icon-cancel" title="delete this" (click)="remove(index)" *ngIf="!dataSource.ReadOnly">
      delete
    </mat-icon>

    <a class="help eav-icon-help-circled" title="help for this data source" href="{{ typeInfo(dataSource).helpLink }}"
      target="_blank" *ngIf="typeInfo(dataSource).helpLink">
      <mat-icon>help_outline</mat-icon>
    </a>
  </div>
</div>
