<div #domRoot id="pipeline-root" *ngIf="(templateModel$ | async) as templateModel">
  <!-- do not use trackBy, jsPlumb drag stops working properly after delete -->
  <ng-container *ngIf="!hardReset">
    <div #domDataSource *ngFor="let dataSource of templateModel.pipelineDataSources"
      [id]="dataSrcIdPrefix + dataSource.EntityGuid" class="dataSource" [ngStyle]="{
        'top': dataSource.VisualDesignerData.Top + 'px',
        'left': dataSource.VisualDesignerData.Left + 'px',
        'min-width': dataSource.VisualDesignerData.Width ? dataSource.VisualDesignerData.Width + 'px' : null
      }">

      <div class="configure" title="Configure data source" appMousedownStopPropagation
        *ngIf="templateModel.allowEdit && templateModel.typeInfos[dataSource.EntityGuid].config"
        (click)="configureDataSource(dataSource)">
        <mat-icon class="eav-icon-settings">settings</mat-icon>
      </div>

      <mat-icon class="type-info" [title]="templateModel.typeInfos[dataSource.EntityGuid].notes">
        {{ templateModel.typeInfos[dataSource.EntityGuid].icon }}
      </mat-icon>

      <div class="name noselect" title="Click to edit name" appMousedownStopPropagation
        (click)="templateModel.allowEdit && editName(dataSource)">
        <span>{{ dataSource.Name || '(no name)' }}</span>
        <mat-icon class="show-hover-inline eav-icon-pencil">edit</mat-icon>
      </div>
      <br />

      <div class="description noselect" title="Click to edit description" appMousedownStopPropagation
        (click)="templateModel.allowEdit && editDescription(dataSource)">
        <span>{{ dataSource.Description }}</span>
        <mat-icon class="show-hover-inline eav-icon-pencil">edit</mat-icon>
      </div>
      <br />

      <div class="typename" [title]="dataSource.PartAssemblyAndType">
        Type: {{ getTypeName(dataSource.PartAssemblyAndType) }}
      </div>

      <div class="add-endpoint" title="Drag a new Out-Connection"
        *ngIf="templateModel.allowEdit && templateModel.typeInfos[dataSource.EntityGuid].dynamicOut">
        <mat-icon class="new-connection eav-icon-up-dir">arrow_drop_up</mat-icon>
      </div>

      <mat-icon class="delete eav-icon-cancel" title="Delete" appMousedownStopPropagation
        *ngIf="templateModel.allowEdit" (click)="remove(dataSource)">
        delete
      </mat-icon>

      <a class="help eav-icon-help-circled" title="Help for this data source"
        [href]="templateModel.typeInfos[dataSource.EntityGuid].helpLink" target="_blank" appMousedownStopPropagation
        *ngIf="templateModel.typeInfos[dataSource.EntityGuid].helpLink">
        <mat-icon>help_outline</mat-icon>
      </a>
    </div>
  </ng-container>
</div>
