<mat-form-field [formGroup]="group" [style.width]="'100%'">
  <input matInput type="number" class="form-control material" [formControlName]="config.name" [placeholder]="config.label"
    [required]='config.required' [min]="min" [max]="max">
  <mat-hint align="start" *ngIf="config.settings.Notes && config.settings.Notes">
    {{config.settings.Notes}}
  </mat-hint>
  <mat-error *ngIf="inputInvalid">{{ getErrorMessage() | translate:{ param: config.settings } }}</mat-error>
</mat-form-field>
<!-- close-->