<!-- header -->
<div [ngClass]="(open$ | async) ? 'c-ew__container' : 'u-display-none'">
  <div #backdrop class="c-ew__backdrop" (click)="closeDialog()"></div>
  <div #dialog fxLayout="column" class="c-ew__dialog mat-elevation-z24 u-border-radius">
    <div [ngClass]="{ 'c-ew__dialog-header mat-elevation-z2': (open$ | async) }">
      <mat-card appearance="outlined" class="mat-elevation-z0" fxLayout="row">
        <button mat-icon-button class="back-arrow" fxLayoutAlign="center center"
          [tippy]="'Form.Buttons.Return.Tip' | translate" (click)="closeDialog()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxLayoutAlign="center center" class="title mat-headline-4">{{ label$ | async }}</span>
      </mat-card>
    </div>
    <div>
      <div [@itemShrinkAnimation]="(open$ | async) ? 'closed' : 'open'">
      </div>
      <div class="c-ew__dialog-content u-border-radius-bottom u-add-scrollbar u-hide-scrollbar"
        [@contentExpandAnimation]="{
          value: (open$ | async) ? 'expanded' : 'closed',
          params: { bottomPixels: calculateBottomPixels() }
        }">
        <ng-container #fieldComponent></ng-container>
        <extended-fab-speed-dial class="adam">
          <ng-template extendedFabSpeedDialTriggerContent>
            <button extended-fab-speed-dial-trigger matRipple (click)="closeDialog()">
              <mat-icon>done</mat-icon>
              <span>{{ 'Form.Buttons.Return.Tip' | translate }}</span>
            </button>
          </ng-template>
          <ng-template extendedFabSpeedDialActionsContent>
            <button extended-fab-speed-dial-action matRipple [disabled]="saveButtonDisabled$ | async"
              (click)="saveAll(false)">
              <span>{{ 'Form.Buttons.Save' | translate }}</span>
              <mat-icon>save</mat-icon>
            </button>
            <button extended-fab-speed-dial-action matRipple [disabled]="saveButtonDisabled$ | async"
              (click)="saveAll(true)">
              <span>{{ 'Form.Buttons.SaveAndClose' | translate }}</span>
              <mat-icon>done_all</mat-icon>
            </button>
          </ng-template>
        </extended-fab-speed-dial>
      </div>
    </div>
  </div>
</div>

<!-- preview -->
<div class="c-hyperlink-default-field-preview" *ngIf="viewModel$ | async as vm">
  <div class="c-ew__preview" fxLayout="row" fxLayoutAlign="start start" [ngClass]="{
    'c-ew__preview--disabled': vm.controlStatus.disabled,
    'c-ew__preview--last-in-group': config.isLastInGroup
  }">
    <!-- image / icon -->
    <div class="thumbnail-before-input" [tippy]="'Fields.Hyperlink.Default.Fullscreen' | translate"
      [tippyDisabled]="vm.controlStatus.disabled" [ngClass]="{
      'icon-before-input': vm.controlStatus.value && !vm.preview.isImage,
      'thumbnail-before-input--disabled': vm.controlStatus.disabled
    }" [ngStyle]="{ 'background-image': vm.controlStatus.value && vm.preview.isImage ? vm.preview.thumbnailUrl : '' }"
      (click)="expandDialog()">
      <mat-icon *ngIf="vm.controlStatus.value && !vm.preview.isImage && vm.preview.isKnownType" [tippy]="vm.preview.url"
        tippyPlacement="right" [svgIcon]="vm.preview.icon">
      </mat-icon>
      <mat-icon *ngIf="vm.controlStatus.value && !vm.preview.isImage && !vm.preview.isKnownType"
        [tippy]="vm.preview.url" tippyPlacement="right" [svgIcon]="vm.preview.icon">
      </mat-icon>
    </div>
    <!-- field -->
    <div class="c-ew__preview-field--short" fxFlex="auto">
      <!-- input -->
      <div class="hyperlink-input-link-wrapper">
        <mat-form-field color="accent" [ngClass]="{
          'mat-form-field-invalid': vm.controlStatus.invalid && vm.controlStatus.touched
        }">
          <input matInput [tippy]="'Fields.Hyperlink.Default.Tooltip' | translate" tippyPlacement="top"
            [placeholder]="vm.placeholder" (change)="setValue($event)" [disabled]="vm.controlStatus.disabled"
            (blur)="markAsTouched()" [value]="vm.controlStatus.value" (keyup)="setValue($event)" appPasteClipboardImage
            [config]="config" [elementType]="'input'">
          <div matSuffix fxLayoutAlign="center center" *ngIf="vm.buttonAdam || vm.buttonPage">
            <div class="c-ew__preview-suffix-text" fxHide fxShow.gt-xs [ngClass]="{
              'c-ew__preview-suffix-text--disabled': vm.controlStatus.disabled
            }">
              {{ vm.buttonAdam ? ('Fields.Hyperlink.AdamFileManager.Hint' | translate) : '' }}
            </div>
            <button mat-icon-button class="c-ew__preview-suffix-icon"
              [tippy]="'Fields.Hyperlink.Default.Fullscreen' | translate" appClickStopPropagation *ngIf="vm.buttonAdam"
              [disabled]="vm.controlStatus.disabled" (click)="expandDialog()">
              <mat-icon svgIcon="apple-outlined"></mat-icon>
            </button>
            <button mat-icon-button class="c-ew__preview-suffix-icon" appClickStopPropagation
              [disabled]="!vm.adamItem?._imageConfigurationContentType"
              [ngClass]="{ 'metadata-exists': vm.adamItem?._imageConfigurationId > 0 }"
              [tippy]="'Fields.Hyperlink.AdamFileManager.ImageSettings' | translate"
              (click)="openImageConfiguration(vm.adamItem)">
              <mat-icon
                [tippy]="(vm.enableImageConfiguration ? 'Fields.Hyperlink.AdamFileManager.ImageSettingsUnavailable' : 'Fields.Hyperlink.AdamFileManager.ImageSettingsDisabled') | translate"
                [tippyDisabled]="vm.adamItem?._imageConfigurationContentType">filter_center_focus</mat-icon>
            </button>
            <button mat-icon-button class="c-ew__preview-suffix-icon"
              [tippy]="'Fields.Hyperlink.Default.PageTip' | translate" appClickStopPropagation *ngIf="vm.buttonPage"
              [disabled]="vm.controlStatus.disabled" (click)="openPagePicker()">
              <mat-icon svgIcon="sitemap"></mat-icon>
            </button>
          </div>
          <mat-label [ngClass]="{ 'mat-error' : vm.controlStatus.invalid && vm.controlStatus.touched }">
            {{ vm.label }}
            {{ vm.required ? '*': '' }}
          </mat-label>
        </mat-form-field>
        <!-- link absolutely positioned above input -->
        <div *ngIf="vm.preview.floatingText" class="hyperlink-floating" fxHide fxShow.gt-xs>
          <div class="hyperlink-floating__value">{{ vm.controlStatus.value }}</div>
          <div class="hyperlink-floating__url-box">
            <a [href]="vm.preview.url" target="_blank" tabindex="-1" class="hyperlink-floating__url"
              [tippy]="vm.preview.url">
              <span>{{ vm.preview.floatingText }}</span>
            </a>
          </div>
        </div>
      </div>
      <!-- helper text and adam text -->
      <div class="c__helper-wrapper">
        <app-field-helper-text class="c__helper-wrapper--left" [config]="config" [group]="group"
          [hyperlinkDefaultWrapperFix]="true">
        </app-field-helper-text>
        <div *ngIf="vm.buttonAdam" align="end" class="c-ew__preview-field-hint c__helper-wrapper--right" fxHide
          fxShow.gt-xs>
          <span>{{
            vm.showAdamSponsor
            ? ('Fields.Hyperlink.Default.Sponsor' | translate)
            : ('Fields.Hyperlink.AdamFileManager.Name' | translate)
            }} </span>
          <app-feature-icon-text [featureNameId]="'NoSponsoredByToSic'"></app-feature-icon-text>
        </div>
      </div>
    </div>
  </div>
</div>