@import "../../../../assets/styles/variables.scss";

.metadata-exists {
  color: $blue-accent-color;
}

.fabs-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  z-index: 11;
  position: fixed;
  width: $edit-ui-dialog-max-width;
  pointer-events: none;

  button {
    margin-right: 16px;
    pointer-events: auto;

    &:last-of-type {
      margin-right: 32px !important;
    }
  }
}

.menu-box button {
  display: flex;
  align-items: center;
}

.hyperlink-card {
  border-radius: $edit-ui-dialog-border-radius;
}

.preview-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 8px;

  a {
    text-decoration: none;
  }
}

.preview-image-box {
  z-index: 100;
  width: 100%;
  height: auto;
}

.preview-image {
  width: 100%;
  max-height: calc(100vh - 219px - #{$edit-ui-dialog-header-max-height} - #{$edit-ui-dialog-top-padding});
  height: auto;
}

.preview-icon-box {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: rgba($editUI-foreground-color, 0.08);

  .mat-icon {
    font-size: 56px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: rgba($editUI-foreground-color, 0.44);
  }
}
