// TODO: @2pp - shouldn't be gloabal

/* don't know the purpose */
.c-ew__dialog-content {
  /* important for tinyMCE */
  .mce-tinymce {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    border-width: 0px !important;
  }
}
