// EditUI dialog
.c-multi-item-dialog .mat-mdc-dialog-container {
  padding: 0;
  background-color: $edit-ui-dialog-background-color;
  border-radius: $edit-ui-dialog-border-radius;

  @media (max-width: 600px) {
    border-radius: 0;
  }

  bottom: 10px;
}

.c-multi-item-dialog {
  width: 100vw;
  max-width: 800px !important;
  margin-top: $edit-ui-dialog-top-padding !important;

  @media (max-width: 600px) {
    margin-top: 0 !important;
    height: 100vh;
  }
}

app-collapsible-wrapper {
  .description p:last-child {
    margin-bottom: 0;
  }

  app-collapsible-wrapper:last-child {
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    mat-card:last-child {
      margin: 0;
    }
  }
}

.c-multi-item-dialog {
  extended-fab-speed-dial {
    position: relative;
    bottom: 14px;
    right: 24px;
    z-index: 1;

    @media (max-width: 600px) {
      bottom: 4px;
    }
  }

  .c-ew__dialog {
    extended-fab-speed-dial {
      z-index: 10;

      &.adam {
        bottom: 34px;

        @media (max-width: 600px) {
          bottom: 24px;
        }
      }
    }
  }
}
