.c-ew__preview-container {
  /* TODO-(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
  .mat-mdc-list .mat-mdc-list-item .mdc-list-item__content {
    max-height: 24px;
    padding: 0 16px 0 16px;
  }

  /* content block placeholders */
  /* added in 08.04.06 - purpose still secret :)*/
  .sxc-content-block {
    background-color: #b0dcff;
    /* temporary color */
    height: 75px;
  }

  .sxc-content-block::after {
    color: white;
    content: "App / Content";
    position: absolute;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    width: 100%;
    margin-top: 17px;
  }
}
