@if (viewModel | async; as vm) {
@if (!vm.useTimePicker) {
<mat-form-field [formGroup]="group" color="accent" class="eav-mat-form-field">
  <input matInput class="eav-translate-on-dblclick" [disabled]="vm.controlStatus.disabled" [matDatepicker]="picker"
    [placeholder]="basics().placeholder" [required]="basics().required" [value]="vm.controlStatus.value"
    (dateChange)="updateValue($event)">
  <mat-datepicker-toggle matTextSuffix [for]="picker" [tippy]="'Fields.DateTime.Open' | translate">
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-label>{{ basics().label }}</mat-label>
</mat-form-field>
}
@if (vm.useTimePicker) {
<mat-form-field [formGroup]="group" color="accent" class="eav-mat-form-field">
  <input matInput class="eav-translate-on-dblclick" [disabled]="vm.controlStatus.disabled" [owlDateTime]="owlPicker"
    [placeholder]="basics().placeholder" [required]="basics().required" [value]="vm.controlStatus.value"
    (dateTimeChange)="updateValue($event)">
  <mat-datepicker-toggle matTextSuffix [owlDateTimeTrigger]="owlPicker" [tippy]="'Fields.DateTime.Open' | translate">
  </mat-datepicker-toggle>
  <owl-date-time #owlPicker></owl-date-time>
  <mat-label>{{ basics().label }}</mat-label>
</mat-form-field>
}
<app-field-helper-text></app-field-helper-text>
}
