@if (viewModel$ | async; as vm) {
  <div class="grid-wrapper mat-tab-grid-wrapper">
    <ag-grid-angular class="ag-theme-material" [rowData]="vm.queries" [gridOptions]="gridOptions" appDragAndDrop
      [allowedFileTypes]="'json'" (filesDropped)="importQuery($event)">
    </ag-grid-angular>
    <mat-dialog-actions class="eav-dialog-actions">
      <button mat-button class="eav-button__with-icon" tippy="Import query" (click)="importQuery()">
        <mat-icon class="eav-icon">cloud_upload</mat-icon>
        <span>Query</span>
      </button>
      <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Create a new query" (click)="editQuery(null)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-dialog-actions>
  </div>
}