/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
// Include the common styles for Angular Material. Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
// @include mat.legacy-typography-hierarchy(mat.define-typography-config());
// @include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();
@import "@ag-grid-community/styles/ag-grid.css";
@import "@ag-grid-community/styles/ag-theme-material.css";

@import "./styles/variables.scss";
@import "./styles/theme.scss";
@import "./app/edit/assets/styles/app.scss";
@import "./styles/helpers.scss";
@import "./styles/mat-card.styles.scss";
@import "./styles/mat-dialog.styles.scss";
@import "./styles/mat-tooltip.styles.scss";
@import "./styles/mat-tabs.styles.scss";
@import "./styles/ag-grid.styles.scss";
@import "./styles/ag-grid-components.styles.scss";
@import "./styles/sxc-messages.styles.scss";
@import "./styles/editor.styles.scss";
@import "./styles/pipeline-designer.scss";
@import "./styles/mat-radio.styles.scss";
@import "./styles/mat-button.styles.scss";
@import "./styles/drag-and-drop.styles.scss";
@import "./styles/item-history.styles.scss";
@import "./styles/tippy.styles.scss";
@import "./styles/mat-snackbar.styles.scss";
@import "./styles/eco-fab-speed-dial.styles.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

/* Class for links in AG-Grids (naming not ideal), ensures it looks like text */
.default-link {
  color: black;
  text-decoration: none;
}

/* New v18.03 for links which should fit into the entire AG-Grid cell */
a.fill-cell {
  display: inline-block;
  width: 100%;
  height: 100%;
}

// Create CSS variables for the dialog max height
:root {
  --edit-dialog-margin-top: 24px;
  --edit-dialog-margins-vertical: calc(var(--edit-dialog-margin-top) * 2);
  --edit-dialog-header-height: 52px;
  --edit-content-max-height-no-margins: calc(100vh - var(--edit-dialog-header-height));

  // Debug Views on main edit
  --edit-footer-bar-height: 52px;
  --edit-footer-container-height: 300px;
  --edit-footer-container-margin: 16px;
  --edit-footer-container-height-total: calc(var(--edit-footer-container-height) + var(--edit-footer-container-margin));

  // TODO: this must be deprecated but still used in popup dialog
  --edit-ui-dialog-max-height-mobile: calc(100vh - var(--edit-dialog-header-height));
  --edit-content-max-height-default: calc(
    100vh - var(--edit-dialog-header-height) - var(--edit-dialog-margins-vertical)
  );
}
