@use "sass:meta";
@use 'styles/variables.scss';

/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();
@import '@ag-grid-community/styles/ag-grid.css';
@import '@ag-grid-community/styles/ag-theme-material.css';


@include meta.load-css('styles/theme.scss');
@include meta.load-css('app/edit/assets/styles/app.scss');
@include meta.load-css('styles/helpers.scss');
@include meta.load-css('styles/mat-card.styles.scss');
@include meta.load-css('styles/mat-dialog.styles.scss');
@include meta.load-css('styles/mat-tooltip.styles.scss');
@include meta.load-css('styles/mat-tabs.styles.scss');
@include meta.load-css('styles/ag-grid.styles.scss');
@include meta.load-css('styles/ag-grid-components.styles.scss');
@include meta.load-css('styles/sxc-messages.styles.scss');
@include meta.load-css('styles/editor.styles.scss');
@include meta.load-css('styles/pipeline-designer.scss');
@include meta.load-css('styles/mat-radio.styles.scss');
@include meta.load-css('styles/mat-button.styles.scss');
@include meta.load-css('styles/drag-and-drop.styles.scss');
@include meta.load-css('styles/item-history.styles.scss');
@include meta.load-css('styles/tippy.styles.scss');
@include meta.load-css('styles/mat-snackbar.styles.scss');
@include meta.load-css('styles/eco-fab-speed-dial.styles.scss');
@include meta.load-css('styles/2sxc-color-override.scss');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

/* Class for links in AG-Grids (naming not ideal), ensures it looks like text */
.default-link {
  color: black;
  text-decoration: none;
}

/* New v18.03 for links which should fit into the entire AG-Grid cell */
a.fill-cell {
  display: inline-block;
  width: 100%;
  height: 100%;
}

// Create CSS variables for the dialog max height
:root {
  --edit-dialog-margin-top: 24px;
  --edit-dialog-margins-vertical: calc(var(--edit-dialog-margin-top) * 2);
  --edit-dialog-header-height: 52px;
  --edit-content-max-height-no-margins: calc(100vh - var(--edit-dialog-header-height));

  // Debug Views on main edit
  --edit-footer-bar-height: 52px;
  --edit-footer-container-height: 300px;
  --edit-footer-container-margin: 16px;
  --edit-footer-container-height-total: calc(var(--edit-footer-container-height) + var(--edit-footer-container-margin));

  // TODO: this must be deprecated but still used in popup dialog
  --edit-ui-dialog-max-height-mobile: calc(100vh - var(--edit-dialog-header-height));
  --edit-content-max-height-default: calc(100vh - var(--edit-dialog-header-height) - var(--edit-dialog-margins-vertical));
}
