<mat-label class="field-label" *ngIf="chosenEntities?.length && !allowMultiValue" [ngClass]="{ 'disabled': disabled }">
  {{ config.field.label }}
  {{ config.field.required ? '*': '' }}
</mat-label>

<div cdkDropList *ngIf="!freeTextMode && (enableCreate || chosenEntities?.length)"
  [cdkDropListDisabled]="!allowMultiValue || disabled" (cdkDropListDropped)="drop($event)" [ngClass]="{
    'normal-list': !allowMultiValue,
    'dnd-list': allowMultiValue
  }">
  <!-- Normal list usually shows only one item, but can show "empty slot" / "null-item" in debug mode -->
  <div *ngFor="let item of chosenEntities; let index = index" cdkDrag [ngClass]="{
      'normal-item': !allowMultiValue,
      'dnd-item': allowMultiValue,
      'disabled': disabled
    }">
    <div class="item-title" [ngClass]="{ 'disabled': disabled }">
      <mat-icon class="item-title__icon" *ngIf="allowMultiValue" [matTooltipDisabled]="disabled"
        [matTooltip]="'Fields.Entity.DragMove' | translate">
        drag_handle
      </mat-icon>
      <span class="item-title__text" [matTooltip]="getEntityText(item.name) + ' (' + item.name + ')'">
        {{ getEntityText(item.name) }}
      </span>
    </div>
    <div class="item-actions">
      <!-- Disable edit only if it was disabled in the settings, not if disabled by language change -->
      <button mat-icon-button *ngIf="enableEdit && !isFreeTextOrNotFound(item.name)"
        [matTooltip]="'Fields.Entity.Edit' | translate" [disabled]="config.field.disabled" appMousedownStopPropagation
        (click)="edit(item.name)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="enableDelete && !isFreeTextOrNotFound(item.name)"
        [matTooltip]="'Fields.Entity.Delete' | translate" [disabled]="disabled" appMousedownStopPropagation
        (click)="deleteItemInSlot(item.name, index)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button *ngIf="enableRemove" [matTooltip]="'Fields.Entity.Remove' | translate"
        [disabled]="disabled" appMousedownStopPropagation (click)="removeSlot(item.name, index)">
        <mat-icon>{{ allowMultiValue ? 'clear' : 'arrow_drop_down' }}</mat-icon>
      </button>
    </div>
  </div>
</div>
