<div *ngIf="!freeTextMode && (enableCreate || (chosenEntities && chosenEntities.length > 0))">
  <div class="dnd-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of chosenEntities; let i = index" class="dnd-box" [ngClass]="{
      'dnd-element-multi' : allowMultiValue,
      'mat-elevation-z2' : allowMultiValue,
      'dnd-element': !allowMultiValue,
      'dnd-element--disabled': disabled,
      'first': i === 0
      }">
      <!-- Single element -->
      <div *ngIf="!allowMultiValue" class="dnd-element-content">
        <div *ngIf="i === 0">
          <mat-label class="mat-caption">{{config.field.label}}
            {{config.field.required ? '*': '' }}</mat-label>
        </div>
        <div>
          <span class="dnd-element-text"
            matTooltip="{{ getEntityText(item.name) + ' (' + item.name + ')' }}">{{getEntityText(item.name)}}</span>
        </div>
      </div>
      <!-- Multiple elements dragging disabled -->
      <div *ngIf="allowMultiValue && disabled" class="dnd-element-content">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>more_vert</mat-icon>
          <span>&nbsp;&nbsp;</span>
          <span class="dnd-element-text"
            matTooltip="{{ getEntityText(item.name) + ' (' + item.name + ')' }}">{{getEntityText(item.name)}}</span>
        </div>
      </div>
      <!-- Multiple elements dragging enabled -->
      <div *ngIf="allowMultiValue && !disabled" class="dnd-element-content cursor-move" cdkDrag
        cdkDragRootElement=".dnd-box">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon matTooltip="{{ 'Fields.Entity.DragMove' | translate }}">more_vert</mat-icon>
          <span>&nbsp;&nbsp;</span>
          <span class="dnd-element-text"
            matTooltip="{{ getEntityText(item.name) + ' (' + item.name + ')' }}">{{getEntityText(item.name)}}</span>
        </div>
      </div>
      <!-- Action buttons -->
      <div class="dnd-buttons" fxLayoutAlign="end center">
        <!-- disable edit only if it was disabled in the settings, not if disabled by language change -->
        <button mat-icon-button *ngIf="enableEdit && !isFreeTextOrNotFound(item.name)" type="button" class="dndButtons"
          (click)="edit(item.name)" matTooltip="{{ 'Fields.Entity.Edit' | translate }}"
          [disabled]="config.field.disabled" (mousedown)="stopDnD($event)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="enableDelete && !isFreeTextOrNotFound(item.name)" type="button"
          class="dndButtons" (click)="deleteItemInSlot(item.name, i)"
          matTooltip="{{ 'Fields.Entity.Delete' | translate }}" [disabled]="disabled" (mousedown)="stopDnD($event)">
          <mat-icon>delete_outline</mat-icon>
        </button>
        <button mat-icon-button *ngIf="enableRemove" type="button" class="dndButtons" (click)="removeSlot(item.name, i)"
          matTooltip="{{ 'Fields.Entity.Remove' | translate }}" [disabled]="disabled" (mousedown)="stopDnD($event)">
          <mat-icon>{{allowMultiValue ? 'clear' : 'arrow_drop_down'}}</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="allowMultiValue" class="dnd-space"></div>
</div>
