@if (!lightSpeedEnabled()) {
  <div class="eav-grid-action-button disabled" tippy="Lightspeed is disabled" (click)="openLightspeedFeatureInfo()">
    <mat-icon matBadgeSize="small" matBadgeIcon="diamond" matBadgePosition="below after" aria-hidden="false"> bolt </mat-icon>
  </div>
} @else {
  <div
    class="eav-grid-action-button {{ appHasLightSpeed ? '' : 'disabled' }}"
    matRipple
    [tippy]="appHasLightSpeed ? lightSpeed().Title : 'Not yet configured for LightSpeed'"
  >
    @if (appLightSpeedEnabled) {
      <a class="default-link" [href]="'#' + params().lightSpeedLink(lightSpeedOwner())">
        <mat-icon matBadgeSize="small" matBadgeIcon="check" matBadgePosition="below after" aria-hidden="false"> bolt </mat-icon>
      </a>
    } @else {
      <a class="default-link" [href]="'#' + params().lightSpeedLink(lightSpeedOwner())">
        <mat-icon matBadgeSize="small" matBadgeIcon="block" matBadgePosition="below after" aria-hidden="false"> bolt </mat-icon>
      </a>
    }
  </div>
}
