.info-row {
  display: flex;
  overflow-wrap: anywhere;
  margin-top: 4px;
  margin-bottom: 4px;

  &__label {
    flex: 1;
    font-weight: 500;
    cursor: default;
  }

  &__value {
    flex: 2;

    span {
      cursor: pointer;
    }
  }
}
