<app-grid-with-help [helpText]="uxHelpText()" [refresh]="refresh()" [rowLength]="views()?.length">
  <ag-grid-angular
    class="ag-theme-material"
    [rowData]="views()"
    [gridOptions]="gridOptions"
    appDragAndDrop
    [allowedFileTypes]="'json'"
    (filesDropped)="importView($event)"
  >
  </ag-grid-angular>
  <mat-dialog-actions class="eav-dialog-actions">
    <div class="eav-dialog-actions-div">
      <a [href]="urlToEditPolymorphisms()">
        <button mat-button class="eav-polymorph-button" tippy="Configure polymorphism" tippyPlacement="top" [disabled]="appIsInherited">
          <span class="eav-polymorph-button-span">
            <img class="eav-polymorph-logo" [src]="polymorphLogo" />
            <span>Polymorphism {{ polymorphStatus() }}</span>
          </span>
        </button>
      </a>
      <a [href]="urlToImportView()">
        <button mat-button class="eav-button__with-icon" tippy="Import view" tippyPlacement="top">
          <mat-icon class="eav-icon">cloud_upload</mat-icon>
          <span>View</span>
        </button>
      </a>
    </div>
    <a [href]="urlToNewView()">
      <button matFab mat-elevation-z24 class="grid-fab" tippy="Create a new view" tippyPlacement="top">
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </mat-dialog-actions>
</app-grid-with-help>
<router-outlet></router-outlet>
