<!-- This template is used for StringDropdown and NumberDropdown -->

<ng-container *ngIf="templateVars$ | async as data">
  <mat-form-field [formGroup]="group" class="eav-form-field" color="accent">

    <mat-select *ngIf="!data.freeTextMode" [formControlName]="config.fieldName" [required]="data.required"
      [placeholder]="data.placeholder">
      <mat-option *ngFor="let option of data.dropdownOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>

    <input matInput type="number" *ngIf="data.freeTextMode" [formControlName]="config.fieldName"
      [required]="data.required" [placeholder]="data.placeholder">

    <div matSuffix class="selection-suffix" *ngIf="data.enableTextEntry">
      <button mat-icon-button [ngClass]="{ 'active': !data.freeTextMode }"
        [tippy]="'Fields.String.Dropdown' | translate" [disabled]="data.controlStatus.disabled"
        (click)="toggleFreeTextMode(false)">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button [ngClass]="{ 'active': data.freeTextMode }" [tippy]="'Fields.String.Freetext' | translate"
        [disabled]="data.controlStatus.disabled" (click)="toggleFreeTextMode(true)">
        <mat-icon>text_fields</mat-icon>
      </button>
    </div>

    <mat-label>{{ data.label }}</mat-label>
  </mat-form-field>

  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
</ng-container>