<!--
  Dialog part for large picker
  Should only show when dialogIsOpen() is true.
  It must be part of the DOM already (so no @if) as it is used in the code.
-->
<app-dialog-popup>
  <div class="eav-layout-grid">
    <div class="eav-layout-grid__inner">
      <mat-card class="eav-card eav-layout-grid__cell--span-12 u-border-radius shadow-bottom-z-1">
        <ng-container #fieldComponent></ng-container>
      </mat-card>
    </div>
  </div>
</app-dialog-popup>
<!-- Preview = inline search or pills -->
<ng-container #previewComponent></ng-container>
