<div class="c-ew__preview-holder">
  <mat-label class="c-ew__preview-label" [ngClass]="{
    'mat-caption' : itemCount(),
    'mat-empty' : !itemCount(),
    'mat-error' : ui().touchedAndInvalid && !config.initialDisabled,
    'color__primary' : !ui().touchedAndInvalid && !config.initialDisabled,
    'color__label-disabled' : config.initialDisabled
    }">
    {{ basics().labelWithRequired }}
  </mat-label>
  <app-field-helper-text [flatIfEmpty]="true"></app-field-helper-text>
  <!-- <div (click)="expandDialog()"
    [ngClass]="{
    'c-ew__preview--invalid' : ui().touchedAndInvalid,
    'c-ew__preview--disabled': config.initialDisabled
    }"> -->

    <div fxLayout="column">
      @for (item of options(); track item.value) {
        <div>
          <mat-radio-button
            class="picker-option-wrapper"
            (click)="select(item)"
            [name]="name"
            [checked]="item.selected"
            [disabled]="item.noSelect"
            [tippy]="item.tooltip" tippyShowDelay="500" [tippyDisabled]="!item.tooltip" [tippyAllowHtml]="true" [tippyArrow]="true"
          >
            <div class="picker-option-contents">
              <span class="picker-option-label">{{ item.label ? item.label : item.value }}</span>
              <div class="picker-option-info">
                <app-picker-help [helpLink]="item.link"></app-picker-help>
                <app-picker-icon-info [infoBox]="item.info"></app-picker-icon-info>
              </div>
            </div>
          </mat-radio-button>
        </div>
      }
    </div>
  <!-- </div> -->
</div>
