<div class="c-ew__preview-holder">
  <app-picker-inline-header>
    <ng-content addNew select="[addNew]"></ng-content>
    <ng-content freeTextButtons select="[freeTextButtons]"></ng-content>
  </app-picker-inline-header>

  <!-- <div (click)="expandDialog()"
    [ngClass]="{
    'c-ew__preview--invalid' : ui().touchedAndInvalid,
    'c-ew__preview--disabled': config.initialDisabled
    }"> -->

  <div fxLayout="column">
    @for (item of options(); track item.value) {
      <div>
        <mat-radio-button
          class="picker-option-wrapper"
          (click)="select(item)"
          [name]="name"
          [checked]="item.selected"
          [disabled]="ui().disabled || item.noSelect"
          [tippy]="item.tooltip"
          tippyShowDelay="500"
          [tippyAllowHtml]="true"
          [tippyArrow]="true"
        >
          <div class="picker-option-contents">

            <!-- Preview Type -->
            <div class="picker-option">
              <!-- Show Icon or Image -->
              <app-picker-preview-type [item]="item"></app-picker-preview-type>
              <span class="picker-option-label"> {{ item.label ? item.label : item.value }}</span>
            </div>

            <div class="picker-option-info">
              <app-picker-help [helpLink]="item.link"></app-picker-help>
              <app-picker-icon-info [infoBox]="item.info"></app-picker-icon-info>
              <!-- Action items such as edit, remove, delete -->
              <app-picker-item-buttons class="my-item-actions" [show]="true" [item]="item" [index]="$index"></app-picker-item-buttons>
            </div>
          </div>
        </mat-radio-button>
      </div>
    }
  </div>
  <!-- </div> -->
</div>
