<div class="c-ew__preview-holder">
  <app-picker-inline-header>
    <ng-content addNew select="[addNew]"></ng-content>
    <ng-content freeTextButtons select="[freeTextButtons]"></ng-content>
  </app-picker-inline-header>

  <!-- <div (click)="expandDialog()"
    [ngClass]="{
    'c-ew__preview--invalid' : ui().touchedAndInvalid,
    'c-ew__preview--disabled': config.initialDisabled
    }"> -->

    @for (item of options(); track item.value) {
      <div>
        <mat-radio-button
          class="picker-option-wrapper"
          (click)="select(item)"
          [name]="name"
          [checked]="item.selected"
          [disabled]="ui().disabled || item.noSelect"
          [tippy]="item.tooltip"
          tippyShowDelay="500"
          [tippyAllowHtml]="true"
          [tippyArrow]="true"
        >
          <!-- Show Preview Label -->
          <app-picker-item-label [item]="item" [show]="true" [index]="$index" [settings]="fieldState.settings()"></app-picker-item-label>
        </mat-radio-button>
      </div>
    }
  <!-- </div> -->
</div>
