// overwrite mat-form-field-fill-typography
@mixin mat-form-field-fill-typography($config) {

  // looks
  .mat-form-field-appearance-outline {
    width: 100%;
    
    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin: 0 !important;

      .mat-form-field-flex {
        align-items: center;
      }

      // positions
      .mat-form-field-flex > .mat-form-field-infix {
        padding: 4px 0 10px 0px !important;
        font-size: 14px;
      }
      .mat-form-field-label-wrapper {
        top: -20px;
        margin: 0;
      }
      .mat-form-field-suffix {
        margin-right: -10px !important;
        margin-top: -2px !important;
      }
      // icons
      .mat-icon {
        font-size: 20px !important;
        width: 20px !important;
        height: 20px !important;
        line-height: 20px !important;
      }
      // dropdown field override
      .mat-select-arrow-wrapper {
        transform: none !important;
      }
    }
  }

  // animation
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-18px) scale(.75) !important;
    width: 133.33333% !important;
  }
}
