<div class="eav-dialog">
  <div class="eav-dialog-header">
    <div class="eav-dialog-header__title">Rename stream</div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="eav-dialog-content">
    <form [formGroup]="form">
      <!-- Simple form -->
      @if (!isSource || !pipelineResultExists) {
        <!-- Label -->
        <mat-form-field color="accent" class="eav-form-field">
          <mat-label>Label</mat-label>
          <input matInput type="text" formControlName="label" required>
        </mat-form-field>
        @if (isSource && !pipelineResultExists) {
          <app-field-hint>
            You will get suggestions for out-streams after you run query
          </app-field-hint>
        }
        @if (controls.label.touched && controls.label.errors?.required) {
          <app-field-hint [isError]="true">
            This field is required
          </app-field-hint>
        }
      }

      <!-- Rich form -->
      @if (isSource && pipelineResultExists) {
        <!-- Scope -->
        @if (advancedMode && guidedLabel) {
          <mat-form-field color="accent" class="eav-form-field">
            <mat-label>Scope</mat-label>
            <mat-select formControlName="scope" [placeholder]="!scopeOptions.length ? 'No items found' : ''">
              @for (scopeOption of scopeOptions; track scopeOption) {
                <mat-option [value]="scopeOption.value">
                  {{ scopeOption.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <app-field-hint>
            The scope should almost never be changed -
            <a href="https://2sxc.org/help?tag=scope" target="_blank" appClickStopPropagation>see help</a>
          </app-field-hint>
        }
        <!-- Label -->
        <mat-form-field color="accent" class="eav-form-field">
          <mat-label>Label</mat-label>
          @if (guidedLabel) {
            <mat-select formControlName="label" required
              [placeholder]="!labelOptions.length ? 'No items found' : ''">
              @for (labelOption of labelOptions; track labelOption) {
                <mat-option [value]="labelOption">
                  {{ labelOption }}
                </mat-option>
              }
            </mat-select>
          }
          @if (!guidedLabel) {
            <input matInput type="text" formControlName="label" required>
          }
          <div matTextSuffix class="eav-selection-suffix">
            <button mat-icon-button class="eav-selection-suffix-button" type="button" [ngClass]="{ 'active': guidedLabel }" tippy="Pick existing value"
              (click)="toggleGuidedLabel(true)">
              <mat-icon class="eav-icon">search</mat-icon>
            </button>
            <button mat-icon-button class="eav-selection-suffix-button" type="button" [ngClass]="{ 'active': !guidedLabel }" tippy="Manual entry"
              (click)="toggleGuidedLabel(false)">
              <mat-icon class="eav-icon">text_fields</mat-icon>
            </button>
          </div>
        </mat-form-field>
        @if (controls.label.touched && controls.label.errors?.required) {
          <app-field-hint [isError]="true">
            This field is required
          </app-field-hint>
        }
      }
    </form>
  </div>
  <mat-dialog-actions class="eav-dialog-actions">
    <!-- Extra button for rich form -->
    <div>
      @if (isSource && pipelineResultExists) {
        <mat-slide-toggle color="accent" [checked]="advancedMode" (change)="toggleAdvancedMode($event)">
          {{ advancedMode ? 'Advanced' : 'Simple' }}
        </mat-slide-toggle>
      }
    </div>
    <div>
      <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button type="button" color="accent" [disabled]="!form.valid" (click)="rename()">
        Rename
      </button>
    </div>
  </mat-dialog-actions>
</div>