<div class="adam-dialog-container">
  <div class="adam-dialog-content">
    <ng-container #fieldComponent></ng-container>
  </div>
  <adam-browser (openUpload)="openUpload()" [config]="config" [group]="group" class="u-shadow-top" [ngClass]="{
    'adam-browser-container--short u-hide-scrollbar': !fullscreenAdam,
    'u-display-none': adamDisabled$ | async
  }">
  </adam-browser>
  <div class="{{ config.dropzonePreviewsClass }}" [ngClass]="{ 'u-display-none': adamDisabled$ | async }">
    <div class="dropzone-previews"></div>
    <span #invisibleClickable class="invisible-clickable" data-note="just a fake, invisible area for dropzone"></span>
  </div>
  <adam-hint class="field-hints" [ngClass]="{ 'u-display-none': adamDisabled$ | async }"></adam-hint>
</div>
