@use "../../../../styles/variables.scss";

:host ::ng-deep .ag-row-hover .ag-cell a,
:host ::ng-deep .ag-row-hover .ag-cell .eav-grid-action-button,
.eav-button__with-icon {
  color: variables.$sxc-solid !important;
}

.eav-button__with-icon:disabled {
  color: variables.$text-disabled !important;
}

.grid-height {
  max-height: calc(100vh - 560px);
  min-height: 135px;
}

.fab-button-pos {
  margin-top: 8px;
  display: flex;
  justify-content: end;
}

.eav-result-container {
  margin-top: 16px;
  max-height: calc(100vh - 74px - 23px - 57px - 200px);
  overflow-y: auto;
}

.info-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
