<div class="outer-container-app">
  <!-- Intro -->
  <h2>Data Bundles (BETA)</h2>
  <p>
    Data Bundles are a new feature which allow you to mark parts of your app as a bundle, and then export/import them. This allows you to do
    a partial sync of data and schema between environments.
  </p>

  <app-feature-text-info [featureNameId]="'DataExportImportBundles'"></app-feature-text-info>

  <!-- Explanation about other places to export/import -->
  <h3>Bundle Export Configurations</h3>
  <p>
    Bundles must be defined by creating a <strong>Bundle Configuration</strong>, and then assigning Content-Types and Data to that
    configuration.
  </p>
  <div class="grid-height" [style]="height">
    <div class="grid-wrapper mat-tab-grid-wrapper">
      <ag-grid-angular
        class="ag-theme-material"
        [rowData]="dataSourceData()"
        [gridOptions]="gridOptions"
        appDragAndDrop
        [allowedFileTypes]="'xml,json'"
        (filesDropped)="filesDropped($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div class="fab-button-pos">
    <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Add item" (click)="editItem(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- Import Bundles -->
   <!-- TODO: @2dg Import Button? -->
  <h3>Import Bundles</h3>
  <p>To import a bundle, TODO... Note that all data and schema will be overwritten by the imported data in the bundle.</p>
</div>
<router-outlet></router-outlet>
