@import "../../assets/styles/variables.scss";

.eav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media (max-width: 600px) {
    border-radius: 0;
  }

  height: $edit-ui-dialog-header-max-height;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

  .eav-exit-button {
    .eav-icon {
      // font-size: 16px;
      // width: 16px;
      // height: 16px;
      scale: calc(2/3);
    }
  }

  .eav-languages {
    margin-left: 12px;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
  }

  .eav-hint-icon {
    user-select: none;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px !important;
  }

  .eav-publish-button {
    margin-right: -6px;
    padding: 0 10px;
    height: 30px;
    line-height: 32px;
    flex-shrink: 0;
  }

  .eav-publish-mode {
    font-weight: 400;
  }
}
