<ng-container *ngIf="{
  currentLanguage: currentLanguage$ | async,
  defaultLanguage: defaultLanguage$ | async,
  translationState: translationState$ | async,
  disabled: disabled$ | async,
  defaultLanguageMissingValue: defaultLanguageMissingValue$ | async,
  infoMessage: infoMessage$ | async,
  infoMessageLabel: infoMessageLabel$ | async
} as data">

  <ng-container *ngIf="data.currentLanguage !== data.defaultLanguage">

    <div *ngIf="fieldConfig.isParentGroup" fxLayoutAlign="end center">
      <button mat-button fxLayoutAlign="end center" [matMenuTriggerFor]="rootMenu">
        <span fxLayoutAlign="end center">
          {{ ('LangMenu.Translate' | translate).toUpperCase() }}
          &nbsp;&nbsp;
          <mat-icon class="translate-icon">translate</mat-icon>
        </span>
      </button>

      <mat-menu #rootMenu="matMenu" [overlapTrigger]="true">
        <button mat-menu-item (click)="translateAll()"
          [class.menu-item-selected]="data.translationState.linkType === translationLinkConstants.Translate">
          {{ 'LangMenu.TranslateAll' | translate }}
        </button>
        <button mat-menu-item (click)="dontTranslateAll()"
          [class.menu-item-selected]="data.translationState.linkType === translationLinkConstants.DontTranslate">
          {{ 'LangMenu.NoTranslateAll' | translate }}
        </button>
        <button mat-menu-item (click)="openLinkToOtherLanguage()"
          [class.menu-item-selected]="data.translationState.language !== ''">
          {{ 'LangMenu.Link' | translate }}
        </button>
      </mat-menu>
    </div>

    <div *ngIf="!fieldConfig.isParentGroup" fxLayoutAlign="end center">
      <div fxLayoutAlign="end center" class="shared-languages-container"
        [ngClass]="getTranslationStateClass(data.translationState.linkType)">
        <div class="shared-languages mat-caption" [class.shared-languages--disabled]="data.disabled">
          {{ data.infoMessageLabel ? (data.infoMessageLabel | translate:{ languages: data.infoMessage }) : '' }}
        </div>
        <button mat-icon-button [disabled]="config.field.disableI18n || data.defaultLanguageMissingValue"
          [matMenuTriggerFor]="rootMenu2">
          <mat-icon class="translate-icon">translate</mat-icon>
        </button>
      </div>

      <mat-menu #rootMenu2="matMenu" [overlapTrigger]="true">
        <button mat-menu-item (click)="translateUnlink(config.field.name)"
          [class.menu-item-selected]="data.translationState.linkType === translationLinkConstants.Translate">
          {{ 'LangMenu.Translate' | translate }}
        </button>
        <button mat-menu-item (click)="linkToDefault(config.field.name)"
          [class.menu-item-selected]="data.translationState.linkType === translationLinkConstants.DontTranslate">
          {{ 'LangMenu.NoTranslate' | translate }}
        </button>
        <button mat-menu-item (click)="openLinkToOtherLanguage()"
          [class.menu-item-selected]="data.translationState.language !== ''">
          {{ 'LangMenu.Link' | translate }}
        </button>
      </mat-menu>
    </div>

  </ng-container>
</ng-container>
