.title {
  padding: 12px 12px 0;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 12px;
  width: 160px;
  height: 104px;
}
