$datetime-icon-color: rgb(69, 79, 99);
$datetime-icon-color--disabled: rgb(190, 194, 201);

.datetime-icon {
  color: $datetime-icon-color;
}

.datetime-icon--disabled {
  color: $datetime-icon-color--disabled;
}
