<div mat-dialog-title>
  <div class="dialog-title-box">Import App</div>
</div>

<ng-container *ngIf="{
  isImporting: isImporting$ | async,
  importFile: importFile$ | async,
  importResult: importResult$ | async
} as data">

  <mat-spinner *ngIf="data.isImporting" mode="indeterminate" diameter="20" color="accent"></mat-spinner>

  <div *ngIf="!data.importResult || (data.importResult && !data.importResult.Messages)">
    <p class="dialog-description">
      Select an app package (zip) from your computer to import an app. New apps can be downloaded on
      <a href="http://2sxc.org/apps">http://2sxc.org/apps</a>.
      For further help visit <a href="http://2sxc.org/en/help?tag=import-app" target="_blank">2sxc Help</a>.
    </p>

    <div>
      <button mat-raised-button matTooltip="Open file browser" (click)="fileInput.click()">
        <span *ngIf="!data.importFile">Select file</span>
        <span *ngIf="data.importFile">{{ data.importFile.name }}</span>
      </button>
      <input #fileInput type="file" (change)="fileChange($event)" class="hide" />
    </div>

    <div class="dialog-component-actions">
      <button mat-raised-button (click)="closeDialog()">Cancel</button>
      <button mat-raised-button color="accent" [disabled]="!data.importFile || data.isImporting"
        (click)="importApp()">Import</button>
    </div>
  </div>

  <ng-container *ngIf="data.importResult && data.importResult.Messages && !data.isImporting">
    <div class="dialog-component-content fancy-scrollbar-light">
      <div *ngIf="data.importResult.Succeeded" class="sxc-message sxc-message-info">
        The import has been done. See the messages below for more information.
      </div>
      <div *ngIf="!data.importResult.Succeeded" class="sxc-message sxc-message-error">
        The import failed. See the messages below for more information.
      </div>
      <div *ngFor="let message of data.importResult.Messages" class="sxc-message" [ngClass]="{
        'sxc-message-warning': message.MessageType == 0,
        'sxc-message-success': message.MessageType == 1,
        'sxc-message-error': message.MessageType == 2
      }">
        {{ message.Text }}
      </div>
    </div>
    <div class="dialog-component-actions">
      <button mat-raised-button color="accent" (click)="closeDialog()">Close</button>
    </div>
  </ng-container>
</ng-container>
