@use "sass:math";
@import './rich-variables.scss';

// The surrounding tag, in the editor it's `mce-content-body`, in the html output it's `wysiwyg-container`
$container-tag: 'mce-content-body';

// The main tag of the outermost image-thingy. In the editor it's `img`, in the html output it's `picture`
$main-tag: 'img';

// The inner tag of the image-thingy. In the editor it's blank, in the html output it's `img`
$sub-tag: '';


$img-background: repeating-linear-gradient(135deg, $spacer-pattern-lines 0, $spacer-pattern-lines 1px, $spacer-pattern-background 0, $spacer-pattern-background 7px);

@if $debug {
  .#{$container-tag} {
    img {
      box-shadow: inset 0 0 15px rgb(0, 255, 0);
    }
  }
}


// Special editor only rules (not in 2sxc-ui / HTML-output)
.#{$container-tag} {
  img {
    background-image: $img-background;
  }
}

// Import default css variables
@import './wysiwyg-img-shared-setup.scss';

// Import container css
@import './wysiwyg-img-shared-container.scss';


/* Responsive Images stuff */
.#{$container-tag} {
  @import './wysiwyg-img-shared-img-columns.scss';
}
