$border-color: #8799ac;

.custom-gps-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-info {
  flex: 0 0 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 2px solid #e1e1e1;
  background: white;

  .location-component {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .input-component {
      overflow: hidden;
      max-width: 10rem;
      border: $border-color 1px solid;
      border-radius: 5px;
      padding: 4px;
    }
  }
}

label{
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
}

input {
  padding: 4px;
  border: none;
  background: transparent;
  outline: none !important;
}

.map-info__map {
  flex: 1 1 auto;
  width: 100%;
  display: block;
}

.btn:hover {
  cursor: pointer;
}

.search-component {
  display: flex;
  border: $border-color 1px solid;
  border-radius: 5px;
  padding: 4px;

  #icon-search {
    margin-right: 4px;
    display: flex;
    align-items: center;
  }
}
