<div class="nav-component-wrapper">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>{{ title || 'Metadata' }}</div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <p class="dialog-description">
    <ng-container *ngIf="!for">This item is not metadata for anything else.</ng-container>
    <ng-container *ngIf="for">
      This item is metadata for:
      <br>Target: {{ for.Target }}
      <ng-container *ngIf="for.Number"><br>Number: {{ for.Number }}</ng-container>
      <ng-container *ngIf="for.Guid"><br>Guid: {{ for.Guid }}</ng-container>
      <ng-container *ngIf="for.String"><br>String: {{ for.String }}</ng-container>
    </ng-container>
  </p>

  <router-outlet></router-outlet>

  <div class="grid-wrapper">
    <ag-grid-angular class="ag-theme-material" [rowData]="metadata$ | async" [modules]="modules"
      [gridOptions]="gridOptions">
    </ag-grid-angular>

    <div class="grid-more-actions-box"></div>

    <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Create a new metadata for this item"
      (click)="createMetadata()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
