@if (viewModel$ | async; as vm) {
  <div class="eav-dialog nav-component-wrapper" appToggleDebug>
    <div class="eav-dialog-header">
      <div class="eav-dialog-header__title">
        {{ vm.contentType?.Label || vm.contentType?.Name }} Fields
      </div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="eav-dialog-content nav-component-wrapper">
      <router-outlet></router-outlet>
      <div class="grid-wrapper">
        <ag-grid-angular class="ag-theme-material" [rowData]="vm.fields" [gridOptions]="gridOptions"
          (rowDragEnter)="onRowDragEnter($event)" (rowDragEnd)="onRowDragEnd($event)" (rowDragMove)="onRowDragMove($event)"
          (gridReady)="onGridReady($event)" (sortChanged)="onSortChanged($event)" (filterChanged)="onFilterChanged($event)"
          [ngClass]="{
          'grid-sorted': sortApplied,
          'grid-filtered': filterApplied
          }">
        </ag-grid-angular>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Add fields"
        [disabled]="vm.contentType == null || vm.contentType.EditInfo.ReadOnly" (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-dialog-actions>
  </div>
}
