<div appToggleDebug class="eav-dialog nav-component-wrapper">
  <app-grid-with-help style="height: 100%" [helpText]="uxHelpText()" [refresh]="refresh()" [rowLength]="fields()?.length">
    <div class="eav-dialog-header" eav-dialog-header>
      <div class="eav-dialog-header__title">{{ contentType()?.Label || contentType()?.Name }} Data</div>
      <button mat-icon-button tippy="Close dialog" (click)="dialog.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    @if (fields()?.length > 0) {
      <ag-grid-angular
        class="ag-theme-material eav-dialog-content"
        [rowData]="fields()"
        [gridOptions]="gridOptions"
        (rowDragEnter)="onRowDragEnter($event)"
        (rowDragEnd)="onRowDragEnd($event)"
        (rowDragMove)="onRowDragMove($event)"
        (gridReady)="onGridReady($event)"
        (sortChanged)="onSortChanged($event)"
        (filterChanged)="onFilterChanged($event)"
        [ngClass]="{
          'grid-sorted': sortApplied,
          'grid-filtered': filterApplied,
        }"
      >
      </ag-grid-angular>
    }
    <mat-dialog-actions align="end">
      <!-- @if (isDebug()) { -->
      <button mat-raised-button type="button" (click)="addSharedField()">{{ 'SharingOrInheriting.AddSharedField' | translate }}</button>
      <!-- } -->
      <button
        mat-fab
        mat-elevation-z24
        class="grid-fab"
        tippy="Add fields"
        [disabled]="contentType() == null || contentType().EditInfo.ReadOnly"
        (click)="add()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-dialog-actions>
  </app-grid-with-help>
</div>

<router-outlet></router-outlet>
