<div class="editor-root" *ngIf="view">
  <div class="toolbar">
    <div class="toolbar-button" [ngClass]="{'active': activeExplorer === explorer.templates}" title="Templates"
      (click)="toggleExplorer(explorer.templates)">
      <mat-icon>file_copy</mat-icon>
    </div>
    <div class="toolbar-button" [ngClass]="{'active': activeExplorer === explorer.snippets}" title="Snippets"
      (click)="toggleExplorer(explorer.snippets)">
      <mat-icon>code</mat-icon>
    </div>
  </div>

  <div class="explorer fancy-scrollbar">
    <div class="view-picker" *ngIf="activeExplorer === explorer.templates">
      <div class="view-picker-option" [ngClass]="{'active': template === view.FileName}" title="{{ template }}"
        *ngFor="let template of templates" (click)="openTemplate(template)">
        {{ template }}
      </div>
    </div>

    <app-code-snippets *ngIf="activeExplorer === explorer.snippets" [snippets]="snippets"></app-code-snippets>
  </div>

  <ace [(value)]="view.Code" [config]="aceConfig"></ace>

  <button mat-fab mat-elevation-z24 title="Click to save or CTRL + S" (click)="save()">
    <mat-icon>done</mat-icon>
  </button>
</div>
