.code-editor-root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px;
}

.mat-dialog-title {
  margin: 0 0 20px;
  display: block;
}

.view-picker {
  font-size: 14px;
  margin: 8px 0;

  &-option:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.editor {
  flex-shrink: 1;
  overflow: auto;
}

.mat-fab {
  position: absolute;
  right: 48px;
  bottom: 32px;
  z-index: 10;
}
