.code-editor-root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px;
  overflow: hidden;
}

.mat-dialog-title {
  margin: 0 0 20px;
  display: block;
}

.view-picker {
  font-size: 14px;
  margin: 8px 0;

  &-options {
    margin: 8px 0;
    max-height: 200px;
    overflow-y: auto;
  }

  &-option:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.code-editor-wrapper {
  flex-grow: 1;
  display: flex;
}

.editor {
  width: 66%;
}

.snippets {
  width: 33%;
}

.mat-fab {
  position: absolute;
  right: 48px;
  bottom: 32px;
  z-index: 10;
}
