.u-hide-scrollbar {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
     
    &::-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }
} 

.u-add-scrollbar {
    overflow: scroll;
}

.u-display-none {
    display: none !important;
}