// .dialog-form-content .mat-mdc-form-field:not(:first-of-type) {
//   margin-top: 8px;
// }

.eav-dialog {
  .eav-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    &__title {
      font-size: 29px;
      line-height: 29px;
      font-weight: 400;
    }

    &__subtitle {
      font-size: 29px;
      line-height: 29px;
      font-weight: 400;
    }
  }

  .eav-dialog-content {
    padding: 0px 24px 24px 24px;
  }

  .eav-dialog-actions {
    display: flex;
    justify-content: space-between;
  }
}
