<mat-card fxLayout="column" fxLayoutAlign="center start" [ngClass]="{
  'debug-enabled': showDebugInfo
}">
  <div class="debug-buttons-container" fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-icon-button (click)="toggleDebugInfo()"
      matTooltip="{{ 'General.Buttons.Debug' | translate }}">
      <mat-icon>flash_on</mat-icon>
    </button>
  </div>
  <div *ngIf="showDebugInfo" class="debug-info-container">
    <textarea readonly class="debug-dump">{{ items | json }}</textarea>
  </div>
</mat-card>
