<mat-card>
  <mat-card-header>
    <mat-card-title>Delete {{ dialogData.entityTitle }} ({{ dialogData.entityId }})?</mat-card-title>
    @if (dialogData.message) {
      <mat-card-subtitle [innerHtml]="dialogData.message | safeHtml"></mat-card-subtitle>
    }
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-raised-button class="eav-card-action-button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button class="eav-card-action-button" (click)="closeDialog(true)">Delete</button>
  </mat-card-actions>
</mat-card>
