@if (viewModel$ | async; as vm) {
  <div class="eav-dialog">
    <div class="eav-dialog-header">
      <div class="eav-dialog-header__title">Add App from Folder</div>
    </div>
    <div class="eav-dialog-content">
      <app-feature-text-info [featureNameId]="'AppSyncWithSiteFiles'"></app-feature-text-info>
      <p>
        Select an app from the apps-folder which has been copied there (or git-cloned) but not installed yet.
      </p>
      @if (vm.pendingApps?.length == 0) {
        <p>
          Nothing to show. All apps in the 2sxc folder are already installed.
        </p>
      }
      @if (vm.pendingApps?.length > 0) {
        <div>
          <ag-grid-angular class="ag-theme-material eav-grid" [rowData]="vm.pendingApps"
            [gridOptions]="gridOptions">
          </ag-grid-angular>
        </div>
      }
    </div>
    <mat-dialog-actions align="end">
      <button type="button" mat-raised-button (click)="closeDialog()">
        Cancel
      </button>
      <button type="button" mat-raised-button color="accent" [disabled]="pendingApps.length === 0 || installing"
        (click)="install()">
        Install
      </button>
    </mat-dialog-actions>
  </div>
}