<ng-container *ngIf="{pendingApps: pendingApps$ | async} as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">Add App from Folder</div>
  </div>

  <app-feature-text-info [featureNameId]="'AppSyncWithSiteFiles'"></app-feature-text-info>
  
  <p class="dialog-description">
    Select an app from the apps-folder which has been copied there (or git-cloned) but not installed yet.
  </p>

  <p class="dialog-description" *ngIf="data.pendingApps?.length == 0">
    Nothing to show. All apps in the 2sxc folder are already installed.
  </p>

  <div class="grid-wrapper" *ngIf="data.pendingApps?.length > 0">
    <ag-grid-angular style="height: 200px; width: auto;" class="ag-theme-material"
      [rowData]="data.pendingApps" [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>

  <div class="dialog-component-actions">
    <button type="button" mat-raised-button (click)="closeDialog()">
      Cancel
    </button>
    <button type="button" mat-raised-button color="accent" [disabled]="pendingApps.length === 0 || installing" (click)="install()">
      Install
    </button>
  </div> 
</ng-container>