<ng-container *ngIf="{pendingApps: pendingApps$ | async} as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">Add App from Folder BETA</div>
  </div>

  <p class="dialog-description">
    Select an app from the apps-folder which has been copied there (or git-cloned) but not installed yet.
  </p>

  <ag-grid-angular *ngIf="data.pendingApps != []" style="width: 450px; height: 200px;" class="ag-theme-material"
    [rowData]="data.pendingApps" [gridOptions]="gridOptions">
  </ag-grid-angular>

  <p class="dialog-description" *ngIf="data.pendingApps == []">
    No apps found which are not already installed.
  </p>

  <div class="dialog-component-actions">
    <button type="button" mat-raised-button (click)="closeDialog()">
      Cancel
    </button>
    <button type="button" mat-raised-button color="accent" [disabled]="pendingApps.length === 0" (click)="install()">
      Install
    </button>
  </div> 
</ng-container>